{% extends extends_template %}
{% load i18n static %}

{% block content %}

	{% include "filemanager_breadcrumbs.html" %}
	
	<table class="table">
	 	<thead>
	    	<tr>
		      	{% if popup %}
		      		<th>{% trans "Select" %}</th>
		      	{% endif %}
		      	<th>{% trans "Name" %}</th>
		      	<th>{% trans "Size" %}</th>
		      	<th>{% trans "Date" %}</th>
		      	{% if not popup %}
		      		{% if not first_level %}
		      			<th>{% trans "Actions" %}</th>
		      		{% endif %}
		      	{% endif %}
	    	</tr>
	  	</thead>
	  	<tbody>
	    	{% for file in files %}
	    	<tr>
	      		{% if popup %}
	      			{% if file.filetype == "Directory" %}
	      				<td></td>
	      			{% else %}
	      				<td><a href="javascript: Filemanager.select('{{file.filepath}}');"><i class="fa fa-file"></i></a></td>
	      			{% endif %}
	      		{% endif %}
	      		{% if file.filetype == "Directory" %}
	      			<td><img src="{% static "img/folder.png" %}" style="margin-right: 5px;"><a href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}">{{file.filename}}</a></td>
	      		{% else %}
	      			{% if file.extension == "shp" %}
	      				<td><img width="32" src="{% static "img/shp.png" %}" style="margin-right: 5px;">{{file.filename}}</td>
	      			{% elif file.extension == "tif" or file.extension == "tiff" or file.extension == "geotiff" %}
	      				<td><img width="32" src="{% static "img/tiff.png" %}" style="margin-right: 5px;">{{file.filename}}</td>
	      			{% endif %}
	      		{% endif %}
	      		<td>{{file.filesize}}</td>
	      		<td>{{file.filedate}}</td>
	      		{% if not popup %}
					{% if not first_level %}
	      			<td>
		      			<div class="btn-group">
		                  	<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	                    		<i class="fa fa-wrench"></i>
	                    	</button>
	                    	<ul class="dropdown-menu" role="menu">
	                    	{% if file.filetype == "Directory" %}
	                    		<li><a href="#" data-filepath="{{file.filepath}}" class="delete-file"><i class="fa fa-times" style="color: #f56954;"></i> {% trans "Delete directory" %}</a></li>                 		
	                  		{% else %}
	                  			{% if file.extension == "shp" %}
				      				<li><a href="{% url 'filemanager:export-to-database' %}?path={{file.filepath}}" class="export-to-database" ><i class="fa fa-upload" style="color: #3c8dbc;"></i> {% trans "Export to database" %}</a></li>
				      				<li class="divider"></li>
				      			{% endif %}                    		
	                    		<li><a href="#" data-filepath="{{file.filepath}}" class="delete-file"><i class="fa fa-times" style="color: #f56954;"></i> {% trans "Delete file" %}</a></li>
				      		{% endif %}
				      		</ul>
		                </div>
	                </td>
	                {% endif %}
	      		{% endif %}
	    	</tr>
	    	{% empty %}
	    	<tr>
	      		<td colspan="5">
	        		{% trans "Nothing to see here." %}
	      		</td>
	    	</tr>
	    	{% endfor %}
	  	</tbody>
	</table>
	<div>
		{% if not popup %}
			{% if not first_level %}
		  		<a href="{% url 'filemanager:create-directory' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" class="btn btn-primary"><i class="fa fa-plus margin-r-5"></i>{% trans "Create directory" %}</a>
		  		<a href="{% url 'filemanager:upload' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" class="btn btn-primary"><i class="fa fa-upload margin-r-5"></i>{% trans "Upload" %}</a>
		  	{% endif %}
	  	{% endif %}
	</div>

	{% if popup %}
		<script src="{% static "js/filemanager.js" %}"></script>
	{% endif %}
	
{% endblock %}

{% block extra-scripts %}	
	<script>
	$('#menu-manage-files').addClass("active");
	$(document).ready(function(){	  	
	  	$('.delete-file').on('click', function () {				
	  		$("body").overlay();
			$.ajax({
				type: 'POST',
				async: false,
				url: "{% url 'filemanager:delete-file' %}",
				data: {
					path: this.dataset.filepath
				},
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				},
				success	:function(response){
					$.overlayout();
					location.reload();
				},
				error: function(){}
			});
		});
	});
	</script>
{% endblock %}