{% extends "filemanager_base.html" %}
{% load i18n %}

{% block content %}

	{% include "filemanager_breadcrumbs.html" %}

	<dl>
	  	<dt>{% trans "Filename" %}</dt>
	  	<dd>{{file.filename}}</dd>
	  	<dt>{% trans "Filesize" %}</dt>
	  	<dd>{{file.filesize}}</dd>
	  	<dt>{% trans "Filedate" %}</dt>
	  	<dd>{{file.filedate}}</dd>
	  	<dt>{% trans "Url" %}</dt>
	  	<dd><a href="{{file.fileurl}}">{{file.fileurl}}</a></dd>
	  	<dt>{% trans "Filepath" %}</dt>
	  	<dd>{{file.filepath}}</dd>
	</dl>

	<a href="{% url 'filemanager:browser' %}?path={{file.directory}}" class="btn btn-default">{% trans "Back" %}</a>
	
{% endblock %}
