<!doctype html>
{% load staticfiles %}
{% load i18n %}

<html>
<head>

  	<title>gvSIG Online | {% trans "Home" %}</title>

  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.css" %}" />	
	<link rel="stylesheet" href="{% static "js/vendors/bootstrap-3.3.6/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/gvsigOL.css" %}">
	<link rel="stylesheet" href="{% static "css/skins/_all-skins.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}" />

</head>

<body>

	<nav class="navbar navbar-static-top" style="margin-left: 0px;" role="navigation">
		<div class="container">
			<a href="#!" class="brand-logo"> <img src="{% static "img/logo_small.png"%}"></a>

			<ul class="right">
				{% if user.is_authenticated %}
				<li style="margin-right: 10px;">
					<form id="select-language-form" action="{% url 'set_language' %}" method="post">
						{% csrf_token %} 
						<input name="next" type="hidden" value="/gvsigonline/" />
						<div class="form-control">
							<label>{% trans "Select language" %}</label> 
							<select id="select-language" name="language"> 
								{% get_current_language as LANGUAGE_CODE %} 
								{% get_available_languages as LANGUAGES %} 
								{% get_language_info_list for LANGUAGES as languages %} 
								{% for language in languages %}
									<option style="" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
										{{ language.name_local }} ({{ language.code }})
									</option> 
								{% endfor %}
							</select>
						</div>
					</form>
				</li>
				<li>
					<a class='dropdown-button btn-flat grey-text darken-1 init-session-button' href='#' data-activates='home-session-menu'>{{user.email}}</a>
					<ul id='home-session-menu' class='dropdown-content'>
						<li style="text-align: center;">
							<a href="/gvsigonline/core/" class="grey-text darken-1 init-session-button" style="font-size: 1rem; text-align: center; display: inline;">{% trans "Access" %}</a> 
							<i class="fa fa-chevron-right" style="display: inline; font-size: 1rem; color: #9e9e9e !important;"></i>
						</li>
						<li class="divider"></li>
						<li style="text-align: center;"><a href="/gvsigonline/auth/logout_user/" class="grey-text darken-1 init-session-button" style="font-size: 1rem; text-align: center; display: inline;">{% trans "Close session" %}</a> 
							<i class="fa fa-power-off" style="display: inline; font-size: 1rem; color: #9e9e9e !important;"></i>
						</li>
					</ul>
				</li> 
				{% else %}
				<li style="margin-right: 10px;">
					<form id="select-language-form" action="{% url 'set_language' %}" method="post">
						{% csrf_token %} 
						<input name="next" type="hidden" value="/gvsigonline/" />
						<div class="input-field">
							<label>{% trans "Select language" %}</label> 
							<select id="select-language" name="language"> 
								{% get_current_language as LANGUAGE_CODE %} 
								{% get_available_languages as LANGUAGES %} 
								{% get_language_info_list for LANGUAGES as languages %} 
								{% for language in languages %}
								<option style="" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
									{{ language.name_local }} ({{ language.code }})
								</option> {% endfor %}
							</select>
						</div>
					</form>
				</li>
				<li>
					<a class="btn btn-info init-session-button" href="/gvsigonline/auth/login_user/">{% trans "Login" %}</a>
				</li> 
				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="divider"></div>
	
	<div class="container z-depth-1">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="{% static "img/slide1.jpg"%}" alt="First slide">
					<div class="carousel-caption">First Slide</div>
				</div>
				<div class="item">
					<img src="{% static "img/slide2.jpg"%}" alt="First slide">
					<div class="carousel-caption">Second Slide</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span></a> 
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span></a>
		</div>
		<div class="row">
	      	<div class="col-md-12 center">
	      		<h1 class="intro-title">{% trans "Wellcome to gvSIG Online" %}</h1>  		
	      	</div>
	    </div>   
	    <div class="row">
	    	<div class="container z-depth-1">
		      	<div class="col-xs-6">
		      		<div class="promo promo-item">
						<img src="{% static "img/promo-img1.png"%}" class="left" style="width: 35%;">
						<div class="left light" style="width: 55%; padding-top: 20px; padding-left: 10px;">
							<h6 style="font-weight: bold; margin: 15px 0px 15px; font-size: 14px;">{% trans "Public viewer" %}</h6>
							<p style="font-size: 14px;">
								{% trans "Display the territory, orthophotos and thematic mapping" %}.
							<a href="/gvsigonline/core/public_viewer/" class="text-info">{% trans "Access to public viewer" %}</a>
							</p>
						</div>
					</div>        	
		      	</div>
		      	<div class="col-xs-6">
		        	<div class="promo promo-item">
						<img src="{% static "img/promo-img2.png"%}" class="left" style="width: 35%;">
						<div class="left light" style="width: 55%; padding-top: 20px; padding-left: 10px;">
							<h6 style="font-weight: bold; margin: 15px 0px 15px; font-size: 14px;">{% trans "Mapping services" %}</h6>
							<p style="font-size: 14px;">
								{% trans "Look up OGC services available" %}.
								<a href="/gvsigonline/core/ogc_services/" class="text-info">{% trans "Show available services" %}</a>
							</p>
						</div>
					</div>
		      	</div>
	      	</div>
    	</div>
    	
    	<div class="row">
	      	<div class="container">
	      		{% if CATALOG_MODULE %}
	      		<div class="col-xs-6">
		        	<div class="promo promo-item">
						<img src="{% static "img/promo-img3.png"%}" class="left" style="width: 35%;">
						<div class="left light" style="width: 55%; padding-top: 20px; padding-left: 10px;">
							<h6 style="font-weight: bold; margin: 15px 0px 15px; font-size: 14px;;">{% trans "Metadata catalog" %}</h6>
							<p style="font-size: 14px;">
								{% trans "Search the metadata catalog for get information about the data and SDI services" %}.
								<a href="http://demo.scolab.eu/geonetwork/srv/spa/catalog.search#/home" class="text-info">{% trans "Access to metadata catalog" %}</a>
							</p>
						</div>
					</div>
		      	</div>
		      	{% endif %}
	      	</div>
	    </div>
	</div>
	
	<footer class="page-footer">
    	<div class="container center">
    		<a href="#!" class=""><img src="{% static "img/twitter.png"%}"></a>
    		<a href="#!" class=""><img src="{% static "img/facebook.png"%}"></a>
    		<a href="#!" class=""><img src="{% static "img/linkedin.png"%}"></a>
        </div>
        <div class="footer-copyright">
        	<div class="container"> 
            	<a class="grey-text darken-1 left" href="http://www.scolab.es" target="_blank">© 2015 Software Colaborativo S.L</a>
            </div>
        </div>
	</footer>
            
	
	<!-- Scripts -->
	<script src="{% static "js/vendors/jQuery/jQuery-2.1.4.min.js" %}"></script>
	<script src="{% static "js/vendors/jQuery/jquery.cookie.js" %}"></script>
	<script src="{% static "js/vendors/bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
	    	$("#select-language").change(function() {
	    		$("#select-language-form").submit();
			});
	    });
	</script>
	
</body>


</html>