{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
	<div class="row">
		<div class="col-md-12">
			<form id="project-form" enctype="multipart/form-data" role="form" method="post" action="/gvsigonline/core/project_update/{{pid}}/">
				<div class="row">
					<div class="col-md-12 form-group">
						<div class="box-tools pull-right">
							<button id="save_button" class="save_button btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>					
						</div>
					</div>
					<div class="row" style="padding-left: 30px;">
						{% csrf_token %}													
						{% if message %}
						<div id="form-error" style="color:#ff0000;">
							<p>* {{ message }}</p>
						</div>
						{% endif %}
					</div>
				</div>
				{% if messages %}
				<div class="row">
					<div class="col-md-12 form-group">
						<ul class="messages" style="list-style: none;margin-left: -40px;">
							{% for message in messages %}
								{% if message.tags == "info" %}
								<li style="border: 1px solid green; color: green; padding: 5px; margin-bottom: 5px;">{{ message }}</li>
								{% elif message.tags == "error" %}
								<li style="border: 1px solid red; color: red; padding: 5px; margin-bottom: 5px;">{{ message }}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				<ul id="project-update-tabs" class="nav nav-tabs">
              		<li class="active"><a data-id="0" href="#tab-project-main" data-toggle="tab">{% trans "General" %}</a></li>
              		<li><a  data-id="1" href="#tab-project-layergroups" data-toggle="tab">{% trans "Layer groups" %}</a></li>
              		<li><a  data-id="2" href="#tab-project-tools" data-toggle="tab">{% trans "Tools" %}</a></li>
              		<li><a  data-id="3" href="#tab-project-usergroups" data-toggle="tab">{% trans "User groups" %}</a></li>
              		<li><a  data-id="4" href="#tab-project-packagebaselayer" data-toggle="tab">{% trans "Package the base layer" %}</a></li>
            	</ul>
            	
            	<div class="tab-content">
              		<div class="tab-pane active" id="tab-project-main">
              			<div class="box">
              				<div class="box-body">
              					<input type="hidden" id="project-name" name="project-name" value="{{project.name}}"/>
						
								<div class="row">
									<div class="col-md-6" style="margin-bottom: 20px;">
										<div class="provider-img">
											<img style="max-height: 52px;" id="logo-preview" src="{{project.logo.url}}" alt="">
										</div>
										<div class="provider-img-change">
											<label>{% trans "Select main logo" %}</label>({% trans "Supported formats" %}: .jpg, .jpeg, .png)
											<input id="project-logo" name="project-logo" accept=".jpg, .jpeg, .png" onchange="readLogoURL(this);" type="file" class="file" data-show-preview="true">						
										</div>
									</div>	
									<div class="col-md-6" style="margin-bottom: 20px;">
										<label for="project-logo-link">{% trans "Link for logo" %}</label>
										<input name="project-logo-link" id="project-logo-link" type="text" class="form-control" value="{{project.logo_link}}">
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-3 form-group">
										<label for="is_public">{% trans "Is public?" %}</label>&nbsp;&nbsp;
										{% if project.is_public %}
										<input type="checkbox" name="is_public"  id="is_public" checked/>
										{% else %}
										<input type="checkbox" name="is_public"  id="is_public"/>
										{% endif %}								
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12 form-group">
										<label for="project-title">{% trans "Title" %}</label>
										<input placeholder="{% trans 'Project title' %}" name="project-title" id="project-title" type="text" class="form-control" value="{{project.title}}">						
									</div>
								</div>
										
								<div class="row">
									<div class="col-md-12 form-group">
										<label for="project-description">{% trans "Description" %}</label>
										<input placeholder="{% trans 'Project description' %}" name="project-description" id="project-description" type="text" class="form-control" value="{{project.description}}">						
									</div>
								</div>	
								
								<div class="row">
									<div class="col-md-6 form-group">
										<label for="is_public">{% trans "Toc panel presentation" %}</label>
										<select class="form-control" id="id_toc_mode" name="toc_mode" tabindex="-1" aria-hidden="true">
											{% if project.toc_mode == "toc_hidden" %}
												<option value="toc_hidden" selected>{% trans "Toc hidden" %}</option>
											{% else %}
												<option value="toc_hidden">{% trans "Toc hidden" %}</option>
											{% endif %}	
											{% if project.toc_mode == "toc_groups" %}
												<option value="toc_groups" selected>{% trans "Show toc and groups" %}</option>
											{% else %}
												<option value="toc_groups">{% trans "Show toc and groups" %}</option>
											{% endif %}	
											{% if project.toc_mode == "toc_layers" %}
												<option value="toc_layers" selected>{% trans "Show toc, groups and layers" %}</option>
											{% else %}
												<option value="toc_layers">{% trans "Show toc, groups and layers" %}</option>
											{% endif %}	
										</select>
									</div>
									<div class="col-md-3 form-group">
										<label for="selectable_groups">{% trans "Selectable layer groups" %}</label>&nbsp;&nbsp;
										{% if project.selectable_groups %}
										<input type="checkbox" name="selectable_groups"  id="selectable_groups" checked/>
										{% else %}
										<input type="checkbox" name="selectable_groups"  id="selectable_groups"/>
										{% endif %}								
									</div>
								</div>
						
								<div class="row">
									<div class="col-md-3 form-group">
										<label for="restricted_extent">{% trans "Restricted extent" %}</label>&nbsp;&nbsp;
										{% if project.restricted_extent %}
										<input type="checkbox" name="restricted_extent"  id="restricted_extent" checked/>
										{% else %}
										<input type="checkbox" name="restricted_extent"  id="restricted_extent"/>
										{% endif %}								
									</div>
								</div>	
					
								<div class="row">
									{% if has_geocoding_plugin %}	
									<div id="project-map" class="mini-map shps-folder-project-map">
										<div class="col-md-3 form-group float-search-tool">
											<input placeholder="{% trans 'Locate place...' %}" name="location-autocomplete" id="location-autocomplete" type="text" class="form-control">
										</div>
									</div>
									{% else %}
										<div id="project-map" class="mini-map"></div>
									{% endif %}	
								</div>
						
								<input type="hidden" name="center-lat" id="center-lat">
								<input type="hidden" name="center-lon" id="center-lon">
								<input type="hidden" name="extent" id="extent">
								<input type="hidden" name="zoom" id="zoom">
						
								<div class="row">
									<div class="col-md-12" style="margin-bottom: 20px;">
										<div class="provider-img">
											<img style="height: 50px; width: 50px;" id="image-preview" src="{{project.image.url}}" alt="">
										</div>
										<div class="provider-img-change">
											<label>{% trans "Change image?" %}</label>({% trans "Supported formats" %}: .jpg, .jpeg, .png)
											<input id="project-image" name="project-image" accept=".jpg, .jpeg, .png" type="file" class="file" data-show-preview="true">						
										</div>
									</div>	
								</div>
								
								<div class="row">
									<div class="col-md-6 form-group">
										<label for="show_project_icon">{% trans "Show project icon in TOC" %}</label>&nbsp;&nbsp;
										{% if project.show_project_icon %}
										<input checked type="checkbox" name="show_project_icon" id="show_project_icon"/>
										{% else %}
										<input type="checkbox" name="show_project_icon" id="show_project_icon"/>
										{% endif %}															
									</div>
								</div>
								
								
				
								
								
							</div>
              			</div>
              		</div>
              		
              		<div class="tab-pane" id="tab-project-layergroups">
              			<div class="row">
							<div class="col-md-9">
								<div id="layer-list-box" class="box searchable-list-box">
									<div class="box-header">
										<div class="col-md-6">
											<div id="add-layer-group-button" class="btn btn-box-tool" title='{% trans "Add layer group" %}' style="float:right;position:relative;z-index:10;" data-toggle="modal" data-target="#modal-add-layer-group"><i class="fa fa-plus margin-r-5"></i></div>
											<input type="text" class="search2 form-control" placeHolder="{% trans 'Search layer group...' %}" style="padding-right: 30px;position: absolute;"  />
										</div>
									</div>
									<div class="box-body">
										<ul class="products-list product-list-in-box list2">
											{% for layergroup in layergroups %}
											<li class="item">
												<div class="product-img">
													<img src="{% static "img/layers.png" %}" alt="Layers Image">
												</div>
												<div class="product-info">
													<a href="javascript:void(0)" class="product-title"><span class="searchable-layer">{{layergroup.title}}</span>
														<div style="margin-right: 10px;" class="radio pull-right">													
															<label>
																{% if layergroup.baselayer_group %}
																	<input type="radio" class="selected-base-group" data-id="{{layergroup.id}}" data-name="{{layergroup.name}}" data-title="{{layergroup.title}}" name="selected-base-group" id="selected-base-group-{{layergroup.id}}" value="{{layergroup.id}}" checked/>{% trans "Base group" %}
																{% else %}
																	<input type="radio" class="selected-base-group" data-id="{{layergroup.id}}" data-name="{{layergroup.name}}" data-title="{{layergroup.title}}" name="selected-base-group" id="selected-base-group-{{layergroup.id}}" value="{{layergroup.id}}"/>{% trans "Base group" %}
																{% endif %}
															</label>
														</div>
														<div style="margin-right: 10px;" class="checkbox pull-right">													
															<label>
																{% if layergroup.checked %}
																	<input type="checkbox" class="layergroup-input" data-id="{{layergroup.id}}" data-name="{{layergroup.name}}" data-title="{{layergroup.title}}" name="layergroup-{{layergroup.id}}" id="layergroup-{{layergroup.id}}" checked/>{% trans "Add" %}
																{% else %}
																	<input type="checkbox" class="layergroup-input" data-id="{{layergroup.id}}" data-name="{{layergroup.name}}" data-title="{{layergroup.title}}" name="layergroup-{{layergroup.id}}" id="layergroup-{{layergroup.id}}"/>{% trans "Add" %}
																{% endif %}
															</label>
														</div>
													</a> 
													<span class="product-description"><span class="searchable-layer-desc">{{layergroup.name}}</span></span>
												</div>
												<div class="box-body">
													{% if layergroup.baselayer_group %}
													<ul id="basegroup-layers-{{layergroup.id}}" class="products-list product-list-in-box basegroup-layers" style="display: block;">
													{% else %}
													<ul id="basegroup-layers-{{layergroup.id}}" class="products-list product-list-in-box basegroup-layers" style="display: none;">
													{% endif %}
														{% for l in layergroup.layers %}
														<li class="item">
															<div class="product-info">
																<a href="javascript:void(0)" class="product-title">
																	<div class="checkbox pull-left">	
																		<span class="searchable-base-layer">{{l.title}}</span><br />
																	</div>
																	<div class="checkbox pull-right">													
																		<label>
																			{% if l.baselayer %}
																				<input type="radio" class="baselayers-default" name="baselayers-default" value="{{l.id}}" id="baselayer-{{l.id}}-default" checked/><span style="width:150px;">{% trans "Mark as default" %}</span>
																			{% else %}
																				<input type="radio" class="baselayers-default" name="baselayers-default" value="{{l.id}}" id="baselayer-{{l.id}}-default"/><span style="width:150px;">{% trans "Mark as default" %}</span>
																			{% endif %}
																		</label>
																	</div>
																</a> 
<!-- 																<span class="product-description"><span class="searchable-layer">{{base_layers.type}}</span></span> -->
															</div>
														</li> 
														{% endfor %}
													</ul>
												</div>
											</li> 
											{% endfor %}
										</ul>
										<ul class="pagination"></ul>
									</div>
								</div>
							</div>
							<input type="hidden" id="selected_base_layer" name="selected_base_layer"/>
							<input type="hidden" id="selected_base_group" name="selected_base_group"/>
							<div class="col-md-3" style="background-color:#eee">
								<div class="box searchable-list-box">
									<div class="box-body toc-layer-update">
										<div id="toc" class="toc">
										{% for g in toc %}
											<div id="lg_{{g.1.name}}" data-name="{{g.1.name}}" data-title="{{g.1.title}}" data-order="{{g.1.order}}" class="box box-default collapsed-box toc-layergroup">
												<div class="box-header with-border">
													<span class="handle" style="margin-right: 20px;"> 
														<i class="fa fa-ellipsis-v"></i>
														<i class="fa fa-ellipsis-v"></i>
													</span>
													<span class="text">{{g.1.title}}</span>
												</div>	
											</div>
							        	{% endfor %}
							        	
							        	</div>
			        				</div>
			        			</div>
			        		</div>
			        		<input type="hidden" id="toc_value" name="toc_value" value=""/>
			        	</div>
              		</div>
              		
              		<div class="tab-pane" id="tab-project-tools">
              			<div class="row">
							<div class="col-md-12">
								<div id="tool-list-box" class="box searchable-list-box">
									<div class="box-header">
										<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Search tool...' %}" /></div>
									</div>
									<div class="box-body">
										<ul class="products-list product-list-in-box list">
											{% for tool in tools %}
											<li class="item">
												<div class="product-img">
													<img src="{% static "img/plugin.png" %}" alt="Plugin Image">
												</div>
												<div class="product-info">
													<a href="javascript:void(0)" class="product-title"><span class="searchable-user">{{tool.title}}</span>
														<div class="checkbox pull-right">													
															<label>
																{% if tool.checked %}
																	<input type="checkbox" class="project-tool" type="checkbox" data-title="{{tool.title}}" data-name="{{tool.name}}" data-description="{{tool.description}}" name="tool-{{tool.name}}" id="tool-{{tool.name}}" checked/>{% trans "Assign tool" %}
																{% else %}
																	<input type="checkbox" class="project-tool" type="checkbox" data-title="{{tool.title}}" data-name="{{tool.name}}" data-description="{{tool.description}}" name="tool-{{tool.name}}" id="tool-{{tool.name}}"/>{% trans "Assign tool" %}
																{% endif %}
															</label>
														</div>
													</a> 
													<span class="product-description">{{tool.description}}</span>
												</div>
											</li> 
											{% endfor %}
										</ul>
										<ul class="pagination"></ul>
									</div>
									<input type="hidden" id="project_tools" name="project_tools" value=""/>
								</div>
							</div>
						</div>
              		</div>
              		
              		<div class="tab-pane" id="tab-project-usergroups">
              			<div class="row">
							<div class="col-md-12">
								<div id="user-list-box" class="box searchable-list-box">
									<div class="box-header">
										<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Search user group...' %}" /></div>
									</div>
									<div class="box-body">
										<ul class="products-list product-list-in-box list">
											{% for group in groups %}
											<li class="item">
												<div class="product-img">
													<img src="{% static "img/users.png" %}" alt="Users Image">
												</div>
												<div class="product-info">
													<a href="javascript:void(0)" class="product-title"><span class="searchable-user">{{group.name}}</span>
														<div class="checkbox pull-right">													
															<label>
																{% if group.checked %}
																	<input type="checkbox" name="usergroup-{{group.id}}" id="usergroup-{{group.id}}" checked/>{% trans "Assign user group" %}
																{% else %}
																	<input type="checkbox" name="usergroup-{{group.id}}" id="usergroup-{{group.id}}"/>{% trans "Assign user group" %}
																{% endif %}
															</label>
														</div>
													</a> 
													<span class="product-description">{{group.description}}</span>
												</div>
											</li> 
											{% endfor %}
										</ul>
										<ul class="pagination"></ul>
									</div>
								</div>
							</div>
						</div>
              		</div>
              		
              		{% if superuser %}
              		<div class="tab-pane" id="tab-project-packagebaselayer">
              			<div class="row">
              				<div class="col-md-12">
              					<div id="user-list-box" class="box searchable-list-box">
              						<div class="box-body">
              						
              							<div id="processing_header" style="border: 1px solid #3c8dbc;">
	              							<div class="row">
	              								<div class="col-md-6" style="margin-left: 20px">
	              									<image id="processing_icon" src="{{processing_icon}}" width=60px height=60px {% if project.baselayer_version != -99999 %}class=""{% endif %}></img>
					              					<label style="color: #3c8dbc;font-size:18px">{% trans "Process running" %}</label>&nbsp;&nbsp;
					              				</div>
					              			</div>
					              			<div class="row" style="margin-top: 20px">
												<div class="col-md-6 form-group" style="margin-left: 20px">
													<label style="color: #3c8dbc;">Tiles {% trans "Processed" %}</label>
													<label style="color: #3c8dbc;" id='processed_tiles'>0</label>
													<label style="color: #3c8dbc;">{% trans "of" %}</label>
													<label style="color: #3c8dbc;" id='total_tiles'>0</label>
													<label style="color: #ff0000;" id='tiles_percent'>(0%)</label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 form-group" style="margin-left: 20px">
													<label style="color: #3c8dbc;">{% trans "Estimated Time" %}: </label>
													<label style="color: #ff0000;" id='estimated_time'>-</label>
												</div>
											</div>
										</div>
										
										<!-- Enlace para descarga cuando hay una versión -->
										
											<div class="row">
												<div class="col-md-3 form-group" style="top:15px;">
													<label>{% trans "Download version" %}</label>
													<label id="download_version">({% if project.baselayer_version > 0 %}{{project.baselayer_version}}{% else %}Ninguna disponible{% endif %}):</label>&nbsp;&nbsp;	
												</div>

												<div class="col-md-2 form-group" style="top:15px;">
													<a id="processing_url" href="{{url_base_lyr}}" style="color:#3c8dbc" >{% trans "Download" %}</a>&nbsp;&nbsp;
												</div>
											</div>
										

									
										<div class="row" style="margin-top:10px;">
											<div class="col-md-3 form-group" >
												<label>{% trans "Extent" %}</label>&nbsp;&nbsp;															
											</div>
											<div class="col-md-1 form-group" >
												<input type="radio" id="project" name="extent" value="project" checked>{% trans "Proyecto" %}<br>
											</div>
											<div class="col-md-1 form-group" >
												<input type="radio" id="layer" name="extent" value="layer">{% trans "Capa" %}<br>														
											</div>
										</div>


										<div class="row" style="margin-top:10px;"> 
											<div class="col-md-3 form-group" >
												<label>{% trans "Format" %}</label>&nbsp;&nbsp;															
											</div>
											<div class="col-md-1 form-group" >
												<input type="radio" id="png" name="imgtype" value="image/png" checked>{% trans "PNG" %}<br>
											</div>
											<div class="col-md-1 form-group" >
												<input type="radio" id="jpg" name="imgtype" value="image/jpeg">{% trans "JPG" %}<br>														
											</div>
										</div>

				
										<div class="row" style="margin-top:10px;">
											<div class="col-md-3 form-group" >
												<label>{% trans "Niveles de zoom" %}</label>&nbsp;&nbsp;															
											</div>
											<div class="col-md-1 form-group" >
												<input placeholder="{% trans 'Tiles per side' %}" name="tiles-side" id="tiles-side" type="text" class="form-control" value="16">															
											</div>
										</div>
									
											
										<div class="row" style="margin-top:10px;">
											<div class="col-md-3 form-group" >
												<label>{% trans "Tilematrixset (WMTS)" %}</label>&nbsp;&nbsp;															
											</div>
											<div class="col-md-2 form-group">
												<input placeholder="{% trans 'Tilematrixset' %}" name="tilematrixset" id="tilematrixset" type="text" class="form-control" value="EPSG:3857" disabled />															
											</div>
										</div>

										<div class="row">
											<div class="col-md-3" style="top:25px;padding-bottom: 25px">
												<button type="button" id="button-create-base-layer"> {% trans "Create layer" %}</button>	
												<button type="button" id="button-stop-process"> {% trans "Stop Process" %}</button>														
											</div>
										</div>

										
										
									</div>
								</div>
							</div>
						</div>
              		</div>
              		{% endif %}
              		
          		</div>
          	</form>
          	
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modal-add-layer-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Create new layer group" %}</h4>
				</div>
				<div class="modal-body">
					<p>{% trans "Is needed to save this project first, Do you want continue?" %}</p>
				</div>
				<div class="modal-footer">
					<button id="button-add-layer-group-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					<button id="button-add-layer-group-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extra-scripts %}
<script type="text/javascript">
	$('#menu-manage-projects').addClass("active");
	$('#submenu-projects').addClass("active");
	 function readURL(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
	                $('#image-preview').attr('src', e.target.result);
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	
	
	$("#project-image").change(function(){
	  readURL(this);
	});
	
	function readLogoURL(input) {
  	    if (input.files && input.files[0]) {
  	        var reader = new FileReader();
  	        reader.onload = function (e) {
  	            $('#logo-preview').attr('src', e.target.result);
  	        };
  	        reader.readAsDataURL(input.files[0]);
  	        
  	    }
  	}
	
	
	$().ready(function() {
		/**
		  * Create the map.
		  */
		var map = new ol.Map({
			layers : [ new ol.layer.Tile({
				source : new ol.source.OSM()
			})],
			target : 'project-map',
			view : new ol.View({
				center: ol.proj.transform([parseFloat('{{project.center_lon}}'), parseFloat('{{project.center_lat}}')], 'EPSG:4326', 'EPSG:3857'),
			    zoom: '{{project.zoom}}'
			})
		});
		
		var searcheableList = new List('user-list-box', {
	  		  valueNames: ['searchable-user'],
	  		  listClass:'list',
	  		  searchClass: 'search',
	  		  page: 6,
	  		  pagination: false
	  		});
		
		var searcheableList2 = new List('layer-list-box', {
		  valueNames: ['searchable-layer', 'searchable-layer-desc'],
		  listClass:'list2',
		  searchClass: 'search2',
		  page: 6,
		  pagination: false
		});
		
		var process_status = null
		$("#processing_header").hide()
		$("#button-stop-process").hide()
		
		
		$('#project-update-tabs').on("click", function (e) {
			//Al pulsar cualquier tab desactiva la llamada de actualización de progreso de la capa base
			var target = $(e.target).attr("data-id");
			if(process_status) {
				clearInterval(process_status);
			}

			//Al pulsar el tab de Empaquetar capa base se manda una llamada ajax cada x segundos para actualizar el progreso
			if (target != null && target == 4) {
				process_status = setInterval(function() { 
					$.ajax({
						type: 'POST',
						async: true,
						url: '/gvsigonline/services/base_layer_process_update/{{pid}}/',
						beforeSend:function(xhr){
						    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
						},
						success	:function(response){
							if(response.active == 'true') {
								$("#processing_header").show()
								$("#button-stop-process").show()
								$("#total_tiles").text(response.total_tiles);
								$("#processed_tiles").text(response.processed_tiles);
								var perc = (parseInt(response.processed_tiles) * 100) / parseInt(response.total_tiles)
								$("#tiles_percent").text("(" + parseInt(perc) + "%)");
								$("#estimated_time").text(response.time);
								
							} else {
								$("#processing_header").hide()
								$("#button-stop-process").hide()
								if(response.version) {
									var oldUrl = $("#processing_url").attr("href");
									var index = oldUrl.lastIndexOf("_")
									var strToReplace = oldUrl.substring(index + 1, oldUrl.length - 4)
									var newUrl = oldUrl.replace(strToReplace, response.version)
									$("#processing_url").attr("href", newUrl); 
									$("#download_version").text("(" + response.version + ")"); 
								}
							}
						},
						error :function(response){
							$("#total_tiles").text("-");
							$("#processed_tiles").text("-");
							$("#tiles_percent").text("(-)");
							$("#estimated_time").text('-')
						}
					});
				}, 2500);
			}       
		})
		

		
		
		searcheableList2.on("updated", function(){
			$(".layergroup-input").unbind("click").click(function(){
		  		if($(this).is(':checked')){	
			  		var data_id = $(this).attr("data-id");
			  		var data_name = $(this).attr("data-name");
			  		var data_title = $(this).attr("data-title");
			  		
			  		if(!$("#selected-base-group-" + data_id).is(':checked')){
			  			var newdata = '<div id="lg_'+data_name+'" data-name="'+data_name+'" data-title="'+data_title+'" data-order="'+500+'" class="box box-default collapsed-box toc-layergroup">'+
						'<div class="box-header with-border">'+
						'	<span class="handle" style="margin-right: 20px;"> '+
						'		<i class="fa fa-ellipsis-v"></i>'+
						'		<i class="fa fa-ellipsis-v"></i>'+
						'	</span>'+
						'	<span class="text">'+data_title+'</span>'+
						'</div>'+	
						'</div>';	
						$("#toc").append(newdata);	
			  		}
			  		
		  		}else{
		  			var data_id = $(this).attr("data-id");
			  		var data_name = $(this).attr("data-name");
			  		
			  		if ($("#selected-base-group-" + data_id).is(':checked')) {
			  			$("#selected-base-group-" + data_id).prop("checked", false);
			  			$('.basegroup-layers').css("display", "none");
			  		}
			  		
					$("#lg_"+data_name).remove();
		  		}
		  	});
			
			$('input[name=selected-base-group]').change(function(e) {
		  		var data_id = $(this).attr("data-id");
		  		var data_name = $(this).attr("data-name");
		  		var data_title = $(this).attr("data-title");
		  		
		  		var visibleItems = searcheableList2.visibleItems;
		  		for(var i=0; i<searcheableList2.items.length; i++){
	    			var item = searcheableList2.items[i];
	    			item.show();
	    		}
		  		
		  		$('.baselayers-default').each(function( index ) {
		  			$(this).prop("checked", false);
		  		});
		  		
		  		$('.selected-base-group').each(function( index ) {
		  			$(this).prop("checked", false);
		  		});
		  		
		  		$('#selected-base-group-' + this.dataset.id).prop("checked", true);
		  		
				$('.basegroup-layers').css("display", "none");
				$('#basegroup-layers-' + this.dataset.id).css("display", "block");
				
				$('#basegroup-layers-' + this.dataset.id + " li").first().find( "input" ).prop("checked", true);
				
				if(!$("#layergroup-" + data_id).is(':checked')){
		  			$("#layergroup-" + data_id).prop("checked", true);
		  		}
				
				$("#lg_"+data_name).remove();
				
				$('.layergroup-input').each(function( index ) {
					var id = $(this).attr("data-id");
			  		var name = $(this).attr("data-name");
			  		var title = $(this).attr("data-title");
			  		
			  		if (id != data_id) {
			  			if ($("#layergroup-" + id).is(':checked')) {
			  				var exists = false;
			  				if($("#lg_" + name).length) {
			  					exists = true;
			  				}
			  				if (!exists) {
			  					var newdata = '<div id="lg_'+name+'" data-name="'+name+'" data-title="'+title+'" data-order="'+500+'" class="box box-default collapsed-box toc-layergroup">'+
								'<div class="box-header with-border">'+
								'	<span class="handle" style="margin-right: 20px;"> '+
								'		<i class="fa fa-ellipsis-v"></i>'+
								'		<i class="fa fa-ellipsis-v"></i>'+
								'	</span>'+
								'	<span class="text">'+title+'</span>'+
								'</div>'+	
								'</div>';	
								$("#toc").append(newdata);	
			  				}
			  				
			  			}
			  		}
				});
				for(var i=0; i<searcheableList2.items.length; i++){
	    			var item = searcheableList2.items[i];
	    			item.hide();
	    		}
				for(var i=0; i<visibleItems.length; i++){
	    			var item = visibleItems[i].show();
	    		}
				
		  	});
		});
		
		$(".save_button").click(function(e){
    		e.preventDefault(); // prevents default
    		for(var i=0; i<searcheableList.items.length; i++){
    			var item = searcheableList.items[i];
    			item.show();
    		}
    		for(var i=0; i<searcheableList2.items.length; i++){
    			var item = searcheableList2.items[i];
    			item.show();
    		}
    		
	  		
			var toc = {}
			var root = $('#toc');
			var groupList = root.children();
			for (var i=0; i<groupList.length; i++) {
				var g = groupList[i];
				var groupOrder = (groupList.length - i) * 1000;
				var groupName = g.dataset.name;
				var groupTitle = g.dataset.title;
				
				var layers = {};
				var group = {
					'name': groupName,
					'title': groupTitle,
					'order': groupOrder,
					'layers': layers
				};
				toc[groupName] = group;
			}
			$("#toc_value").val(JSON.stringify(toc));
			
			var toolList = $('.project-tool');
			var projectTools = new Array();
			for (var k=0; k<toolList.length; k++) {
				var tool = {
					'name': toolList[k].dataset.name,
				    'checked': toolList[k].checked,
				    'title': toolList[k].dataset.title,
				    'description': toolList[k].dataset.description	
				};
				projectTools.push(tool);
				
			}
			$("#project_tools").val(JSON.stringify(projectTools));
			
    		$("#project-form").submit();
    	    return false; 

    	});
	  	
	  	$('#add-layer-group-button').click(function() {
			$('#button-add-layer-group-accept').click( function() {
				for(var i=0; i<searcheableList.items.length; i++){
	    			var item = searcheableList.items[i];
	    			item.show();
	    		}
	    		for(var i=0; i<searcheableList2.items.length; i++){
	    			var item = searcheableList2.items[i];
	    			item.show();
	    		}
				$('#project-form').attr('action', '/gvsigonline/core/project_update/{{pid}}/?redirect=new-layer-group');
				$('#save_button').trigger('click');
			});
		});
	  	
	  	$('#button-create-base-layer').click(function() {
	  		$("#button-stop-process").text(gettext('Parar proceso'))
	  		$.ajax({
				type: 'POST',
				async: true,
				data: {
					"tiles":$("#tiles-side").val(),
					"tilematrixset":$("#tilematrixset").val() == 'EPSG:3857' ? 'EPSG:900913' : $("#tilematrixset").val(),
					"format":$("input[name='imgtype']:checked").val(),
					"extent":$("input[name='extent']:checked").val()
				},
				url: '/gvsigonline/services/create_base_layer/{{pid}}/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				},
				success	:function(response){
					//messageBox.show('info', gettext('tile process ended'));
				},
				error: function(jqXHR, textStatus, errorThrown){
					messageBox.show('error', gettext(jqXHR.responseText));
				}
			});
		});
	  	
	  	$('#button-stop-process').click(function() {
	  		$("#button-stop-process").text(gettext('Parando') + "...")
	  		$.ajax({
				type: 'POST',
				async: true,
				url: '/gvsigonline/services/stop_base_layer_process/{{pid}}/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				}
			});
		});
	  	
		$('#project-form').submit(function() {
			$("body").overlay();
			var coordinate = map.getView().getCenter();
			var transformedCoordinate = ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326');
			var extent = map.getView().calculateExtent(map.getSize()); 
			var zoom = map.getView().getZoom();
			
			var selectedBaseLayer = $('input:radio[name=baselayers-default]:checked').val();
			var selectedBaseGroup = $('input:radio[name=selected-base-group]:checked').val();
			$("#selected_base_layer").val(selectedBaseLayer);
			$("#selected_base_group").val(selectedBaseGroup);

			$("#center-lat").val(transformedCoordinate[1]);
			$("#center-lon").val(transformedCoordinate[0]);
			$("#extent").val(extent);
			$("#zoom").val(zoom);
		});
	  	
	  	{% if has_geocoding_plugin %}	
	  	$(".ol-zoom").css("margin-top","50px")
	  	
	  	$('#location-autocomplete').autocomplete({
    		serviceUrl: '/gvsigonline/geocoding/search_candidates/',
    		paramName: 'q',
    		params: {
    			limit: 10,
    			countrycodes: 'es'
    		},
    		groupBy: 'category',
    		transformResult: function(response) {
    			jsonResponse = JSON.parse(response);
    			if (jsonResponse.suggestions.length > 0) {
    				return {
    					suggestions: $.map(jsonResponse.suggestions, function(item) {
    						return { 
    							value: item.address,
    							type: item.type,
    							data: item 
    						};
    					})
    				};
    			}

    		},
    		onSelect: function (suggestion) {
    			$.ajax({
    				type: 'POST',
    				async: false,
    				url: '/gvsigonline/geocoding/find_candidate/',
    				beforeSend:function(xhr){
    					xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
    				},
    				data: {
    					'address': suggestion.data
    				},
    				success	:function(response){
    					if(response.address){
    						var address = response.address;
    						if(address != null){
    							if(!("status" in address) || address.status != "OVER_QUERY_LIMIT"){
	    							var coordinate = ol.proj.transform([parseFloat(address.lng), parseFloat(address.lat)], 'EPSG:4326', 'EPSG:3857');	
	    							map.getView().setCenter(coordinate);
	    							map.getView().setZoom(14);
    							}else{
    								alert("Error " + address.status + ": " + address.error_message)
    							}	
    						}
    					}
    				},
    				error: function(){}
    			});
    		}

    	});
	  	{% endif %}
	  	
	  	$(".toc").sortable({
			placeholder: "sort-highlight",
			handle: ".handle",
			forcePlaceholderSize: true,
			zIndex: 999999
		});
	  	
	  	$(".layergroup-input").unbind("click").click(function(){
	  		if($(this).is(':checked')){	
		  		var data_id = $(this).attr("data-id");
		  		var data_name = $(this).attr("data-name");
		  		var data_title = $(this).attr("data-title");
		  		
		  		if(!$("#selected-base-group-" + data_id).is(':checked')){
		  			var newdata = '<div id="lg_'+data_name+'" data-name="'+data_name+'" data-title="'+data_title+'" data-order="'+500+'" class="box box-default collapsed-box toc-layergroup">'+
					'<div class="box-header with-border">'+
					'	<span class="handle" style="margin-right: 20px;"> '+
					'		<i class="fa fa-ellipsis-v"></i>'+
					'		<i class="fa fa-ellipsis-v"></i>'+
					'	</span>'+
					'	<span class="text">'+data_title+'</span>'+
					'</div>'+	
					'</div>';	
					$("#toc").append(newdata);	
		  		}
		  		
	  		}else{
	  			var data_id = $(this).attr("data-id");
		  		var data_name = $(this).attr("data-name");
		  		
		  		if ($("#selected-base-group-" + data_id).is(':checked')) {
		  			$("#selected-base-group-" + data_id).prop("checked", false);
		  			$('.basegroup-layers').css("display", "none");
		  		}
		  		
				$("#lg_"+data_name).remove();
	  		}
	  	});
	  	
	  	
	  	$('input[name=selected-base-group]').change(function(e) {
	  		var data_id = $(this).attr("data-id");
	  		var data_name = $(this).attr("data-name");
	  		var data_title = $(this).attr("data-title");
	  		
	  		var visibleItems = searcheableList2.visibleItems;
	  		for(var i=0; i<searcheableList2.items.length; i++){
    			var item = searcheableList2.items[i];
    			item.show();
    		}
	  		
	  		$('.baselayers-default').each(function( index ) {
	  			$(this).prop("checked", false);
	  		});
	  		
	  		$('.selected-base-group').each(function( index ) {
	  			$(this).prop("checked", false);
	  		});
	  		
	  		$('#selected-base-group-' + this.dataset.id).prop("checked", true);
	  		
			$('.basegroup-layers').css("display", "none");
			$('#basegroup-layers-' + this.dataset.id).css("display", "block");
			
			$('#basegroup-layers-' + this.dataset.id + " li").first().find( "input" ).prop("checked", true);
			
			if(!$("#layergroup-" + data_id).is(':checked')){
	  			$("#layergroup-" + data_id).prop("checked", true);
	  		}
			
			$("#lg_"+data_name).remove();
			
			$('.layergroup-input').each(function( index ) {
				var id = $(this).attr("data-id");
		  		var name = $(this).attr("data-name");
		  		var title = $(this).attr("data-title");
		  		
		  		if (id != data_id) {
		  			if ($("#layergroup-" + id).is(':checked')) {
		  				var exists = false;
		  				if($("#lg_" + name).length) {
		  					exists = true;
		  				}
		  				if (!exists) {
		  					var newdata = '<div id="lg_'+name+'" data-name="'+name+'" data-title="'+title+'" data-order="'+500+'" class="box box-default collapsed-box toc-layergroup">'+
							'<div class="box-header with-border">'+
							'	<span class="handle" style="margin-right: 20px;"> '+
							'		<i class="fa fa-ellipsis-v"></i>'+
							'		<i class="fa fa-ellipsis-v"></i>'+
							'	</span>'+
							'	<span class="text">'+title+'</span>'+
							'</div>'+	
							'</div>';	
							$("#toc").append(newdata);	
		  				}
		  				
		  			}
		  		}
			});
			
			for(var i=0; i<searcheableList2.items.length; i++){
    			var item = searcheableList2.items[i];
    			item.hide();
    		}
			for(var i=0; i<visibleItems.length; i++){
    			var item = visibleItems[i].show();
    		}
			
	  	});
	});
</script>
{% endblock %}