{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Shared views list" %}</h3>
			</div>		
			<div class="box-body">
				<table class="table" id="shared-views-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "URL" %}</th>
							<th>{% trans "Expiration date" %}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for sv in shared_views %}
						<tr>
							<td>{{ sv.id }}</td>
							<td>{{ sv.url }}</td>
							<td>{{ sv.expiration_date }}</td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete view" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The view will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-view-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-view-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-projects').addClass("active");
	$('#submenu-views').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#shared-views-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-view" data-toggle="modal" data-target="#modal-delete-view" data-placement="bottom" title="' + '{% trans "Delete shared view" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
 	    }],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
		 
	$('#shared-views-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-delete-view"){
	        deleteView(data, row);   
	    }
	});

	function deleteView(data, row){
		$('#button-delete-view-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/core/shared_view_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-view').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	    
});
</script>
{% endblock %}