{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box">

			<form id="provider-form" enctype="multipart/form-data" role="form"
				method="post"
				action="/gvsigonline/trip_planner/gtfs_provider_update/{{provider_id}}/">
					<div class="box-header with-border">
						<h3 class="box-title">{% trans "Update GTFS provider" %}</h3>
						<div class="box-tools pull-right">
							<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
						</div>
					</div>
				
					<div class="box-body">
						{% csrf_token %}													
						{% if form.errors %}
							<div id="form-error" style="color:#ff0000;">
								<ul>
								{% for field in form %}
									{% if field.errors %}
										<li>{{field.label}}. {{ field.errors|striptags }}</li>
									{% endif %}	
								{% endfor %}
								</ul>
							</div>
						{% endif %}
						
						{% if message %}
							<div id="form-error" style="color:#ff0000;">
								<p>* {{ message }}</p>
							</div>
						{% endif %}
						
						<div class="row user-param hidden">
							<div class="col-md-12 form-group">
								<label for="id_id_field">{% trans "ID Field" %}</label>
								{{ form.id_field }}						
							</div>
							<input type="hidden" id="provider-id_field" name="provider-id_field" value="{{ form.id_field.value|default_if_none:"" }}"/>
						</div>	
						
						<div class="row">
							<div class="col-md-12 form-group">	
								<label for="id_name">{% trans "Name" %}</label>
								{{ form.name }}									
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12 form-group">	
								<label for="id_description">{% trans "Description" %}</label>
								{{ form.description }}									
							</div>
						</div>
																
						
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="id_url">{% trans "Url" %}</label>
								{{ form.url }}						
							</div>
						</div>	
												
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="id_is_active">{% trans "Active" %}</label>
								{{ form.is_active }}						
							</div>
						</div>	
							
					</div>	
				</form>	
							
			<div class="row">			
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block extra-scripts %}
<script type="text/javascript">
	var params = JSON.parse('{{ params | escapejs }}');
	$('#menu-manage-plugins').addClass("active");
	$('#submenu-trip-planner').addClass("active");
	
	$('.save-button').click( function() {
		$("body").overlay();
	});
	
	
	$('.abort-import').click( function() {
		startImportProcessStatus()
	});
	
	var interval = null;
	
	var connectionParams = document.getElementById('id_params');
	var codemirror = CodeMirror.fromTextArea(connectionParams, {
		value: "",
		mode:  "javascript",
		theme: "xq-dark",
		lineNumbers: true
	});
	
	window.GOL = window.GOL || {};
	window.GOL.DS_ADD = window.GOL.DS_ADD || {};
	window.GOL.DS_ADD.dstypeChanged = function(type) {
		codemirror.setValue('');		
		var code = params;
		$('#select-file-row').css('display', 'none');
		$('#connection-params-row').css('display', 'block');
		codemirror.setValue(JSON.stringify(code));
	
	}
	
	
	function updateForm(type){
		$("[class$=-param]").addClass("hidden");
		$("."+type+"-param").removeClass("hidden");
		
 		//GOL.DS_ADD.dstypeChanged(type);
	}
	
	
	
	function rebuildSelect(selectObj, placeholderOptionText, placeholderSelected, extraOptions) {
		selectObj.empty().html(' ');
		var attribs = {
			value: '__disabled__',
			text: placeholderOptionText,
			disabled: 'disabled',
			
		};
		if (placeholderSelected) {
			attribs['selected'] = 'selected';
		} 
		selectObj.append($('<option>', attribs));
		if (extraOptions) {
			for (var i=0; i<extraOptions.length; i++) {
				selectObj.append(extraOptions[i]);
			}
		}
		
		selectObj.prop('disabled', true);
	}
	
	
	
	
	
	$().ready(function() {
		var id = $('#provider-id_field').val();
		
		updateForm(id);
				
	});
</script>
{% endblock %}
