{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "GTFS Providers list" %}</h3>
				<div class="box-tools pull-right">
					<button id="button-add-provider" class="btn btn-block btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add GTFS provider" %}</button>
				</div>
			</div>
			
			<div class="box-body">
				<table class="table" id="providers-table">
					<thead>
						<tr>
							<th>{% trans "Id" %}</th>
							<th class="col-md-1">{% trans "Name" %}</th>
							<th class="col-md-2">{% trans "Description" %}</th>
							<th>{% trans "Url" %}</th>
							<th class="col-md-1 text-center">{% trans "Active" %}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for prov in providers %}
						<tr class="ui-state-default">
<!-- 							<td><i class="fa fa-sort" aria-hidden="true"></i></td> -->
							<td class="row-id">{{ prov.id }}</td>
							<td class="col-md-2">{{ prov.name }}</td>
							<td class="col-md-2">{{ prov.description }}</td>
							<td>{{ prov.url }}</td>
							<td class="col-md-1 text-center">
							{% if prov.is_active == True %}&#10004;
							{% else %} - 
							{% endif %}
							</td>
							<td></td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="box-footer with-border">
				<div class="box-tools">
					<form method="post" role="form" method="post"
						 action="/gvsigonline/trip_planner/gtfs_crontab_update/">
						{% csrf_token %}
			  			
						<div class="form-row">
							<div class="form-group col-md-3">
								{% trans "Download and Rebuild Graph at:" %}
							</div>
							<div class="form-group col-md-2">
						    	<input type="text" class="form-control" id="cron_hour" name="cron_hour" aria-describedby="cronHourHelp" 
						    		placeholder="{% trans "Enter hour (from 0-23)" %}"  value="{{ cron_hour }}" />						    	
							</div>
							<div class="form-group col-md-1"><span> : </span></div>
							<div class="form-group col-md-2">   
							    <input type="text" class="form-control" id="cron_minutes" name="cron_minutes" aria-describedby="cronTimeHelp" 
							    	placeholder="{% trans "Enter minutes (from 0-59)" %}" value="{{ cron_minutes }}" />
							</div>	  			
						</div>	  			
			    		<input type="submit" class="btn btn-default" value="{% trans "Set up cronjob" %}">
					</form>
					<div class="box-tools pull-right">
						<button id="button-update-now" class="btn btn-block btn-default btn-sm"><i class="fa fa-check margin-r-5"></i> {% trans "Update Now" %}</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-provider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete provider" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The provider will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-provider-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-provider-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
$('#menu-manage-plugins').addClass("active");
$('#submenu-trip_planner').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#providers-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-provider" data-toggle="modal" data-target="#modal-delete-provider" data-placement="bottom" title="' + '{% trans "Delete provider" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
	    },{
	        "targets": -2,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-update-provider" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update GTFS provider" %}' + '" class="btn btn-success"><i class="fa fa-pencil-square-o"></i></button>'
	    }],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
		 
	$('#providers-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-provider") {
	    	updateProvider(data);
	    } else if (this.name == "button-delete-provider"){
	    	deleteProvider(data, row);   
	    }
	});
	
	$('#button-add-provider').click( function() {
		location.href = '/gvsigonline/trip_planner/gtfs_provider_add/';
	});
	
	$('#button-update-now').click( function() {
		location.href = '/gvsigonline/trip_planner/gtfs_crontab_update/';
	});


	function updateProvider(data){			
		location.href = '/gvsigonline/trip_planner/gtfs_provider_update/' + data[0] + '/';
	}

	function deleteProvider(data, row){
		$('#button-delete-provider-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/trip_planner/gtfs_provider_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-provider').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	
	   
});
</script>
{% endblock %}