fieldset {
    padding:  5px;
    /*margin: 5px 15px 0; */
    border: solid 1px #e6e6e6;
  -webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */ }
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: inherit;
    color: #333;
    border: 0;
    background-color: #fff;

}
.text-left {
    text-align: left !important;
}

.text-warning {
    color: #c7b735;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
    color: #c7b735;
}
.has-warning .form-control {
    border-color: #c7b735;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.03);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.03);
}
.border-warning {
    border-color:#f5eb9d;
}

.form-horizontal .form-group {
     margin-right: auto;
     margin-left: auto;
}


/*Corrección de estilos en Radiobuttonlist*/
.checkbox label, .radio label{
    display:inherit;
    padding-left: 0px;
    padding-right: 30px;
    font-weight: 400;}
.checkbox-inline label, .radio-inline label{
    padding-right: 30px;
    font-weight: 400;}



@media (max-width: 768px) {
 .checkbox , .radio {
margin-left: 20px;}
}
/*Fin Corrección de estilos en Radiobuttonlist*/

/*CABECERA*/
#cabecera_nf #escudogob_nf #escudogob1_nf {
    	background-color: #FFF;
		text-align: center;
		width: 49px;
		height:51px;
		margin: 0px;
		padding:0px;}

#ctl00_escudogob1_nf {
    	background-color: #FFF;
		text-align: center;
		width: 49px;
		height:51px;
		margin: 0px;
		padding:0px;}


.navbar-brand{
	height:30px;
	padding:3px 5px;
	margin:0px;}
.navbar-brand2{
	display:none;
	height:30px;
	padding:3px 5px;
	margin:0px;}
.navbar-collapse.in {
	overflow:hidden;}



.navbar-nav .usuario {
   max-width: 400px;
	font-size:11px;
   padding:5px  0px 2px 2px;
	margin:0px;
	/*color: #666;*/}

#cabecera_nf  #escudogob_nf {
	width: 50px;
/*	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
*/	float: left;}

#cabecera_nf #contenidocab_nf #contenidocab3_nf {
	background-attachment: scroll;
	background-image: url(../img/fondolinea.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0px;
	border-left: solid 1px #dddddd;
	margin: 0px 0px 0px 49px;
	text-align: right;
	height: 16px;
    margin: 0px;
}

#tbreloj {
	background-color: #eeeeee;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	border: 0px solid #eeeeee;
	padding: 0px;
	width: 140px;
	text-align: center;
	margin:0px 30px 0px 0px;
	float:right;}

#contenidocab_nf{
	margin:0px;
	padding:0px;}

#cabecera_nf #contenidocab_nf #contenidocab4_nf {
	border-left: solid 1px #dddddd;
	margin: 0 0 0 49px;
	padding:0;
    margin: 0px;
}

.navbar-default{
	margin:0px;
	padding:0px;
	background-color:#fff;
	border: none;}
.navbar-default .navbar-nav>li>a {
	 color: #f77002;}
#cabecera_nf #contenidocab_nf #contenidocab5_nf {
	padding: 0 0 0 49px;
	margin:0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dddddd;
	background-color:#f77002;

}

#contenido_miga {

		padding: 0px;
		background-color:#fff;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #dddddd;	}
.menu_opciones1 {
		list-style:none;
	   background-color:#fff;
		font-size:12px;
		padding:  3px 10px;
		border-radius: 0px;
		margin:0px;}

ul.menu_opciones1 li{
		margin-right:15px;
		display:inline;}

.menu_opciones2 {
		float:right;
		background-color:#fff;
		font-size:12px;
		padding:  3px 10px;
		border-radius: 0px;
		margin: 0 25px 0 0 ;
		list-style:none;}


#contenido_nf.container {
	margin: 0px;
    padding: 0px;
    width: 100%;}
.alert-info {
	color: #31708f;
	background-color: #EDF7FC;
	border-color: #DEF3F8;
}

#ImgLupa0, #btnExcel0{
	display:none;
}





.lk_comentarios {
	float: right;
	margin: 0px;
	padding: 0px;}


/*.panel-default>.panel-heading  {
	background-color:#ffa700;
   color: #FFF;
	font-weight:bold;}*/
.panel-sec {
    border-color: #ddd;}

.panel-sec>.panel-heading  {
	background-color:#ffc75a;
    color: #FFF;
	font-weight:bold;
    /*text-shadow: rgba(0, 0, 0, 0.5) 2px 1px 0px;*/
    text-transform: uppercase;
}

.btn-link {
	color:#F77002;}

.page-header {
    padding-bottom: 0px;
    margin: 10px 0px;
    border-bottom: none;
}

.page-header h1 {
	font-size: 14px;
	font-weight: bold;
	color: #F77002;
	background-attachment: scroll;
	background-image: url(../img/ligrande.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 20px;}



.btn-sec{
	color: #F77002;
    background-color: #fff;
	border-top-color: #FEB87E;
	border-right-color: #FEB87E;
	border-bottom-color: #FEB87E;
	border-left-color: #FEB87E;
}

.btn-sec:hover{

    color: #ffa700;
    background-color: #fffaf6;

    border-color: #ffa700;}
.btn-sec-inverted{
	color: #fff;
    background-color: #F77002;
	border-top-color: #F77002;
	border-right-color: #F77002;
	border-bottom-color: #F77002;
	border-left-color: #F77002;
}

.btn-sec-inverted:hover{
	background-color: #ffa700;
   color: #fffaf6;   }

.btn-link:hover{
	color:#ffa700;}


.form-group {
      font-size: 12px;
   margin-bottom: 5px;
}


.input-group .btn{
    margin-top:0;
    top:0;
    /*padding: 3px 6px;*/}

.control-label {
	color:#999;
	font-weight:normal;
  	margin: 1px  0px;}
.linkdotted {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
   }
.tooltip {
    cursor: pointer;
}
.tooltip-inner{background-color:rgba(0, 0, 0, 0.7);}
.tooltip.top .tooltip-arrow{border-top-color:rgba(0, 0, 0, 0.7);}
.tooltip.top-left .tooltip-arrow{border-top-color:rgba(0, 0, 0, 0.7);}
.tooltip.top-right .tooltip-arrow{border-top-color:rgba(0, 0, 0, 0.7);}
.tooltip.right .tooltip-arrow{border-right-color:rgba(0, 0, 0, 0.7);}
.tooltip.left .tooltip-arrow{border-left-color:rgba(0, 0, 0, 0.7);}
.tooltip.bottom .tooltip-arrow{border-bottom-color:rgba(0, 0, 0, 0.7);}
.tooltip.bottom-left .tooltip-arrow{border-bottom-color:rgba(0, 0, 0, 0.7);}
.tooltip.bottom-right .tooltip-arrow{border-bottom-color:rgba(0, 0, 0, 0.7);}




.modal-body-450max {
    max-height: 450px;
    overflow-y: auto; }

.modal-body-xs{
    max-height: 300px;
    max-width:500px;
    padding:0;
    overflow: auto;}


.modal-footer .btn+.btn {
     margin:5px; }

.btn-link:focus, .btn-link:hover, btn-link:active {
	outline:0px;
}


.btn.text_xxl{
	font-size: 25px;
	width:100%;
	color: #FC9;
	font-weight: lighter;
}
.btn.text_xxl:hover{
	font-size: 25px;
	width: 100%;
	color: #F90;
	font-weight: 100;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

  /*  padding-right: 10px;
    padding-left: 10px;*/
}
.blockUI h1 {
    font-size: 14px;
	font-weight: bold;
	color: #F77002;

}

@media (max-width:930px){
    html body {
	    background-image: none; }
    .navbar-brand{
	    display:none;}
    .navbar-brand2{
	    display:block;}
    #contenidocab_nf{
	    margin-left: 0px;}
    #contenido_nf {
	    width:100%;
	    margin-left: 0px;}
    .navbar-collapse {
        border-color: #f4f4f4;
        /*width:100%;*/}
    #cabecera_nf #contenidocab_nf #contenidocab4_nf {
        margin: 0px;
        padding: 0 0 0 0px;
    }
    #cabecera_nf #escudogob_nf {
        width: 0px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #dddddd;
        float: left;
    display:none;
    }

    #cabecera_nf #contenidocab_nf #contenidocab5_nf {
        padding: 0px;}}



/* MENÚ IZQUIERDA ACORDEÓN*/

#menu_izda .panel-default>.panel-heading {
	background-color: #f7f7f7;
   color: #666;}
#menu_izda a {
   color: #666;}
#menu_izda .panel-default>.panel-heading a:hover{
	color: #666;}
#menu_izda .panel-default>.panel-heading a:focus{
	color: #000;}
#menu_izda .panel-body {
	padding:0px; }
#menu_izda .container-fluid {
     padding-right: 0px;
     padding-left: 0px; }
#menu_izda .container-fluid>.navbar-collapse, #menu_izda .container-fluid>.navbar-header, #menu_izda .container>.navbar-collapse, #menu_izda .container>.navbar-header {
     margin-right: -15px;
     margin-left: -15px;}


.panel-body table tr td, .panel-body table tr th {
	padding-left: 10px }
.panel-body .table {
	margin-bottom: 0px; }
.panel-title {
	text-align:left;}

/* Estilos necesarios para el calendario */
.ui-datepicker {
    font-size:14px;
}
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
     background-color: #fff;


}
    .ui-datepicker-month {
       color:black;}
    .ui-datepicker-year {
       color:black;}
    .ui-datepicker select {
        color:black !important;}

/* ESTILO PARA PANEL COLLAPSE, alternancia de icono ">" */
.panel-title .btn:after {
    margin-top:3px;
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    font-size:10px;
    margin-left: 10px;
  }
  /* Icon when the collapsible content is hidden */
  .panel-title .btn.collapsed:after {
    content: "\e080";
  }
  .icocoll .btn:after {
    margin-top:3px;
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    font-size:10px;
    margin-left: 10px;
  }
  /* Icon when the collapsible content is hidden */
  .icocoll .btn.collapsed:after {
    content: "\e080";
  }
  /* FIN ESTILO PARA PANEL COLLAPSE, alternancia de icono ">" */


/* Estilos alerta y confirmación*/
.jmgmodal {
    position: fixed;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.6);
    box-sizing: content-box;
    /*visibility: hidden;*/
    display:none;
     opacity: 0;
    transition: all .12s;
    z-index: 10000;}
.jmgmodal.visible {
    display:block; opacity: 1;}
    /*visibility: visible; opacity: 1;}*/
.jmgmodal * {
    box-sizing: inherit}
.jmgmodal .panel {
    position: relative; margin: auto;
    top:40px;left:0;right:0;bottom:0;
    max-width: 600px; max-height: 70vh;
    background: #fff;
    border-radius:5px;
    color: #000; padding: 50px 0;
    transform: translateY(-25%);
    transition: all .12s;}
.jmgmodal.nofooter .panel {
    padding: 50px 0 0 0;}
.jmgmodal.visible .panel {
    transform: none;}
.jmgmodal .title {
	color: #fff;
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 5px 5px 0px 0px;
	font-weight: bolder;
	padding: 0px 10px 5px 45px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	background-attachment: scroll;
	background-color: #ffc75a;
	background-image: url(../img/logomodal_sm.png);
	background-repeat: no-repeat;
	background-position: 10px  7px;}

.jmgmodal .panel .close {
    position: absolute; top: .25em; right: .75em;
    cursor: pointer; font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.jmgmodal .panel .content {
    max-height: 100%; overflow: auto;
    padding: 1em; box-sizing: border-box;
    }
.jmgmodal .panel .content iframe:only-child {
    border: 0; width: 100%;
    height: 100%; height: 80vh;
    min-height: 200px;}
.jmgmodal .panel .content img:only-child {
    width: 100%; max-width: 100%;}
.jmgmodal .panel .footer {
    position: absolute;
    border-radius:0px 0px 5px 5px;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;}

 /* fin Estilos alerta y confirmación*/


/*Estilos necesarios para hacer scroll en el autocompletar*/
     .ui-autocomplete {
         max-height: 200px;
         overflow-y: auto;
         overflow-x: hidden;  }
     * html .ui-autocomplete {
         height: 100px;  }
/* fin Estilos necesarios para hacer scroll en el autocompletar*/


/*Botón ir arriba cuando está activo el scroll*/
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display:none;}
    .btn-sec2 {
       color: #fff;
	   background-color: rgba(0, 0, 0, 0.3);}
/*fin Botón ir arriba cuando está activo el scroll*/

.texto_small {
	font-size:10px;}
.texto_regular {
	font-size:12px;}
.texto_xl {
	font-size:14px;}
.marginlados {
	margin-left: 8px;
	margin-right: 8px;}
.black {
	color:#000;}
.gray_light {
	color:#CCC;}
.gray9 {
	color:#999;}
.gray6 {
	color:#666 !important;}
.textorojo {
    COLOR:#f70202;}
.textogris {
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none}
.hand {
    cursor:pointer;}
.red {
    color:#C00;}
.input30{
	width:30px;}
.float_right{
    float:right;}
.float_left{
    float:left;}
.white{
	color:#ffffff;}
.white:focus,.white:hover{
	color:#ffffff;}
.txt_negro {
	color: #333;}
.margin1{
    margin: 5px;}
.margintop20 {
    margin-top:20px;}
.paddingtop20 {
    padding-top:20px;}
.margintop10 {
    margin-top:10px;}
.width300{
    width: 300px;}
.azul{
    color:#78d5d5;}
.panel-comentarios  {
	background-color:#099;
    color: #FFF;
	font-weight:bold;}
.marginpadding0 {
	margin:0px;
	padding:0px;}
.margin-10 {
	margin-left:-10px;}
.li_cuadrorojo {
	background-image: url(../img/cuadro_li_naranja.gif);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 5px 4px;}
.textodestacado {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
	padding: 10px;	}
.limpialados {
    clear:both;}
.absolute {
    position:absolute;}
.icoxxl{
    font-size:90px;}
.fa-4 {
    font-size: 50px;}
.fa-3 {
    font-size: 30px;}
.fa-2 {
    font-size: 20px;}
.fa-1 {
    font-size:13px;}
.large {
    font-size:115%;}
.list-group-item:hover {

    background-color:#f4f4f4;
}
.list-group-item a,.list-group-item a:hover {
        color:#777;
}

@media (max-width: 997px) {
/*Corrección de alineamiento de los control-label en pantallas de menos de 997px*/
  .form-horizontal .control-label {
     text-align: left;}
}
@media (max-width: 768px) {
/* Corrección de estilos para visualizar 2 columnas en móviles con textos largos continuos (ej: RC) */
  .panel-body{
    padding:5px;}
  .text-responsive {
    font-size:0.7em; }

/*Corrección de alineamiento de los control-label en iPad*/
  .form-horizontal .control-label {
     text-align: left;}
}
.text-info a {
    color:#31708f;
    text-decoration:underline;}
.text-success a {
    color:#3c763d;
    text-decoration:underline;}
.text-warning a {
    color:#c7b735;
    text-decoration:underline;}
.text-danger a {
    color:#a94442;
    text-decoration:underline;}

label.text-info  {
    color:#31708f;}
label.text-success {
    color:#3c763d;}
label.text-warning  {
    color:#c7b735;}
label.text-danger {
    color:#a94442;}
.btn {
    margin: 2px;}
.botonera {
    margin:40px 0px 3px 0px;
}
.botonera_der {
    margin-left:150px;
    text-align:right;
}
.botonera_izd{
position:absolute;
float:left;
}

.plan {
	background: #FFF;
	border-radius: 5px;
	margin-bottom: 35px;
	margin-right: -41px;
	position: relative;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.plan-ribbon-wrapper {
	height: 55px;
	overflow: hidden;
	position: absolute;
	right: -3px;
	top: -3px;
	width: 55px;
}
.plan-ribbon {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-image: -webkit-linear-gradient(top, #def3ab, #c9e89a);
	background-image: linear-gradient(to bottom, #def3ab, #c9e89a);
	background-color: #bfdc7a;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	color: #666;
	font-size: 9px;
	left: -5px;
	position: relative;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	top: 5px;
	width: 100px;
}

.plan-ribbon:before {
	left: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	bottom: -3px;
	content: "";
	position: absolute;
}

.plan-ribbon:after {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	bottom: -3px;
	content: "";
	position: absolute;
	right: 0;
}
@media (max-width: 900px)
{
.modal-dialog {
    width: auto !important;
    margin: 30px auto;
}}

.wordwrap {
     word-break: break-all;
}



/*----------------------------------- MODELO ÚNICO DECLARACIÓN -----------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

			.hrfases {
			margin:30px 0px;
			color:#e5e5e5;
			border: 2px solid #e5e5e5;}

			/*Activo*/
			h2.est0{
			font-size:18px;
				margin-top:1px;
				text-transform:uppercase;}

			/*Inactivo - sin rellenar*/
			h2.est1 {
				color:#d0d0d0;
			}

			/*Inactivo - ya validado*/
			h2.est2 {
				color:#8a8a8a;
			}

			/*Activo*/
			h2  {
				color:#000;
			}
			.text-xxs{
			font-size:0.8em;}

			/*BOTONES ALTERACIÓN*/
			.btnalt {
                height:100px;
				padding-top:63px;
				vertical-align:bottom;
				width:90px;
				height:80px;}

            .btnalt2 {

				padding-top:62px;
				vertical-align:bottom;
				width:290px;
				height:100px;}

			.btntitularidad {
				background-image: url("../img/titularidadoff.png");
				background-repeat: no-repeat; }
			.btntitularidad:hover {
				background-image: url("../img/titularidadover.png");
				background-repeat: no-repeat;}
			.btntitularidadon {
				background-image: url("../img/titularidadon.png");
				background-repeat: no-repeat;}

			.btnconstrucciones {
				background-image: url("../img/construccionesoff.png");
				background-repeat: no-repeat; }
			.btnconstrucciones:hover {
				background-image: url("../img/construccionesover.png");
				background-repeat: no-repeat;}
			.btnconstruccioneson {
				background-image: url("../img/construccioneson.png");
				background-repeat: no-repeat; }

			.btndemolicion {
				background-image: url("../img/demolicionoff.png");
				background-repeat: no-repeat; }
			.btndemolicion:hover {
				background-image: url("../img/demolicionover.png");
				background-repeat: no-repeat;}
			.btndemolicionon {
				background-image: url("../img/demolicionon.png");
				background-repeat: no-repeat; }


			.btncambioparcela {
				background-image: url("../img/cambioparcelaoff.png");
				background-repeat: no-repeat; }
			.btncambioparcela:hover {
				background-image: url("../img/cambioparcelaover.png");
				background-repeat: no-repeat;}
			.btncambioparcelaon {
				background-image: url("../img/cambioparcelaon.png");
				background-repeat: no-repeat; }

			.btncambiolocales {
				background-image: url("../img/cambiolocalesoff.png");
				background-repeat: no-repeat; }
			.btncambiolocales:hover {
				background-image: url("../img/cambiolocalesover.png");
				background-repeat: no-repeat;}
			.btncambiolocaleson {
				background-image: url("../img/cambiolocaleson.png");
				background-repeat: no-repeat; }


			.btndivisionhorizontal {
				background-image: url("../img/divisionhorizontaloff.png");
				background-repeat: no-repeat; }
			.btndivisionhorizontal:hover {
				background-image: url("../img/divisionhorizontalover.png");
				background-repeat: no-repeat;}
			.btndivisionhorizontalon {
				background-image: url("../img/divisionhorizontalon.png");
				background-repeat: no-repeat; }


			.btncambiocultivo {
				background-image: url("../img/cambiocultivooff.png");
				background-repeat: no-repeat; }
			.btncambiocultivo:hover {
				background-image: url("../img/cambiocultivoover.png");
				background-repeat: no-repeat;}
			.btncambiocultivoon {
				background-image: url("../img/cambiocultivoon.png");
				background-repeat: no-repeat; }

			.btncambiouso {
				background-image: url("../img/cambiousooff.png");
				background-repeat: no-repeat; }
			.btncambiouso:hover {
				background-image: url("../img/cambiousoover.png");
				background-repeat: no-repeat;}
			.btncambiousoon {
				background-image: url("../img/cambiousoon.png");
				background-repeat: no-repeat; }

            .btn900D {
				background-image: url("../img/ico_900D.png");
				background-repeat: no-repeat;

            }

			.btn900D:hover {
				background-image: url("../img/ico_900Don.png");
				background-repeat: no-repeat;

			}
			.btn900Don {
				background-image: url("../img/ico_900Don.png");
				background-repeat: no-repeat;

			}

			#drag1, #drag2,#drag3, #drag4,#drag5, #drag6,#drag7, #drag8{
				border:3px dotted #e6e6e6;
				min-height:30px;
				padding:10px;}

            .alt1_bgcolor {
               background-color: #b5dbff !important;}
            .alt2_bgcolor {
                background-color: #ffdab6 !important;}
            .alt3_bgcolor {
                background-color: #ffd6d5 !important;}
            .alt4_bgcolor {
                background-color: #bff9f9 !important;}
            .alt5_bgcolor {
                background-color: #bff9f9 !important;}
            .alt6_bgcolor {
                background-color: #bff9f9 !important;}
            .alt7_bgcolor {
                background-color: #ffd6d5 !important;}
            .alt8_bgcolor {
                background-color: #ffd6d5 !important;}


/*----------------------------------- fin MODELO ÚNICO DECLARACIÓN -----------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/


blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size:inherit;
    border-left: 5px solid #f4f4f4;
}
.bg-gray {
background-color:#f4f4f4 !important; }


