{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/vendors/Chart.bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/Charts.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/ChartsView.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/SingleChart.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_charts')) {
		
		$.ajax({
			type : 'POST',
			async : false,
			url : '/gvsigonline/charts/get_conf/',
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			success : function(response) {
				var chartLayers = response.layers;
				var chartsPlugin = new Charts(conf, map, chartLayers);		
				
			},
			error : function() {
				messageBox.show('error', gettext('Error loading charts plugin'));
			}
		});
	}
	
	
</script>