{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/vendors/geocoding/jquery.autocomplete.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/widgets/search.js" %}"></script>
<script type="text/javascript">

	$.ajax({
		type : 'POST',
		async : false,
		url : '/gvsigonline/geocoding/get_conf/',
		beforeSend : function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		},
		success : function(response) {
			var map = viewer.core.getMap();
		    
			var ui = '';
			ui += '<div class="viewer-search-form">';
			ui += 	'<div class="input-group">';
			ui += 		'<input type="text" name="search-widget-input" id="autocomplete" class="form-control" placeholder="' + gettext("Search") + '...">';
			ui += 		'<span class="input-group-btn">';
			ui += 			'<button type="submit" name="search" id="search-btn" class="btn btn-flat">';
			ui += 				'<i class="fa fa-search"></i>';
			ui += 			'</button>';
			ui += 		'</span>';
			ui += 	'</div>';
			ui += '</div>';
			
			$('#viewer-navbar').append(ui);
			
			new search(map, response);
		},
		error : function() {
			alert("Error loading geocoder");
		}
	});
	

	
</script>