{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/print.js" %}"></script>
<script type="text/javascript">
	
	var map = publicViewer.core.getMap();
	var conf = publicViewer.core.getConf();
	
	$.ajax({
		type : 'POST',
		async : false,
		url : '/gvsigonline/print/get_conf/',
		beforeSend : function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		},
		success : function(response) {
			var printProvider = response;
			
			var button = '<li><a href="#" id="print" class="dropdown-toggle"> <i style="font-size: 18px;" class="fa fa-print"></i></a></li>';
			$('#toolbar-buttons').append(button);
		
			var tool = new print(printProvider, conf, map);
			publicViewer.core.loadTool(tool);
			
		},
		error : function() {
			messageBox.show('error', gettext('Error loading print plugin'));
		}
	});
	
</script>