{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/print.js" %}"></script>
<script type="text/javascript">

	var button = '';
	button += '<li><a href="#" id="print" class="dropdown-toggle"> <i style="font-size: 18px;" class="fa fa-print"></i></a></li>';

	$('#toolbar-buttons').append(button);
	
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	var tool = new print(conf, map);
	viewer.core.loadTool(tool);
	
</script>