{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/print.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	$.ajax({
		type : 'POST',
		async : false,
		url : '/gvsigonline/print/get_conf/',
		beforeSend : function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		},
		success : function(response) {
			var printProvider = response;
			
			var button = '<li id="print-div" title="'+gettext("Print map")+'"><a href="#" id="print" class="dropdown-toggle"> <i style="font-size: 18px;" class="fa fa-print"></i></a></li>';
			$('#toolbar-buttons').append(button);
		
			if( navigator.userAgent.toLowerCase().indexOf('firefox') > -1 ){ 
				var tool = new print(printProvider, conf, map);
				viewer.core.loadTool(tool);
			}else{
				$("#print").on('click', function(e) {
					e.preventDefault();
					
					var body = '';
					body += '<div class="row">';
					body += 	'<div class="col-md-12 form-group">';
					body += 		'<label for="export-map-title">' + gettext('Function not available') + '</label><br />';
					body += 		'<label class="export-map-content" style="font-weight: normal;">' + gettext('This functionality is only available on Mozilla Firefox') + '</label>';					
					body += 	'</div>';
					body += '</div>';
					
					$('#float-modal .modal-body').empty();
					$('#float-modal .modal-body').append(body);
					
					var buttons = '';
					buttons += '<button id="float-modal-accept-print" type="button" class="btn btn-default">' + gettext('Print') + '</button>';
					
					$('#float-modal .modal-footer').empty();
					$('#float-modal .modal-footer').append(buttons);
					
					$("#float-modal").modal('show');
					
					var self = this;	
					$('#float-modal-accept-print').on('click', function () {
						$('#float-modal').modal('hide');
					});
				});
			}
			
			
		},
		error : function() {
			messageBox.show('error', gettext('Error loading print plugin'));
		}
	});
	
	
	
</script>