{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/StreetView.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_streetview')) {
		$.ajax({
			type : 'POST',
			async : false,
			url : '/gvsigonline/streetview/get_conf/',
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
			success : function(response) {
				var apiKey = response.API_KEY;
				
				var tool = new StreetView(conf, map, apiKey);
				viewer.core.loadTool(tool);
				
				
			},
			error : function() {
				messageBox.show('error', gettext('Error loading samplemenubutton plugin'));
			}
		});
	}
	
	
</script>