<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load include_if_exists %}
<html>
<head>
	
	<title>{{GVSIGOL_NAME}}</title>
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="stylesheet" href="{% static "js/vendors/bootstrap-3.3.6/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/fontcustom2/fontcustom.css" %}">
	<link rel="stylesheet" href="{% static "css/googlefonts.css" %}">
	<link rel="stylesheet" href="{% static "css/gvsigOL.css" %}">
	<link rel="stylesheet" href="{% static "css/skins/_all-skins.min.css" %}">
    
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body class="hold-transition layout-top-nav">

	<div class="wrapper">

		<header class="main-header">
			<nav class="navbar navbar-static-top background-grey">
				<div class="container">
					<div class="navbar-header index">
        				<img src="{% static 'img/logo_small.png' %}"></img><span style="font-size:36px; font-weight: 500; padding-left: 25px">{% trans 'Download service' %}</span>
					</div>
				</div>
			</nav>
		</header>

		<div class="content-wrapper background-grey">
			<div class="container">
				<section class="content background-grey">
				<h3>{% trans "Status: " %}{{ download_status }}</h3>
				{% if request_desc %}
				<h4>{% trans "Generic request" %}</h4>
				{% if pending_authorization %}
				<p>{% trans "The request has to be analysed and processed." %}</p>
				{% endif %}
				<div class="row"><div class="col-md-12 form-group">
					<label for="request_desc">{% trans "Request description" %}</label>
					<textarea readonly class="form-control" name="request_desc" id="request_desc" rows="5">{{request_desc}}</textarea>
				</div></div>
				<div class="row"><div class="col-md-12 form-group">
					<label for="organization">{% trans "Organization" %}</label>
					<input type="text" readonly class="form-control" name="organization" id="organization" rows="5" value="{{organization}}">
				</div></div>
				<div class="row"><div class="col-md-12 form-group">
					<label for="usage">{% trans "Intended usage" %}</label>
					<textarea readonly class="form-control" name="usage" id="usage" rows="5">{{usage}}</textarea>
				</div></div>
				{% endif %}
				{% if links %}
					<h4>{% trans "Requested resources: " %}</h4>
					<table class="table">
					<tr><th>{% trans "Name" %}</th><th>{% trans "Approval" %}</th><th>{% trans "Status" %}</th><th>{% trans "Valid to" %}</th><th>{% trans "URL" %}</th></tr>
					{% for link in links %}
						<tr>
							<td>{{ link.name }}
							{% if link.locators %}
							<ul>
							{% for locator in link.locators %}
								<li>{{ locator.name }}</li>
							{% endfor %}
							</ul>
							{% endif %}
							</td>
							<td>{{ link.authorization_desc }}</td>
							<td>{{ link.status }}</td>
							<td>{{ link.valid_to }}</td>
							<td><a href="{{ link.download_url }}">{{ link.download_url }}</a></td>
						</tr>
					{% endfor %}
					</table>
				{% endif %}
				<h4>{% trans "Download request: " %}{{ download_uuid }}</h4>
				<p>{{details}}</p>
				</section>
			</div>
		</div>

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>{% trans "Version" %}</b> {{GVSIGOL_VERSION}}
			</div>
<!-- 			<strong>Copyright &copy; 2016 <a -->
<!-- 				href="http://www.scolab.es">SCOLAB</a>. -->
<!-- 			</strong> {% trans "All rights reserved" %}. -->
		</footer>

		
	</div>

	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

	<script type="text/javascript" src="{% static "js/vendors/jQuery/jQuery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/gvsigOL.js" %}"></script>
</body>
</html>