{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box padding-20">
			<form role="form" method="post" action="/gvsigonline/services/base_layer/base_layer_add/">
				{% csrf_token %}
				<div class="box-header with-border">
					<h3 class="box-title">{% trans "Add base layer" %}</h3>
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
					</div>
				</div>					
				<div class="box-body">
				
					{% if form.errors %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
								<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						{% for field, msg in form.errors.iteritems %}
							<li>{{ msg|striptags }}</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
					
					<div class="row">		
						<div class="col-md-12 form-group">
							<label for="id_name">{% trans "Name" %}</label>
							{{ form.name }}
						</div>	
					</div>
					
					<div class="row">		
						<div class="col-md-12 form-group">
							<label for="id_title">{% trans "Title" %}</label>
							{{ form.title }}
						</div>	
					</div>
					
					<div class="row">		
						<div class="col-md-12 form-group">
							<label for="id_type">{% trans "Type" %}</label>
							{{ form.type }}
						</div>	
					</div>
					
					<div class="row layers-control wms-control wmts-control">		
						<div class="col-md-12 form-group">
							<label for="id_version">{% trans "Version" %}</label>
							{{ form.version }}
						</div>	
					</div>
					
					<div class="row layers-control xyz-control wms-control wmts-control osm-control">		
						<div class="col-md-12 form-group">
							<label for="id_url">{% trans "Url" %}</label>
							{{ form.url }}
						</div>	
					</div>
										
					<div class="row layers-control bing-control wms-control wmts-control">		
						<div class="col-md-12 form-group">
							<label for="id_layers">{% trans "Layers" %}</label>
							{{ form.layers }}
							<datalist id="id_layer_list">
							</datalist>
						</div>	
					</div>
					
					<div class="row layers-control wms-control wmts-control">		
						<div class="col-md-12 form-group">
							<label for="id_format">{% trans "Format" %}</label>
							{{ form.format }}
							<datalist id="id_format_list">
							</datalist>
						</div>	
					</div>
					
					<div class="row layers-control bing-control">		
						<div class="col-md-12 form-group">
							<label for="id_apikey">{% trans "Api-key" %}</label>
							{{ form.key }}
						</div>	
					</div>
																	
				</div>									
			</form>	
		</div>
	</div>				
</div>

{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-baselayers').addClass("active");
</script>
<script type="text/javascript">
$().ready(function(){ 
	
	function updateFormfields(){
		var type = $("#id_type option:selected").val();
		$(".layers-control").css("display","none");
		$("."+type.toLowerCase()+"-control").css("display","block");
	};
	
	$("#id_type").change(function(){
		updateFormfields();
	})
	
	updateFormfields();
	
	$("#id_url").keyup(function() {
		//getLayersFromCapabilities(this.value);
		url = this.value;
		type = $("#id_type option:selected").val()
		version = $("#id_version option:selected").val()
		
		getNewLayersFromCapabilities(url, type, version);
	});
	
	function getNewLayersFromCapabilities(url, type, version){
		$.ajax({
	        type: "POST",
			url: "/gvsigonline/services/base_layer/get_capabilities_from_url/",
			async: false,
			beforeSend:function(xhr){
			    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			data:{
				'url': url,
				'type': type,
				'version': version
			},
			success: function(data) {
				
				 if('layers' in data){
					$("#id_layer_list").empty();
					var layers = data['layers'];
					for(var i=0;i<layers.length; i++){
	 					$("#id_layer_list").append('<option value="' + layers[i] + '">' + layers[i] + '</option>');
					}
				}
				 
				 if('formats' in data){
					 $("#id_format_list").empty();
						var layers = data['formats'];
						for(var i=0;i<layers.length; i++){
		 					$("#id_format_list").append('<option value="' + layers[i] + '">' + layers[i] + '</option>');
						}
					}
			}
		});
		
	}
	
});
</script>
{% endblock %}