<li class="treeview">
	<a href="#"> 
		<i class="fa fa-globe"></i> 
		<span>Servicios</span> 
		<i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
		<li class="active">
			<a href="index.html"><i class="fa fa-folder"></i> Espacios de trabajo</a>
		</li>
		<li>
			<a href="index2.html"><i class="fa fa-database"></i> Almacenes de datos</a>
		</li>
		<li>
			<a href="index2.html"><i class="fa fa-object-group"></i> Grupos de capas</a>
		</li>
		<li>
			<a href="index2.html"><i class="icon-layers"></i> Capas</a>
		</li>
	</ul>
</li>