{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<form role="form" method="post" action="/gvsigonline/services/enumeration_update/{{eid}}/">	
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
					</div>
				</div>				
			</div>
			<div class="box">
				{% csrf_token %}					
				{% if form.errors %}
				<div id="form-error" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}
						
				{% if message %}
				<div id="form-error" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="box-body">				
					<div class="row form-group">
						<div class="col-md-12">
							<label for="enumeration_name">{% trans "Name" %}</label>
							<input readonly name="enumeration_name" id="enumeration_name" type="text" class="form-control" value="{{enumeration.name}}">									
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="enumeration_title">{% trans "Title" %}</label>
							<input name="enumeration_title" id="enumeration_title" type="text" class="form-control"  value="{{enumeration.title}}">								
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">
							<label for="order_type">{% trans "Order type" %}</label>
							<select class="form-control" id="order_type" name="order_type" tabindex="-1" aria-hidden="true">
								{% if enumeration.order_type == MANUAL %}
									<option value="{{ MANUAL }}" selected>{% trans "Manual" %}</option>
								{% else %}
									<option value="{{ MANUAL }}">{% trans "Manual" %}</option>
								{% endif %}
								{% if enumeration.order_type == ALPHABETICAL %}
									<option value="{{ ALPHABETICAL }}" selected>{% trans "Alphabetical" %}</option>
								{% else %}
									<option value="{{ ALPHABETICAL }}">{% trans "Alphabetical" %}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<br>
					<div id="enumeration-items" class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">{% trans "Enumeration items" %}</h3>
								</div>
								<div id="enumeration-items-list" class="box-body">
									<div id="toc" class="toc">
										{% for item in items %}
											{% with counter=forloop.counter %} 
											<div id="item-{{counter}}" data-itemid="{{item.id}}" data-name="{{item.name}}" data-order="{{item.order}}" class="box box-default collapsed-box toc-enumeration-item enumeration-item" style="border-top: none;">
												<div class="box-header">
													<div class="handle">
														<div class="row" style="margin: 0; width: 100%;">
															{% if enumeration.order_type == MANUAL %}
																<div class="col-md-1" style="padding-right: 5px;">
																	<span class="" style="margin-right: 20px;">
																		<i class="fa fa-ellipsis-v"></i>
																		<i class="fa fa-ellipsis-v"></i>
																	</span>
																</div>
															{% endif %}
															<div class="col-md-9">
																<input pattern="^[^;]+$" title="{% trans "Enumeration cannot contain point-colon" %}" placeholder="{% trans 'Insert item name' %}" name="item-content-{{item.id}}" id="item-content-{{item.id}}" type="text" class="form-control" value="{{item.name}}">
															</div>
															<div class="col-md-2">
																<button type="button" data-itemid="{{item.id}}" name="button-delete-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Delete" %}" class="btn btn-danger btn-sm delete-item"><i class="fa fa-times"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
									</div>
								</div>
								<div class="box-footer clearfix">
									<a id="add-item-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
										<i class="fa fa-plus margin-r-5"></i>{% trans "Add item" %}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>				
	</div>
	<input type="hidden" id="toc_value" name="toc_value" value=""/>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
$('#menu-manage-datatypes').addClass("active");
$('#submenu-enumerations').addClass("active");

$(document).ready(function() {
	var itemCount = parseInt("{{count}}");
	var isManualOrder = "{{enumeration.order_type}}" === "{{MANUAL}}";
	
	if (isManualOrder) {
		$('.toc-enumeration-item .handle').each(function() {
			if ($(this).find('span').filter(function() {
				return $(this).find('.fa-ellipsis-v').length > 0;
			}).length === 0) {
				$(this).prepend('<span class="" style="margin-right: 20px;"><i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i></span>');
			}
		});
		
		$(".toc").sortable({
			placeholder: "sort-highlight",
			handle: ".handle",
			forcePlaceholderSize: true,
			zIndex: 999999
		});
	} else {
		$('.toc-enumeration-item .handle').each(function() {
			var handle = $(this);
			var ellipsisSpan = handle.find('span').filter(function() {
				return $(this).find('.fa-ellipsis-v').length > 0;
			});
			ellipsisSpan.remove();
		});
	}
	
	$('#order_type').change(function() {
		var selectedOrderType = $(this).val();
		var isManual = selectedOrderType === "{{MANUAL}}";
		
		if (isManual) {
			$('.toc-enumeration-item .handle .row').each(function() {
				if ($(this).find('.fa-ellipsis-v').length === 0) {
					$(this).prepend('<div class="col-md-1" style="padding-right: 5px;"><span class="" style="margin-right: 20px;"><i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i></span></div>');
				}
			});
			
			$(".toc").sortable({
				placeholder: "sort-highlight",
				handle: ".handle",
				forcePlaceholderSize: true,
				zIndex: 999999
			});
		} else {
			$('.toc-enumeration-item .handle .row').each(function() {
				$(this).find('.col-md-1').remove();
			});
			
			$(".toc").sortable("destroy");
		}
	});
	
	$(document).on('click', '.delete-item', function(e){
    e.preventDefault();
    e.stopPropagation();
    var itemId = $(this).data('itemid');
    
    var itemElement = $(this).closest('.toc-enumeration-item');
    
    if (itemElement.length > 0) {
        itemElement.remove();
    } else {
        console.log("Element not found for ID:", itemId);
    }
});
	
	$("#add-item-button").on('click', function(e){
		e.preventDefault();
		e.stopPropagation();
		
		var selectedOrderType = $('#order_type').val();
		var isManual = selectedOrderType === "{{MANUAL}}";
		
		var ui = '';
		ui += '<div id="item-' + itemCount + '" data-itemid="' + itemCount + '" class="box box-default collapsed-box toc-enumeration-item enumeration-item" style="border-top: none;">';
		ui += 	'<div class="box-header">';
		ui += 		'<div class="handle">';
		ui += 			'<div class="row" style="margin: 0; width: 100%;">';
		
		if (isManual) {
			ui += 				'<div class="col-md-1" style="padding-right: 5px;">';
			ui += 					'<span class="" style="margin-right: 20px;">';
			ui += 						'<i class="fa fa-ellipsis-v"></i> ';
			ui += 						'<i class="fa fa-ellipsis-v"></i>';
			ui += 					'</span>';
			ui += 				'</div>';
		}
		ui += 				'<div class="col-md-9">';
		ui += 					'<input pattern="^[^;]+$" title="'+gettext("Enumeration cannot contain point-colon")+'" placeholder="' + gettext('Insert item name') + '" name="item-content-' + itemCount + '" id="item-content-' + itemCount + '" type="text" class="form-control">';
		ui += 				'</div>';
		ui += 				'<div class="col-md-2">';
		ui += 					'<button type="button" data-itemid="' + itemCount + '" class="delete-item btn btn-danger btn-sm"><i class="fa fa-times"></i></button>';
		ui += 				'</div>';
		ui += 			'</div>';
		ui += 		'</div>';
		ui += 	'</div>';
		ui += '</div>';
		
		$('#toc').append(ui);
		itemCount++;
	});
	
	$('form').submit(function(e) {
		var selectedOrderType = $('#order_type').val();
		var isManual = selectedOrderType === "{{MANUAL}}";
		
		if (isManual) {
			var toc = {};
			var root = $('#toc');
			var itemList = root.children();
			
			for (var i = 0; i < itemList.length; i++) {
				var item = $(itemList[i]);
				var itemId = item.data('itemid');
				var itemOrder = i;
				var itemName = item.find('input[name^="item-content-"]').val() || ''; 
				
				var itemData = {
					'id': itemId,
					'name': itemName,
					'order': itemOrder
				};
				toc[itemId] = itemData;
			}
			
			$("#toc_value").val(JSON.stringify(toc));
		} else {
			// Para orden alfabético: limpiar el toc_value y usar item-content-*
			$("#toc_value").val('{}');
		}
	});
});
</script>
{% endblock %}