{% load i18n %}
			{% for table in tables %}
			<tr>
				<td><button class="btn-floating btn-flat waves-effect waves-light light-green" title="{% trans 'Select row' }" data-placement="bottom" data-toggle="tooltip" name="button-select-row" type="button"><i class="fa fa-checkt"></i></button></td>
				<td>{{ table.schema }}</td>
				<td>{{ table.name }}</td>
				<td>{{ table.geom_column }}</td>
				<td>{{ table.geom_type }}</td>
				<td>{{ table.srs }}</td>
				<td>{{ table.fields|join:"," }}</td>
				<td>{{ table.key_column|join:"," }}</td>
			</tr>
			{% endfor %}