{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">

			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Import layer from database" %}</h3>
			</div>

			<form role="form" method="post" action="/gvsigonline/services/layer_add/">
				<div class="box-body">
				{% csrf_token %}					
					{% if form.errors %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
								<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						</ul>
					</div>
					{% endif %}
							
					{% if message %}
					<div id="form-error" style="color:#ff0000;">
						<p>* {{ message }}</p>
					</div>
					{% endif %}
									
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_datastore">{% trans "Data Store" %}</label>
							{{ form.datastore }}						
						</div>
					</div>
									
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_name">{% trans "Resource name" %}</label>
							{{ form.name }}						
						</div>
					</div>		
					
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_title">{% trans "Title" %}</label>
							{{ form.title }}						
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_layer_group">{% trans "Layer group" %}</label>
							{{ form.layer_group }}						
						</div>
					</div>				
					
					<div class="row">
						<div class="col-md-12 form-group">
							<span>{% trans "Layer properties in the viewer" %}.</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-group">
							<input type="checkbox" name="visible" id="visible"/>
							<label for="visible">{% trans "Visible" %}</label>														
						</div>
						<div class="col-md-4 form-group">
							<input type="checkbox" name="cached" id="cached" checked/>
							<label for="cached">{% trans "Cached" %}</label>	
						</div>
						<div class="col-md-4 form-group">
							<input type="checkbox" name="queryable" id="queryable" checked/>
							<label for="queryable">{% trans "Queryable" %}</label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 form-group">
							<input type="checkbox" name="single_image" id="single_image" />	
							<label for="single_image">{% trans "Single image (No tiles)" %}</label>											
						</div>
					</div>
					
					<br/>
			
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
				        	<textarea class="form-control" name="md-abstract" id="md-abstract" rows="5">{% trans "Some description of the layer" %}</textarea>	     	
				        </div>
					</div>				
				
					<div class="box-footer">
                   		<button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                 	</div>		
            	</div>
			</form>		
		</div>
	</div>				
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	function rebuildSelect(selectObj, placeholderOptionText, placeholderSelected, extraOptions) {
		selectObj.empty().html(' ');
		var attribs = {
			value: '__disabled__',
			text: placeholderOptionText,
			disabled: 'disabled',
			
		};
		if (placeholderSelected) {
			attribs['selected'] = 'selected';
		} 
		selectObj.append($('<option>', attribs));
		if (extraOptions) {
			for (var i=0; i<extraOptions.length; i++) {
				selectObj.append(extraOptions[i]);
			}
		}
	}

	function updateResourceList(id_datastore) {
		if (id_datastore) {
			$.getJSON("{% url 'backend_resource_list_available' %}", {id_datastore: id_datastore}, function(data){
				var name_select = $("#id_name");
				var previousValue = name_select.val();
				var placeholderSelected = true;
				
				if (data==null || data.length==0) {
					var text = "{% trans 'Data store contains no resources to publish' %}";
					rebuildSelect(name_select, text, true);
					return;
				}
				var options = [];
				for (var i=0; i<data.length; i++) {
					var attribs = {
						value: data[i],
						text: data[i]
					};
					if (previousValue == data[i]) {
						attribs['selected']='true';
						placeholderSelected = false;
					}
					options.push($('<option>', attribs));
				}
				var text = '{% trans "Choose resource" %}';
				rebuildSelect(name_select, text, placeholderSelected, options);
				
			}).fail(function() {
				var name_select = $("#id_name");
				var text = "{% trans 'Service is unavailable' %}";
				rebuildSelect(name_select, text, true);
			});
		}
		else {
			var name_select = $("#id_name");
			var text = "{% trans 'No valid data store selected' %}";
			rebuildSelect(name_select, text, true);
		}
	};
	$(document).ready(function() {
		
		updateResourceList($("#id_datastore").val());
	
		$("#id_datastore").change(function() {
			var id_datastore = $('option:selected', $(this)).val();
			updateResourceList(id_datastore);
		});

		// translate default layer group
		var lgs = $("#id_layer_group");
		var lg_options = $("#id_layer_group option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).html('{% trans "Default" %}');
			}
		}
	});
</script>
{% endblock %}