{% extends "base_services.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">

				<div class="box-header with-border">
					<h3 class="box-title">{% trans "Import layer from database" %}</h3>
				</div>

				<form role="form" method="post" action="/gvsigonline/auth/group_add/">
					<div class="box-body">
					{% csrf_token %}					
						{% if form.errors %}
						<div id="form-error" style="color:#ff0000;">
							<ul>
							{% for field in form %}
								{% if field.errors %}
									<li>{{field.label}}. {{ field.errors|striptags }}</li>
								{% endif %}	
							{% endfor %}
							</ul>
						</div>
						{% endif %}
								
						{% if message %}
						<div id="form-error" style="color:#ff0000;">
							<p>* {{ message }}</p>
						</div>
						{% endif %}
										
						<div class="row">
							<div class="col-xs-12 form-group">
								<label for="id_datastore">{% trans "Data Store" %}</label>
								{{ form.datastore }}						
							</div>
						</div>
										
						<div class="row">
							<div class="col-xs-12 form-group">
								<label for="id_name">{% trans "Resource name" %}</label>
								{{ form.name }}						
							</div>
						</div>		
						
						<div class="row">
							<div class="col-xs-12 form-group">
								<label for="id_title">{% trans "Title" %}</label>
								{{ form.title }}						
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 form-group">
								<label for="id_layer_group">{% trans "Layer group" %}</label>
								{{ form.layer_group }}						
							</div>
						</div>								
					
						<div class="box-footer">
                    		<button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                  		</div>		
                  	</div>
				</form>		
			</div>
		</div>				
	</div>
{% endblock %}

{% block content %}
<div class="dash-content">		
	<div class="row">
		<div class="col s12 m12">
			<form role="form" class="col s12" method="post" action="/gvsigonline/layer_add/">
			{% csrf_token %}	
				<div class="row">
					<button class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">{% trans "Next" %}</button>
				</div>
						
				{% if form.errors %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					{% for field, msg in form.errors.iteritems %}
						<li>{{ msg|striptags }}</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
						
				{% if message %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				
				<div class="row">
					<div class="input-field col s12">
						{{ form.datastore }}
						<label for="id_datastore">{% trans "Data Store" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						{{ form.name }}
						<label for="id_name">{% trans "Resource name" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">						
						{{ form.title }}
						<label for="id_title">{% trans "Title" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						{{ form.layer_group }}
						<label for="id_layer_group">{% trans "Layer group" %}</label>
					</div>
				</div>
					
				<div class="row">
					<div class="input-field col s12">
						<span>{% trans "Layer properties in the viewer" %}.</span>
					</div>
					<div class="input-field col s4">
							<input type="checkbox" name="visible" class="filled-in" id="visible" checked/>
							<label for="visible">{% trans "Visible" %}</label>
					</div>
					<div class="input-field col s4">
							<input type="checkbox" name="cached" class="filled-in" id="cached" checked/>
							<label for="cached">{% trans "Cached" %}</label>
					</div>
					<div class="input-field col s4">
							<input type="checkbox" name="queryable" class="filled-in" id="queryable" checked/>
							<label for="queryable">{% trans "Queryable" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="single_image" class="filled-in" id="single_image" />
						<label for="single_image">{% trans "Single image (No tiles)" %}</label>
					</div>
				</div>
				
				<br/><br/><br/>
				
				
				<div class="row" style="border: 1px solid #9e9e9e; padding: 20px;">
					<div class="input-field col s12">
			        	<textarea name="md-abstract" id="md-abstract" class="materialize-textarea" rows="30">{% trans "Some description of the layer" %}</textarea>
			        	<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
			        </div>
				</div>
			</form>		
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	function rebuildSelect(selectObj, placeholderOptionText, placeholderSelected, extraOptions) {
		selectObj.material_select('destroy');
		selectObj.empty().html(' ');
		var attribs = {
			value: '__disabled__',
			text: placeholderOptionText,
			disabled: 'disabled',
			
		};
		if (placeholderSelected) {
			attribs['selected'] = 'selected';
		} 
		selectObj.append($('<option>', attribs));
		if (extraOptions) {
			for (var i=0; i<extraOptions.length; i++) {
				selectObj.append(extraOptions[i]);
			}
		}
		selectObj.parent().find('.caret').remove();
		selectObj.material_select();
	}

	function updateResourceList(id_datastore) {
		if (id_datastore) {
			$.getJSON("{% url 'backend_resource_list_available' %}", {id_datastore: id_datastore}, function(data){
				var name_select = $("#id_name");
				var previousValue = name_select.val();
				var placeholderSelected = true;
				
				if (data==null || data.length==0) {
					var text = "{% trans 'Data store contains no resources to publish' %}";
					rebuildSelect(name_select, text, true);
					name_select.material_select();
					return;
				}
				var options = [];
				for (var i=0; i<data.length; i++) {
					var attribs = {
						value: data[i],
						text: data[i]
					};
					if (previousValue == data[i]) {
						attribs['selected']='true';
						placeholderSelected = false;
					}
					options.push($('<option>', attribs));
				}
				var text = '{% trans "Choose resource" %}';
				rebuildSelect(name_select, text, placeholderSelected, options);
				
			}).fail(function() {
				var name_select = $("#id_name");
				var text = "{% trans 'Service is unavailable' %}";
				rebuildSelect(name_select, text, true);
			});
		}
		else {
			var name_select = $("#id_name");
			var text = "{% trans 'No valid data store selected' %}";
			rebuildSelect(name_select, text, true);
		}
	};
	$(document).ready(function() {
		
		updateResourceList($("#id_datastore").val());
	
		$("#id_datastore").change(function() {
			var id_datastore = $('option:selected', $(this)).val();
			updateResourceList(id_datastore);
		});

		// translate default layer group
		var lgs = $("#id_layer_group");
		var lg_options = $("#id_layer_group option");
		lgs.material_select('destroy');
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).html('{% trans "Default" %}');
			}
			lgs.parent().find('.caret').remove(); // not needed with version >= 0.97.1
			lgs.material_select();
		}
	});
</script>
{% endblock %}