{% load i18n %}
{% load static from staticfiles %}
				<div class="row">
					<div class="col-md-12">
						<div id="read-list-box" class="box searchable-list-box">
							<div class="box-header">
								<h3 class="col-md-6 box-title" style="vertical-align: middle">{% trans "Give the selected groups permissions to read or write the layer" %}</h3>
								<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Search user group...' %}" />
								</div>
								<div class="col-md-12">
								<div class="checkbox">
									<label title="{% trans 'Layer will be readable by everyone if public' %}">
										<input type="checkbox" name="resource-is-public" id="resource-is-public" {% if resource_is_public %}checked {% endif %}/>
										<span>{% trans "Is public" %}</span>
									</label>
								</div>
								</div>
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box list">
									{% for group in groups %}
									<li class="item">
										<div class="product-img">
											<img src="{% static "img/users.png" %}" alt="Users Image">
										</div>
										<div class="product-info">
											<span class="product-title">{{group.name}}
												<div class="pull-right checkbox form-inline">
														<label>
															<input class="layer-read-checkbox" type="checkbox" name="read-usergroup-{{group.id}}" id="read-usergroup-{{group.id}}" {% if group.read_checked %}checked {% endif %}/>
															<span>{% trans "Read permissions" %}</span>
														</label>
														<label style="margin-left:10px">
															<input type="checkbox" name="write-usergroup-{{group.id}}" id="write-usergroup-{{group.id}}" {% if group.write_checked %}checked {% endif %}/>
															<span>{% trans "Write permissions" %}</span>
														</label>
												</div>
											</span> 
											<span class="product-description">{{group.description}}</span>
										</div>
									</li> 
									{% endfor %}
								</ul>
								<ul class="pagination"></ul>
							</div>
						</div>
					</div>
				</div>
<script type="text/javascript">
	function handleIsPublicResourceCheckbox(searcheableReadList) {
		// inital status
		$(".layer-read-checkbox").prop( "disabled", $("#resource-is-public").is(":checked"));		// monitor changes
		// monitor changes
		$("#resource-is-public").change(function () {
			if (this.checked) {
				$(".layer-read-checkbox").prop( "disabled", true);
			}
			else {
				$(".layer-read-checkbox").prop( "disabled", false);
			}
		});
		// apply disabled status on searcheableReadList page changes
		searcheableReadList.on('updated', function() {
			$(".layer-read-checkbox").prop( "disabled", $("#resource-is-public").is(":checked"));
		});
	}
</script>