{% load i18n %}
{% load static from staticfiles %}
				<div class="row">
					<div class="col-md-12">
						<div id="read-list-box" class="box searchable-list-box">
							<div class="box-header">
								<h3 class="col-md-6 box-title" style="vertical-align: middle">{% trans "Select layer permissions" %}</h3>
								<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Search user role...' %}" />
								</div>
								<div class="col-md-12">
								<div class="checkbox">
									<label title="{% trans 'Layer will be readable by everyone if public' %}">
										<input type="checkbox" name="resource-is-public" id="resource-is-public" {% if resource_is_public %}checked {% endif %}/>
										<span>{% trans "Is public" %}</span>
									</label>
								</div>
								</div>
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box list">
									{% for role in roles %}
									<li class="item">
										<div class="product-img">
											{% if role.external %}
											<img src="{% static "img/users.png" %}" title="{% trans 'Non editable permissions since they have been set by a specific permission tool' %}" style="opacity: 0.4">
											{% else %}
											<img src="{% static "img/users.png" %}" alt="{% trans 'Generic user role image' %}">
											{% endif %}
										</div>
										<div class="product-info">
											<span class="product-title"><span class="searchable-rolename">{{role.name}}</span>
												<div class="pull-right checkbox form-inline">
														<label>
															<input class="layer-read-checkbox{% if role.external is False %} gvsigol-checkable{% endif %}" type="checkbox" name="read-usergroup-{{role.name}}" id="read-usergroup-{{role.name}}"{% if role.read_checked %} checked{% endif %}{% if role.external %} disabled{% endif %} />
															<span>{% trans "Read permission" %}</span>
														</label>
														<label style="margin-left:10px">
															{% if is_view %}
															<input type="checkbox" name="write-usergroup-{{role.name}}" id="write-usergroup-{{role.name}}" title="{% trans 'SQL views can\'t be edited.' %}" disabled />
															{% else %}
															<input type="checkbox" name="write-usergroup-{{role.name}}" id="write-usergroup-{{role.name}}"{% if role.write_checked %} checked {% endif %}{% if role.external %} disabled{% endif %} />
															{% endif %}
															<span>{% trans "Write permission" %}</span>
														</label>
														<label style="margin-left:10px">
															<input class="layer-manage-checkbox" type="checkbox" name="manage-usergroup-{{role.name}}" id="manage-usergroup-{{role.name}}" {% if role.manage_checked %}checked {% endif %}/>
															<span>{% trans "Permission to manage" %}</span>
														</label>
												</div>
											</span> 
											<span class="product-description searchable-roledesc">{{role.description}}</span>
										</div>
									</li> 
									{% endfor %}
								</ul>
								<ul class="pagination"></ul>
							</div>
						</div>
					</div>
				</div>
<script type="text/javascript">
	function handleIsPublicResourceCheckbox(searcheableReadList) {
		// inital status
		$(".layer-read-checkbox.gvsigol-checkable").prop( "disabled", $("#resource-is-public").is(":checked"));		// monitor changes
		// monitor changes
		$("#resource-is-public").change(function () {
			if (this.checked) {
				$(".layer-read-checkbox.gvsigol-checkable").prop( "disabled", true);
			}
			else {
				$(".layer-read-checkbox.gvsigol-checkable").prop( "disabled", false);
			}
		});
		// apply disabled status on searcheableReadList page changes
		searcheableReadList.on('updated', function() {
			$(".layer-read-checkbox.gvsigol-checkable").prop( "disabled", $("#resource-is-public").is(":checked"));
		});
	}
</script>
