{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static "css/gol-tokens.css" %}">
<link rel="stylesheet" href="{% static "css/gol-form-page.css" %}">
<link rel="stylesheet" href="{% static "css/gol-services-form.css" %}">
{% endblock %}

{% block content %}	
<form role="form" method="post" action="/gvsigonline/services/service_url_update/{{svid}}/">
	<div class="row">
		<div class="col-md-12">	
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="pf-topbar">
						<a href="{% url 'service_url_list' %}" class="btn-pf-back"><i class="fa fa-chevron-left"></i> {% trans "Back" %}</a>
					<button type="submit" class="btn-pf-save"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>
				</div>
				</div>				
			</div>
			<div class="pf-card">
				{% csrf_token %}
				{% if form.errors %}
				<div class="pf-error-msg">
					<ul>
					{{ form.non_field_errors }}
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="box-body">				
				{{ form }}				
				</div>	
			</div>			
		</div>				
	</div>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-services').addClass("active");
</script>
{% endblock %}