{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<form role="form" method="post" action="/gvsigonline/services/service_url_update/{{svid}}/">
	<div class="row">
		<div class="col-md-12">	
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>					
					</div>
				</div>				
			</div>
			<div class="box padding-20">
				{% csrf_token %}
				{% if form.errors %}
				<div id="form-error" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					{% for field, msg in form.errors.iteritems %}
						<li>{{ msg|striptags }}</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="box-body">				
				{{ form }}				
				</div>	
			</div>			
		</div>				
	</div>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-services').addClass("active");
</script>
{% endblock %}