{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<form role="form" method="post" action="/gvsigonline/services/workspace_update/{{wid}}/">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>					
					</div>
				</div>				
			</div>	
			<div class="box">
				{% csrf_token %}					
				{% if message %}
				<div id="form-error" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="box-body">
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="workspace-uri">{% trans "Uri" %}</label>
							<input type="text" name="workspace-uri" id="workspace-uri" maxlength="500" class="form-control" tabindex="3" value="{{workspace.uri}}">
						</div>
						<div class="col-md-12 form-group">
							<label for="workspace-description">{% trans "Description" %}</label>
							<input placeholder="{% trans 'Workspace description' %}" name="workspace-description" id="workspace-description" type="text" class="form-control" value="{{workspace.description}}">						
						</div>
					</div>
						
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="is_public">{% trans "Is public?" %}</label>&nbsp;&nbsp;
							{% if workspace.is_public %}
							<input type="checkbox" name="is_public"  id="is_public" checked/>
							{% else %}
							<input type="checkbox" name="is_public"  id="is_public"/>
							{% endif %}								
						</div>
					</div>	
				</div>	
			</div>
		</div>				
	</div>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-workspaces').addClass("active");
</script>
{% endblock %}