{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Add configuration" %}{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form id="config-form" role="form" method="post" action="{% url 'simpledownload_config_add' %}" enctype="multipart/form-data">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Add configuration" %}</h3>
                    <div class="box-tools pull-right">
                        <button id="submit-button" type="submit" class="btn btn-default btn-sm">
                            <i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}
                        </button>
                    </div>
                </div>
                
                <div class="box-body">
                    {% csrf_token %}
                    
                    <div class="row  form-group">
                        <div class="col-md-12">
                            <label for="project_id">{% trans "Project" %}</label>
                            <select name="project_id" id="project_id" class="form-control" required>
                                <option value="">{% trans "Select a project..." %}</option>
                                {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="button" id="add-file-button" class="btn btn-primary" disabled>
                                <i class="fa fa-plus"></i> {% trans "Add file" %}
                            </button>
                        </div>
                    </div>                                       
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <span class="text" style="font-weight: bold;">{% trans "Added files" %}</span>
                                </div>
                                <div class="box-body" id="added-file-list" style="min-height: 100px;">
                                    <p class="text-muted">{% trans "No files added yet" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Contenedor oculto para almacenar inputs de archivos -->
                    <div id="file-inputs-container" style="display:none;"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="file-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="file-modal-title">{% trans "Add file" %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="file-title">{% trans "Title" %}</label>
                        <input name="file-title" id="file-title" type="text" class="form-control">								
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="file-description">{% trans "Description" %}</label>
                        <input name="file-description" id="file-description" type="text" class="form-control">								
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="file-url">{% trans "File URL" %}</label>
                        <input name="file-url" id="file-url" type="text" class="form-control">								
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="file-upload">{% trans "Or upload your file" %}</label>
                        <div class="input-group">
                            <input name="file-upload" id="file-upload" type="file" class="form-control">
                            <span class="input-group-btn" style="vertical-align: top;">
                                <button type="button" id="clear_file_upload" class="btn btn-danger" style="display:none; height: 34px; border-top-left-radius: 0; border-bottom-left-radius: 0;" title="{% trans 'Clear file' %}">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" id="save-file-button">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Cargar jQuery si no está disponible -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block extra-scripts %}
<script>

// Esperar a que jQuery esté disponible
function waitForJQuery(callback) {
    if (typeof $ !== 'undefined') {
        callback();
    } else {
        setTimeout(function() {
            waitForJQuery(callback);
        }, 100);
    }
}

waitForJQuery(function() {
    
    var addedFiles = {};
    var modalMode = null; // 'create' | 'edit'
    var editingFileId = null;
    var fileIdCounter = 1;
    
    $(document).ready(function() {
        
        $('#project_id').change(function() {
            var projectId = $(this).val();
            $('#add-file-button').prop('disabled', !projectId);
        });
        
        $('#add-file-button').click(function() {
            modalMode = 'create';
            editingFileId = null;
            $('#file-modal-title').text(gettext('Add file information'));
            resetFileInputs();
            $('#file-add-modal').modal('show');
        });
        
        $('#save-file-button').click(function() {
            var titleField = $('#file-title').val();
            var descriptionField = $('#file-description').val();
            var urlField = $('#file-url').val();
            var fileInput = $('#file-upload')[0];
            var uploadedFile = fileInput.files.length > 0 ? fileInput.files[0] : null;
            
            if (!titleField) {
                alert(gettext('Please enter a title'));
                return;
            }
            
            if (!descriptionField) {
                alert(gettext('Please enter a description'));
                return;
            }
            
            if (!urlField && !uploadedFile) {
                alert(gettext('Please enter a URL or upload a file'));
                return;
            }
            
            var nowIso = new Date().toISOString();
            var targetFileId;

            if (modalMode === 'edit' && editingFileId) {
                targetFileId = editingFileId;
            } else {
                targetFileId = getNextFileId();
            }
            
            if (uploadedFile) {
                $('#uploaded_file_' + targetFileId).remove();
                
                var newFileInput = $('<input>').attr({
                    type: 'file',
                    name: 'uploaded_file_' + targetFileId,
                    id: 'uploaded_file_' + targetFileId,
                    style: 'display:none;'
                });
                
                var dataTransfer = new DataTransfer();
                dataTransfer.items.add(uploadedFile);
                newFileInput[0].files = dataTransfer.files;
                
                newFileInput.appendTo('#file-inputs-container');
            } else {
                $('#uploaded_file_' + targetFileId).remove();
            }
            
            addedFiles[targetFileId] = {
                fileId: targetFileId,
                title: titleField,
                description: descriptionField,
                file_url: urlField ? urlField : '',
                has_upload: uploadedFile ? true : false,
                upload_filename: uploadedFile ? uploadedFile.name : '',
                updated_at: nowIso
            };
            
            normalizeFileIds();
            updateAddedFileList();
            
            $('#file-add-modal').modal('hide');
        });
        
        $('#config-form').submit(function(e) {
            var projectId = $('#project_id').val();
            
            if (!projectId) {
                e.preventDefault();
                alert(gettext('Please select a project'));
                return false;
            }
            
            if (Object.keys(addedFiles).length === 0) {
                e.preventDefault();
                alert(gettext('Please add at least one file'));
                return false;
            }
            
            $('input[name="file_configs[]"]').remove();
            normalizeFileIds();
            
            Object.keys(addedFiles).forEach(function(fileId) {
                var fileConfig = addedFiles[fileId];
                $('<input>').attr({
                    type: 'hidden',
                    name: 'file_configs[]',
                    value: JSON.stringify({
                        fileId: fileId,
                        title: fileConfig.title,
                        description: fileConfig.description,
                        file_url: fileConfig.file_url,
                        updated_at: fileConfig.updated_at
                    })
                }).appendTo('#config-form');
            });
            
        });   
        function updateAddedFileList() {
            var container = $('#added-file-list');
            container.empty();
            
            if (Object.keys(addedFiles).length === 0) {
                container.html('<p class="text-muted">' + gettext('No files added yet') + '</p>');
                return;
            }
            
            Object.values(addedFiles).forEach(function(fileConfig) {
                var displayUrl = fileConfig.file_url || (fileConfig.has_upload ? fileConfig.upload_filename : '');
                var fileHtml = '<div class="added-file " data-file-id="' + fileConfig.fileId + '">' +
                    '<div class="file-item">' +
                    '<div class="file-info">' +
                    '<strong>' + fileConfig.title + '</strong><br>' +
                    '<small>' + gettext('Description') + ': ' + fileConfig.description + '</small><br>' +
                    '<small>' + (fileConfig.has_upload ? gettext('File') : gettext('URL')) + ': ' + displayUrl + '</small><br>' +
                    '<small>' + gettext('Updated at') + ': ' + formatDateTime(fileConfig.updated_at) + '</small>' +
                    '</div>' +
                    '<div class="file-actions">' +
                        '<button type="button" class="btn btn-success edit-added-file" data-file-id="' + fileConfig.fileId + '">' +
                            '<i class="fa fa-edit"></i>' +
                        '</button>' +
                        '<button type="button" class="btn btn-danger remove-added-file" data-file-id="' + fileConfig.fileId + '">' +
                            '<i class="fa fa-times"></i>' +
                        '</button>' +
                    '</div>' +
                    '</div>';
                container.append(fileHtml);
            });
        }

        $(document).on('click', '.remove-added-file', function() {
            var fileId = $(this).data('file-id');
            $('#uploaded_file_' + fileId).remove();
            delete addedFiles[fileId];
            normalizeFileIds();
            updateAddedFileList();
        });

        $(document).on('click', '.edit-added-file', function() {
            var fileId = $(this).data('file-id');
            var fileConfig = addedFiles[fileId];
            if (!fileConfig) {
                return;
            }
            modalMode = 'edit';
            editingFileId = fileId;
            $('#file-title').val(fileConfig.title);
            $('#file-description').val(fileConfig.description);
            $('#file-url').val(fileConfig.file_url || '');
            $('#file-upload').val('');
            $('#file-modal-title').text(gettext('Edit file information'));
            updateFileInputStates();
            $('#file-add-modal').modal('show');
        });
        function formatDateTime(isoString) {
            if (!isoString) {
                return '';
            }
            try {
                var date = new Date(isoString);
                if (isNaN(date.getTime())) {
                    return isoString;
                }
                return date.toLocaleString();
            } catch (e) {
                return isoString;
            }
        }

        function getNextFileId() {
            while (addedFiles[fileIdCounter]) {
                fileIdCounter += 1;
            }
            var nextId = fileIdCounter;
            fileIdCounter += 1;
            return nextId;
        }

        function normalizeFileIds() {
            var filesArray = Object.values(addedFiles).sort(function(a, b) {
                return parseInt(a.fileId, 10) - parseInt(b.fileId, 10);
            });

            var normalized = {};
            var nextId = 1;

            filesArray.forEach(function(fileConfig) {
                var oldId = fileConfig.fileId;
                var newId = nextId.toString();
                
                if (oldId !== newId && fileConfig.has_upload) {
                    var oldInput = $('#uploaded_file_' + oldId);
                    if (oldInput.length > 0) {
                        oldInput.attr('name', 'uploaded_file_' + newId);
                        oldInput.attr('id', 'uploaded_file_' + newId);
                    }
                }
                
                fileConfig.fileId = newId;
                normalized[newId] = fileConfig;
                nextId += 1;
            });

            addedFiles = normalized;
            fileIdCounter = nextId;
        }

        function resetFileInputs() {
            $('#file-title').val('');
            $('#file-description').val('');
            $('#file-url').val('');
            $('#file-upload').val('');
            $('#clear_file_upload').hide();
            $('#file-url').prop('disabled', false).closest('.form-group').find('label, small').css('opacity', '1');
            $('#file-upload').prop('disabled', false);
        }

        function updateFileInputStates() {
            var urlVal = $('#file-url').val().trim();
            var fileVal = $('#file-upload').val();

            if (urlVal !== '') {
                $('#file-upload').prop('disabled', true);
                $('#file-url').closest('.form-group').find('label').css('opacity', '1');
            } else {
                $('#file-upload').prop('disabled', false);
            }

            if (fileVal !== '') {
                $('#file-url').prop('disabled', true);
                $('#file-url').closest('.form-group').find('label, small').css('opacity', '0.5');
                $('#clear_file_upload').show();
            } else {
                $('#file-url').prop('disabled', false);
                $('#file-url').closest('.form-group').find('label, small').css('opacity', '1');
                $('#clear_file_upload').hide();
            }
        }

        $('#file-url').on('input', function() {
            if ($(this).val().trim() !== '') {
                $('#file-upload').prop('disabled', true);
                $('#file-upload').val('');
                $('#clear_file_upload').hide();
            } else {
                $('#file-upload').prop('disabled', false);
            }
        });

        $('#file-upload').on('change', function() {
            if ($(this).val() !== '') {
                $('#file-url').prop('disabled', true);
                $('#file-url').val('');
                $('#file-url').closest('.form-group').find('label, small').css('opacity', '0.5');
                $('#clear_file_upload').show();
            } else {
                $('#file-url').prop('disabled', false);
                $('#file-url').closest('.form-group').find('label, small').css('opacity', '1');
                $('#clear_file_upload').hide();
            }
        });

        $('#clear_file_upload').on('click', function() {
            $('#file-upload').val('');
            $('#file-url').prop('disabled', false);
            $('#file-url').closest('.form-group').find('label, small').css('opacity', '1');
            $(this).hide();
        });
    });
});
</script>

<style>
.added-file {
    margin-bottom: 10px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f9f9f9;
}

.file-info {
    flex: 1;
    margin-right: 10px;
}

.file-actions {
    display: flex;
    gap: 4px;
}

.remove-added-file {
    flex-shrink: 0;
}

#added-file-list {
    max-height: none;
    overflow-y: visible;
}
</style>
{% endblock %}