## django
django==2.2.28
djangoajax==3.2
httplib2==0.19.1
geopy==2.1.0
gisdata==0.5.4

## auth
python-ldap==3.3.1
django-auth-ldap==2.2.0

## django rest framework
#markdown
#django-filter
#django-rest-auth
#django-formtools
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
django-rest-swagger==2.2.0
django-rest-swagger-swaggerdoc==1.0.post3
django-cors-headers==3.7.0

##Instalamos el driver de PostgreSQL para python:
psycopg2==2.8.6
# *NOTE:* Es necesario instalar previamente la libreria _libpq-dev_
#psycopg2-binary>=2.8,<2.9

##Instalamos Pillow para que django soporte la gestion de images;
pillow==8.3.2
# *NOTE:* Es necesario instalar previamente la libreria _libjpeg-dev_

## gsconfig
geoserver-restconfig==2.0.4.8
requests==2.25.1

# async requests
requests-futures==1.0.0

## Scolab tools
spatialiteintrospect==1.2
pygdaltools==1.3.2
# *NOTE:* It requires having gdal tools installed in the system (gdal-bin package)

## Other
xmltodict
six==1.15.0
pytz # don't specify version, since timezones need to be up-to-date
python-dateutil==2.8.1

numpy==1.19.1 # latest version supporting Python 3.6

cmislib3==1.0.8
lxml==4.6.5

# Cron para aguas de valencia
schedule==1.0.0

# Ver #3727
openpyxl==3.0.5
# Lectura de DBFs
dbfread==2.0.7
django-excel==0.0.10
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
pyexcel-ods3==0.6.0

# Parseo del getCapabilities (baseLayers)
pyproj==2.2.2 # to be updated
OWSLib==0.23.0

limesurveyrc2api==1.0.0

django-jenkins==0.110.0

python-resize-image==1.1.19
django-activity-stream==0.10.0
django-jsonfield==1.4.1
django-jsonfield-compat==0.4.4
django-jsonfield-backport==1.0.3 # not needed in Django >= 3.1

# xsendfile wrapper
django-sendfile2==0.6.0

# Comprobar el timestamp de un fichero antes de bajarlo
tzlocal==2.1

# language code database
iso-639

# aquí me quedo --- python3
# job and queque manager, for download manager and email queues
celery==5.0.5
django-celery-beat==2.2.0
# harcode indirect celery requirements
kombu==5.0.2
billiard==3.6.4.0
vine==5.0.0
# necessary until Python 3.8
zipp==3.4.1

# uwsgi server
uwsgi==2.0.18
gevent==1.4.0
#gevent==21.1.2
#greenlet==0.4.12

# Used by opensea2. To be removed when migrated to Celery
APScheduler==3.7.0

suds-community==0.8.4

# plugin_widget
django_tinymce==3.4.0

# plugin geoetl
pandas==1.1.5
#gdal==2.4.4 # compiled and installed from gdal source code in production, not managed by pip
mgrs==1.4.2
cx-Oracle==8.2.1
geomet==0.3.0
SQLAlchemy==1.3.18

# necesario si se configura OIDC/Keycloak con gvsigol_plugin_oidc_mozilla
mozilla-django-oidc==2.0.0
oauthlib==3.2.0
requests-oauthlib==1.3.1
