## django
django==2.0.13
djangoajax==3.2
httplib2==0.18.1
### br-ch: https://geopy.readthedocs.io/en/latest/changelog_2xx.html
geopy==2.1.0
gisdata==0.5.4

# Python 2 / 3 compatibility layer
#future==0.17.1

## auth
### br-ch https://github.com/python-ldap/python-ldap/releases
python-ldap==3.3.1
django-auth-ldap==2.2.0

## django rest framework
#markdown
#django-filter
#django-rest-auth
#django-formtools
djangorestframework==3.9.4 # to be updated
djangorestframework-jwt==1.11.0 # to be updated
drf-yasg==1.17.0
django-rest-swagger==2.2.0
django-rest-swagger-swaggerdoc==1.0.post3
django-cors-headers==3.0.2

##Instalamos el driver de PostgreSQL para python:
psycopg2>=2.7,<2.8 --no-binary psycopg2 # to be updated
# *NOTE:* Es necesario instalar previamente la libreria _libpq-dev_
#psycopg2-binary>=2.7,<2.8

##Instalamos Pillow para que django soporte la gestion de images;
Pillow==8.1.0
# *NOTE:* Es necesario instalar previamente la libreria _libjpeg-dev_

## gsconfig
geoserver-restconfig==2.0.4.8
requests==2.25.1

# async requests
requests-futures==1.0.0
# futures==3.2.0 # only needed for Python 2.x

## Scolab tools
spatialiteintrospect==1.2
pygdaltools==1.2.1
# *NOTE:* It requires having gdal tools installed in the system (gdal-bin package)

## Other
xmltodict
six==1.13.0
pytz # don't specify version, since timezones need to be up-to-date
python-dateutil==2.8.1

numpy==1.19.1

# argparse==1.2.1 # not needed in Python >= 3.2
wsgiref==0.1.2 # not needed in Python >= 3.2

cmislib3==1.0.8
lxml==4.6.2

# Cron para aguas de valencia
schedule==0.6.0

# Ver #3727
openpyxl==3.0.5
# Lectura de DBFs
dbfread==2.0.7
django-excel==0.0.10
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
pyexcel-ods3==0.6.0

# Parseo del getCapabilities (baseLayers)
# se instala un pyproj compatible con python 2
pyproj==2.2.2 # to be updated
OWSLib==0.21.0

limesurveyrc2api==1.0.0

suds==0.4

django-jenkins==0.110.0

python-resize-image==1.1.19
django-activity-stream==0.8.0 # to be updated
django-jsonfield==1.4.1
django-jsonfield-compat==0.4.4

# xsendfile wrapper
django-sendfile2==0.6.0

# Comprobar el timestamp de un fichero antes de bajarlo
tzlocal==2.1

# language code database
iso-639

# aquí me quedo --- python3
# job and queque manager, for download manager and email queues
celery==4.3.0
# harcode indirect celery requirements
kombu==4.5.0
zipp==0.6.0

django-celery-beat==1.6.0

# workaround for indirect dependencies problem when using pip 8
more-itertools<6.0.0

# uwsgi server
uwsgi==2.0.18
gevent==1.4.0
#greenlet==0.4.12

APScheduler==3.6.3
