{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
	<div class="row">
		<div class="col-md-12">
			<form id="server-form" role="form" method="post" action="/gvsigonline/services/server_add/">
				<div class="row">
					<div class="col-md-12 form-group">
						<div class="box-tools pull-right">
							<button id="save_button" class="save_button btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
						</div>
					</div>
					<div class="row" style="padding-left: 30px;">
						{% csrf_token %}
						<div id="form-error" style="color:#ff0000;">
							<ul>
							{{ form.non_field_errors }}
							{% for field in form %}
								{% if field.errors %}
									<li>{{field.label}}. {{ field.errors|striptags }}</li>
								{% endif %}	
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				
				<ul class="nav nav-tabs">
              		<li class="active"><a href="#tab-server-main" data-toggle="tab">{% trans "Server" %}</a></li>
              		<li><a href="#tab-server-nodes" data-toggle="tab">{% trans "Nodes" %}</a></li>
            	</ul>
            	
            	<div class="tab-content">
              		<div class="tab-pane active" id="tab-server-main">
              			<div class="row">
							<div class="col-md-12">
								<div class="box">
              						<div class="box-body">
									{{ form }}	
									</div>
								</div>
							</div>
						</div>
              		</div>
              		
              		<div class="tab-pane" id="tab-server-nodes">
              			<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">{% trans "Server nodes" %}</h3>
									</div>
									<div class="box-body">
										<div class="table-responsive">
											<table id="server-nodes-table" class="table no-margin">
												<thead>
													<tr>
														<th>{% trans "Status" %}</th>
														<th>{% trans "URL" %}</th>
														<th>{% trans "Is master?" %}</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="server-nodes-table-body"></tbody>
											</table>
										</div>
									</div>
									<div class="box-footer clearfix">
										<a id="add-node-button" href="javascript:void(0)" style="font-size: 14px;" class="btn-sm btn btn-default pull-left margin-r-5">
											<i class="fa fa-plus margin-r-5"></i>{% trans "Add node" %}
										</a>
									</div>
									<input type="hidden" name="nodes" id="nodes" value="{{form.nodes.value|default_if_none:''}}" />
								</div>
							</div>
						</div>
              		</div>	
          		</div>
          	</form>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modal-new-node" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans "New node" %}</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-servers').addClass("active");
	
	var nodes = new Array();
	
	function addNode(node) {
		
		nodes.push(node);
		
		var ui = '';
		ui += '<tr data-rowid="' + node.id + '">';
		ui += 	'<td id="node-status-' + node.id + '">' + node.status + '</td>';
		ui += 	'<td id="node-url-' + node.id + '">' + node.url + '</td>';
		ui += 	'<td id="node-ismaster-' + node.id + '">' + node.is_master + '</td>';
		ui += 	'<td><a class="edit-node-' + node.id + '" data-nodeid="' + node.id + '" href="javascript:void(0)"><i class="fa fa-edit text-primary"></i></a></td>';
		ui += 	'<td><a class="delete-node-' + node.id + '" data-nodeid="' + node.id + '" href="javascript:void(0)"><i class="fa fa-times text-danger"></i></a></td>';
		ui += '</tr>';
		
		$('#server-nodes-table tbody').append(ui);	
		
		$(".edit-node-" + node.id).on('click', function(e){	
			e.preventDefault();
			createModalContent(this.dataset.nodeid, 'update');
		});
		
		$(".delete-node-" + node.id).on('click', function(e){	
			e.preventDefault();
			deleteNode(this.dataset.nodeid);
		});
		
	};
	
	function updateNode(node) {
		for (var i=0; i < nodes.length; i++) {
			if (nodes[i].id == node.id) {
				nodes[i] = null;
				nodes[i] = node;
			}
		}
		$('#node-status-'+node.id).text(node.status);
		$('#node-url-'+node.id).text(node.url);
		$('#node-ismaster-'+node.id).text(node.is_master);
	};
	
	function deleteNode(id) {
		for (var i=0; i < nodes.length; i++) {
			if (nodes[i].id == id) {
				nodes.splice(i, 1);
			}
		}
		var tbody = document.getElementById('server-nodes-table-body');
		for (var i=0; i<tbody.children.length; i++) {
			if(tbody.children[i].dataset.rowid == id) {
				tbody.removeChild(tbody.children[i]);
			}
		}
	};
	
	function getNodeById(id) {
		for (var i=0; i < nodes.length; i++) {
			if (nodes[i].id == id) {
				return nodes[i];
			}
		}
	};
	
	function createModalContent(fid, mode){
		$('#modal-new-node .modal-body').empty();
		
		var id = Math.random().toString(36).slice(2);
		var ui = '';
		
		var node = null;
		if (mode == 'update') {
			node = getNodeById(fid);
		}
		
		ui += '<div id="node-errors" class="row">';
		ui += '</div>';
		
		ui += '<div class="row">';
		ui += 	'<div class="col-md-12 form-group">';
		ui += 		'<label>' + gettext('Status') + '</label>';
		ui += 		'<select id="node-status-select-'+id+'" class="form-control">';
		if (mode == 'create') {
			ui += 		'<option selected value="active">' + gettext('active') + '</option>';
			ui += 		'<option value="inactive">' + gettext('inactive') + '</option>';
	
		} else if (mode == 'update') {
			var status = ['active', 'inactive', 'error'];
			for (var i=0; i<status.length; i++) {
				if (status[i] == node.status) {
					ui += 	'<option selected value="' + status[i] + '">' + gettext(status[i]) + '</option>';
				} else {
					ui += 	'<option value="' + status[i] + '">' + gettext(status[i]) + '</option>';	
				}
			}
		}
		ui += 		'</select>';
		ui += 	'</div>';
		ui += '</div>';	
		
		if (mode == 'create') {
			ui += '<div id="div-node-url" class="row">';
			ui += 	'<div class="col-md-12 form-group">';
			ui += 		'<label>' + gettext('URL') + '</label>';
			ui += 		'<input type="text" id="node-url-input-'+id+'" name="node-url-input-'+id+'" class="form-control">';
			ui += 	'</div>';
			ui += '</div>';
			
			ui += '<div id="div-node-ismaster" class="row">';
			ui += 	'<div class="col-md-12 form-group">';
			ui += 		'<label>' + gettext('Is master?') + '</label>';
			ui += 		'<input type="checkbox" name="node-ismaster-input-'+id+'" id="node-ismaster-input-'+id+'" />';
			ui += 	'</div>';
			ui += '</div>';
			
		} else if (mode == 'update') {
			ui += '<div id="div-node-url" class="row">';
			ui += 	'<div class="col-md-12 form-group">';
			ui += 		'<label>' + gettext('URL') + '</label>';
			ui += 		'<input type="text" id="node-url-input-'+id+'" name="node-url-input-'+id+'" class="form-control" value="'+node.url+'">';
			ui += 	'</div>';
			ui += '</div>';
			
			ui += '<div id="div-node-ismaster" class="row">';
			ui += 	'<div class="col-md-12 form-group">';
			ui += 		'<label>' + gettext('Is master?') + '</label>';
			if (node.is_master) {
				ui += 	'<input type="checkbox" name="node-ismaster-input-'+node.id+'" id="node-ismaster-input-'+node.id+'" checked/>';
			} else {
				ui += 	'<input type="checkbox" name="node-ismaster-input-'+node.id+'" id="node-ismaster-input-'+node.id+'"/>';
			}
			
			ui += 	'</div>';
			ui += '</div>';
		}
		
		$('#modal-new-node .modal-body').append(ui);
		
		var buttons = '';
		buttons += '<button id="add-node-cancel" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Cancel') + '</button>';
		if (mode == 'create') {
			buttons += '<button id="add-node-accept" type="button" class="btn btn-default">' + gettext('Save node') + '</button>';
			
		} else if (mode == 'update') {
			buttons += '<button id="update-node-accept" data-nodeid="'+node.id+'" type="button" class="btn btn-default">' + gettext('Edit node') + '</button>';
		}
		
		
		$('#modal-new-node .modal-footer').empty();
		$('#modal-new-node .modal-footer').append(buttons);
		
		$('#add-node-accept').on('click', function () {	
			var status = $('#node-status-select-'+id).val();
			var url = $('#node-url-input-'+id).val();
			var ismaster = $('#node-ismaster-input-'+id).prop('checked');
			
			if (true) {
				var node = {
					id: id,
					status: status,
					url: url,
					is_master: ismaster
				};
				
				addNode(node);
				
				$('#modal-new-node').modal('hide');
				
			} else {
				var error = '<p class="text-muted" style="color: #ff0000; padding: 10px;">* ' + gettext('Invalid name: Identifiers must begin with a letter or an underscore (_). Subsequent characters can be letters, underscores or numbers') + '.</p>';
				$('#node-errors').empty();
 				$('#node-errors').append(error);
			}
			
		});
		
		$('#update-node-accept').on('click', function () {
			var status = $('#node-status-select-'+this.dataset.nodeid).val();
			var url = $('#node-url-input-'+this.dataset.nodeid).val();
			var ismaster = $('#node-ismaster-input-'+this.dataset.nodeid).prop('checked');
			
			if (true) {
				var node = {
					id: this.dataset.nodeid,
					status: status,
					url: url,
					is_master: ismaster
				};
				
				updateNode(node);
				
				$('#modal-new-node').modal('hide');
				
			} else {
				var error = '<p class="text-muted" style="color: #ff0000; padding: 10px;">* ' + gettext('Invalid name: Identifiers must begin with a letter or an underscore (_). Subsequent characters can be letters, underscores or numbers') + '.</p>';
				$('#node-errors').empty();
 				$('#node-errors').append(error);
			}
			
		});
		
		$('#modal-new-node').modal('show');
	};
	
	$( document ).ready(function() {
    	$("#add-node-button").on('click', function(e){
			createModalContent(null, 'create');
		});
		
		$("form").submit(function(event) {
			var nodesAsStr;
			if (nodes.length > 0) {
				nodesAsStr = JSON.stringify(nodes);
				
			} else {
				event.preventDefault();
				$("#form-error").html("<p>{% trans 'At least one node must be defined' %}</p>").show();
			}
			
			var masterCount = 0;
			for (var i=0; i<nodes.length; i++) {
				if (nodes[i].is_master) {
					masterCount++;
				}
			}
			if (masterCount == 0) {
				event.preventDefault();
				$("#form-error").html("<p>{% trans 'One of the nodes must be a master node' %}</p>").show();
				
			} else if (masterCount > 1) {
				event.preventDefault();
				$("#form-error").html("<p>{% trans 'Only one master node can exist' %}</p>").show();
				
			}
			
			$("#nodes").val(nodesAsStr);
		});
	});
</script>
{% endblock %}