{% extends "base_services.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="dash-content">		
	<div class="row">
		<div class="col s12 m12">
			<form enctype="multipart/form-data" role="form" class="col s12" method="post" action="{% url 'layer_create' %}">
				{% csrf_token %}
				<div class="row">
						<button id="create-button" class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">{% trans "Create Layer" %}</button>
						<input type="hidden" name="id_layer_type" value="{{ layer_type }}">
				</div>
				{% if form.errors %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<ul>
					{{ form.non_field_errors }}
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}{% if message %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="row">
					<div class="input-field col s12">
						{{ form.datastore }}
						<label for="id_datastore">{% trans "Data store" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						{{ form.name }}
						<label class="gol-form-label" for="id_name">{% trans "Layer name" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.title }}
						<label for="id_title">{% trans "Title" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						{{ form.sql_statement }}
						<label for="id_sql_statement">{% trans "SQL statement" %}</label>
					</div>
					<div class="input-field col s4">
						<button id="autocomplete-button" class="btn waves-effect waves-light blue" style="margin-top: 20px; margin-right: 10px;" type="button">{% trans "Autocomplete" %}</button>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						{{ form.key_column }}
						<label for="id_geom_column">{% trans "Primary key column" %}</label>
					</div>
					<div class="input-field col s6">
						{{ form.geom_column }}
						<label for="id_geom_column">{% trans "Geometry column" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						{{ form.geom_type }}
						<label for="id_geom_type">{% trans "Geometry type" %}</label>
					</div>
					<div class="input-field col s6">
						{{ form.srs }}
						<label for="id_srs">{% trans "Coordinate reference system" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						{{ form.layer_group }}
						<label for="id_layer_group">{% trans "Layer group" %}</label>
					</div>					
				</div>
				<div class="row">
					<div class="col s12">
						<span>{% trans "Layer properties in the viewer" %}</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="visible" class="filled-in"
							id="visible" checked />
						<label for="visible">{% trans "Visible" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="cached" class="filled-in"
							id="cached" checked />
						<label for="cached">{% trans "Cached" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="queryable" class="filled-in"
							id="queryable" checked />
						<label for="queryable">{% trans "Queryable" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="single_image" class="filled-in" id="single_image" />
						<label for="single_image">{% trans "Single image (No tiles)" %}</label>
					</div>
				</div>
				
				
				<br/><br/><br/>
				
				
				<div class="row" style="border: 1px solid #9e9e9e; padding: 20px;">
					<div class="input-field col s12">
			        	<textarea name="md-abstract" id="md-abstract" class="materialize-textarea" rows="30">{% trans "Some description of the layer" %}</textarea>
			        	<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
			        </div>
				</div>
			</form>		
		</div>
	</div>
</div>

<div id="modal-autocomplete" class="modal">
    <div class="modal-content">
      	<div>
			<table class="table" id="pg-layers-table">
				<thead>
					<tr>
						<th></th>
						<th>{% trans "Schema" %}</th>
					    <th>{% trans "Table" %}</th>
					    <th>{% trans "Geom column" %}</th>
					    <th>{% trans "Geom type" %}</th>
					    <th>{% trans "CRS" %}</th>
					    <th>{% trans "Fields" %}</th>
					    <th>{% trans "Key column" %}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>

<div id="modal-select-datasource" class="modal">
    <div class="modal-content">
      <h4>{% trans "Warning" %}</h4>
      <p>{% trans "Select a data store before using Autocomplete" %}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{% trans "OK" %}</a>
    </div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	var table = null;
	$(document).ready(function() {
		// translate default layer group
		var lgs = $("#id_layer_group");
		var lg_options = $("#id_layer_group option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).html('{% trans "Default" %}');
			}
			if (lgs.val()=="") {
				lgs.val(1);
			}
			lgs.material_select();
		}
		$('#pg-layers-table tbody').on('click', 'button', function (){
			var row = table.row($(this).parents('tr'));
			var data = row.data();   
			if (this.name == "button-select-row") {
				autocompleteForms(data);
				$('#modal-autocomplete').closeModal();
			}
		});
		
		$('#autocomplete-button').click(function (e) {
			var ds = $("#id_datastore").val();
			if (table!=null && table.destroy) {
				table.destroy();
			}
			if (ds!=""){
				$('#pg-layers-table tbody').html('&nbsp;').load('/gvsigonline/get_geom_tables/' + ds+'/', function() {
					applyTable();
					$('#modal-autocomplete').openModal({
						dismissible: true, // Modal can be dismissed by clicking outside of the modal
						opacity: .5, // Opacity of modal background
						in_duration: 300, // Transition in duration
						out_duration: 200, // Transition out duration
						ready: function() {}, // Callback for Modal open
						complete: function() {} // Callback for Modal close
					});
				});
			}
			else {
				$('#modal-select-datasource').openModal({
					dismissible: true, // Modal can be dismissed by clicking outside of the modal
					opacity: .5, // Opacity of modal background
					in_duration: 300, // Transition in duration
					out_duration: 200, // Transition out duration
					ready: function() {}, // Callback for Modal open
					complete: function() {} // Callback for Modal close
				});
			}
		});
	});

	$('#create-button').click(function (e) {
		$('body').isLoading({
			text: '{% trans "Creating layer. Please wait..." %}',
			position: "right",
			class: "fa fa-spin fa-refresh",
			tpl: '<span class="isloading-wrapper %wrapper%">%text%<i class="%class% icon-spin"></i></span>',
			disableSource: true,
		    disableOthers: []
		})
	});
	
	function applyTable(){
		if (!$.fn.DataTable.isDataTable('#pg-layers-table')) {
			table = $('#pg-layers-table').DataTable({
				destroy: true,
				responsive: true,
			    language: {
			    	processing		: '{% trans "Processing request..." %}',
				    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
				    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
				    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
				    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
				    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
				    infoPostFix		: "",
				    loadingRecords	: '{% trans "Loading..." %}',
				    zeroRecords		: '{% trans "No records available" %}',
				    emptyTable		: '{% trans "No records available" %}',
				    paginate: {
				        first		: '{% trans "First" %}',
				        previous	: '{% trans "Previous" %}',
				        next		: '{% trans "Next" %}',
				   		last		: '{% trans "Last" %}'
				 	},
				  	aria: {
				     	sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
				        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
				    }
				},
				"columnDefs": [{
			  		"targets": 0,
			        "data": null,
			        "defaultContent": '<button type="button" name="button-select-row" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Select row" %}' + '" class="btn-floating btn-flat waves-effect waves-light light-green"><i class="fa fa-check"></i></button>'
			  	}],
			    "dom": 'T<"clear">lfrtip',
				"bLengthChange": false
			});
		}
	} ;

	function getGeomType(typeStr) {
		var str = typeStr.toUpperCase();
		if (str=="POINT") {
			return "Point";
		}
		else if (str=="MULTIPOINT") {
			return "MultiPoint";
		}
		else if (str=="LINESTRING") {
			return "LineString";
		}
		else if (str=="MULTILINESTRING") {
			return "MultiLineString";
		}
		else if (str=="POLYGON") {
			return "Polygon";
		}
		else if (str=="MULTIPOLYGON") {
			return "MultiPolygon";
		}
	}
	
	function autocompleteForms(data) {
		var schema = data[1];
		var table = data[2];
		var fields = data[6].replace(/,/g, ", ");
		var sql = "SELECT " + fields + " FROM " + schema + "." + table;
		var geom_column = data[3];
		var geom_type = getGeomType(data[4]);
		var srs = data[5];
		var key_column = data[7];
		$("#id_sql_statement").val(sql);
		$("#id_geom_column").val(geom_column);
		$("#id_geom_type").val(geom_type);
		$("#id_geom_type").material_select();
		$("#id_srs").val(srs);
		$("#id_key_column").val(key_column);
		$(".input-field label").addClass("active")
	};

</script>
{% endblock %}