.full-width-img {
	width: 100%;
	max-height: 400px;
}

.carousel-indicators-custom {
	bottom: -40px;
}


.carousel-indicators-custom .active {
    width: 6px;
    height: 6px;
    background-color: #777;
    border: 0px;
}

.carousel-indicators-custom li {
	width: 6px;
    height: 6px;
    background-color: #ccc;
    border: 0px;
    margin: 0px;
}

.attachment-block {
    border: 0px;
    background: rgba(255,255,255,0);
    font-weight: 300;
    font-size: 12px;
    padding-left: 50px;
}


.attachment-block .attachment-pushed {
    margin-top: 20px;
}

.content {
    background-color: #ffffff;
}

.content-wrapper, .right-side {
    background-color: #ffffff;
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.margin-b-30 {
	margin-bottom: 30px;
}

.center{
	text-align: center;
}

.clear-row-40 {
	margin: 40px;
}

.clear-row-20 {
	margin: 20px;
}

.main-header .navbar {
	border-bottom: 1px solid #eeeeee;
}

.navbar-grey {
	background-color: #fafafa;
}

.user-menu-blue {
	background-color: #3c8dbc;
}