{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/importFromService.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_importfromservice')) {
		
		var button = '<li role="presentation"><a id="importfromservice" role="menuitem" tabindex="-1" href="#"><i class="fa fa-globe m-r-5"></i>'+gettext("Import from service")+'</a></li>';
		$('#gvsigol-navbar-file-menu').append(button);
		
		$.ajax({
			type : 'POST',
			async : false,
			url : '/gvsigonline/importfromservice/get_conf/',
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
			success : function(response) {
				var tool = new ImportFromService(response, conf, map);
				viewer.core.loadTool(tool);
				
				
			},
			error : function(e) {
				console.log(e)
				messageBox.show('error', gettext('Error loading importfromservice plugin'));
			}
		});
	}
	
	
</script>