{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/catalog.css" %}" />
<script type="text/javascript" src="{% static "js/catalog_map.js" %}"></script>
<script type="text/javascript" src="{% static "js/catalog.js" %}"></script>

<script type="text/javascript">
	var catalog = new CatalogView(viewer.core.getMap(),
			viewer.core.layerTree,
			{
				{% if 'gvsigol_plugin_catalog' in plugins_config %}
					{% if 'CATALOG_FACETS_CONFIG' in plugins_config.gvsigol_plugin_catalog %}
						facetsConfig: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_FACETS_CONFIG|safe }},
					{% else %}
						facetsConfig: {},
					{% endif %}
					{% if 'CATALOG_FACETS_ORDER' in plugins_config.gvsigol_plugin_catalog %}
						facetsOrder: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_FACETS_ORDER|safe }},
					{% else %}
						facetsOrder: [],
					{% endif %}
					{% if 'CATALOG_DISABLED_FACETS' in plugins_config.gvsigol_plugin_catalog %}
						disabledFacets: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_DISABLED_FACETS|safe }}
					{% else %}
						disabledFacets: []
					{% endif %}
				{% endif %}
			});
	
	var html = '';
	
	html += '<ul class="nav navbar-nav">';
	html += '    <li><a href="#" id="show_map" class="dropdown-toggle">Map</a></li>';
	html += '</ul>'
	html += '<ul class="nav navbar-nav">';
	html += '    <li><a href="#" id="show_catalog" class="dropdown-toggle">Catalog</a></li>';
	html += '</ul>'
	
	$("#viewer-navbar").append(html);
	
	
	var modal = '';
	modal += '<div class="modal fade" id="modal-catalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">';
	modal += '	<div class="modal-dialog" role="document" style="width:auto;margin:30px 50px 30px 50px;">';
	modal += '		<div class="modal-content">';
	modal += '			<div class="modal-header">';
	modal += '				<button type="button" class="close" data-dismiss="modal"';
	modal += '					aria-label="Close">';
	modal += '					<span aria-hidden="true">&times;</span>';
	modal += '				</button>';
	modal += '				<h4 class="modal-catalog-title" id="myModalLabel"></h4>';
	modal += '			</div>';
	modal += '			<div class="modal-catalog-body">';
	modal += '			</div>';
	modal += '			<div class="modal-catalog-footer">';
	modal += '			</div>';
	modal += '		</div>';
	modal += '	</div>';
	modal += '</div>';
	
	$("body").append(modal);
	
	
	
	$("#show_catalog").click(function(){
		catalog.showPanel()
	});
	
	$("#show_map").click(function(){
		catalog.hidePanel()
	});
	
</script>
