{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/catalog.css" %}" />
<script type="text/javascript" src="{% static "js/catalog_map.js" %}"></script>
<script type="text/javascript" src="{% static "js/catalog.js" %}"></script>
<script type="text/javascript" src="{% static "js/tools/searchFeaturesInCatalog.js" %}"></script>


<script type="text/javascript">
(function() {
if (viewer.core.ifToolInConf('gvsigol_plugin_catalog')) {
	
	var catalog = new CatalogView(viewer.core,
			{
				{% if 'gvsigol_plugin_catalog' in plugins_config %}
					{% if 'CATALOG_SEARCH_FIELD' in plugins_config.gvsigol_plugin_catalog %}
						searchField: '{{ plugins_config.gvsigol_plugin_catalog.CATALOG_SEARCH_FIELD }}',
					{% endif %}
					{% if 'CATALOG_FACETS_CONFIG' in plugins_config.gvsigol_plugin_catalog %}
						facetsConfig: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_FACETS_CONFIG|safe }},
					{% else %}
						facetsConfig: {},
					{% endif %}
					{% if 'CATALOG_FACETS_ORDER' in plugins_config.gvsigol_plugin_catalog %}
						facetsOrder: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_FACETS_ORDER|safe }},
					{% else %}
						facetsOrder: [],
					{% endif %}
					{% if 'CATALOG_DISABLED_FACETS' in plugins_config.gvsigol_plugin_catalog %}
						disabledFacets: {{ plugins_config.gvsigol_plugin_catalog.CATALOG_DISABLED_FACETS|safe }},
					{% else %}
						disabledFacets: [],
					{% endif %}
					{% if 'CATALOG_QUERY_URL' in plugins_config.gvsigol_plugin_catalog %}
						queryUrl: '{{ plugins_config.gvsigol_plugin_catalog.CATALOG_QUERY_URL }}',
					{% else %}
						queryUrl: "",
					{% endif %}
					{% if 'CATALOG_BASE_URL' in plugins_config.gvsigol_plugin_catalog %}
						baseUrl: '{{ plugins_config.gvsigol_plugin_catalog.CATALOG_BASE_URL }}',
					{% else %}
						baseUrl: "",
					{% endif %}
					{% if 'METADATA_VIEWER_BUTTON' in plugins_config.gvsigol_plugin_catalog %}
						metadata_viewer_button: '{{ plugins_config.gvsigol_plugin_catalog.METADATA_VIEWER_BUTTON }}',
					{% else %}
						metadata_viewer_button: "FULL",
					{% endif %}
					{% if 'CATALOG_CUSTOM_FILTER_URL' in plugins_config.gvsigol_plugin_catalog %}
						customFiltersConfig: {url: '{{ plugins_config.gvsigol_plugin_catalog.CATALOG_CUSTOM_FILTER_URL }}'},
					{% endif %}
				{% endif %}
			});
	{% if 'DISABLE_CATALOG_NAVBAR_MENUS' in plugins_config.gvsigol_plugin_catalog %}
		var installCatalog = !('{{ plugins_config.gvsigol_plugin_catalog.DISABLE_CATALOG_NAVBAR_MENUS }}' == 'True');
	{% else %}
		var installCatalog = true;
	{% endif %}
	if (installCatalog) {
		catalog.installNavBars();
	}
	catalog.install();
	viewer.core.catalog = catalog;
}

$(document).ready(function() {
	var map = viewer.core.getMap();	
	var tool = new SearchFeaturesInCatalog(map, {});
	viewer.core.loadTool(tool);
});
})();
</script>
