.new-style-options-icon {
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 32px;
    color: #3c8dbc;
}

.preview-map{
	height: 280px;
    width: 100%;
    margin-bottom: 30px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.label-preview-svg{
	max-height: 30px;
	max-width: 100px;
}

.symbolizer-link {
	color: #777 !important;
}
.symbolizer-link:hover {
	color: #999 !important;
}
.label-link {
	color: #777 !important;
}
.label-link:hover {
	color: #999 !important;
}

.link-selected {
	color: #3c8dbc !important;
	font-weight: bold;
}

.users-list > li {
/*     width: auto !important; */
}

.library-symbol-preview-div {
	text-align: center;
}

.preview-eg{
	max-height: 48px;
	max-width: 48px;
}

/* .output-eg{ */
/* 	max-height: 8px; */
/* 	max-width: 8px; */
/* } */

.output-eg-div {
	text-align: center;
	padding: 20px;
}

.users-list > li img {
    border-radius: 0px !important;
    max-width: 48px !important;
}

.users-list-name {
    overflow: visible;
}

.rule-preview{
	display: inline-block;
    margin-right: 20px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.preview-ramp-color{
	height: 80px;
	border: 1px solid #d2d6de;
	margin-bottom: 10px;
}

.color-ramp-item{
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.2);	
}

.color-ramp-item:hover{
	background-color: rgba(0,0,0,0.1);	
}

.color-ramp-button{
	padding: 4px 10px;
}

.color-ramp-name{
	padding: 4px 0px;
}

.color-ramp-button:hover{
	background-color: rgba(0,0,0,0.2);	
}