{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/catastrord_admin.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_catastrord_admin')) {
		// GPS Ganado plugin ya está cargado en el panel de administración
		// No necesita funcionalidad específica en el visor de mapas
		console.log("Catastro RD Admin plugin loaded");
	}
</script> 