{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Symbol Ramp Colors" %}</h3>
				<div class="box-tools pull-right">
					<button id="button-add-color_ramp" class="btn btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add color ramp" %}</button>
					<button id="button-import-color_ramp" class="btn btn-default btn-sm"><i class="fa fa-upload margin-r-5"></i> {% trans "Import color ramp" %}</button>
				</div>
			</div>
			
			<div class="box-body">
				{% for color_ramp in color_ramps %}
					<div id="color-ramp-{{color_ramp.id}}" class="color-ramp-item col-md-4">
						<div id="color-ramp-preview-{{color_ramp.id}}" class="preview-ramp-color">
						</div>
						<span class="color-ramp-name">{{ color_ramp.name }}</span> 
						<div id="color-ramp-delete-{{color_ramp.id}}" data-toggle="modal" data-target="#modal-delete-library" class="color-ramp-button color-ramp-delete ramp-delete pull-right">
							<i class="fa fa-trash ramp-delete" aria-hidden="true"></i>
						</div>
						<div id="color-ramp-edit-{{color_ramp.id}}" class="color-ramp-button color-ramp-edit pull-right">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>	

<!-- Modal -->
<div class="modal fade" id="modal-delete-library" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete color ramp" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Color ramp will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-library-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-library-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-colorramp').addClass("active");
</script>
<script>
$(document).ready(function() {
	var colorramp = new ColorRamp();
		 
	$('#libraries-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-library") {
	        updateLibrary(data);
	    } else if (this.name == "button-export-library") {
	    	exportLibrary(data);
	    } else if (this.name == "button-delete-library") {
	    	deleteLibrary(data);
	    } 
	});
	
	$('#button-add-color_ramp').on('click', function (){
		location.href = '/gvsigonline/symbology/color_ramp_add/';
	});
	
	$('#button-import-color_ramp').on('click', function (){
		location.href = '/gvsigonline/symbology/color_ramp_import/';
	});
	
	$(".color-ramp-item").on('click', function (event){
		if(!event.target.classList.contains("ramp-delete")){
			var data = $(this).attr("id").replace("color-ramp-", "");
			updateLibrary(data);
		}
	});

	function updateLibrary(data){
		location.href = '/gvsigonline/symbology/color_ramp_update/' + data + '/';
	}
	
	$(".color-ramp-delete").on('click', function (event){
		var data = $(this).attr("id").replace("color-ramp-delete-", "");
		deleteLibrary(data);
		return true;
	});
	
	function deleteLibrary(data){
		$('#button-delete-library-accept').click( function() {
			$("body").overlay();
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/symbology/color_ramp_delete/' + data + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-library').modal('hide');
					$.overlayout();
					location.reload();
				},
				error: function(){}
			});
		});
	}
	
	{% for color_ramp in color_ramps %}
		var aux_json = JSON.parse({{color_ramp.definition | safe}});
		colorramp.refreshComponentPreview("color-ramp-preview-{{color_ramp.id}}", aux_json, "style");
	{% endfor %}
  
});
</script>
{% endblock %}