{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div id="buttons-div" class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Groups list" %}</h3>
				<div class="box-tools pull-right">
					<button id="delete-legend" class="btn btn-box-tool delete-legend"><i class="fa fa-times margin-r-5"></i> {% trans "Delete" %}</button>
					<button id="change-legend" class="btn btn-box-tool change-legend"><i class="fa fa-exchange margin-r-5"></i> {% trans "Modify legend" %}</button>
					{% if style.type != "IM" and style.type != "IR" %}
					<button id="metadata-legend" class="btn btn-box-tool metadata-legend"><i class="fa fa-cog margin-r-5"></i> {% trans "Advance" %}</button>	
					{% endif %}			
					<button id="default-legend" class="btn btn-box-tool default-legend"><i class="fa fa-star margin-r-5"></i> {% trans "Default" %}</button>
					<button id="save-legend" class="btn btn-box-tool save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>
					{% if style.type != "IM" and style.type != "IR" %}
					<button id="label-legend" class="btn btn-box-tool label-legend"><i class="fa fa-tag margin-r-5"></i> {% trans "Labeling" %}</button>
					{% endif %}	
				</div>
			</div>

			<div class="box-body">
				<div id="legend-buttons" class="step-1 hidden">
					<h4>{% trans "Select the type of legend" %}</h4>
				 </div>
				 <div id="legend-panel">
				 </div>
			</div>
		</div>
	</div>
</div>   

<div class="modal" id="modal-symbology" tabindex="-1" role="dialog" aria-labelledby="myFloatModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header"></div>
			<div class="modal-body"></div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>          

<div class="modal" id="modal-interval-symbology" tabindex="-1" role="dialog" aria-labelledby="myFloatModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Update intervals" %}</h4>
			</div>
			<div class="modal-body">
				<h5><i class="icon-layers dash-secondary-icon" style="color:#26a69a"></i> <span>{% trans "Update intervals" %}</span></h5>
		      	<li class="interval-min-input collection-item selectedField">
					<label for="interval-input-0">
					» {% trans "Minimum" %}
						<input id="interval-min-input" class="validate" type="number" value="0" placeholder="">
					</label>
				</li>
				<li class="interval-max-input collection-item selectedField">
					<label for="interval-input-0">
					» {% trans "Maximum" %}
						<input id="interval-max-input" class="validate" type="number" value="0" placeholder="">
					</label>
				</li>
			</div>
			<div class="modal-footer">
				<button id="intervalAcceptButton" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Accept" %}</button>
				<button id="intervalCancelButton" type="button" class="btn btn-primary">{% trans "Cancel" %}</button>
			</div>
		</div>
	</div>
</div>
  
<div class="modal" id="modal-metadata" tabindex="-1" role="dialog" aria-labelledby="myFloatModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Layer data" %}</h4>
			</div>
			<div class="modal-body">
				<div class="modal-metadata-form">    
      			</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
	  	
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>
$(document).ready(function() {
	var sup_crs = {{ supported_crs|safe }};
	for (var key in sup_crs) {
		proj4.defs(sup_crs[key].code, sup_crs[key].definition);	
	}

	var symbologyUtils = new SymbologyUtils();
	
	var styleType = "{{ style.type }}";
	var data = {{ rules|safe }};
	var workspace = {{ workspace|safe }};
	var labels = {{ labels|safe }};
	var fields = {{ fields|safe }};
	var layer = {{ layer|safe }};
	var layer_id = layer[0]["layer"][0].pk;
	var layer_name = layer[0]["layer"][0].fields.name;
	var featureType = "{{ featureType }}";
	var style_id = {{ style.id }};
	var style_name = "{{ style.name }}";
	var sldFilterValues = {{ sldFilterValues|safe }};
	
	var sld_object = {{ sld_object|safe }};
	
	var legendName = layer_name;
	var legendTitle = "{{ style.title }}";
	var legendDescription = "{{ style.description }}";
	
	var legendMinScale = null;
	var legendMaxScale = null;
	
	if(data.length > 0){	
		legendMinScale = data[0].rule[0].fields.minscale;
		legendMaxScale = data[0].rule[0].fields.maxscale;
	}	
		
	var formHelper = new SymbologyFormComponents();
	var csrf_input = "{% csrf_token %}";
	
	
	var uniqueSymbol = new UniqueSymbol(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields);
	var uniqueValues = new UniqueValues(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields);
	var intervals = new Intervals(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields);
	var expressions = new Expressions(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields, sldFilterValues);
	var importedSLD = new ImportedSLD(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields, sldFilterValues, csrf_input);
	var importedRMF = new ImportedRMF(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields, sldFilterValues, csrf_input);
	var colorTable = new ColorTable(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields, sldFilterValues, csrf_input);
	{% if GEOSERVER_CHART_MODULE %}
	var charts = new Charts(workspace, layer, style_id, featureType, "legend-buttons", "legend-panel", fields, sldFilterValues, csrf_input);
	{% endif %}
	
	function mark_style_as_default(){
       	$(".default-legend-element").show(1000);
        $(".default-legend").addClass("hidden");
	}
	
	function is_default_style(){
		if("{{is_default_style}}" == "True"){
			mark_style_as_default();
		}
	}
	
	var changeForm = function(){
		window.location.href = "/gvsigonline/symbology/style_layer_add/"+layer_id+"/{{ style.id }}/";
	}

	$(".change-legend").click(function(){
		var symbologyUtils = new SymbologyUtils();
		symbologyUtils.showModal("change-legend-modal", "Cambiar leyenda", "Se perderán los datos no guardados", changeForm, true)
	});

	$(".top-operation").hover(function(){
		$(this).addClass("top-operation-hover");	
	},function(){
		$(this).removeClass("top-operation-hover");	
	});
	
	$(".metadata-legend").click(function(){
		$('#modal-metadata .modal-metadata-form').removeClass("hidden");
		$('#modal-metadata .modal-metadata-form').empty();
		var name = legendName;
		if(name == null || name == "" || name == "None"){
			name = "{{ layer.name }}";
		}
		
		var title = ""; 
		var auxTitle = legendTitle;
		if(auxTitle != null && auxTitle != "" && auxTitle != "None"){
			title = auxTitle;
		}
		
		var desc = ""; 
		var auxDesc = legendDescription;
		if(auxDesc != null && auxDesc != "" && auxDesc != "None"){
			desc = auxDesc;
		}
		
		var nameContainer = formHelper.createFormTextInput("Nombre capa", "layer-name", name, true, false, 0);
		$('#modal-metadata .modal-metadata-form').append(nameContainer);
		
		var nameContainer = formHelper.createFormTextInput("Nombre estilo", "style-name", style_name, true, false, 0);
		$('#modal-metadata .modal-metadata-form').append(nameContainer);
		
		var titleContainer = formHelper.createFormTextInput("Título capa", "layer-title", title, false, false, 0);
		$('#modal-metadata .modal-metadata-form').append(titleContainer);
		
		var descripcionContainer = formHelper.createFormInputArea("Descripción capa", "layer-description", desc, false, 4, false, 0);
		$('#modal-metadata .modal-metadata-form').append(descripcionContainer);
		
		if(styleType == uniqueSymbol.getID() || styleType == uniqueValues.getID() || styleType == intervals.getID()){
			var minContainer = formHelper.createFormInput("Escala mínima", "layer-minscale", "number", null, null, legendMinScale, false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(minContainer);
			
			var maxContainer = formHelper.createFormInput("Escala máxima", "layer-maxscale", "number", null, null, legendMaxScale, false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(maxContainer);
		}
		
		if(styleType == intervals.getID() || styleType == colorTable.getID()){
			var color1 = getCurrentLegend(styleType).getInitialColor();
			var startColor = formHelper.createFormColorChooser("Color inicial", "layer-startcolor", color1, false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(startColor);
			
			var color2 = getCurrentLegend(styleType).getFinalColor();
			var endColor = formHelper.createFormColorChooser("Color final", "layer-endcolor", color2, false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(endColor);
		}
		
		
		if(styleType == colorTable.getID()){
			var nullValueContainer = formHelper.createFormInput("nullValue", "raster-nullValue", "number", null, null, colorTable.getNullValue(), false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(nullValueContainer);
			
			var minValueContainer = formHelper.createFormInput("Valor mínimo", "raster-minValue", "number", null, null, colorTable.getMinValue(), false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(minValueContainer);
			
			var maxValueContainer = formHelper.createFormInput("Valor máximo", "raster-maxValue", "number", null, null, colorTable.getMaxValue(), false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(maxValueContainer);
		}
		
		{% if GEOSERVER_CHART_MODULE %}
		if(styleType == charts.getID()){
			var anchoContainer = formHelper.createFormInput("Ancho", "chart-ancho", "number", 0, 100000, charts.getChartWidth(), false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(anchoContainer);
			
			var altoContainer = formHelper.createFormInput("Alto", "chart-alto", "number", 0, 100000, charts.getChartHeight(), false, false, 0);
			$('#modal-metadata .modal-metadata-form').append(altoContainer);
		}
		{% endif %}
		
		$('#modal-metadata .modal-footer').empty();
		var acceptButton = $("<a>", {id: "metadataAcceptButton-"+styleType, class: "update-metadata.info modal-action modal-close waves-effect waves-green btn-flat", text: "Aceptar"});
		var cancelButton = $("<a>", {id: "formCancelButton", class: "cancel-new-symbol-button modal-action modal-close waves-effect waves-green btn-flat", text: "Cancelar"});
		$('#modal-metadata .modal-footer').append(acceptButton);
		$('#modal-metadata .modal-footer').append(cancelButton);
	
		$('#modal-metadata').openModal();
		
		$("#metadataAcceptButton-"+styleType).click(function(){
			$('#modal-metadata .modal-metadata-form').addClass("hidden");
			
			legendName = $("#layer-name-0").val();
			legendTitle = $("#layer-title-0").val();
			legendDescription = $("#layer-description-0").val();
			
			legendMinScale = $("#layer-minscale-0").val();
			legendMaxScale = $("#layer-maxscale-0").val();
			
			if(styleType == colorTable.getID()){
				getCurrentLegend(styleType).updateNullMinMaxValues(
					$("#raster-nullValue-0").val(),
					$("#raster-minValue-0").val(),
					$("#raster-maxValue-0").val()
				);
			}
			
			if(styleType == intervals.getID() || styleType == colorTable.getID()){
				getCurrentLegend(styleType).updateColorRamp(
					$("#layer-startcolor-0").val(),
					$("#layer-endcolor-0").val()
				);
			}
			
			{% if GEOSERVER_CHART_MODULE %}
			if(styleType == charts.getID()){
				getCurrentLegend(styleType).updateSize(
					$("#chart-ancho-0").val(),
					$("#chart-alto-0").val()
				);
			}
			{% endif %}
			$('#modal-metadata').closeModal();
			
			ajaxPost(
			"/gvsigonline/symbology/save_legend/"+layer_id+"/{{ style.id }}/", 
			{
				'name': legendName,
				'title': legendTitle,
				'description': legendDescription,
			}, 
			function(content){
	            //onSuccess
	            for(var i=0; i<data.length; i++){
	            	if(legendMinScale != ""){
	            		data[i].rule[0].fields.minscale = legendMinScale;
	            	}else{
	            		data[i].rule[0].fields.minscale = null;
	            	}
	            	if(legendMaxScale != ""){
	            		data[i].rule[0].fields.maxscale = legendMaxScale;
	            	}else{
	            		data[i].rule[0].fields.maxscale = null;
	            	}
	            }
	        })
			});
		});
	
	
	$(".default-legend").click(function(){
		ajaxPost("/gvsigonline/symbology/set_default_style/"+layer_id+"/{{ style.id }}/", function(content){
            //onSuccess
            if(!$(".default-legend-element").hasClass("is-default")){
				mark_style_as_default();
            }
        })
	});
	
	function save_data(url){
		if(styleType == "IM" || styleType == "IR"){
			getCurrentLegend(styleType).submit();
		
		}else{
			var legend = getCurrentLegend(styleType)
			var lbs = labels;
			data = legend.getData();
			for(var i=0; i<lbs.length; i++){
				data.push(lbs[i]);
			}
			$.ajax({
			  type: "POST",
			  async: false,
			  url: "/gvsigonline/symbology/save_style/"+layer_id+"/{{ style.id }}/",
			  beforeSend:function(xhr){
					    	xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
					  	},
			  "data": {
			  	'datos': JSON.stringify({data})
			  },
			  success: function(){
			  	  location.href = url;
			  },
		  	  error: function(){
		  		  //FIXME: should close this modal and show a error modal
		  	  }
			});
		}
	}
	
	$(".label-legend").click(function(){
		save_data("/gvsigonline/symbology/style_label_update/"+layer_id+"/{{ style.id }}/");
	});
	
	$(".save-legend").click(function(){
		save_data("/gvsigonline/symbology/style_layer_list/");
	});
	
	$(".delete-legend").click(function(){
		window.location.href = "/gvsigonline/symbology/delete_style/{{ style.id }}/";
	});
	
	$(".back-button").click(function(){
		window.location.href = "/gvsigonline/symbology/style_layer_list/";
	});
	
	$(".legend-button").click(function(){
		if(!$(".step-1").hasClass("hidden")){
			$(".step-1").addClass("hidden");
		}
		$(".change-legend").parent().css('display', 'block');
		var legend = $(this).attr('id');
		$("#"+legend+"-panel").css('display', 'block');
	});
	
	function getCurrentLegend(styleType){
		if(styleType == uniqueSymbol.getID()){
			return uniqueSymbol;
		}
		if(styleType == uniqueValues.getID()){
			return uniqueValues;
		}
		if(styleType == intervals.getID()){
			return intervals;
		}
		if(styleType == expressions.getID()){
			return expressions;
		}
		if(styleType == importedSLD.getID()){
			return importedSLD;
		}
		if(styleType == importedRMF.getID()){
			return importedRMF;
		}
		if(styleType == colorTable.getID()){
			return colorTable;
		}
		{% if GEOSERVER_CHART_MODULE %}
		if(styleType == charts.getID()){
			return charts;
		}
		{% endif %}
	}
	
	if(styleType != importedSLD.getID() && styleType != importedRMF.getID()){
		symbologyUtils.loadData(getCurrentLegend(styleType), styleType, data);
	}
	is_default_style();
	
	
	$( "#{{ style.type }}" ).trigger( "click" );	
	
	var legend = getCurrentLegend(styleType);
	legend.loadPreviewMap(workspace, layer, "{{ username }}", "{{ password }}");
	
	if(styleType == importedSLD.getID() || styleType == importedRMF.getID()){
		data = sld_object;
	}
	
	symbologyUtils.loadData(getCurrentLegend(styleType), styleType, data);
	
});
</script>
{% endblock %}