@media only screen and (max-width: 640px) {
	#importfromservice {
		display: none
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#importfromservice {
		display: none
	}
}

/*input::-webkit-calendar-picker-indicator {
	display: none;
}
.myarrow:after {
	content: url(https://i.stack.imgur.com/i9WFO.png);
	margin-left: -20px; 
	padding: .1em;
	pointer-events:none;
}*/

input::-webkit-calendar-picker-indicator {
	display: none;
}

.myarrow {
	/* you should keep these firsts rules in place to maintain cross-browser behaviour */
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url(https://i.stack.imgur.com/i9WFO.png);
	background-position: 98% center;
	background-repeat: no-repeat;
	outline: none;
	width: 100%;
	height: 32px;
}