{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 

{% block header %}
<link rel="stylesheet" href="{% static "css/gol-tokens.css" %}">
<link rel="stylesheet" href="{% static "css/gol-form-modal.css" %}">
<link rel="stylesheet" href="{% static "css/gol-list-page.css" %}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="pl-panel">
			<div class="pl-panel__header">
				<h3 class="pl-panel__title">
					<i class="fa fa-shield"></i>{% trans "Roles" %}
				</h3>
				<div class="pl-panel__actions">
					<form class="pl-search-form">
						<input type="text" class="form-control" placeholder="{% trans 'Search...' %}">
						<button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
						<a href="#" class="btn-clear"><i class="fa fa-times"></i></a>
					</form>
					<button id="button-add-role" class="btn-pl-add"><i class="fa fa-plus"></i> {% trans "Add role" %}</button>
				</div>
			</div>
			<div class="pl-panel__body">
				<table class="pl-table table" id="roles-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Description" %}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for role in roles %}
						<tr>
							<td>{{ role.id }}</td>
							<td>{{ role.name }}</td>
							<td>{{ role.description }}</td>
							<td>{% if role.editable is not False %}<button type="button" name="button-delete-role" data-toggle="modal" data-target="#modal-delete-role" data-placement="bottom" title="{% trans "Delete role" %}" class="btn btn-danger"><i class="fa fa-times"></i></button>{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete role" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The role will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-role-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-role-accept" type="button" class="btn btn-modal-accept">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-group-users').addClass("active");
	$('#submenu-roles').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = golListTable('#roles-table', {
		dt: {
		"order": [[ 1, 'asc' ]]
		}
	});
		 
	$('#roles-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-delete-role"){
	        deleteRole(data, row);   
	    }
	});
	
	$('#button-add-role').click( function() {
		location.href = '/gvsigonline/auth/role_add/';
	});

	function deleteRole(data, row){
		$('#button-delete-role-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/auth/role_delete/' + data[1] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				}
			}).done(function(response){
				$('#modal-delete-role').modal('hide');
				location.reload();
			}).fail(function(jqXHR){
				$('#modal-delete-role').modal('hide');
				if (jqXHR.responseJSON.message) {
					messageBox.show("error", jqXHR.responseJSON.message);
				} else {
					messageBox.show("error", gettext('Error deleting role'));
				}
			});
		});
	}
	    
});
</script>
{% endblock %}
