{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 

{% block header %}
<link rel="stylesheet" href="{% static "css/gol-form-modal.css" %}">
<link rel="stylesheet" href="{% static "css/gol-list-page.css" %}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="pl-panel">
			<div class="pl-panel__header">
				<h3 class="pl-panel__title">
					<i class="fa fa-user"></i>{% trans "Users" %}
				</h3>
				<div class="pl-panel__actions">
					<form class="pl-search-form">
						<input type="text" class="form-control" placeholder="{% trans 'Search...' %}">
						<button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
						<a href="#" class="btn-clear"><i class="fa fa-times"></i></a>
					</form>
					{% if not read_only_users %}
					<button id="button-add-user" class="btn-pl-add"><i class="fa fa-plus"></i> {% trans "Add user" %}</button>
					{% endif %}
				</div>
			</div>
			<div class="pl-panel__body">
				<table class="pl-table table" id="users-table">
					<thead>
						<tr>
							<th>{% trans "Username" %}</th>
							<th>{% trans "First name" %}</th>
							<th>{% trans "Last name" %}</th>
							<th>{% trans "Email" %}</th>
							<th>{% trans "is superuser" %}</th>
							<th>{% trans "is staff" %}</th>
							<th>{% trans "Roles" %}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{ user.username }}</td>
							<td>{{ user.first_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.is_superuser }}</td>
							<td>{{ user.is_staff }}</td>
							<td>{{ user.roles }}</td>
							<td></td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete user" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The user will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-user-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-user-accept" type="button" class="btn btn-modal-accept">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-group-users').addClass("active");
	$('#submenu-users').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = golListTable('#users-table', {
		dt: {
		processing: true,
		serverSide: true,
		ajax: {
			url: "{% url 'datatables-user-list' %}",
			type: 'POST'
		},
		"columnDefs": [{
			"targets": 0, "sortable": false, "orderable": false
		},{
			"targets": 1, "sortable": false, "orderable": false
		},{
			"targets": 2, "sortable": false, "orderable": false
		},{
			"targets": 3, "sortable": false, "orderable": false
		},{
			"targets": 4, "sortable": false, "orderable": false
		},{
			"targets": 5, "sortable": false, "orderable": false
		},{
			"targets": 6, "sortable": false, "orderable": false
		},{
	        "targets": -1,
	        "data": null,
	        "render": function(data, type, row, meta) {
				{% if not read_only_users %}
				var editable = row && row.length ? row[row.length - 1] : false;
				if (editable) {
					return '<button type="button" name="button-delete-user" data-toggle="modal" data-target="#modal-delete-user" data-placement="bottom" title="' + '{% trans "Delete user" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>';
				}
				{% endif %}
				return '';
			},
			"sortable": false, "orderable": false
	    },{
	        "targets": -2,
	        "data": null,
	        "render": function(data, type, row, meta) {
				return '<button type="button" name="button-update-user" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update user" %}' + '" class="btn btn-success"><i class="fa fa-edit"></i></button>';
			},
			"sortable": false, "orderable": false
	    }],
		"order": []
		}
	});
		 
	$('#users-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-user") {
	       	updateUser(data);
	    } else if (this.name == "button-delete-user"){
	        deleteUser(data, row);   
	    }
	});
	
	$('#button-add-user').click( function() {
		location.href = '/gvsigonline/auth/user_add/';
	});

	function updateUser(data){			
		location.href = '/gvsigonline/auth/user_update/' + data[0] + '/';
	}

	function deleteUser(data, row){
		$('#button-delete-user-accept').off('click').on('click', function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/auth/user_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				}
			}).done(function(response){
				$('#modal-delete-user').modal('hide');
				location.reload();
			}).fail(function(jqXHR){
				$('#modal-delete-user').modal('hide');
				if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
					messageBox.show("error", jqXHR.responseJSON.message);
				} else {
					messageBox.show("error", '{% trans "Error deleting user" %}');
				}
			});
		});
	}
	    
});
</script>
{% endblock %}
