{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<button id="button-add-user" class="btn btn-block btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add user" %}</button>
				</div>
			</div>
		</div>
			
		<div class="box">
			<div class="box-body">
				<table class="table" id="users-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "Username" %}</th>
							<th>{% trans "First name" %}</th>
							<th>{% trans "Last name" %}</th>
							<th>{% trans "Email" %}</th>
							<th>{% trans "is superuser" %}</th>
							<th>{% trans "is staff" %}</th>
							<th>{% trans "Groups" %}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.first_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.is_superuser }}</td>
							<td>{{ user.is_staff }}</td>
							<td>{{ user.groups }}</td>
							<td></td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete user" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The user will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-user-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-user-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-group-users').addClass("active");
	$('#submenu-users').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#users-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-user" data-toggle="modal" data-target="#modal-delete-user" data-placement="bottom" title="' + '{% trans "Delete user" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
	    },{
	        "targets": -2,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-update-user" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update user" %}' + '" class="btn btn-success"><i class="fa fa-edit"></i></button>'
	    }],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
		 
	$('#users-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-user") {
	       	updateUser(data);
	    } else if (this.name == "button-delete-user"){
	        deleteUser(data, row);   
	    }
	});
	
	$('#button-add-user').click( function() {
		location.href = '/gvsigonline/auth/user_add/';
	});

	function updateUser(data){			
		location.href = '/gvsigonline/auth/user_update/' + data[0] + '/';
	}

	function deleteUser(data, row){
		$('#button-delete-user-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/auth/user_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-user').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	    
});
</script>
{% endblock %}