.viewer-search-form {
	border-radius: 3px;
    border: 1px solid #374850;
    margin: 0px 30px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: clip;
	max-width: 540px;
    display: inline-block;
    width: 540px;
    min-width: 200px;
}

.portable .viewer-search-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 0px 10px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: clip;
    max-width: 338px;
    display: inline-block;
    width: 338px;
    min-width: 175px;
}

.viewer-search-form .input-group{width:100%}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.form-control.image-form-control{ height: auto; background-color: #eee; margin-bottom:5px}
.form-control.image-form-control img{ height: 48px;}

.btn-default.upload-form-button {width: 100%;}
.upload-form-button-div {padding: 10px 25px;}

 #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 .ui-state-highlight { height:50px; background-color:#ecf0f5}
 
tr.ui-state-default.ui-sortable-handle{ height:50px}

.id-row.default-field{color:#ddd}

.box-header.process-title .title{display: inline-block;font-size: 18px;margin: 0;line-height: 1;}
#process-resume{margin: 10px 20px;padding: 10px 20px;background-color: #ecf0f5;}

#process-resume .fa-info-circle{color:blue}

#process-resume.idle{background-color: #e6e6ff;}
#process-resume.idle.complete{background-color: #e6f3e6;}

.list-no-button .btn-success {display:none;}
#process-resume.busy{background-color: #ecf0f5;}
#process-resume.error{background-color: #F4B0B0;}


.idle-message i,
.busy-message i,
.complete-message i{margin-right:10px;}
.complete-message{color:green}
.error-message{color:red}

.idle-message, .complete-message, .error-message{display:none}
.idle .idle-message{display:block}
.idle.complete .idle-message{display:none}
.idle .complete-message{display:none}
.idle.complete .complete-message{display:block}
.error .error-message{display:block}

.error .none-message,
.idle .none-message,
.busy .none-message,
.idle.complete .none-message{display:none}

.busy-message{display:none}
.busy .busy-message{display:block}

.last_update{color: #c0c0c0; font-size: 11px; margin: 0px;}

.provider-img-change{float:left;margin-left:30px; margin-top:10px;}
.provider-img{float:left; border: 1px solid #ccc; padding: 10px; min-width: 72px; height: 72px; margin-bottom:20px}
.provider-img img{height: 50px;}

.float-search-tool{float:left; padding:15px 10px; position:absolute; z-index:1000;}

.inverse-geocoding-type:hover{background-color: #eee}

#autocomplete {
	width: 92%;
}

#inverse-geocoding {
	width: 8%;
    height: 34px;
}

@media only screen and (max-width: 640px) {
	.viewer-search-form {
		display: none;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.viewer-search-form {
		border-radius: 3px;
	    border: 1px solid #374850;
	    margin: 0px 10px;
	    margin-top: 5px;
	    overflow: hidden;
	    text-overflow: clip;
		max-width: 40%;
	}
}