@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x9p9vd');
  src:  url('fonts/icomoon.eot?x9p9vd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x9p9vd') format('truetype'),
    url('fonts/icomoon.woff?x9p9vd') format('woff'),
    url('fonts/icomoon.svg?x9p9vd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reverse-geocoding:before {
  content: "\e900";
  font-size: 24px;
}

