.new-style-options-icon {
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 32px;
    color: #3c8dbc;
}

.preview-map{
	height: 280px;
    width: 100%;
    margin-bottom: 30px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.preview-svg{
	height: 20px;
	width: 20px;
}

.label-preview-svg{
	max-height: 30px;
}

.vector-link {
	color: #777 !important;
}
.vector-link:hover {
	color: #999 !important;
}
.graphic-link {
	color: #777 !important;
}
.graphic-link:hover {
	color: #999 !important;
}
.label-link {
	color: #777 !important;
}
.label-link:hover {
	color: #999 !important;
}

.link-selected {
	color: #3c8dbc !important;
	font-weight: bold;
}

