* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.map-header {
	border-bottom: 1px solid #ccc;
}

#container {
    bottom: 0;
    left: 0;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 50px;
}

#map {
	width: 100%; 
	height: 100%;
}

.ol-zoom {
    top: 6px;
	right: 6px;
	left: auto;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	/*background: rgba(255, 255, 255, 1.0) none repeat scroll 0 0;
	color: #383838;*/
}

.ol-overviewmap {
	right: 6px;
	bottom: 6px;
	left: auto;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.ol-scale-line{
	background:rgba(255, 255, 255, 1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius:4px;
	bottom:8px;
	left:8px;
	padding:2px;
	position:absolute
}
.ol-scale-line-inner{
	border:1px solid #777;
	border-top:none;
	color:#777;
	font-size:10px;
	text-align:center;
	margin:1px;
	will-change:contents,width
}

.ol-control {
    background-color: rgba(255, 255, 255, 1);
}
.ol-control:hover {
  background-color: rgba(255,255,255,1);
}

.ol-control button{
    /*background-color: rgba(255, 255, 255, 1);
    color: #777;*/
    background-color: #fff;
    /*border-bottom: 1px solid #ccc;*/
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #666;
}

.ol-control button:hover,
.ol-control button:focus {
  background-color: rgba(240, 240, 240, 1);
  color: #000;
}