.editionbar {
	left: auto;
    right: 6px;
    top: 348px;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

#editionbar .button-active {
   background-color: #FDF709 !important;	
}


@media only screen and (max-width: 750px) {
	.editionbar {
	    left: auto;
	    right: 6px;
	    top: 386px;
	    z-index: 1000;
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	}
}

@media only screen and (max-height: 500px ) {
	.editionbar {
	    left: auto;
	    right: 56px;
	    top: 6px;
	    z-index: 1000;
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	}
	
}