#catalog_container {
    bottom: 0;
    left: 0;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

#catalog_search {
	padding: 20px 0px 20px 0px;
}

#catalog_map .ol-attribution {
	display:none;
}

#catalog_search_advanced{
	display:none;
}

#catalog_download_list_btn {
	padding: 20px 30px 20px 30px;
	background-color: #f4f4f4;	
}

#catalog_search_full{
	background-color: #f4f4f4;
}

.catalog-link{
	list-style-type:none;
	padding: 10px 0px;
	margin-top: 8px;
}

/*
.catalog-link:hover{
	background-color: #eee;
}*/


.download-btn {
	
	line-height: 35px;
}

.catalog-link i{
    padding: 0px 10px;
    font-size: 35px;
    float: left;
    width: 65px;
    text-align: center;
}

.catalog-link-li{
	list-style-type: disc;
    margin-left: 20px;
    color: #888;
}
.catalog-link span{
    float: left;
    margin-top: 0px;
}

.catalog-link span.catalog-link-resource{
    float: left;
    margin-top: 0px;
}

.catalog-link span .catalog-entry-subtitle{
	color: #888;
	margin-top: 0px;
}

.catalog-link-button{
	float:right;
	margin-right: 10px;
	width: 100px;
}

.catalog_map {
	height: 400px;
    padding: 0px 0px 0px 0px;
	background-color: #f4f4f4;
	margin-left: 15px;
    margin-right: 15px;
}

.catalog_map_text{
	text-align: center;
	font-size: 12px;
}

.ng-scope {
	margin-top:0px;s
}

#catalog_filter {
    margin-top: 20px;
    margin-right: 0px;
    padding-right: 0px;
}

#catalog_content {
	margin-top: 20px;
}

.catalog_filter_title {
    border-bottom: 2px solid #888;
    text-transform: uppercase;
    font-weight: bold;
}

.catalog_filter_entry {
  font-weight: 600;
}

.catalog_filter_entry.catalog_filter_entry_ck_sel {
    color: #444;
} 

.catalog_content_layer {
    float: left;
    border: 1px solid #ccc;
    padding: 10px 0px;
    overflow: hidden;
}

.catalog_content_title {
    font-size: 14px;
    font-weight: bold;
}

.catalog_content_abstract {
	color: #888;
}

.catalog_content_lateral{
	padding: 0px 10px 10px 0px;
	margin: 0px;
}

.catalog_content_thumbnail{
	border: 0px solid #ccc;
	height: 200px;
}

.catalog_content_button_place {
	float:left;
	margin-top: 10px;
	padding: 0px 1px;
}

.catalog_content_button {
	text-align: center;
	padding-left: 38px;
	padding-right: 6px;
}

.catalog_content_title.block-with-text{
	max-height: 2.4em;
    line-height: 1.2em;
}

.catalog_content_abstract.block-with-text{
    max-height: 10.3em;
    line-height: 1.2em;
}

.no_catalog_content{
	padding: 10px;
	border: solid 2px #faebcc;
	background-color: #fcf8e3;
	color: #8a6d3b; 
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.ng-isolate-scope{
	margin-bottom: 15px;	
}

.control-label.ng-scope {
	padding: 0px;
}

.catalog_detail_attr{
	font-weight: bold;
}

.ol-popup.search-in-catalog-popup .ol-popup-content {
	max-height: 400px;
	overflow-y: auto;
}

@media only screen and (max-width: 640px) {
	#search-from-vector-features {
		display: none;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#search-from-vector-features {
		display: none;
	}
}

.dropdown-multiselect .btn-default {
	background-color: #fff;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr-noborder,
.radio .cr-noborder {
    border: 0px solid #a9a9a9;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"].cr,
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
/*    transform: scale(3) rotateZ(-20deg);*/
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
/*    transform: scale(1) rotateZ(0deg);*/
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.btn-wrap-text {
  	overflow: hidden;
  	white-space: nowrap;
  	display: inline-block;
  	text-overflow: ellipsis;
}

.dropdown-multiselect .btn-wrap-text {
	text-align: left;
}