{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Edit Media Display Configuration" %}{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form id="config-form" role="form" method="post" action="{% url 'mediadisplay_config_edit' config.id %}">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Edit Configuration" %} - {{ config.project.name }}</h3>
                    <div class="box-tools pull-right">
                        <button id="submit-button" type="submit" class="btn btn-default btn-sm">
                            <i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}
                        </button>
                    </div>
                </div>
                
                <div class="box-body">
                    {% csrf_token %}                         
                    
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <span class="text" style="font-weight: bold;">{% trans "Configured Layers" %}</span>
                                </div>
                                <div class="box-body" id="configured-layers-list" style="min-height: 100px;">
                                    {% if layers %}
                                        {% for layer in layers %}
                                            {% if layer.enabled %}
                                            <div class="configured-layer" data-layer-id="{{ layer.id }}">
                                                <div class="layer-item">
                                                    <div class="layer-info">
                                                        <strong>{{ layer.title|default:layer.name }}</strong><br>
                                                        <small>{% trans "Order:" %} {{ layer.config.order_field|default:"Not configured" }}</small><br>
                                                        <small>{% trans "Media fields:" %} {{ layer.config.media_fields|join:", "|default:"Not configured" }}</small>
                                                    </div>
                                                    <div class="layer-actions">
                                                        <button type="button" class="btn btn-success edit-configured-layer" data-layer-id="{{ layer.id }}">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-danger remove-configured-layer" data-layer-id="{{ layer.id }}">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-muted">{% trans "No layers configured yet" %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="button" id="add-more-layers-btn" class="btn btn-default btn-sm">
                                <i class="fa fa-plus margin-r-5"></i> {% trans "Configure More Layers" %}
                            </button>
                        </div>
                    </div>
                    
                    <div class="row" id="layer-selector" style="display: none;">
                        <div class="col-md-12 form-group">
                            <label for="layer_id">{% trans "Select Layer:" %}</label>
                            <select name="layer_id" id="layer_id" class="form-control">
                                <option value="">{% trans "Select a layer..." %}</option>
                                {% for layer in layers %}
                                <option value="{{ layer.id }}">
                                    {{ layer.title|default:layer.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="row" id="configure-fields-row" style="display: none;">
                        <div class="col-md-12 form-group">
                            <button type="button" id="configure-layer-btn" class="btn btn-primary" disabled>
                                <i class="fa fa-cog"></i> {% trans "Configure Layer Fields" %}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="layer-config-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Configure Layer Fields" %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="order-field">{% trans "Order Field:" %}</label>
                    <select id="order-field" class="form-control">
                        <option value="">{% trans "Select order field..." %}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="media-fields">{% trans "Media Fields:" %}</label>
                    <select id="media-fields" class="form-control" multiple style="height: 150px;">
                        <option value="">{% trans "Select media fields..." %}</option>
                    </select>
                    <small class="help-block">{% trans "Hold Ctrl to select multiple fields" %}</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" id="save-layer-config">{% trans "Save Configuration" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Cargar jQuery si no está disponible -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block extra-scripts %}
<script>
console.log('Script ejecutándose...');
console.log('jQuery disponible:', typeof $, typeof jQuery);

// Esperar a que jQuery esté disponible
function waitForJQuery(callback) {
    if (typeof $ !== 'undefined') {
        callback();
    } else {
        setTimeout(function() {
            waitForJQuery(callback);
        }, 100);
    }
}

waitForJQuery(function() {
    console.log('jQuery cargado correctamente');
    
    var currentLayerId = null;
    var configuredLayers = {};
    var isEditing = false;
    var currentLayerName = ''; 
    
    // Cargar configuraciones existentes
    {% for layer in layers %}
        {% if layer.enabled %}
        configuredLayers['{{ layer.id }}'] = {
            layerId: '{{ layer.id }}',
            layerName: '{{ layer.title|default:layer.name }}',
            orderField: '{{ layer.config.order_field|default:"" }}',
            mediaFields: {{ layer.config.media_fields|default:"[]"|safe }}
        };
        {% endif %}
    {% endfor %}
    
    $(document).ready(function() {
        console.log('Documento listo');
        console.log('Configuraciones cargadas:', configuredLayers);
        
        // Mostrar/ocultar selector de capas
        $('#add-more-layers-btn').click(function() {
            $('#layer-selector').toggle();
            $('#configure-fields-row').toggle();
        });
        
        $('#layer_id').change(function() {
            var layerId = $(this).val();
            if (layerId) {
                $('#configure-layer-btn').prop('disabled', false);
                currentLayerId = layerId;
            } else {
                $('#configure-layer-btn').prop('disabled', true);
                currentLayerId = null;
            }
        });
        
        $('#configure-layer-btn').click(function() {
            if (currentLayerId) {
                loadLayerFields(currentLayerId);
                $('#layer-config-modal').modal('show');
            }
        });
        
        $('#save-layer-config').click(function() {
            var orderField = $('#order-field').val();
            var mediaFields = $('#media-fields').val();
            
            if (!orderField) {
                alert('{% trans "Please select an order field" %}');
                return;
            }
            
            if (!mediaFields || mediaFields.length === 0) {
                alert('{% trans "Please select at least one media field" %}');
                return;
            }
        
            var layerName = isEditing ? currentLayerName : $('#layer_id option:selected').text();
            
            configuredLayers[currentLayerId] = {
                layerId: currentLayerId,
                layerName: layerName,
                orderField: orderField,
                mediaFields: mediaFields
            };
            
            updateConfiguredLayersList();
            
            $('#layer-config-modal').modal('hide');
            $('#layer_id').val('').trigger('change');
            $('#layer-selector').hide();
            $('#configure-fields-row').hide();
            
            isEditing = false;
        });
        
        $(document).on('click', '.edit-configured-layer', function() {
            var layerId = $(this).data('layer-id');
            currentLayerId = layerId;
            isEditing = true;
            
            // Preservar el nombre de la capa existente
            var existingConfig = configuredLayers[layerId];
            if (existingConfig) {
                currentLayerName = existingConfig.layerName;
            }
            
            loadLayerFields(layerId);
            $('#layer-config-modal').modal('show');
        });
        
        $(document).on('click', '.remove-configured-layer', function() {
            var layerId = $(this).data('layer-id');
            if (confirm('{% trans "Are you sure you want to delete this layer configuration?" %}')) {
                delete configuredLayers[layerId];
                updateConfiguredLayersList();
            }
        });
        
        $('#config-form').submit(function(e) {
            if (Object.keys(configuredLayers).length === 0) {
                e.preventDefault();
                alert('{% trans "Please configure at least one layer" %}');
                return false;
            }
            
            $('input[name="layer_configs[]"]').remove();
            
            Object.values(configuredLayers).forEach(function(layerConfig) {
                $('<input>').attr({
                    type: 'hidden',
                    name: 'layer_configs[]',
                    value: JSON.stringify(layerConfig)
                }).appendTo('#config-form');
            });
            
            console.log('Enviando configuraciones de capas:', configuredLayers);
        });
        
        function loadLayerFields(layerId) {
            console.log('Cargando campos para capa:', layerId);
            $.ajax({
                url: '/gvsigonline/mediadisplay/api/layer-fields/',
                data: { 'layer_id': layerId },
                success: function(response) {
                    console.log('Campos de la capa:', response);
                    
                    $('#order-field').empty().html('<option value="">{% trans "Select order field..." %}</option>');
                    $('#media-fields').empty().html('<option value="">{% trans "Select media fields..." %}</option>');
                    
                    if (response.fields && response.fields.length > 0) {
                        response.fields.forEach(function(field) {
                            var option = '<option value="' + field.name + '">' + field.title + '</option>';
                            $('#order-field').append(option);
                            $('#media-fields').append(option);
                        });
                        
                        if (configuredLayers[layerId]) {
                            $('#order-field').val(configuredLayers[layerId].orderField);
                            $('#media-fields').val(configuredLayers[layerId].mediaFields);
                        }
                    } else {
                        $('#order-field').html('<option value="" disabled>{% trans "No fields available" %}</option>');
                        $('#media-fields').html('<option value="" disabled>{% trans "No fields available" %}</option>');
                        console.log('No se encontraron campos');
                    }
                },
                error: function(xhr) {
                    console.log('Error en AJAX:', xhr);
                    alert('Error cargando campos: ' + (xhr.responseJSON ? xhr.responseJSON.error : xhr.statusText));
                }
            });
        }
        
        function updateConfiguredLayersList() {
            var container = $('#configured-layers-list');
            container.empty();
            
            if (Object.keys(configuredLayers).length === 0) {
                container.html('<p class="text-muted">{% trans "No layers configured yet" %}</p>');
                return;
            }
            
            Object.values(configuredLayers).forEach(function(layerConfig) {
                var layerHtml = '<div class="configured-layer" data-layer-id="' + layerConfig.layerId + '">' +
                    '<div class="layer-item">' +
                    '<div class="layer-info">' +
                    '<strong>' + layerConfig.layerName + '</strong><br>' +
                    '<small>{% trans "Order:" %} ' + layerConfig.orderField + '</small><br>' +
                    '<small>{% trans "Media fields:" %} ' + layerConfig.mediaFields.join(', ') + '</small>' +
                    '</div>' +
                    '<div class="layer-actions">' +
                    '<button type="button" class="btn btn-success btn-sm edit-configured-layer" data-layer-id="' + layerConfig.layerId + '">' +
                    '<i class="fa fa-edit"></i>' +
                    '</button>' +
                    '<button type="button" class="btn btn-danger btn-sm remove-configured-layer" data-layer-id="' + layerConfig.layerId + '">' +
                    '<i class="fa fa-times"></i>' +
                    '</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                container.append(layerHtml);
            });
        }
    });
});
</script>

<style>
.configured-layer {
    margin-bottom: 10px;
}

.layer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f9f9f9;
}

.layer-info {
    flex: 1;
    margin-right: 10px;
}

.layer-actions {
    display: flex;
    gap: 5px;
    flex-shrink: 0;
}

.layer-actions button {
    margin-left: 5px;
}

#configured-layers-list {
    max-height: 400px;
    overflow-y: auto;
}

#layer-selector, #configure-fields-row {
    margin-bottom: 15px;
}
</style>
{% endblock %}