{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<form id="layer-group-form" role="form" method="post" action="{{ request.get_full_path }}">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button id="save_button" type="submit" class="btn btn-default btn-sm"><i class="fa fa-clone-o margin-r-5"></i> {% trans "Clone" %}</button>
					</div>
				</div>				
			</div>
			<div class="box">
				{% csrf_token %}					
				{% if form.errors %}
				<div id="form-error" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}				
				{% if message %}
				<div id="form-error" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="box-body">
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="project_title">{% trans "Title" %}</label>
							{{form.project_title}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="project_name">{% trans "Name" %}</label>
							{{form.project_name}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="target_workspace">{% trans "Workspace" %}</label>
							{{form.target_workspace}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="target_datastore">{% trans "Datastore" %}</label>
							{{form.target_datastore}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="target_server">{% trans "Select server" %}</label>
							<select class="form-control" id="target_server" name="target_server">
								{% for server in servers %}
									{% if forloop.first %}
									<option value="{{server.id}}" selected>{{server.title}}</option>
									{% else %}
									<option value="{{server.id}}">{{server.title}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<span>{% trans "Options:" %}.</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-group">
							{{form.copy_data}}
							<label for="copy_data">{% trans "Copy data" %}</label>
						</div>
						<div class="col-md-8 form-group">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<div class="bg-warning" style="padding: 10px; margin-bottom: 5px">{% trans "Notes:" %}
								<ul>
								<li>{% trans "Vector layers will be cloned" %}</li>
								<li>{% trans "Base layer groups will be referenced instead of cloned" %}</li>
								<li>{% trans "Raster layers will be excluded (except base layers)" %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
$('#menu-manage-projects').addClass("active");
$('#submenu-projects').addClass("active");

	$('#id_project_title').change(function(event) {
		var normalizedVal = $('#id_project_title').val().toLowerCase().replace(/[^a-z0-9_]/gm, '');
		if ($('#id_project_name').val() == '') {
			$('#id_project_name').val(normalizedVal);
		}
		if ($('#id_target_workspace').val() == '') {
			$('#id_target_workspace').val(normalizedVal);
		}
		if ($('#id_target_datastore').val() == '') {
			$('#id_target_datastore').val('wds_' + normalizedVal);
		}
	});
	
	$('#save_button').click(function(event) {
		$('#save_button i').removeClass('fa-clone').addClass('fa-spinner fa-spin');
	});
</script>
{% endblock %}