{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<form id="project-form" role="form" method="post" action="/gvsigonline/survey/survey_permissions/{{ survey_id }}/">
				<div class="box-header with-border">
					<h3 class="box-title">{% trans "Survey permissions" %}</h3>
					<div class="box-tools pull-right">
						<button id="save_button" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
					</div>
				</div>		
			
				<div class="box-body">
				{% csrf_token %}					
					{% if form.errors %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
								<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						</ul>
					</div>
					{% endif %}
							
					{% if message %}
					<div id="form-error" style="color:#ff0000;">
						<p>* {{ message }}</p>
					</div>
					{% endif %}
				
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id-name">{% trans "Survey" %}</label>
							<input class="form-control" name="id-name" id="id-name" type="text" readonly value="{{ name }}">												    
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-12 form-group">
							{% trans "Warning: Survey will be public if no group is assigned" %}
						</div>
					</div>
					
					<div id="read-list-box" class="box searchable-list-box" style="margin-top: 20px;">
						<div class="box-header with-border">
							<h3 class="box-title col-md-6">{% trans "Make survey readable only for the following groups" %}</h3>
							<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Buscar grupo de usuarios...' %}" /></div>
						</div>
						<div class="box-body">
							<ul class="products-list product-list-in-box list">
								{% for group in read_groups %}
								<li class="item">
									<div class="product-img">
										<img src="{% static "img/users.png" %}" alt="Users Image">
									</div>
									<div class="product-info">
										<a href="javascript:void(0)" class="product-title">{{group.name}}
											<div class="checkbox pull-right">													
												<label>
													{% if group.read_checked %}
														<input type="checkbox" name="read-usergroup-{{group.id}}" id="read-usergroup-{{group.id}}" checked/>{% trans "Assign user group" %}
													{% else %}
														<input type="checkbox" name="read-usergroup-{{group.id}}" id="read-usergroup-{{group.id}}"/>{% trans "Assign user group" %}
													{% endif %}
												</label>
											</div>
										</a> 
										<span class="product-description">{{group.description}}</span>
									</div>
								</li> 
								{% endfor %}
							</ul>
							<ul class="pagination"></ul>
						</div>
					</div>
										
					<div id="write-list-box" class="box searchable-list-box" style="margin-top: 20px;">
						<div class="box-header with-border">
							<h3 class="box-title col-md-6">{% trans "Make survey writable only for the following groups" %}</h3>
							<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Buscar grupo de usuarios...' %}" /></div>
						</div>
						<div class="box-body">
							<ul class="products-list product-list-in-box list">
								{% for group in write_groups %}
								<li class="item">
									<div class="product-img">
										<img src="{% static "img/users.png" %}" alt="Users Image">
									</div>
									<div class="product-info">
										<a href="javascript:void(0)" class="product-title">{{group.name}}
											<div class="checkbox pull-right">													
												<label>
													{% if group.write_checked %}
														<input type="checkbox" name="write-usergroup-{{group.id}}" id="read-usergroup-{{group.id}}" checked/>{% trans "Assign user group" %}
													{% else %}
														<input type="checkbox" name="write-usergroup-{{group.id}}" id="read-usergroup-{{group.id}}"/>{% trans "Assign user group" %}
													{% endif %}
												</label>
											</div>
										</a> 
										<span class="product-description">{{group.description}}</span>
									</div>
								</li> 
								{% endfor %}
							</ul>
							<ul class="pagination"></ul>
						</div>
					</div>
				</div>
			</form>	
					
		</div>
	</div>
</div>
{% endblock %}
{% block extra-scripts %}
<script type="text/javascript">
	$().ready(function() {
		var searcheableList = new List('read-list-box', {
  		  valueNames: ['product-title'],
  		  listClass:'list',
  		  searchClass: 'search',
  		  page: 5,
  		  pagination: false
  		});
		
		var searcheableList2 = new List('write-list-box', {
	  		  valueNames: ['product-title'],
	  		  listClass:'list',
	  		  searchClass: 'search',
	  		  page: 5,
	  		  pagination: false
	  		});
		
		$("#save_button").click(function(e){
    		e.preventDefault(); // prevents default
    		for(var i=0; i<searcheableList.items.length; i++){
    			var item = searcheableList.items[i];
    			item.show();
    		}
    		
    		for(var i=0; i<searcheableList2.items.length; i++){
    			var item = searcheableList2.items[i];
    			item.show();
    		}
    		$("#project-form").submit();
    	    return false; 

    	})
	});
	
</script>
{% endblock %}