{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<form role="form" method="post" action="/gvsigonline/auth/group_add/">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
					</div>
				</div>
			</div>	
			<div class="box">
				<div class="box-body">
					{% csrf_token %}					
					{% if form.errors %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						</ul>
					</div>
					{% endif %}
									
					{% if message %}
					<div id="form-error" style="color:#ff0000;">
						<p>* {{ message }}</p>
					</div>
					{% endif %}
											
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_name">{% trans "Name" %}</label>
							{{ form.name }}
						</div>
					</div>
											
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_description">{% trans "Description" %}</label>
						    {{ form.description }}
						</div>
					</div>											
	           	</div>	
			</div>
		</div>				
	</div>
</form>	
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-group-users').addClass("active");
	$('#submenu-groups').addClass("active");
</script>
{% endblock %}