{% load staticfiles %}
<script type="text/javascript">	
	/*var map = viewer.core.getMap();
	
	var bases = map.getLayers();
	bases.forEach(function(layer){
		if (layer.baselayer) {
			layer.setVisible(false);
		}						
	}, this);
	
	
	
	var id = viewer.core._nextLayerId();
	var aguas = new ol.layer.Tile({
		id: id,
		label: 'Mapa base',
	  	visible: true,
	  	source: new ol.source.XYZ({
	  		url: 'https://adv.gvsigonline.com/MapService.svc/GetImage/100/{x}/{y}/{z}'
	    })
	});
	aguas.baselayer = true;
	
	var layers = map.getLayers();
	layers.insertAt(0, aguas);	    
	
	var ui = '';
	ui += '<div style="margin-left:20px;">';
	ui += 	'<input type="radio" id="' + id + '" name="baselayers-group" checked>';
	ui += 	'<span class="text">' + 'Mapa base' + '</span>';
	ui += '</div>';
	
	$('#baselayers-group').append(ui);
	
	
	
	
	var pnoaId = viewer.core._nextLayerId();

	var projection = ol.proj.get('EPSG:3857');
	var matrixSet = 'EPSG:3857';
		
	var projectionExtent = projection.getExtent();
    var size = ol.extent.getWidth(projectionExtent) / 256;
	var resolutions = new Array(18);
	var matrixIds = new Array(18);
	for (var z = 0; z < 18; ++z) {
		resolutions[z] = size / Math.pow(2, z);
		matrixIds[z] = z;
	}
		
	var source = new ol.source.WMTS({
		url: 'https://www.ign.es/wmts/pnoa-ma',
        layer: 'OI.OrthoimageCoverage',
		matrixSet: matrixSet,
		format: 'image/jpeg',
		projection: projection,
		crossOrigin: '*',
		params: {'LAYERS': 'OI.OrthoimageCoverage', 'FORMAT': 'image/jpeg'},
		tileGrid: new ol.tilegrid.WMTS({
			origin: ol.extent.getTopLeft(projectionExtent),
			resolutions: resolutions,
			matrixIds: matrixIds
		})
	});
		
	var pnoa = new ol.layer.Tile({
		id: pnoaId,
		opacity: 1.0,
		extent: projectionExtent,
		source: source,
		style: 'default',
		label: 'OI.OrthoimageCoverage',
		visible: false
	});		
	pnoa.baselayer = true;
	var layers = map.getLayers();
	layers.insertAt(0, pnoa);	    
	
	var pnoaui = '';
	pnoaui += '<div style="margin-left:20px;">';
	pnoaui += 	'<input type="radio" id="' + pnoaId + '" name="baselayers-group">';
	pnoaui += 	'<span class="text">' + 'Ortofoto PNOA' + '</span>';
	pnoaui += '</div>';
	
	$('#baselayers-group').append(pnoaui);
	
	$("input[name=baselayers-group]:radio").change(function (e) {
		var baseLayers = map.getLayers();
		baseLayers.forEach(function(layer){
			if (layer.baselayer) {
				if (layer.getVisible() == true) {
					layer.setVisible(false);
				}
				if (layer.get('id') == this.id) {
					layer.setVisible(true);
				}
			}						
		}, this);
	});*/
	
</script>