{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load include_if_exists %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<ul id="statistics-tab-controller" class="nav nav-tabs">
            </ul>

			<div class="tab-content">

				{% for plugin in statistics_conf %}
					{% with "dashboard_statistics.html" as aux %}
						{% include_if_exists aux %}
					{% endwith %}
			   	{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	$('#menu-manage-statistics').addClass("active");
	$('#submenu-statistics').addClass("active");

	$().ready(function() {
		var first_tab = $("#statistics-tab-controller li").first()
		if(first_tab != null){
			var first_link = first_tab.find("a").first();
			if(first_link != null){
				first_link.trigger("click");
			}
		}
	});
</script>
{% endblock %}