html {
	/*line-height: 4;*/
}
nav ul li:hover, nav ul li.active {
	background-color: #fafafa; 
}

nav .brand-logo {
    padding: 5px;
}

nav ul li {
    float: left;
}

.select-wrapper span.caret {
    top: 0px;
}

.prefix.active {
 	color: #2196f3;
}

.center {
	text-align: center;
}

.z-depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.init-session-button {
	text-transform: none;
}

.intro-title {
	font-size: 30px;
    line-height: 42px;
    color: #555;
    font-weight: 300;
}

.promo {
    width: 100%;
    margin-bottom: 30px;
}

.promo-item {
    overflow: hidden;
}

.promo-caption {
    color: #555;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 5px;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}


.light {
    font-weight: 300;
}

.promo-link{}

.promo-link:hover, .promo-link:active{
	text-decoration: underline;
}

footer.page-footer {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding-top: 20px;
}

footer.page-footer .footer-copyright {
    font-weight: 300;
}
footer.page-footer .footer-copyright {
    background-color: #eee;
    color: #2196f3;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}