{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<form role="form" method="post" action="/gvsigonline/symbology/library_update/{{library.id}}/">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button id="update-library" type="submit" class="btn btn-sm btn-default"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>					
					</div>
				</div>
				<div class="row" style="padding-left: 30px;">
					{% csrf_token %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
								<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						{% for field, msg in form.errors.iteritems %}
							<li>{{ msg|striptags }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			
			<ul class="nav nav-tabs">
             	<li class="active"><a href="#tab-library-main" data-toggle="tab">{% trans "Library" %}</a></li>
             	<li><a href="#tab-library-symbols" data-toggle="tab">{% trans "Symbols" %}</a></li>
           	</ul>
           	
           	<div class="tab-content">
            	<div class="tab-pane active" id="tab-library-main">
            		<div class="row">
						<div class="col-md-12">
							<div class="box">
	            					<div class="box-body">
									<div class="row">
										<div class="col-md-12 form-group">
											<label>{% trans "Name" %}</label>
											<input placeholder="{% trans 'Name' %}" name="library-name" id="library-name" type="text" class="form-control" disabled value="{{library.name}}">	
										</div>
									</div>
													
									<div class="row">
										<div class="col-md-12 form-group">
											<label>{% trans "Description" %}</label>
								    		<input placeholder="{% trans 'Description' %}" name="library-description" id="library-description" type="text" class="form-control" value="{{library.description}}">
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
            	</div>
            		
           		<div class="tab-pane" id="tab-library-symbols">
           			<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">{% trans "Library symbols" %}</h3>
									<div class="box-tools pull-right">
										<button id="add-new-external-graphic" class="btn btn-default btn-sm"><i class="fa fa-picture-o margin-r-5"></i> {% trans "Add external graphic" %}</button>
										<button id="add-new-point" class="btn btn-default btn-sm"><i class="fa fa-circle margin-r-5"></i> {% trans "Add point" %}</button>
										<button id="add-new-line" class="btn btn-default btn-sm"><i class="fa fa-code-fork margin-r-5"></i> {% trans "Add line" %}</button>
										<button id="add-new-polygon" class="btn btn-default btn-sm"><i class="fa fa-square margin-r-5"></i> {% trans "Add polygon" %}</button>						
									</div>
								</div>
								<div class="box-body no-padding">
									<ul class="users-list clearfix"></ul>
								</div>
							</div>
						</div>
					</div>
           		</div>	
        	</div>
		</div>
	</div>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-libraries').addClass("active");
</script>
<script>
$(document).ready(function() {
	
	var previewPointUrl = "{{preview_point_url}}";
	var previewLineUrl = "{{preview_line_url}}";
	var previewPolygonUrl = "{{preview_polygon_url}}";
	
	var symbologyUtils = new SymbologyUtils(null, null, null, null, null, [],[]);
	var librarySymbol = new LibrarySymbol(previewPointUrl, previewLineUrl, previewPolygonUrl, symbologyUtils);
	
	"{% for rule in rules %}"
		var rule_opts = {
			id: "{{rule.id}}",
			name: "{{rule.name}}",
			title: "{{rule.title}}",
			minscale: "{{rule.minscale}}",
			maxscale: "{{rule.maxscale}}",
			order: "{{rule.order}}"
		};
		
		var symbolizers = {{rule.symbolizers|safe}};
		symbolizers.sort(function(a, b) {
		    return a.order - b.order;
		});
		symbolizers.reverse();
		if (symbolizers.length > 0) {
			var symbol = '';	
			var json_symbolizers = JSON.parse(symbolizers[0].json);
			var isEG = false;
			var featureType = null;
			
			if (json_symbolizers[0].model == 'gvsigol_symbology.externalgraphicsymbolizer') {
				isEG = true;
				
			} else if (json_symbolizers[0].model == 'gvsigol_symbology.marksymbolizer'){
				featureType = 'MarkSymbolizer';
				
			} else if (json_symbolizers[0].model == 'gvsigol_symbology.linesymbolizer'){
				featureType = 'LineSymbolizer';
				
			} else if (json_symbolizers[0].model == 'gvsigol_symbology.polygonsymbolizer'){
				featureType = 'PolygonSymbolizer';
			}
			
			if (isEG) {
				var externalGraphic = json_symbolizers[0].fields;
				symbol += '<li>';
				symbol += 	'<img style="height: ' + externalGraphic.size + 'px; width: auto;" src="' + externalGraphic.online_resource + '" class="preview-eg"></img>';
				symbol += 	'<a class="users-list-name" href="/gvsigonline/symbology/symbol_update/{{rule.id}}/">{{rule.title}}</a>';
				symbol += '</li>';
				$(".users-list").append(symbol);
				var r = new Rule("{{rule.id}}", "{{rule.name}}", "{{rule.title}}", rule_opts, symbologyUtils);
				librarySymbol.addRule(r);
				
			} else {
				symbol += '<li>';
				symbol += 	'<div id="library-symbol-preview-div-{{rule.id}}"></div>';
				symbol += 	'<a class="users-list-name" href="/gvsigonline/symbology/symbol_update/{{rule.id}}/">{{rule.title}}</a>';
				symbol += '</li>';
				$(".users-list").append(symbol);
				var r = new Rule("{{rule.id}}", "{{rule.name}}", "{{rule.title}}", rule_opts, symbologyUtils);
				librarySymbol.addRule(r);
				librarySymbol.libraryPreview(featureType, r, symbolizers);
			}
		}			
	"{% endfor %}"
	
	$("#add-new-external-graphic").on('click', function(e){
		e.preventDefault();
		location.href = "/gvsigonline/symbology/symbol_add/{{library.id}}/ExternalGraphicSymbolizer/";
	});
	
	$("#add-new-point").on('click', function(e){
		e.preventDefault();
		location.href = "/gvsigonline/symbology/symbol_add/{{library.id}}/MarkSymbolizer/";
	});
	$("#add-new-line").on('click', function(e){
		e.preventDefault();
		location.href = "/gvsigonline/symbology/symbol_add/{{library.id}}/LineSymbolizer/";
	});
	$("#add-new-polygon").on('click', function(e){
		e.preventDefault();
		location.href = "/gvsigonline/symbology/symbol_add/{{library.id}}/PolygonSymbolizer/";
	});
});
</script>
{% endblock %}