{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Add new style" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-default refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="show-label" class="btn btn-sm btn-default refresh-preview"><i class="fa fa-tags margin-r-5"></i> {% trans "Labeling" %}</button>
					<button id="save-legend" class="btn btn-sm btn-default save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>

			<div class="box-body">
			
				<div class="row">
					<div class="col-md-6">
						<div id="form-error" style="color:#ff0000;"></div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Name" %}</label>
								<input disabled placeholder="{% trans 'Style name' %}" name="style-name" id="style-name" value="{{style_name}}" type="text" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Title" %}</label>
								<input placeholder="{% trans 'Style title' %}" name="style-title" id="style-title" type="text" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>{% trans "Min. scale" %}</label>
					    		<input placeholder="{% trans 'No limit' %}" name="symbol-minscale" id="symbol-minscale" type="number" step="any" value="" class="form-control">
							</div>
							<div class="col-md-6 form-group">
								<label>{% trans "Max. scale" %}</label>
					    		<input placeholder="{% trans 'No limit' %}" name="symbol-maxscale" id="symbol-maxscale" type="number" step="any" value="" class="form-control">
							</div>
							<div class="col-md-12 form-group">
								<p class="text-muted">* {% trans "Specifies the minimum and maximum scale denominator (inclusive) for the scale range in which this rule applies" %}.</p>
							</div>
						</div>
						<div class="row">
							<div class="checkbox col-md-12">								
								<label>
									<input type="checkbox" name="style-is-default" id="style-is-default"/>{% trans "Set as default style" %}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="map" class="preview-map"></div>
					</div>						
				</div>
				
				<div id="rules" class="row">
				</div>
				
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-edit-rule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="modal-edit-rule-content" class="modal-body">
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-import-symbol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Import symbol" %}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Select library" %}</label>
						<select id="select-library" class="form-control">
							<option disabled selected value> -- {% trans "Select symbol library" %} -- </option>
							{% for library in libraries %}
							<option value="{{library.id}}">{{library.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-body no-padding" style="max-height: 300px; overflow: auto;">
								<ul class="users-list clearfix">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="button-import-symbol-close" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>    	

<!-- Modal -->
<div class="modal fade" id="modal-symbolizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="nav-tabs-custom">
	            	<ul id="tab-menu" class="nav nav-tabs">				                        
	            	</ul>
	            	<div id="tab-content" class="tab-content">
	            	</div>
       			</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>

function imagePostFunction(image, src) {
	var img = image.getImage();
	if (typeof window.btoa === 'function') {
	  var xhr = new XMLHttpRequest();
	  //GET ALL THE PARAMETERS OUT OF THE SOURCE URL**
	  var dataEntries = src.split("&");
	  var url;
	  var params = "";
	  for (var i = 0 ; i< dataEntries.length ; i++){
// 	      console.log("dataEntries[i]",dataEntries[i]);
	      if (i===0){
	      url = dataEntries[i];    
	      }
	      else{
	      params = params + "&"+dataEntries[i];
	      }
	  }
	  xhr.open('POST', url, true);

	  xhr.responseType = 'arraybuffer';
	  xhr.onload = function(e) {
	    if (this.status === 200) {
	      var uInt8Array = new Uint8Array(this.response);
	      var i = uInt8Array.length;
	      var binaryString = new Array(i);
	      while (i--) {
	        binaryString[i] = String.fromCharCode(uInt8Array[i]);
	      }
	      var data = binaryString.join('');
	      var type = xhr.getResponseHeader('content-type');
	      if (type.indexOf('image') === 0) {
	        img.src = 'data:' + type + ';base64,' + window.btoa(data);
	      }
	    }
	  };
	  //SET THE PROPER HEADERS AND FINALLY SEND THE PARAMETERS 
	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send(params);
	} else {
	  img.src = src;
	}
}

$(document).ready(function() {
	
	var layerId = "{{layer_id}}";
	var layerUrl = "{{layer_url}}";
	var wfsUrl = "{{layer_wfs_url}}";
	var layerName = "{{layer_name}}";
	var styleId = "{{style.id}}";
	var featureType = "{{featureType}}";
	var jsonAlphanumericFields = {{json_alphanumeric_fields|safe}};
	var fonts = {{ fonts|safe }};
	var rule_opts = "";
	var previewUrl = "{{preview_url}}";
	var supported_crs = {{supported_crs|safe}};
	
	for (var crs in supported_crs) {
		proj4.defs(supported_crs[crs].code, supported_crs[crs].definition);	
	}
	
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.OSM()
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	var wmsSource = new ol.source.TileWMS({
		url: layerUrl,
		visible: true,
		params: {'LAYERS': layerName, 'FORMAT': 'image/png', 'VERSION': '1.1.1'},
		serverType: 'geoserver',
		tileLoadFunction: function(image, src) {
			   imagePostFunction(image, src);
		}
	});
	wmsLayer = new ol.layer.Tile({
		id: 'preview-layer',
		source: wmsSource,
		visible: true
	});
	map.addLayer(wmsLayer);
	
	var utils = new SymbologyUtils(map, layerId, wmsLayer, featureType, previewUrl, fonts, jsonAlphanumericFields);
	var uniqueSymbol = new UniqueSymbol(featureType, layerName, utils, null);
	uniqueSymbol.addDefault();
	
	utils.centerMap(layerName, wfsUrl);
	
	$("#show-label").on('click', function(e){
		uniqueSymbol.showLabel();
	});
	
	$("#style-title").on('change', function(e){
		var rules = uniqueSymbol.getRules();
		for (var i=0; i<rules.length; i++) {
			rules[i].title = this.value;
		}
	});
	
	$("#symbol-minscale").on('change', function(e){
		var rules = uniqueSymbol.getRules();
		for (var i=0; i<rules.length; i++) {
			rules[i].minscale = this.value;
		}
	});
	
	$("#symbol-maxscale").on('change', function(e){
		var rules = uniqueSymbol.getRules();
		for (var i=0; i<rules.length; i++) {
			rules[i].maxscale = this.value;
		}
	});

	$("#save-legend").on('click', function(e){
		if ($("#style-name").val() != '') {
			uniqueSymbol.save(layerId);
			
		} else {
			$("#form-error").append('<p>*{% trans "Field name is required" %}</p>');
			
		}
		
	});
	
	$("#refresh-preview").on('click', function(e){
		uniqueSymbol.updatePreview(layerId);
	});
	
	
	$(window).unload(function(){
		console.log("Trying to exit from this page");
		$.ajax({
			type: "POST",
			async: false,
			url: "/gvsigonline/symbology/remove_temporal_preview/",
			beforeSend:function(xhr){
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			data: {
				name: "{{style.name}}",
				layer_id: "{{layer_id}}"
			},
			success: function(response){
				
			},
		    error: function(){}
		});
	});
	
});
</script>
{% endblock %}