{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/vendors/jquery.ddslick.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/ElevationControl.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_elevation')) {
		var button = '<li role="presentation"><a id="elevation-control" role="menuitem" tabindex="-1" href="#"><i class="fa fa-line-chart m-r-5"></i>'+gettext("Elevation profile")+'</a></li>';
		$('#gvsigol-navbar-file-menu').append(button);
		
		$.ajax({
			type : 'POST',
			async : false,
			url : '/gvsigonline/elevation/get_conf/',
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			success : function(response) {
				if (response.elevation_url != '' && response.elevation_layer != '') {
					var zLayer = new ol.layer.Tile({
						source: new ol.source.TileWMS({
							url: response.elevation_url,
							visible: false,
							params: {
								'LAYERS': response.elevation_layer,
								'FORMAT': 'image/png',
								'VERSION': '1.1.1'
							},
							serverType: 'geoserver'
						}),
						visible: false
					});
					zLayer.layer_name = 'gol_elevation_layer';
					map.addLayer(zLayer);
					
					var tool = new ElevationControl(map, zLayer);
					viewer.core.loadTool(tool);	
					
				} else {
					messageBox.show('error', gettext('You must configure a layer for elevation'));
				}
				
				
			},
			error : function() {
				messageBox.show('error', gettext('Error loading elevation plugin'));
			}
		});
	}
	
</script>