{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Add new color table" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-warning refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="save-legend" class="btn btn-sm btn-success save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>

			<div class="box-body">
			
				<div class="row">					
					<div class="col-md-6">
						<div id="form-error" style="color:#ff0000;"></div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Name" %}</label>
								<input disabled placeholder="{% trans 'Style name' %}" name="style-name" id="style-name" value="{{style_name}}" type="text" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Title" %}</label>
								<input placeholder="{% trans 'Style title' %}" name="style-title" id="style-title" type="text" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>{% trans "Min. scale" %}</label>
					    		<input placeholder="{% trans 'Minimum scale denominator' %}" name="symbol-minscale" id="symbol-minscale" type="number" step="any" value="-1" class="form-control">
							</div>
							<div class="col-md-6 form-group">
								<label>{% trans "Max. scale" %}</label>
					    		<input placeholder="{% trans 'Maximum scale denominator' %}" name="symbol-maxscale" id="symbol-maxscale" type="number" step="any" value="-1" class="form-control">
							</div>
							<div class="col-md-12 form-group">
								<p class="text-muted">* {% trans "Specifies the minimum and maximum scale denominator (inclusive) for the scale range in which this rule applies" %}.</p>
							</div>
						</div>
						<div class="row">
							<div class="checkbox col-md-12">								
								<label>
									<input type="checkbox" name="style-is-default" id="style-is-default"/>{% trans "Set as default style" %}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="map" class="preview-map"></div>
					</div>						
				</div>
				
				<div id="rules" class="row">
				</div>

			</div>
		</div>
	</div>
</div>  	

<!-- Modal -->
<div class="modal fade" id="modal-color-map-entry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Edit color map entry" %}</h4>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-custom">
	            	<ul id="tab-menu" class="nav nav-tabs">				                        
	            	</ul>
	            	<div id="tab-content" class="tab-content">
	            	</div>
       			</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>
$(document).ready(function() {
	
	var layerId = "{{layer_id}}";
	var layerUrl = "{{layer_url}}";
	var layerName = "{{layer_name}}";
	var styleId = "{{style.id}}";
	var rule_opts = "";
	var previewUrl = "{{preview_url}}";
	var supported_crs = {{supported_crs|safe}};
	var extentEpsg = "{{extent_epsg}}";
	var extent = {{extent|safe}}
	
	for (var crs in supported_crs) {
		proj4.defs(supported_crs[crs].code, supported_crs[crs].definition);	
	}
	
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.OSM()
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	var wmsSource = new ol.source.TileWMS({
		url: layerUrl,
		visible: true,
		params: {'LAYERS': layerName, 'FORMAT': 'image/png', 'VERSION': '1.1.1'},
		serverType: 'geoserver'
	});
	wmsLayer = new ol.layer.Tile({
		id: 'preview-layer',
		source: wmsSource,
		visible: true
	});
	map.addLayer(wmsLayer);
	
	var utils = new SymbologyUtils(map, wmsLayer, 'RasterSymbolizer', previewUrl, [], []);
	var colorTable = new ColorTable(layerName, utils, null);
	colorTable.addDefaultEntries();
	
	utils.centerMapToExtent(extent, extentEpsg);
	
	$("#style-title").on('change', function(e){
		var rule = colorTable.getRule();
		rule.title = this.value;
	});
	
	$("#symbol-minscale").on('change', function(e){
		var rule = colorTable.getRule();
		rule.minscale = this.value;
	});
	
	$("#symbol-maxscale").on('change', function(e){
		var rule = colorTable.getRule();
		rule.maxscale = this.value;
	});

	$("#save-legend").on('click', function(e){
		if ($("#style-name").val() != '') {
			colorTable.save(layerId);
			
		} else {
			$("#form-error").append('<p>*{% trans "Field name is required" %}</p>');
			
		}
		
	});
	
	$("#refresh-preview").on('click', function(e){
		colorTable.refreshMap();
	});
	
	

});
</script>
{% endblock %}