{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Update style" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-default refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="save-legend" class="btn btn-sm btn-default save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>
			
			
			<div class="box-body">
				<div class="row">
					<div id="form-error" style="color:#ff0000;"></div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Name" %}</label>
						<input disabled placeholder="{% trans 'Style name' %}" name="style-name" id="style-name" value="{{style.name}}" type="text" class="form-control">	
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Title" %}</label>
						<input placeholder="{% trans 'Style title' %}" name="style-title" id="style-title" type="text" value="{{style.title}}" class="form-control">	
					</div>
				</div>
				<div class="row">
					<div class="checkbox col-md-12">								
						<label>
							{% if style.is_default %}
							<input type="checkbox" name="style-is-default" id="style-is-default" checked disabled/>{% trans "Set as default style" %}
							{% else %}
							<input type="checkbox" name="style-is-default" id="style-is-default"/>{% trans "Set as default style" %}
							{% endif %}
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="map" class="preview-map"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<textarea class="form-control" name="sld_content" id="sld_content" rows="10">{{style.sld}}</textarea>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>

$(document).ready(function() {
	
	var layerId = "{{layer_id}}";
	var layerUrl = "{{layer_url}}";
	var layerName = "{{layer_name}}";
	var styleId = "{{style.id}}";
	var authToken = "{{auth_token}}";
	authenticate(layerUrl);
	
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.OSM()
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	var wmsSource = new ol.source.ImageWMS({
		url: layerUrl,
		visible: true,
		params: {'LAYERS': layerName, 'FORMAT': 'image/png', 'VERSION': '1.1.1', 'STYLES': '{{style.name}}'},
		serverType: 'geoserver',
		imageLoadFunction: imagePostFunction
	});
	wmsLayer = new ol.layer.Image({
		id: 'preview-layer',
		source: wmsSource,
		visible: true
	});
	map.addLayer(wmsLayer);
	
	var sldContent = document.getElementById('sld_content');
	var codemirror = CodeMirror.fromTextArea(sldContent, {
		mode: "text/xml",
        extraKeys: {"Ctrl-Space": "autocomplete"},
		theme: "xq-dark",
		lineNumbers: true
	});
	
	codemirror.refresh();

	$("#save-legend").on('click', function(e){
		update(layerId, styleId, codemirror);
	});
	
	$("#refresh-preview").on('click', function(e){
		updatePreview(layerId, codemirror, map);
	});

	$(window).on("beforeunload", function(){
		$.ajax({
			type: "POST",
			async: false,
			url: "/gvsigonline/symbology/remove_temporal_preview/",
			beforeSend:function(xhr){
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
			data: {
				name: "{{style.name}}",
				layer_id: "{{layer_id}}"
			},
			success: function(response){
				
			},
		    error: function(){}
		});
	});
	

});

function update(layerId, styleId, codemirror) {
	var self = this;
	
	var sld = codemirror.getValue();
	var isDefault = $('#style-is-default').is(":checked");
	var styleName = $("#style-name").val();
	var styleTitle = $("#style-title").val();
	
	$.ajax({
		type: "POST",
		async: false,
		url: "/gvsigonline/symbology/custom_update/" + layerId + "/" + styleId + "/",
		beforeSend:function(xhr){
			xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
		},
		data: {
			style: 'CS',
			style_name: styleName,
			style_title: styleTitle,
			is_default: isDefault,
			sld: sld
		},
		success: function(response){
			if (response.success) {
				location.href = "/gvsigonline/symbology/style_layer_list/";
				
			} else {
				alert('Error');
			}

		},
		error: function(){}
	});
}

function updatePreview(layerId, codemirror, map) {
	var self = this;
	
	var sld = codemirror.getValue();
	var isDefault = $('#style-is-default').is(":checked");
	var styleName = $("#style-name").val();
	var styleTitle = $("#style-title").val();
	
	$.ajax({
		type: "POST",
		async: false,
		url: "/gvsigonline/symbology/update_preview/" + layerId +  "/",
		beforeSend:function(xhr){
			xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
		},
		data: {
			style: 'CS',
			style_name: styleName,
			style_title: styleTitle,
			is_default: isDefault,
			sld: sld
			
		},
		success: function(response){
			if (response.success) {
				reloadLayerPreview(map);
				
			} else {
				alert('Error');
			}

		},
		error: function(){}
	});
}

function reloadLayerPreview (map){
	var styleName = $("#style-name").val();
	var layers = map.getLayers();
	layers.forEach(function(layer){
		if (!layer.baselayer && !layer.external) {
			if (layer.get("id") === 'preview-layer') {
				layer.getSource().updateParams({'STYLES': styleName + "__tmp", "_time": (new Date()).getTime()});
				map.render();
			}
		};
	}, this);
}
</script>
{% endblock %}