{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Add new style" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-default refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="save-legend" class="btn btn-sm btn-default save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>

			<div class="box-body">
				<div class="row">
					<div id="form-error" style="color:#ff0000;"></div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Name" %}</label>
						<input disabled placeholder="{% trans 'Style name' %}" name="style-name" id="style-name" value="{{style_name}}" type="text" class="form-control">	
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Title" %}</label>
						<input placeholder="{% trans 'Style title' %}" name="style-title" id="style-title" value="{{style_name}}" type="text" class="form-control">	
					</div>
				</div>
				<div class="row">
					<div class="checkbox col-md-12">								
						<label>
							<input checked type="checkbox" name="style-is-default" id="style-is-default"/>{% trans "Set as default style" %}
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="map" class="preview-map"></div>
					</div>
				</div>
				<!-- Agregado el formulario para generar el SLD -->
                <div class="row">
						
						<div class="col-md-4">
							<label for="radius">{% trans "Radius (pixels)" %}:</label>
                            <input type="number" id="radius" name="radius" value="100" class="form-control" required><br><br>
							
                            <label for="pixelsPerCell">{% trans "Pixels per Cell" %}:</label>
                            <input type="number" id="pixelsPerCell" name="pixelsPerCell" value="10" class="form-control" required><br><br>

                            <label>
								<input type="checkbox" id="toggleCheckbox" > {% trans "Use a field to weight the heatmap" %}
							</label><br><br>
						
							
							<div id="comboBox">
								<select id="select-numeric-field" class="form-control">
									<option disabled selected value> -- {% trans "Select field" %} -- </option>
								</select>
							</div>
						</div>
					
							<div class="col-md-8">
								<label for="selector" style="font-size: 18px;">{% trans "Select an option" %}:</label>

								<label style="margin-right: 20px; margin-left: 10px;">
									<input type="radio" name="opcion" value="opcion1" checked> {% trans "Color gradient" %}
								</label>
								
								<label >
									<input type="radio" name="opcion" value="opcion2"> {% trans "Color table" %}
								</label>
							<div id="op1">
							<!-- gradient color -->
							<h3>{% trans "Color gradient" %}</h3>
							<div class="">
								<label >{% trans "Number of colors" %}</label>
								<input type="number" name="numCol" id="numCol"  value="0" class="form-control" required>
							</div><br><br>
							
							<div class="form-group">
								<div class="row">
									<!-- First entry group -->
									<div class="col-md-12">
										<label for="color1">{% trans "Cold Color" %}</label>
										<input type="color" id="color1" name="color1" value="#FFFFFF" class="form-control" required>
									</div>
								</div>
							</div>
						
							<div class="form-group">
								<div class="row">
									<!-- Second entry group -->
									<div class="col-md-12">
										<label for="color2">{% trans "Warm Color" %}</label>
										<input type="color" id="color2" name="color2" value="#FFFFFF" class="form-control" required>
									</div>
									

									
								</div>
							</div>
						</div>
						<div id="op2">
							<div class="col-md-12">
								<div id="map" class="preview-ramp-color"></div>
							</div>	
							<div id="steps" class="row">
								<div class="col-md-12">
									<div id="form-error" style="color:#ff0000;"></div>
									<div class="row">
										<input name="colorramp-definition" id="colorramp-definition" value="" type="hidden">
										<div class="col-md-12 form-group">
											<label>{% trans "Steps" %}</label>
											<div id="add-step" class="btn btn-sm btn-default add-legend pull-right"><i class="fa fa-plus margin-r-5"></i> {% trans "Add step" %}</div>					
										</div>
									</div>
								</div>
								<div id="steps-body" class="col-md-12">
								</div>
							</div>
							
						</div>
					</div>
				</div>   
						     
    
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>

<script>
$(document).ready(function() {

	$("#op1").show();
    $("#op2").hide();
	$("input[name='opcion']").change(function() {
            if ($(this).val() === "opcion1") {
                $("#op1").show();
                $("#op2").hide();
            } else {
                $("#op1").hide();
                $("#op2").show();
            }
        });


	var self = this;
	this.color_ramp = new ColorRamp("", null);
	
	$("#steps-body").append(this.color_ramp.getColorRampTableUI());
	this.color_ramp.addDefaultEntries();
	
	
	$("#add-step").on('click', function(e){
		self.color_ramp.addColorRamp(100, "#000000", 1);
		self.color_ramp.refreshPreview();
	});




	var language = $("#select-language").val();
	$("#select-numeric-field").prop("disabled", true);
	var checkedVal= 1
	$("#toggleCheckbox").change(function() {
                if ($(this).is(":checked")) {
                    $("#select-numeric-field").prop("disabled", false);
					checkedVal = $("#select-numeric-field").val()
					console.log(checkedVal);
					$("#comboBox").change(function() {
						checkedVal = $("#select-numeric-field").val()
						console.log(checkedVal);
					})
					
					
                } else {
                    $("#select-numeric-field").prop("disabled", true);
					checkedVal=1
					console.log(checkedVal);

                }
            });

	var layerId = "{{layer_id}}";
	var layerUrl = "{{layer_url}}";
	var layerName = "{{layer_name}}";
	var authToken = "{{auth_token}}";
	var jsonNumericFields = {{json_numeric_fields|safe}};

	authenticate(layerUrl);

  
	
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.OSM()
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	var wmsSource = new ol.source.TileWMS({
		url: layerUrl,
		visible: true,
		params: {'LAYERS': layerName, 'FORMAT': 'image/png', 'VERSION': '1.1.1'},
		serverType: 'geoserver',
		tileLoadFunction: imagePostFunction
	});
	wmsLayer = new ol.layer.Tile({
		id: 'preview-layer',
		source: wmsSource,
		visible: true
	});
	map.addLayer(wmsLayer);


	for(var idx in jsonNumericFields){

		var field_name = jsonNumericFields[idx]["name"];
		var field_name_trans = jsonNumericFields[idx]["title-"+language];
		if(!field_name_trans){
			field_name_trans = field_name;
		}
		$("#select-numeric-field").append('<option value="' + field_name + '">' + field_name_trans + '</option>');
	}


	$("#save-legend").on('click', function(e){


		const selected = document.querySelector('input[name="opcion"]:checked');

		

		const nombre = document.getElementById('style-name').value;
		const titulo = document.getElementById('style-title').value;
		const radius = document.getElementById('radius').value;
		const pixelsPerCell = document.getElementById('pixelsPerCell').value;
		let colorsRes = null

		if(selected.value==='opcion1'){
			const color1 = document.getElementById('color1').value;
			const color2 = document.getElementById('color2').value;
			const steps =document.getElementById('numCol').value;
			colorsRes = generateColorGradient(steps, color1, color2)
		}else{
			colorsRes =GenerateColorRamp()
		}

		
		

		const sld=`<?xml version="1.0" encoding="UTF-8"?>
<sld:StyledLayerDescriptor xmlns="http://www.opengis.net/sld"
xmlns:sld="http://www.opengis.net/sld"
xmlns:gml="http://www.opengis.net/gml"
xmlns:ogc="http://www.opengis.net/ogc" version="1.0.0">
      <NamedLayer>
        <Name>${nombre}</Name>
        <UserStyle>
          <Title>${titulo}</Title>
          <Abstract>HeatMap</Abstract>
          <FeatureTypeStyle>
            <Transformation>
              <ogc:Function name="vec:Heatmap">
                <ogc:Function name="parameter">
                  <ogc:Literal>data</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>weightAttr</ogc:Literal>
                  <ogc:Literal>${checkedVal}</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>radiusPixels</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>radius</ogc:Literal>
                    <ogc:Literal>${radius}</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
				  <ogc:Literal>pixelsPerCell</ogc:Literal>
                  <ogc:Literal>${pixelsPerCell}</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputBBOX</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_bbox</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputWidth</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_width</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputHeight</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_height</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
              </ogc:Function>
            </Transformation>
           <Rule>
             <RasterSymbolizer>
             <!-- specify geometry attribute to pass validation -->
               <Geometry>
<ogc:PropertyName>wkb_geometry</ogc:PropertyName></Geometry>
               <Opacity>0.6</Opacity>
               <ColorMap type="ramp" >
                 ${colorsRes}
               </ColorMap>
             </RasterSymbolizer>
            </Rule>
          </FeatureTypeStyle>
        </UserStyle>
      </NamedLayer>
</sld:StyledLayerDescriptor>`		
	
			save(layerId, sld);
			

		
	});
	
	$("#refresh-preview").on('click', function(e){
		const selected = document.querySelector('input[name="opcion"]:checked');

		

		const nombre = document.getElementById('style-name').value;
        const titulo = document.getElementById('style-title').value;
        const radius = document.getElementById('radius').value;
        const pixelsPerCell = document.getElementById('pixelsPerCell').value;
		let colorsRes = null

		if(selected.value==='opcion1'){
			const color1 = document.getElementById('color1').value;
			const color2 = document.getElementById('color2').value;
			const steps =document.getElementById('numCol').value;
			colorsRes = generateColorGradient(steps, color1, color2)
		}else{
			colorsRes =GenerateColorRamp()
		}


	
		
		

		const sld=`<?xml version="1.0" encoding="UTF-8"?>
<sld:StyledLayerDescriptor xmlns="http://www.opengis.net/sld"
xmlns:sld="http://www.opengis.net/sld"
xmlns:gml="http://www.opengis.net/gml"
xmlns:ogc="http://www.opengis.net/ogc" version="1.0.0">
      <NamedLayer>
        <Name>${nombre}</Name>
        <UserStyle>
          <Title>${titulo}</Title>
          <Abstract>HeatMap</Abstract>
          <FeatureTypeStyle>
            <Transformation>
              <ogc:Function name="vec:Heatmap">
                <ogc:Function name="parameter">
                  <ogc:Literal>data</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>weightAttr</ogc:Literal>
                  <ogc:Literal>${checkedVal}</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>radiusPixels</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>radius</ogc:Literal>
                    <ogc:Literal>${radius}</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
				  <ogc:Literal>pixelsPerCell</ogc:Literal>
                  <ogc:Literal>${pixelsPerCell}</ogc:Literal>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputBBOX</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_bbox</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputWidth</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_width</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
                <ogc:Function name="parameter">
                  <ogc:Literal>outputHeight</ogc:Literal>
                  <ogc:Function name="env">
                    <ogc:Literal>wms_height</ogc:Literal>
                  </ogc:Function>
                </ogc:Function>
              </ogc:Function>
            </Transformation>
           <Rule>
             <RasterSymbolizer>
             <!-- specify geometry attribute to pass validation -->
               <Geometry>
<ogc:PropertyName>wkb_geometry</ogc:PropertyName></Geometry>
               <Opacity>0.6</Opacity>
               <ColorMap type="ramp" >
                 ${colorsRes}
               </ColorMap>
             </RasterSymbolizer>
            </Rule>
          </FeatureTypeStyle>
        </UserStyle>
      </NamedLayer>
</sld:StyledLayerDescriptor>`	
updatePreview(layerId, sld, map);

		
	});
	
	$(window).on("beforeunload", function(){
		$.ajax({
			type: "POST",
			async: false,
			url: "/gvsigonline/symbology/remove_temporal_preview/",
			beforeSend:function(xhr){
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
			data: {
				name: "{{style_name}}",
				layer_id: "{{layer_id}}"
			},
			success: function(response){
				
			},
		    error: function(){}
		});
	});
	
});

function save(layerId, sldg) {	
	var self = this;
	var sld = sldg;
	var isDefault = $('#style-is-default').is(":checked");
	var styleName = $("#style-name").val();
	var styleTitle = $("#style-title").val();

	
	$.ajax({
		type: "POST",
		async: false,
		url: "/gvsigonline/symbology/map_heat_add/" + layerId + "/",
		beforeSend:function(xhr){
			xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
		},
		data: {
			style: 'MC',
			style_name: styleName,
			style_title: styleTitle,
			is_default: isDefault,
			sld: sld
		},
		success: function(response){
			if (response.success) {
				location.href = "/gvsigonline/symbology/style_layer_list/";
			} else {
				alert('Error');
			}

		},
		error: function(){}
	});
}

function updatePreview(layerId, sldg, map) {
	var self = this;
	
	var sld = sldg;
	var isDefault = $('#style-is-default').is(":checked");
	var styleName = $("#style-name").val();
	var styleTitle = $("#style-title").val();
	
	$.ajax({
		type: "POST",
		async: false,
		url: "/gvsigonline/symbology/update_preview/" + layerId +  "/",
		beforeSend:function(xhr){
			xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
		},
		data: {
			style: 'MC',
			style_name: styleName,
			style_title: styleTitle,
			is_default: isDefault,
			sld: sld
			
		},
		success: function(response){
			if (response.success) {
				reloadLayerPreview(map);
				
			} else {
				console.error("Error in response:", response);
				alert('Error');
			}

		},
		error: function(){}
	});
}

function reloadLayerPreview (map){
	var styleName = $("#style-name").val();
	var layers = map.getLayers();
	layers.forEach(function(layer){
		if (!layer.baselayer && !layer.external) {
			if (layer.get("id") === 'preview-layer') {
				layer.getSource().updateParams({'STYLES': styleName + "__tmp", "_time": (new Date()).getTime()});
				map.render();
			}
		};
	}, this);
}

function generateColorGradient(numColors, coldColor, hotColor) {
    function interpolateColor(color1, color2, factor) {
        let c1 = parseInt(color1.substring(1), 16);
        let c2 = parseInt(color2.substring(1), 16);
        
        let r1 = (c1 >> 16) & 255, g1 = (c1 >> 8) & 255, b1 = c1 & 255;
        let r2 = (c2 >> 16) & 255, g2 = (c2 >> 8) & 255, b2 = c2 & 255;
        
        let r = Math.round(r1 + (r2 - r1) * factor);
        let g = Math.round(g1 + (g2 - g1) * factor);
        let b = Math.round(b1 + (b2 - b1) * factor);
        
        return `#${((1 << 24) | (r << 16) | (g << 8) | b).toString(16).slice(1).toUpperCase()}`;
    }


    let gradient = `<ColorMapEntry color="#FFFFFF" quantity="0" label="nodata" opacity="0"/>\n`;
    
    for (let i = 0; i < numColors; i++) {
        let factor = (i + 1) / numColors; // Evita que el primer quantity sea 0
        let color = interpolateColor(coldColor, hotColor, factor);
        gradient += `<ColorMapEntry color="${color}" quantity="${factor.toFixed(2)}" />\n`;
    }

    return gradient;
}


function GenerateColorRamp() {
    
    var styleName = $("#style-name").val();
    var formError = $("#form-error");
    formError.empty();

    var colorTabs = $("#colorramp-table").find("tr");

    if (colorTabs.length < 3) {
        formError.append('<p>*{% trans "Two or more color definitions are required" %}</p>');
    } else {
        var rampColorArray = [];
        
        $(".color-ramp-data").each(function() {
            var quantity = $(this).find(".percentaje-chooser").val()/ 100;
            var color = $(this).find(".color-chooser").val();
            var alpha = $(this).find(".alpha-chooser").val();
            
            rampColorArray.push({
                'quantity': quantity,
                'color': color,
                'alpha': alpha
            });
        });

		let firstItem = rampColorArray[0];
		let res = `<ColorMapEntry color="${firstItem.color}"  quantity="${firstItem.quantity}"  label="nodata" opacity="${firstItem.alpha}" />\n`;

        // Iterate through rampColorArray and build the result string
        for (let i = 1; i < rampColorArray.length-1; i++) {
            let item = rampColorArray[i];
            res += `<ColorMapEntry color="${item.color}" quantity="${item.quantity}" opacity="${item.alpha}"/>\n`;
        }

        let lastItem = rampColorArray[rampColorArray.length - 1];
		res += `<ColorMapEntry color="${lastItem.color}" quantity="1" opacity="${lastItem.alpha}"/>\n`;

		var ramp_color = {
						'definition' : rampColorArray
				};
				
		$("#colorramp-definition").val(JSON.stringify(ramp_color));

        return res;
    }
}

</script>
{% endblock %}