{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Create new style" %}</h3>
			</div>
			
			<div class="box-body">
<!-- 				<div class="row"> -->
<!-- 					<div class="col-md-12 form-group"> -->
<!-- 						<label>{% trans "Style name" %}</label> -->
<!-- 						<input id="symbology-title" name="symbology-title" class="form-control " type="text" placeholder="{% trans "Insert style name" %}"> 					 -->
<!-- 					</div> -->
<!-- 				</div> -->

				<div class="row">
					<div class="col-md-12">
						<ul class="products-list product-list-in-box">
						
							{% if is_vectorial %}
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-map-marker"></i></span>
								</div>
								<div class="product-info">
									<a href="/gvsigonline/symbology/unique_symbol_add/{{layer.id}}/" class="product-title">{% trans "Unique symbol" %}
									</a> 
									<span class="product-description"> {% trans "Create unique symbol legend" %} </span>
								</div>
							</li>
							<!-- 
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-list"></i></span>
								</div>
								<div class="product-info">
									<a disabled href="javascript:void(0)" class="product-title">{% trans "Unique values" %}
									</a> 
									<span class="product-description"> {% trans "Unique values description" %} </span>
								</div>
							</li>
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-sort-numeric-asc"></i></span>
								</div>
								<div class="product-info">
									<a disabled href="javascript:void(0)" class="product-title">{% trans "Intervals" %}
									</a> 
									<span class="product-description"> {% trans "Intervals description" %} </span>
								</div>
							</li>
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-terminal"></i></span>
								</div>
								<div class="product-info">
									<a disabled href="javascript:void(0)" class="product-title">{% trans "Expressions" %}
									</a> 
									<span class="product-description"> {% trans "Expressions description" %} </span>
								</div>
							</li>
							-->
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-file-code-o"></i></span>
								</div>
								<div class="product-info">
									<a href="/gvsigonline/symbology/sld_import/" class="product-title">{% trans "Import from SLD" %}
									</a> 
									<span class="product-description"> {% trans "SLD legend description" %} </span>
								</div>
							</li>
							{% if GEOSERVER_CHART_MODULE %}
							<li class="item">
								<div class="product-img">
									<span class="new-style-options-icon"><i class="fa fa-pie-chart"></i></span>
								</div>
								<div class="product-info">
									<a disabled href="javascript:void(0)" class="product-title">{% trans "Charts" %}
									</a> 
									<span class="product-description"> {% trans "Charts description" %} </span>
								</div>
							</li>
							{% endif %}
							
							{% else %}
								{% if is_view %}
								<li class="item">
									<div class="product-img">
										<span class="new-style-options-icon"><i class="fa fa-map-marker"></i></span>
									</div>
									<div class="product-info">
										<a href="/gvsigonline/symbology/unique_symbol_add/{{layer.id}}/" class="product-title">{% trans "Unique symbol" %}
										</a> 
										<span class="product-description"> {% trans "Create unique symbol legend" %} </span>
									</div>
								</li>
								<li class="item">
									<div class="product-img">
										<span class="new-style-options-icon"><i class="fa fa-terminal"></i></span>
									</div>
									<div class="product-info">
										<a disabled href="javascript:void(0)" class="product-title">{% trans "Expressions" %}
										</a> 
										<span class="product-description"> {% trans "Expressions description" %} </span>
									</div>
								</li>
								<li class="item">
									<div class="product-img">
										<span class="new-style-options-icon"><i class="fa fa-file-code-o"></i></span>
									</div>
									<div class="product-info">
										<a disabled href="javascript:void(0)" class="product-title">{% trans "Import from SLD" %}
										</a> 
										<span class="product-description"> {% trans "SLD legend description" %} </span>
									</div>
								</li>
								{% else %}
									<li class="item">
										<div class="product-img">
											<span class="new-style-options-icon"><i class="fa fa-map-marker"></i></span>
										</div>
										<div class="product-info">
											<a disabled href="javascript:void(0)" class="product-title">{% trans "Color table" %}
											</a> 
											<span class="product-description"> {% trans "Color table description" %} </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<span class="new-style-options-icon"><i class="fa fa-terminal"></i></span>
										</div>
										<div class="product-info">
											<a disabled href="javascript:void(0)" class="product-title">{% trans "Import RMF" %}
											</a> 
											<span class="product-description"> {% trans "RMF legend description" %} </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<span class="new-style-options-icon"><i class="fa fa-file-code-o"></i></span>
										</div>
										<div class="product-info">
											<a disabled href="javascript:void(0)" class="product-title">{% trans "Import SLD" %}
											</a> 
											<span class="product-description"> {% trans "SLD legend description" %} </span>
										</div>
									</li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 		  	
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>
$(document).ready(function() {
});
</script>
{% endblock %}