{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="dash-content">	
<div class="section symbology">	
	<div class="row">
	
		{% if is_new %} 
		<form role="form" id="create-symbol-form"  class="col s12 m12 ajax-post top-space" method="post" action="/gvsigonline/library_add/">
			{% csrf_token %}
			<button class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">
			{% trans "Create Library" %}
			</button>
		{% else %}
		<form role="form" id="create-symbol-form"  class="col s12 m12 ajax-post top-space" method="post" action="/gvsigonline/library_add/{{library_id}}/">
			{% csrf_token %}
			{% if is_editable %} 
			<button class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">
			{% trans "Update Library" %}
			</button>
			{% endif %}	
			<div class="export-button btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;">
			{% trans "Export Library" %}
			</div>
		{% endif %}	
		
		
		
		<div class="col s12 m12">
			<span class="legend-main-title">{% trans "Biblioteca" %}</span>
				
				<div class="row">
					<div class="input-field col s12">
						{% if is_editable %} 
						<input id="library-title" name="library-title" class="validate " type="text" value="" placeholder="Indica nombre aquí..."> 	
						{% else %}	
						<input disabled id="library-title" name="library-title" class="validate " type="text" value="" placeholder="Indica nombre aquí..."> 	
						{% endif %}	
						<label class="active" for="library-title">{% trans "Nombre" %}</label>
					</div>
				</div>
 				<div class="row" style="">
					<div class="input-field col s12">
						{% if is_editable %} 
						<textarea id="library-description" class="materialize-textarea" rows="6" name="library-description" style="height: 23px;"></textarea>
						{% else %}	
						<textarea disabled id="library-description" class="materialize-textarea" rows="6" name="library-description" style="height: 23px;"></textarea>
						{% endif %}	
						<label class="active" for="library-description">{% trans "Descripción" %}</label>
					</div>
				</div>
				
				{% if not is_new %} 
				<div id="symbols-panel" class="library-symbols-panel" style="">
		    		<div class="darken-1 back-button">
						<span class="legend-main-title"> 
							{% trans "Símbolos de la biblioteca" %}
						</span>
						<div class="button-create-symbol waves-effect waves-green btn blue right" style="">{% trans "Create symbol" %}</div>
						<!--<div class="button-import-symbol waves-effect waves-green btn blue right" style="">{% trans "Import symbols" %}</div>-->
					</div>
					<ul id="library-symbols" class="collection"></ul>
					<div style="clear:both;"></div>
				 </div>
				{% endif %}	
	     	
		</div>
		
		</form>
	</div>
</div>
</div>

<div id="modal-delete-symbology" class="modal modal-fixed-footer">
 <div class="modal-content">
      <h5><span>¿Desea borrar este símbolo de la biblioteca?</span></h5>
      <div class="modal-metadata-form">
				<p> Se procederá a eliminar el símbolo de esta biblioteca.</p>
				<p> Esta acción no se puede deshacer</p>
				
				<input id="symbol-delete-id" name="libsymbol-id" type="hidden" value=""> 
      </div>
    </div>
    <div class="modal-footer">
		<a id="symbolDeleteAcceptButton" class="update-library-symbol modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
		<a id="symbolDeleteCancelButton" class="cancel-button modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>                                             
  </div>
  

<div id="modal-export-symbology" class="modal modal-fixed-footer">
 <div class="modal-content">
      <h5><span>Exportar biblioteca a fichero</span></h5>
      	<div class="modal-metadata-form">
      		<div class="file-field-error hidden" style:"color:red;">
      			Debe seleccionar un directorio destino primero
      		</div>
      
			 <form action="#">
			    <div class="file-field input-field">
			      <div class="btn">
			        <span>Fichero destino</span>
			        <input type="file" webkitdirectory mozDirectory directory />
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate" type="text">
			      </div>
			    </div>
			  </form>
      </div>
    </div>
    <div class="modal-footer">
		<a id="symbolExportAcceptButton" class="export-library-symbol modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
		<a id="symbolExportCancelButton" class="cancel-button modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>                                             
  </div>


<div id="modal-choose-symbology" class="modal modal-fixed-footer">
 <div class="modal-content">
      <h5><span>Elige el tipo de símbolo a crear:</span></h5>
      <div class="modal-metadata-form">
				<li class="option-symbol-type" type="PointSymbolizer"> 
					<div  class="">
						<i class="fa fa-map-marker"></i>
						<span>Punto</span>
						<div class="clearBoth"></div>
					</div>
				</li>
				<li class="option-symbol-type" type="LineSymbolizer"> 
					<div  class:"">
						<i class="fa fa-minus"></i>
						<span>Línea</span>
						<div class="clearBoth"></div>
					</div>
				</li>
				<li class="option-symbol-type" type="PolygonSymbolizer"> 
					<div  class="">
						<i class="fa fa-globe"></i>
						<span>Polígono</span>
						<div class="clearBoth"></div>
					</div>
				</li>
      </div>
    </div>
  </div>
  
 <div id="modal-symbology" class="modal modal-fixed-footer">
    <div class="modal-content">
      
    </div>
    <div class="modal-footer">

    </div>                                        
  </div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		var lib = {{ library|safe }};
		var syms = {{ symbols|safe }};
		var library_id = "{{ library_id }}";
	
		if(lib.length > 0){
			var library = lib[0];
			var symbols = syms;
		
			$("#library-title").val(library.fields.title);
			$("#library-description").val(library.fields.description);
			
			var container = $("#library-symbols");
			container.empty();
			
			for(var i=0; i<symbols.length; i++){
				var symbol = symbols[i][0];		
				var li1 = $("<li>", {class:"library-link-preview library-edition", symbol: symbol.pk});
				var div1 = $("<div>", {class: "symbol-text-container"});
				var symbolPreview = $("<div>", {
					id:"libsymbol-preview-"+symbol.pk, 
					class: "library-preview",
					symbol: symbol.pk});
				var symbolPreviewName = $("<span>", {
					id: "libsymbol-name-"+symbol.pk, 
					text: symbol.fields.name, 
					symbol: symbol.pk});
				var symbolPreviewDescription = $("<p>", {
					id: "libsymbol-description-"+symbol.pk, 
					text: symbol.fields.description, 
					symbol: symbol.pk});
					
				var editButton = $("<button>", {
					class:"btn-floating btn-flat waves-effect waves-light light-green button-update-symbol", 
					title:"Update symbol",
					"data-placement":"bottom",
					"data-toggle":"tooltip",
					type:"button",
					symbol: symbol.pk});
				var i1 = $("<i>", {class:"fa fa-edit"});
				editButton.append(i1);
				
				var deleteButton = $("<button>", {
					class:"btn-floating btn-flat waves-effect waves-light red button-delete-symbol", 
					title:"Delete symbol",
					"data-placement":"bottom",
					"data-toggle":"tooltip",
					type:"button",
					style: "margin-top:10px;",
					symbol: symbol.pk});
				var i1 = $("<i>", {class:"fa fa-times"});
				deleteButton.append(i1);
				var br1 = $("<div>", {class: "symbol-buttons-container"});
					
				li1.append(symbolPreview);
				div1.append(symbolPreviewName);
				div1.append(symbolPreviewDescription);	
							
				br1.append(editButton);	
				br1.append(deleteButton);
				if(!symbol.fields.is_public){
					li1.append(br1);	
				}
				li1.append(div1);
				container.append(li1);
			}
		}
		$('.modal-trigger').leanModal();
		$('select').material_select();
		
		$(".export-button").click(function(){
			/*
					ajaxPost(
					"/gvsigonline/library_export/"+library_id+"/",
					{}, 
					function(content){
			            //onSuccess
			           alert("Exporting process done succesfully!");
			        });
			*/
			window.location.href = "/gvsigonline/library_export/"+library_id+"/";
		
		});
		
		$(".button-delete-symbol").click(function(){
			$('#modal-delete-symbology').openModal();
		
			var symbol_id = $(this).attr("symbol");
			$("#symbol-delete-id").val(symbol_id);
			
			$("#symbolDeleteAcceptButton").unbind("click").click(function(){
				var symbol_id = $("#symbol-delete-id").val();
				ajaxPost("/gvsigonline/symbol_library_delete/"+symbol_id+"/", 
					function(content){
			            $('.library-link-preview.library-edition[symbol="'+symbol_id+'"]').remove();
			            $('#modal-delete-symbology').closeModal();
			        }
			    )
			});
		});
		var that = this;
		this.acceptFormFunction = function(){
				var symbologyUtils = new SymbologyUtils();
				var data = that.symbolForm.getData();
				var type = that.symbolForm.getType();
				if(data != null){
					var sldjson = $.xml2json("<StoredSLD>" +
						data.fields.sld_code + "</StoredSLD>");
					var symbol_url = "";
					if(data.pk){
						symbol_url = data.pk + "/";
					}
						
					var result = that.symbolForm.getFormValues(sldjson[type], type);
					var name = $("#form-symbol-name").val();
					
					var xmljson = "";
					for(var i=0; i<result.length; i++){
						xmljson += symbologyUtils.json2xml(result[i], type);
					}
					xmljson = xmljson.replace(/<CssParameter[^>]*><\/CssParameter>/g, "");
					
					ajaxPost("/gvsigonline/symbol_library_add/"+library_id+"/"+symbol_url,
						{
						'title': name,
						'type': type,
						'sld-code': xmljson
						}, 
						function(content){
				            location.reload();
				        }
				    )
			    }
				$('#modal-symbology').closeModal();
			};
		
		$(".button-create-symbol").unbind("click").click(function(){
			$('#modal-choose-symbology').openModal();
		
			$(".option-symbol-type").unbind("click").click(function(){
				$('#modal-choose-symbology').closeModal();
				
				var type = $(this).attr("type");
				that.symbolForm = new SymbologySymbolForm(null, null);
				var symbologyUtils = new SymbologyUtils();
				
				var sym = symbologyUtils.createEmptySymbol("New symbol", type);
				var form = that.symbolForm.createForm(type, sym, null, null, null, false);
				
				$('#modal-symbology').openModal();
				that.symbolForm.updatePreviewFunction();
				
				$("#formAcceptButton").unbind("click").click(that.acceptFormFunction);
				$("#formCancelButton").unbind("click").click(function(){
					$('#modal-symbology').closeModal();
				});
			});
		
		});
		
		
		$(".button-update-symbol").click(function(){
			var id = $(this).attr("symbol");
			var symbol = null;
			
			for(var i=0; i<syms.length; i++){
				var id2 = syms[i][0].pk + "";
				if(id2 == id){
					symbol = syms[i][0];
				}
			}
			if(symbol != null){
				that.symbolForm = new SymbologySymbolForm(null, null);
				var symbologyUtils = new SymbologyUtils();
				
				var form = that.symbolForm.createForm(symbol.fields.type, symbol, null, null, null, false);
				$('#modal-symbology').openModal();
				
				that.symbolForm.updatePreviewFunction();
				
				$("#formAcceptButton").unbind("click").click(that.acceptFormFunction);
				$("#formCancelButton").unbind("click").click(function(){
					$('#modal-symbology').closeModal();
				});
			}
		});
		
		
		
		
		loadPreviews(syms);
		
		function loadPreviews(syms) {
			for(var i=0; i<syms.length; i++){
				var symbol = syms[i][0];
				var type = symbol.fields.type;
				
				var symbologyPreview = new SymbologyPreview(null);
				var sldjson = $.xml2json("<StoredSLD>" +
							symbol.fields.sld_code + "</StoredSLD>");
					
				var symbolPreview = symbologyPreview.renderPreview(
						sldjson[type], 
						type, 
						"libsymbol-preview-"+symbol.pk);
				if(symbolPreview != null){
					$("#libsymbol-preview-"+symbol.pk).append(symbolPreview);
				}
			};
		
		};
		
	});
</script>
{% endblock %}