{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Create new style" %}</h3>
				<div class="box-tools pull-right">
					<button id="metadata-legend" class="btn btn-box-tool metadata-legend"><i class="fa fa-cog margin-r-5"></i> {% trans "Advance" %}</button>	
					<button id="label-legend" class="btn btn-box-tool label-legend"><i class="fa fa-tag margin-r-5"></i> {% trans "Labeling" %}</button>		
					<button id="default-legend" class="btn btn-box-tool default-legend"><i class="fa fa-star margin-r-5"></i> {% trans "Default" %}</button>
					<button id="save-legend" class="btn btn-box-tool save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>

			<div class="box-body">
			
				<div class="row">
					<div class="col-md-12">
						<div id="map" class="preview-map"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{% trans "Rules" %}</h3>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table id="table-rules" class="table no-margin">
										<thead>
											<tr>
												<th>{% trans "Rule name" %}</th>
												<th>{% trans "Rule preview" %}</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="table-rules-body">
										</tbody>
									</table>
								</div>
							</div>

							<div class="box-footer clearfix">
								<a id="append-rule-button" href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right"><i class="fa fa-plus margin-r-5"></i>{% trans "Append rule" %}</a>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="nav-tabs-custom">
				            <ul class="nav nav-tabs">
				              	<li class="active"><a href="#fill-tab" data-toggle="tab">{% trans "Fill" %}</a></li>	
				              	<li><a href="#border-tab" data-toggle="tab">{% trans "Border" %}</a></li>
				              	<li><a href="#rotation-tab" data-toggle="tab">{% trans "Rotation" %}</a></li> 
				              	<li><a href="#geometry-tab" data-toggle="tab">{% trans "Geometry" %}</a></li>              
				            </ul>
				            <div id="tab-content" class="tab-content">
				            </div>
          				</div>
          			</div>
				</div>
			</div>
		</div>
	</div>
</div>     	
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>
$(document).ready(function() {
	//Init DOM components
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.MapQuest({layer: 'osm'})
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	
	$("#append-rule-button").on('click', function(e){
		var rule = uniqueSymbol.appendRule();
	});
	
	var featureType = "{{featureType}}";
	var fields = {{fields|safe}};
	var sldFilterValues = {{sldFilterValues|safe}};
	
	var uniqueSymbol = new UniqueSymbol(featureType, fields, sldFilterValues);
	uniqueSymbol.appendRule();

});
</script>
{% endblock %}