{% load staticfiles %}
{% load i18n %}
<script type="text/javascript" src="{% static "js/vendors/jQuery/jQuery-2.1.4.min.js" %}"></script>
<script>
	if ($("#menu-manage-plugins" ).length){
		$("#menu-manage-plugins ul.treeview-menu").append(
		'<li id="submenu-etl">'+
		'	<a href="/gvsigonline/etl/etl_canvas">'+
		'		<i class="fa fa-cogs"></i>{% trans "Extract, Transform & Load" %}'+
		'	</a>'+
		'</li>');
	}else{
		$(".sidebar-menu").append(
		'<li id="menu-manage-plugins" class="treeview"><a href="#">'+
		'	<i class="fa fa-puzzle-piece" aria-hidden="true"></i><span>{% trans "Plugins" %}</span> <i class="fa fa-angle-left pull-right"></i></a>'+
		'	<ul class="treeview-menu">'+
		'		<li id="submenu-etl"><a href="/gvsigonline/etl/etl_canvas"><i class="fa fa-cogs"></i>{% trans "Extract, Transform & Load" %}</a></li>'+
		'	</ul>'+
		'</li>');

	}
</script>