<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html>
<head>
	
	<title>{{GVSIGOL_NAME}}</title>
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="stylesheet" href="{% static "js/vendors/bootstrap-3.3.7/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/fontcustom2/fontcustom.css" %}">
	<link rel="stylesheet" href="{% static "css/googlefonts.css" %}">
	<link rel="stylesheet" href="{% static "css/gvsigOL.css" %}">
	<link rel="stylesheet" href="{% static "css/skins/_all-skins.min.css" %}">
    
</head>

<body class="hold-transition {{GVSIGOL_SKIN}} sidebar-mini">

	<div class="wrapper">
		<div class="content-wrapper">
			<section class="content">
				{% block content %}{% endblock %}
			</section>
		</div>	
	</div>

	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery-3.6.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jscookie/jscookie-2.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQueryUI/jquery-ui.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery.easy-overlay.js" %}"></script>
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<script type="text/javascript" src="{% static "js/vendors/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/slimScroll/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/fastclick/fastclick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/gvsigOL.js" %}"></script>


	{% block extra-scripts %}{% endblock %}
	
</body>
</html>