{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/vendors/jquery.ddslick.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/StyleSettings.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/DrawPointControl.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/DrawLineControl.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/DrawPolygonControl.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/InsertTextControl.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/CleanDrawControl.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/tools/CloseDrawControl.js" %}"></script>
<script type="text/javascript">
(function(){
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_draw')) {
		
		var button = '<li role="presentation"><a id="show_draw" role="menuitem" tabindex="-1" href="#"><i class="fa fa-pencil m-r-5"></i>'+gettext("Show draw tools")+'</a></li>';
		$('#gvsigol-navbar-file-menu').append(button);
		
		var drawBar = new ol.control.Bar({ toggleOne: true, group:true });
		
		var drawModal = '';
		drawModal += '<div class="modal" id="float-draw-modal" tabindex="-1" role="dialog" aria-labelledby="float-modal-label">';
		drawModal += 	'<div class="modal-dialog modal-lg" role="document">';
		drawModal += 		'<div class="modal-content">';
		drawModal += 			'<div class="modal-header">';
		drawModal += 				'<button type="button" class="close" data-dismiss="modal" aria-label="Close">';
		drawModal += 					'<span aria-hidden="true">&times;</span>';
		drawModal += 				'</button>';
		drawModal += 				'<h4 class="modal-title" id="float-modal-label"></h4>';
		drawModal += 			'</div>';
		drawModal += 			'<div class="modal-body"></div>';
		drawModal += 			'<div class="modal-footer">';
		drawModal += 				'<button id="float-modal-cancel" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Close') + '</button>';
		drawModal += 			'</div>';
		drawModal += 		'</div>';
		drawModal += 	'</div>';
		drawModal += '</div>';
		$('body').append(drawModal);
		
		var styleSettings = new StyleSettings(drawBar);
		var drawPoint = new DrawPointControl(drawBar, map, styleSettings);
		var drawLine = new DrawLineControl(drawBar, map, styleSettings);
		var drawPolygon = new DrawPolygonControl(drawBar, map, styleSettings);
		var insertText = new InsertTextControl(drawBar, map, styleSettings);
		
		var select = new ol.interaction.Select({
			layers: [insertText.getLayer()]
		});

		var modify = new ol.interaction.Modify({
		  	features: select.getFeatures()
		});
		
		var cleanControl = new CleanDrawControl(drawBar, drawPoint.getLayer(), drawLine.getLayer(), drawPolygon.getLayer(), insertText.getLayer(), select);
		var closeControl = new CloseDrawControl(map, drawBar, drawPoint.getLayer(), drawLine.getLayer(), drawPolygon.getLayer(), insertText.getLayer(), select);
		
		drawBar.closeControl = closeControl;
		
		var count = 1;
		$('#float-draw-modal').on('hidden.bs.modal', function () {
			var style = styleSettings.getStyle();
			
			var pointStyleName = 'point_style_' + count;
			var lineStyleName = 'line_style_' + count;
			var polygonStyleName = 'polygon_style_' + count;
			var textStyleName = 'text_style_' + count;
			styleSettings.addPointPrintStyle(style.point, pointStyleName);
			styleSettings.addLinePrintStyle(style.line, lineStyleName);
			styleSettings.addPolygonPrintStyle(style.polygon, polygonStyleName);
			styleSettings.addTextPrintStyle(style.text, textStyleName);
			
			drawPoint.setStyle(style.point, pointStyleName);
			drawLine.setStyle(style.line, lineStyleName);
			drawPolygon.setStyle(style.polygon, polygonStyleName);
			insertText.setStyle(style.text, textStyleName);
			
			count++;
		});
		
		map.on('singleclick', function (event) {
			if (map.hasFeatureAtPixel(event.pixel) === true) {
				var coordinate = event.coordinate;
				map.forEachFeatureAtPixel(event.pixel, function(feature) {
					if (feature.drawed) {
						var popupContent = '';
						if (feature.dtype == 'text') {
							popupContent += '<div class="row">';
							popupContent += 	'<div class="col-md-12 form-group">';
							popupContent += 		'<label for="drawed-text-input">' + gettext('Insert text') + '</label>';
							popupContent += 		'<input id="drawed-text-input-' + feature.getId() + '" name="drawed-text-input" type="text" class="form-control drawed-text-input" value="' + feature.getProperties()['text'] + '">';				
							popupContent += 	'</div>';
							popupContent += '</div>';
							popupContent += '<div class="row">';
							popupContent += 	'<div class="col-md-6 form-group pull-right">';
							popupContent +=     	'<button data-dtype="' + feature.dtype + '" data-fid="' + feature.getId() + '" class="drawed-text-remove-button btn-default btn-sm"><i style="display:inline;margin-right:5px;" class="fa fa-remove"></i>' + gettext('Delete') + '</button>';				
							popupContent += 	'</div>';
							popupContent += 	'<div class="col-md-6 form-group pull-right">';
							popupContent +=     	'<button data-dtype="' + feature.dtype + '" data-fid="' + feature.getId() + '" class="drawed-text-save-button btn-default btn-sm"><i style="display:inline;margin-right:5px;" class="fa fa-floppy-o"></i>' + gettext('Save') + '</button>';				
							popupContent += 	'</div>';						
							popupContent += '</div>';
						}
						var popup = new ol.Overlay.Popup ({	
							popupClass: "default",
							closeBox: true,
							onshow: function(){ console.log("You opened the box"); },
							onclose: function(){ console.log("You close the box"); },
							positioning: 'auto',
							autoPan: true,
							autoPanAnimation: { duration: 250 }
						});
						map.addOverlay(popup);
						popup.show(coordinate, '<div class="popup-wrapper text-popup">' + popupContent + '</div>');
						feature.fpopup = popup;
					}
					
				});
		        
		    }
			
			$('.drawed-text-save-button').click(function(e){
				var fid = this.dataset.fid;
				var dtype = this.dataset.dtype;
				
				var value = $('#drawed-text-input-' + this.dataset.fid).val();
				
				insertText.getLayer().getSource().getFeatures().forEach(function(feature){ 
					if (feature.getId() == fid) {
						var props = feature.getProperties();
						props['text'] = value;
						var style = feature.getStyle();
						style.getText().setText(value);
						feature.setProperties(props);
						feature.changed();
					}
				});
			});
			
			$('.drawed-text-remove-button').click(function(e){
				var fid = this.dataset.fid;
				var dtype = this.dataset.dtype;
				
				insertText.getLayer().getSource().getFeatures().forEach(function(feature){ 
					if (feature.getId() == fid) {
						feature.setStyle(null);
						insertText.getLayer().getSource().removeFeature(feature);
						insertText.getLayer().setVisible(false);
						insertText.getLayer().setVisible(true);
						select.getFeatures().clear();
						feature.fpopup.hide();
					}
				});
			});
		});
		
		$('#show_draw').click(function(e){
			if (viewer.core.getActiveToolbar() != null) {
				viewer.core.getActiveToolbar().closeControl.close();
			}
			map.addControl(drawBar);
			viewer.core.setActiveToolbar(drawBar);
			viewer.core.disableTools();
		});
		
		map.addInteraction(select);
		map.addInteraction(modify);
		
	}
})();
</script>