{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Update line chart" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-default refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="save-chart" class="btn btn-sm btn-default save-chart"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Update" %}</button>					
				</div>
			</div>

			<div class="box-body">
			
				<div class="row">
					<div class="col-md-6">
						<div id="form-error" style="color:#ff0000;"></div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Title" %}</label>
								<input type="text" name="chart-title" id="chart-title" maxlength="150" class="form-control" tabindex="1" value="{{ title }}">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Description" %}</label>
								<textarea class="form-control" name="chart-description" id="chart-description" maxlength="500" rows="5">{{ description }}</textarea>						
							</div>
						</div>
						<div class="row">
							<label style="margin-left: 20px; font-size: 12px;">{% trans "Dataset type" %}</label>
							<div class="col-md-12 form-group">
								<input type="radio" name="dataset_type" value="aggregated"/>
								<label style="font-size: 11px;" for="dataset_type">{% trans "Aggregated" %} ({% trans "Show aggregated data for a column" %})</label>
							</div>
							<div class="col-md-12 form-group">
								<input type="radio" name="dataset_type" value="single_selection"/>
								<label style="font-size: 11px;" for="dataset_type">{% trans "Single selection" %} ({% trans "Shows the data of the last selected element" %})</label>
							</div>
							<div class="col-md-12 form-group">
								<input checked type="radio" name="dataset_type" value="multiple_selection"/>
								<label style="font-size: 11px;" for="dataset_type">{% trans "Multiple selection" %} ({% trans "Shows the data of each selected element" %})</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>{% trans "Select column with geographic names" %}</label>
								<select id="geographic_names_column" class="form-control">
									<option disabled selected value="__disabled__"> -------- </option>
								</select>
							</div>
							<div class="col-md-6 form-group">
								<label>{% trans "Select column with geometries" %}</label>
								<select id="geometries_column" class="form-control">
									<option disabled selected value="__disabled__"> -------- </option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>{% trans "Title for the X axis" %}</label>
								<input type="text" name="x-axis-title" id="x-axis-title" maxlength="100" class="form-control" tabindex="1" value="{{ x_axis_title }}">
							</div>
							<div class="col-md-6 form-group">
								<label>{% trans "Title for the Y axis" %}</label>
								<input type="text" name="y-axis-title" id="y-axis-title" maxlength="100" class="form-control" tabindex="1" value="{{ y_axis_title }}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group"></div>
							<div class="col-md-6 form-group">
								<input checked type="checkbox" id="y_axis_begin_at_zero" name="y_axis_begin_at_zero"/>
								<label>{% trans "Eje Y empieza en 0" %}</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<canvas id="chart-preview" class="chart-preview"></canvas>
					</div>						
				</div>
				
				<div id="data-columns" style="margin-top: 20px; margin-bottom: 20px;">
					<label style="font-size: 14px;">{% trans "Select data columns" %}</label>
					<div class="row">
						<div class="col-md-2 form-group">
							<label>{% trans "Selected" %}</label>
						</div>
						<div class="col-md-5 form-group">
							<label>{% trans "Column name" %}</label>
						</div>
						<div class="col-md-5 form-group">
							<label>{% trans "Title" %}</label>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>   	
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-plugins').addClass("active");
	$('#submenu-charts').addClass("active");
</script>
<script>

var lineChartData = {
	labels: [],
	datasets: []
};

var ctx = document.getElementById('chart-preview').getContext('2d');
window.chart = new Chart(ctx, {
	type: 'line',
	data: lineChartData,
	options: {
		responsive: true,
		legend: {
			position: 'right',
		},
		scales: {
			xAxes: [{
				display: true,
				scaleLabel: {
					display: true,
					labelString: gettext('X axis')
				}
			}],
			yAxes: [{
				display: true,
				scaleLabel: {
					display: true,
					labelString: gettext('Y axis')
				}
			}]
		}
	}
});

function getRandomColor(){
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
};

function randomScalingFactor() {
	return Math.floor(Math.random() * 100) + 1;
};

function isSelectedColumn(column, columns) {
	var isSelected = false;
	for (var i=0; i<columns.length; i++) {
		if (column == columns[i].name) {
			isSelected = true;
		}
	}
	return isSelected;
};

function getColumnTitle(column, columns) {
	var title = column;
	for (var i=0; i<columns.length; i++) {
		if (column == columns[i].name) {
			title = columns[i].title;
		}
	}
	return title;
};

function refreshPreview(datasetType, xAxisTitle, yAxisTitle) {
	var selectedColumns = $("input:checkbox:checked").map(function(){
		return this.dataset.column;
	}).get();
	lineChartData.labels = [];
	for (var i=0; i<selectedColumns.length; i++) {
		var title = $('#title-column-' + selectedColumns[i]).val();
		lineChartData.labels.push(title);
	}
	if (datasetType == 'multiple_selection') {
		lineChartData.datasets = [];
		for (var k=0; k<5; k++) {
			var newDataset = {
				label: 'Dataset ' + k,
				fill: false,
				backgroundColor: getRandomColor(),
				borderColor: getRandomColor(),
				borderWidth: 1,
				data: []
			};
			for (var j=0; j<selectedColumns.length; j++) {
				newDataset.data.push(randomScalingFactor());
			}
			lineChartData.datasets.push(newDataset);
		}
		window.chart.options.scales.xAxes[0].scaleLabel.labelString = xAxisTitle;
		window.chart.options.scales.yAxes[0].scaleLabel.labelString = yAxisTitle;
		window.chart.update();
		
	} else {
		var newDataset = {
			label: 'Dataset ' + 1,
			fill: false,
			backgroundColor: getRandomColor(),
			borderColor: getRandomColor(),
			borderWidth: 1,
			data: []
		};
		for (var i=0; i<selectedColumns.length; i++) {
			newDataset.data.push(randomScalingFactor());
		}
		if (lineChartData.datasets.length > 0) {
			lineChartData.datasets.pop();
		}
		lineChartData.datasets.push(newDataset);
		window.chart.options.scales.xAxes[0].scaleLabel.labelString = xAxisTitle;
		window.chart.options.scales.yAxes[0].scaleLabel.labelString = yAxisTitle;
		window.chart.update();
	}
	
};

$(document).ready(function() {
	var layerId = '{{ layer_id }}';
	var chartId = '{{ chart_id }}';
	var fields = {{fields|safe}};
	var geomFields = {{geom_fields|safe}};
	var numericFields = {{numeric_fields|safe}};
	var alphaNumericFields = {{alpha_numeric_fields|safe}};
	var geographicNamesColumn = '{{ geographic_names_column }}';
	var geometriesColumn = '{{ geometries_column }}';
	var datasetType = '{{ dataset_type }}';
	var xAxisTitle = '{{ x_axis_title }}';
	var yAxisTitle = '{{ y_axis_title }}';
	var yAxisBeginAtZero = '{{ y_axis_begin_at_zero }}';
	var selectedColumns = {{selected_columns|safe}};
	
	for (var i=0; i<alphaNumericFields.length; i++) {
		$('#geographic_names_column').append($('<option>', {value: alphaNumericFields[i].name, text: alphaNumericFields[i].name}));
	}
	$('#geographic_names_column option[value=' + geographicNamesColumn + ']').attr('selected','selected');
	
	for (var i=0; i<geomFields.length; i++) {
		$('#geometries_column').append($('<option>', {value: geomFields[i].name, text: geomFields[i].name}));
	}
	$('#geometries_column option[value=' + geometriesColumn + ']').attr('selected','selected');
	
	$('input:radio[name=dataset_type]').filter('[value=' + datasetType + ']').prop('checked', true);

	if (yAxisBeginAtZero == 'True') {
		$('input:checkbox[name=y_axis_begin_at_zero]').prop('checked', true);

	} else if (yAxisBeginAtZero == 'False') {
		$('input:checkbox[name=y_axis_begin_at_zero]').prop('checked', false);
	}
		
	
	for (var i=0; i<numericFields.length; i++) {
		var ui = '';
		ui += '<div class="row">';
		ui += 	'<div class="col-md-2 form-group">';
		if (isSelectedColumn(numericFields[i].name, selectedColumns)) {
			ui += 	'<input checked type="checkbox" data-column="' + numericFields[i].name + '" id="selected-column-' + numericFields[i].name + '" name="selected-column-' + numericFields[i].name + '"/>';
		} else {
			ui += 	'<input type="checkbox" data-column="' + numericFields[i].name + '" id="selected-column-' + numericFields[i].name + '" name="selected-column-' + numericFields[i].name + '"/>';
		}
		
		ui += 	'</div>';
		ui += 	'<div class="col-md-5 form-group">';
		ui += 		'<input disabled type="text" data-column="' + numericFields[i].name + '"  id="name-column-' + numericFields[i].name + '" name="name-column-' + numericFields[i].name + '" class="form-control" value="' + numericFields[i].name + '">';
		ui += 	'</div>';
		ui += 	'<div class="col-md-5 form-group">';
		ui += 		'<input type="text" data-column="' + numericFields[i].name + '"  id="title-column-' + numericFields[i].name + '" name="title-column-' + numericFields[i].name + '" class="form-control" value="' + getColumnTitle(numericFields[i].name, selectedColumns) + '">';
		ui += 	'</div>';
		ui += '</div>';
		
		$('#data-columns').append(ui);
	}
	
	refreshPreview(datasetType, xAxisTitle, yAxisTitle);
	
	$("#refresh-preview").on('click', function(e){
		var datasetType = $("input[name=dataset_type]:checked").val();
		var xAxisTitle = $('#x-axis-title').val();
		var yAxisTitle = $('#y-axis-title').val();
		refreshPreview(datasetType, xAxisTitle, yAxisTitle);
	});
	
	$("#save-chart").on('click', function(e){
		var title = $('#chart-title').val();
		var description = $('#chart-description').val();
		var datasetType = $("input[name=dataset_type]:checked").val();
		var geographicNamesColumn = $("#geographic_names_column option:selected").val();
		var geometriesColumn = $("#geometries_column option:selected").val();
		var xAxisTitle = $('#x-axis-title').val();
		var yAxisTitle = $('#y-axis-title').val();
		var yAxisBeginAtZero = $('#y_axis_begin_at_zero').prop('checked');
		
		
		var selectedColumns = $("input:checkbox:checked").map(function(){
			return this.dataset.column;
		}).get();
		
		var columns = new Array();
		for (var i=0; i<selectedColumns.length; i++) {
			var column = {
				name: selectedColumns[i],
				title: $('#title-column-' + selectedColumns[i]).val()
			};
			columns.push(column);
		}
		
		var chartConf = {
			dataset_type: datasetType,
			geographic_names_column: geographicNamesColumn,
			geometries_column: geometriesColumn,
			x_axis_title: xAxisTitle,
			y_axis_title: yAxisTitle,
			y_axis_begin_at_zero: yAxisBeginAtZero,
			columns: columns
		};
		
		if (geographicNamesColumn == '__disabled__') {
			$("#form-error").append("<p>{% trans 'You must select column with geographic names' %}</p>");
		}
		
		if (geometriesColumn == '__disabled__') {
			$("#form-error").append("<p>{% trans 'You must select column with geometries' %}</p>");
		}
		
		if (selectedColumns.length <= 0) {
			$("#form-error").append("<p>{% trans 'At least one column must be selected' %}</p>");
		}
		
		if ( geographicNamesColumn != '__disabled__' && geometriesColumn != '__disabled__' && selectedColumns.length > 0) {
			$.ajax({
				type: "POST",
				async: false,
				url: "/gvsigonline/charts/linechart_update/" + layerId +  "/" + chartId +  "/",
				beforeSend:function(xhr){
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				data: {
					title: title,
					description: description,
					chart_conf: JSON.stringify(chartConf)
				},
				success: function(response){
					if (response.success) {
						location.href = "/gvsigonline/charts/chart_list/";
					} else {
						alert('Error');
					}
				},
				error: function(){}
			});
		}
		
	});
});
</script>
{% endblock %}