.ol-control.ol-bar .ol-toggle.ol-active button:hover, .ol-control.ol-bar .ol-toggle.ol-active>button {
    background-color: rgba(200, 200, 200, 1) !important;
}

.ol-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.ol-popup .closeBox {
   	display: block;
}

@media only screen and (max-width: 640px) {
	#show_draw {
		display: none
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#show_draw {
		display: none
	}
}