{% extends "base_services.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="dash-content">		
	<div class="row">
		<div class="col s12 m12">
			<form enctype="multipart/form-data" role="form" class="col s12" method="post" action="{% url 'layer_create' %}">
				{% csrf_token %}
				<div class="row">
						<button id="create-button" class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">{% trans "Create Layer" %}</button>
						<input type="hidden" name="id_layer_type" value="{{ layer_type }}">
				</div>
				{% if form.errors %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<ul>
					{{ form.non_field_errors }}
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}{% if message %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div id="client-form-error" class="red-text hidden" style="padding-left: 100px">
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.datastore }}
						<label for="id_datastore">{% trans "Data store" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						{{ form.name }}
						<label class="gol-form-label" for="id_name">{% trans "Layer name" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.title }}
						<label for="id_title">{% trans "Title" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						{{ form.geom_type }}
						<label for="id_geom_type">{% trans "Geometry type" %}</label>
					</div>
					<div class="input-field col s6">
						{{ form.srs }}
						<label for="id_srs">{% trans "Coordinate reference system" %}</label>
					</div>
				</div>
				<div class="row"  style="border: 1px solid #E0E0E0; padding: 11.25px;">
					<div class="col s12 no-padding">
						<div class="row" style="margin-bottom: 11.25px">
							<div class="col s12">
								<h5>{% trans "Fields" %}</h5>
							</div>
						</div>
						<div class="row no-padding">
							<div class="col s12 no-padding">
								<table class="table gol-collection-style" id="fields-table">
									<thead>
										<tr>
										    <th>{% trans "Name" %}</th>
										    <th>{% trans "Type" %}</th>
										    <th>Type code</th>
										    <th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<button id="button-add-field" class="btn waves-effect waves-light blue right" style="margin-top: 20px; margin-right: 10px;" type="button">{% trans "Add Field" %}</button>
							</div>
						</div>
						<input type="hidden" name="fields" id="fields" value="{{form.fields.value|default_if_none:''}}" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						{{ form.layer_group }}
						<label for="id_layer_group">{% trans "Layer group" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<span>{% trans "Layer properties in the viewer" %}</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="visible" class="filled-in"
							id="visible" checked />
						<label for="visible">{% trans "Visible" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="cached" class="filled-in"
							id="cached" checked />
						<label for="cached">{% trans "Cached" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="queryable" class="filled-in"
							id="queryable" checked />
						<label for="queryable">{% trans "Queryable" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="single_image" class="filled-in" id="single_image" />
						<label for="single_image">{% trans "Single image (No tiles)" %}</label>
					</div>
				</div>
				
				
				<br/><br/><br/>
				
				
				<div class="row" style="border: 1px solid #9e9e9e; padding: 20px;">
					<div class="input-field col s12">
			        	<textarea name="md-abstract" id="md-abstract" class="materialize-textarea" rows="30">{% trans "Some description of the layer" %}</textarea>
			        	<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
			        </div>
				</div>
			</form>		
		</div>
	</div>
</div>

<div id="modal-add-field" class="modal">
    <div class="modal-content">
    <h5>{% trans "New field" %}</h4>
      	<div class="row">
      		<div class="input-field col s12">
				<input class="validate" id="id_field_name" maxlength="150" name="field_name" type="text">
				<label for="id_field_name">{% trans "Name" %}</label>
				<div id="id_field_name_error" class="error hidden"></div>
      		</div>
      		<div class="input-field col s12">
      			<label for="id_field_type">{% trans "Field type" %}</label>
	      		<select id="id_field_type" name="geom_type">
					<option value="text">{% trans "text" %}</option>
					<option value="integer">{% trans "integer" %}</option>
					<option value="double">{% trans "decimal" %}</option>
					<option value="boolean">{% trans "boolean" %}</option>
					<option value="date">{% trans "date" %}</option>
				</select>
      		</div>
		</div>
    </div>
    <div class="modal-footer">
      <button id="modal-add-field-ok" type="button" name="modal-add-field-ok" data-toggle="tooltip" data-placement="bottom" title="{% trans 'OK' %}" class="btn-flat waves-effect waves-light">{% trans 'OK' %}</button>
    </div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	var table = null;
	$(document).ready(function() {
		function applyFieldsTable(){
			if (!$.fn.DataTable.isDataTable('#fields-table')) {
				var strTbl = $("#fields");
				var data;
				if (strTbl.val()!="") {
					data = JSON.parse($("#fields").val());
					console.log("jsonTbl: ");
					console.log(data);
				}
				else {
					data = [];
				}
				
				var fieldsTbl = $('#fields-table').DataTable({
					data: data,
					destroy: true,
					responsive: true,
					info: false,
					paging: false,
					searching: false,
					ordering: false,
				    language: {
					    zeroRecords		: '{% trans "No fields have been defined" %}',
					    emptyTable		: '{% trans "No fields have been defined" %}',
					},
					"columnDefs": [{
						"targets": -2,
						"visible": false,
					    "data": null,
					    "defaultContent": '<button type="button" name="button-delete-field" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Delete field" %}' + '" class="btn-floating btn-flat waves-effect waves-light red"><i class="fa fa-times"></i></button>'
					},
					{
				  		"targets": -1,
				        "data": null,
				        "className": "center",
				        "defaultContent": '<button type="button" name="button-delete-field" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Delete field" %}' + '" class="btn-floating btn-flat waves-effect waves-light red"><i class="fa fa-times"></i></button>'
				  	}],
				    "dom": "t"
				});
				
				var counter = 0;
				$('#button-add-field').click(function (e) {
					$("#id_field_name_error").text("").hide();
					$(".input-field label").addClass("active"); // workaround overlapping labels
					$('#modal-add-field').openModal({
						dismissible: true, // Modal can be dismissed by clicking outside of the modal
						opacity: .5, // Opacity of modal background
						in_duration: 300, // Transition in duration
						out_duration: 200, // Transition out duration
						ready: function() {}, // Callback for Modal open
						complete: function() {
						} // Callback for Modal close
					});
				});
				$('#modal-add-field-ok').click(function (e) {
					var name = $("#id_field_name").val();
					// validate field name
					if (name=="") {
						$("label[for='id_field_name']").attr('data-error','The name field is required');
						$("#id_field_name_error").text("{% trans 'The name field is required' %}").show();
						return;
					}
					for (var i=0; i<fieldsTbl.data().length; i++) {
						if (fieldsTbl.data()[i][0]==name) {
							$("#id_field_name_error").text("{% trans 'Duplicated field name' %}").show();
							return;
						}
					}
					if (name=="geom" || name=="name" || name=="fid") {
						{% comment %}Translators: Do not translate the quoted KEYWORD{% endcomment %}
						var text = "{% trans 'Invalid field name: \'#KEYWORD#\' is a reserved word' %}".replace("#KEYWORD#", name);
						$("#id_field_name_error").text(text).show();
						return;
					}
					
					var type_code = $("#id_field_type").val();
					var type = $("#id_field_type option[value='"+type_code+"']").text();
					fieldsTbl.row.add([name, type, type_code, ""]).draw(false);
					
					$('#fields-table button[name="button-delete-field"]').off("click")
						.click(function (e) {
							var row = fieldsTbl.row($(this).parents('tr'));
							row.remove();
							fieldsTbl.draw(false);
					});
					// clear field name for next time
					$("#id_field_name").val("");
					$('#modal-add-field').closeModal();
				});
			}
		} ;
		
		applyFieldsTable();
		// translate default layer group
		var lgs = $("#id_layer_group");
		var lg_options = $("#id_layer_group option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).html('{% trans "Default" %}');
			}
			if (lgs.val()=="") {
				lgs.val(1);
			}
			lgs.material_select();
		}
	});

	$('#create-button').click(function (e) {
		$('body').isLoading({
			text: '{% trans "Creating layer. Please wait..." %}',
			position: "right",
			class: "fa fa-spin fa-refresh",
			tpl: '<span class="isloading-wrapper %wrapper%">%text%<i class="%class% icon-spin"></i></span>',
			disableSource: true,
		    disableOthers: []
		})
	});
	
	$("form").submit(function(event) {
		var fieldsAsStr;
		if ($.fn.DataTable.isDataTable('#fields-table')) {
			var data = $('#fields-table').DataTable().data();
			if (data.length>0) {
				fieldsAsStr = JSON.stringify(data.toArray());
			}
			else {
				$("#client-form-error").html("<p>{% trans 'At least one field must be defined' %}</p>").show();
				event.preventDefault();
				$( "body" ).isLoading( "hide" );
			}
		}
		else {
			fieldsAsStr = "[]";
		}
		$("#fields").val(fieldsAsStr);
		});


	function getGeomType(typeStr) {
		var str = typeStr.toUpperCase();
		if (str=="POINT") {
			return "Point";
		}
		else if (str=="MULTIPOINT") {
			return "MultiPoint";
		}
		else if (str=="LINESTRING") {
			return "LineString";
		}
		else if (str=="MULTILINESTRING") {
			return "MultiLineString";
		}
		else if (str=="POLYGON") {
			return "Polygon";
		}
		else if (str=="MULTIPOLYGON") {
			return "MultiPolygon";
		}
	}

</script>
{% endblock %}