{% extends "base_services.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="dash-content">		
	<div class="row">
		<div class="col s12 m12">
			<form enctype="multipart/form-data" role="form" class="col s12" method="post" action="/gvsigonline/layer_upload/">
				{% csrf_token %}
				<div class="row">
						<button id="upload-button" class="btn waves-effect waves-light blue init-session-button right" style="margin-top: 20px; margin-right: 10px;" type="submit">{% trans "Upload vector layer" %}</button>
						<input type="hidden" name="id_dstype" value="{{ type }}">
				</div>
				{% if form.errors %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<ul>
					{{ form.non_field_errors }}
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}{% if message %}
				<div id="form-error" class="red-text" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="row">
					<div class="input-field col s12 file-field">
						<label class="gol-form-label">{% trans "File" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 file-field">
						<div class="btn">
							<span>{% trans "File" %}</span>
							<input id="id_file" type="file" name="file" accept="{{ file_accepts }}">
						</div>
						<div id="file_wrapper">
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.datastore }}
						<label for="id_workspace">{% trans "Data store" %}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						{{ form.name }} <label class="gol-form-label"
							for="id_name">{% trans "Layer name" %}</label>
					</div>
					<div class="input-field col s6">
						<div class="card-panel teal">
							<span class="white-text">{% trans "Layer will be uploaded to the selected data store" %}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.title }}
						<label for="id_title">{% trans "Title" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select name="style" id="style" style="max-height: 200px;">
							<option value="" disabled selected>{% trans "Select style" %}</option>
							{% for style in styles %}
							    <option value="{{style.name}}">{{style.name}}</option>
							{% endfor %}
						</select>
						<label>{% trans "Select style" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.layer_group }}
						<label for="id_layer_group">{% trans "Layer group" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<span>{% trans "Layer properties in the viewer" %}.</span>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="visible" class="filled-in"
							id="visible" checked />
						<label for="visible">{% trans "Visible" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="cached" class="filled-in"
							id="cached" checked />
						<label for="cached">{% trans "Cached" %}</label>
					</div>
					<div class="input-field col s4">
						<input type="checkbox" name="queryable" class="filled-in"
							id="queryable" checked />
						<label for="queryable">{% trans "Queryable" %}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="checkbox" name="single_image" class="filled-in" id="single_image" />
						<label for="single_image">{% trans "Single image (No tiles)" %}</label>
					</div>
				</div>
				
				
				<br/><br/><br/>
				
				
				<div class="row" style="border: 1px solid #9e9e9e; padding: 20px;">
					<div class="input-field col s12">
			        	<textarea name="md-abstract" id="md-abstract" class="materialize-textarea" rows="30">{% trans "Some description of the layer" %}</textarea>
			        	<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
			        </div>
				</div>
			</form>		
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		// translate default layer group
		var lgs = $("#id_layer_group");
		var lg_options = $("#id_layer_group option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).html('{% trans "Default" %}');
			}
			if (lgs.val()=="") {
				lgs.val(1);
			}
			lgs.material_select();
		}
	});
	
	$('#upload-button').click(function (e) {
		$('body').isLoading({
			text: '{% trans "Uploading layer. Please wait..." %}',
			position: "right",
			class: "fa fa-refresh fa-spin",
			tpl: '<span class="isloading-wrapper %wrapper%">%text%<i class="%class% icon-spin"></i></span>',
			disableSource: true,
		    disableOthers: []
		});
	});
</script>
{% endblock %}