{% load staticfiles %}
<script type="text/javascript" src="{% static "js/vendors/catastro/select2/select2.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendors/catastro/catastro.js" %}"></script>
<script type="text/javascript">

	$.ajax({
		type : 'POST',
		async : false,
		url : '/gvsigonline/catastro/get_conf/',
		beforeSend : function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		},
		success : function(response) {
			var map = viewer.core.getMap();

			var id = viewer.core._nextLayerId();

			var layers = map.getLayers();
			var zindex = 0;
			layers.forEach(function(layer){
				if (layer.baselayer) {
					zindex = layer.getZIndex();
				}
			}, this);

			var catastro = new ol.layer.Image({
				id: id,
				label: 'Catastro',
			  	visible: false,
			  	source: new ol.source.ImageWMS({
					url: response.url_catastro,
					ratio: 1.1,
					params: {
						'LAYERS': 'Catastro',
						'FORMAT': 'image/png',
						'VERSION': '1.1.1',
						'SRS': 'EPSG:3857'
					}
				})
			});
			catastro.baselayer = false;
			catastro.queryable = true;
			catastro.layer_name = 'plg_catastro';
			catastro.wms_url = response.url_catastro;
			catastro.setZIndex(9999999);

			layers.insertAt(0, catastro);

			var ui = '';
			ui += '<div style="margin-left:20px;">';
			ui += 	'<input type="checkbox" id="catastro_checkbox">';
			ui += 	'<span class="text">Catastro</span>';
			ui += 	'<div class="catastro-search-button"><i class="fa fa-search" aria-hidden="true"></i></div>';
			ui += 	'<div class="catastro-clear-button"><i class="fa fa-search" aria-hidden="true"></i></div>';
			ui += '</div>';

			$('#baselayers-group').append(ui);

			$("#catastro_checkbox").change(function (e) {
				if (catastro.getVisible() == true) {
					catastro.setVisible(false);
				} else {
					catastro.setVisible(true);
				}
			});

			var map = viewer.core.map;
			if(!map.hasOwnProperty('catastro')){
					map['catastro'] = new CatastroForm(false);
			}

			$(".catastro-search-button").click(function(){
				map.catastro.createForm(true);
			})

			$(".catastro-search-button").click(function(){
				map.catastro.createForm(true);
			})

			$(".catastro-clear-button").click(function(){
				var map = viewer.core.map;
				map.catastro.clearCatastroLayer();
			});
		},
		error : function() {
			alert("Error loading plugin");
		}
	});

</script>