<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load include_if_exists %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html>
<head>
	
	<title>{{GVSIGOL_NAME}}</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
	
	<link rel="stylesheet" href="{% static "js/vendors/bootstrap-3.3.7/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/jQueryUI/jquery-ui.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/fontcustom2/fontcustom.css" %}">
	<link rel="stylesheet" href="{% static "css/ionicons.min.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/DataTables-1.10.11/media/css/dataTables.bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/ol-4.0.1/ol.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/jquery-tinycolor/pick-a-color-1.2.3.min.css" %}" />
	<link rel="stylesheet" href="{% static "js/vendors/jquery-tinycolor/pick-a-color.custom.css" %}" />
	<link rel="stylesheet" href="{% static "js/vendors/image-picker/image-picker.css" %}" />
	<link rel="stylesheet" href="{% static "css/skins/_all-skins.min.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/codemirror-5.49.0/lib/codemirror.css" %}" />
	<link rel="stylesheet" href="{% static "js/vendors/codemirror-5.49.0/addon/hint/show-hint.css" %}" />
	<link rel="stylesheet" href="{% static "js/vendors/codemirror-5.49.0/theme/xq-dark.css" %}" />
	<link rel="stylesheet" href="{% static "css/symbology.css" %}">
	<link rel="stylesheet" href="{% static "css/googlefonts.css" %}">
	<link rel="stylesheet" href="{% static "css/gvsigOL.css" %}">
	
	{% for app in INSTALLED_APPS %}												  
		{% if 'gvsigol_app_' in app %}	
			{% with "load_css_"|add:app|cut:"gvsigol_app_"|add:".html" as aux %}	   			 	
				{% include_if_exists aux %}
			{% endwith %}
		{% endif %}		    					
	{% endfor %}
	
	{% for plugin in INSTALLED_APPS %}												  
		{% if 'gvsigol_plugin_' in plugin %}	
			{% with "load_css_"|add:plugin|cut:"gvsigol_plugin_"|add:".html" as aux %}	   			 	
				{% include_if_exists aux %}
			{% endwith %}
		{% endif %}		    					
	{% endfor %}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body class="hold-transition {{GVSIGOL_SKIN}} sidebar-mini">

	<div class="wrapper">
	
		<header class="main-header">
			<a href="/gvsigonline/" class="logo">
				<span class="logo-mini"><b>{{GVSIGOL_NAME_SHORT}}</b>{{GVSIGOL_SURNAME_SHORT}}</span>
				<span class="logo-lg"><b>{{GVSIGOL_NAME}}</b>{{GVSIGOL_SURNAME}}</span>
			</a>

			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span></a>				
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">	
						{% with DOCS.URL|add:"/"|add:LANGUAGE_CODE|add:"/"|add:DOCS.NAME as DOC_URL %}
							<li><a href="{{ DOC_URL }}" target="_blank" id="help" class="dropdown-toggle"> <i style="font-size: 18px;" class="fa fa-question-circle"></i></a></li>
						{% endwith %}
						<li>
							<form id="select-language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
								<input name="next" type="hidden" value="{{ request.get_full_path }}" />
							    <select id="select-language" name="language" class="form-control" style="margin-top: 10px;">
							        
							        {% for language in languages %}
							            <option style="" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
							                {% if language.code == 'pt' %}
							                	{% trans language.name_translated %} (BR)
							                {% else %}
							                	{% trans language.name_translated %}
							                {% endif %}
							            </option>
							        {% endfor %}								      
							    </select>		
						    </form>							 
					    </li>		
					
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
								<img src="{% static "img/user.png" %}" class="user-image" alt="User Image"> 
								<span class="hidden-xs">{{user.username}}</span>
							</a>
							<ul class="dropdown-menu">
								<li class="user-header">
									<img src="{% static "img/user.png" %}" class="img-circle" alt="User Image">
									<p>
										{{user.username}}<small>{{user.email}}</small>
									</p>
								</li>
								<li class="user-footer">
									<div class="pull-right">
										<a href="/gvsigonline/auth/logout_user/" class="btn btn-default btn-flat">{% trans "Sign out" %}</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="{% static "img/logo_custom_icon.png" %}" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>{% trans "Dashboard" %}</p>
					</div>
				</div>
				<ul class="sidebar-menu">				
					<li class="header"></li>					
					<li {% block home_active %}{% endblock %}>
						<a href="/gvsigonline/core/"><i class="fa fa-home"></i><span>{% trans "Home" %}</span></a>
					</li>	
					{% if user.is_staff %}
						{% if user.is_superuser %}				
							{% include "dashboard_auth_menu.html" %}	
						{% endif %}	
													
						{% include "dashboard_services_menu.html" %}
						{% include "dashboard_filemanager_menu.html" %}
						{% include "dashboard_symbology_menu.html" %}
						{% include "dashboard_core_menu.html" %}
							
						{% if user.is_superuser %}
						
							{% for plugin in INSTALLED_APPS %}												  
		    					{% if 'gvsigol_plugin_' in plugin %}	
		    						{% with "dashboard_"|add:plugin|cut:"gvsigol_plugin_"|add:"_menu.html" as aux %}	    	
										{% include_if_exists aux %}	
									{% endwith %}
		    					{% endif %}		    					
		    				{% endfor %}
		    				
						{% endif %}
						
					{% endif %}								
				</ul>				
			</section>			
		</aside>

		<div class="content-wrapper">
			<section class="content">
				{% block content %}{% endblock %}
			</section>
		</div>

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>{% trans "Version" %}</b> {{GVSIGOL_VERSION}}
			</div>
<!-- 			<strong>Copyright &copy; 2016 <a -->
<!-- 				href="http://www.scolab.es">SCOLAB</a>. -->
<!-- 			</strong> {% trans "All rights reserved" %}. -->
		</footer>

		
	</div>
	
	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
	
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery-3.6.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jscookie/jscookie-2.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQueryUI/jquery-ui.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery.easy-overlay.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery.ajax.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery.xml2json.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jquery.ddslick.js" %}"></script>
	<script>
		$.widget.bridge('uibutton', $.ui.button);
		var IMG_PATH = '{% static "img/" %}';
	</script>
	<script type="text/javascript" src="{% static "js/vendors/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/slimScroll/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/fastclick/fastclick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/DataTables-1.10.11/media/js/jquery.dataTables.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/DataTables-1.10.11/media/js/dataTables.bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/proj4js/proj4.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/ol-4.0.1/ol.js" %}"></script>
	<script src="{% static "js/vendors/codemirror-5.49.0/lib/codemirror.js" %}"></script>
	<script src="{% static "js/vendors/codemirror-5.49.0/addon/hint/show-hint.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/addon/hint/xml-hint.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/addon/hint/html-hint.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/addon/display/autorefresh.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/mode/xml/xml.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/mode/javascript/javascript.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/mode/css/css.js" %}"></script>
  	<script src="{% static "js/vendors/codemirror-5.49.0/mode/htmlmixed/htmlmixed.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/image-picker/image-picker.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/snap.svg-min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/gvsigOL.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/widgets/messageBox.js" %}"></script>
	<script>
		var messageBox = new messageBox();
	</script>	
	
	<script type="text/javascript" src="{% static "js/lib/symbology/MarkSymbolizer.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/ExternalGraphicSymbolizer.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/LineSymbolizer.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/ClusteredPoints.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/PolygonSymbolizer.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/ColorMapEntry.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/ColorRamp.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/TextSymbolizer.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/Rule.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/SymbologyUtils.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/LibraryUtils.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/UniqueSymbol.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/UniqueValues.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/Intervals.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/Expressions.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/Custom.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/ColorTable.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/symbology/LibrarySymbol.js" %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
	    	$("#select-language").change(function() {
	    		$("#select-language-form").submit();
			});
	    });
	</script>

	{% block extra-scripts %}{% endblock %}
	
</body>
</html>