{% load staticfiles %}
{% load i18n %}
{% if AUTH_DASHBOARD_UI %}
<li id="menu-manage-group-users" class="treeview"><a href="#"> 
	<i class="fa fa-user"></i><span>{% trans "User management" %}</span> <i class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
		<li id="submenu-users"><a href="/gvsigonline/auth/user_list/"><i class="fa fa-user"></i>{% trans "Users" %}</a></li>
		{% if AUTH_GROUPS %}
		<!-- <li id="submenu-groups"><a href="/gvsigonline/auth/group_list/"><i class="fa fa-umbrella"></i>{% trans "Groups" %}</a></li> -->
		{% endif %}
		<li id="submenu-roles"><a href="/gvsigonline/auth/role_list/"><i class="fa fa-users"></i>{% trans "Roles" %}</a></li>
	</ul>
</li>
{% endif %}