{% load staticfiles %}
{% load i18n %}
<li id="menu-manage-services" class="treeview"><a href="#"> 
	<i class="fa fa-cloud" aria-hidden="true"></i><span>{% trans "Services" %}</span> <i class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
		{% if user.is_superuser %}
		<li id="submenu-servers"><a href="/gvsigonline/services/server_list/"><i class="fa fa-server"></i>{% trans "Servers" %}</a></li>
		<li id="submenu-workspaces"><a href="/gvsigonline/services/workspace_list/"><i class="fa fa-folder"></i>{% trans "Workspaces" %}</a></li>
		{% endif %}	
		<li id="submenu-datastores"><a href="/gvsigonline/services/datastore_list/"><i class="fa fa-database"></i>{% trans "Datastores" %}</a></li>
		<li id="submenu-layergroups"><a href="/gvsigonline/services/layergroup_list/"><i class="fa fa-object-group"></i>{% trans "Layer groups" %}</a></li>
		<li id="submenu-layers"><a href="/gvsigonline/services/layer_list/"><i class="icon-layers"></i> &nbsp;&nbsp;{% trans "Layers" %}</a></li>
		<li id="submenu-externallayers"><a href="/gvsigonline/services/external_layer_list/"> <i class="fa fa-globe" aria-hidden="true"></i> {% trans "External layers" %}</a></li>
		<li id="submenu-cache"><a href="/gvsigonline/services/cache_list/"><i class="fa fa-hdd-o"></i>{% trans "Cache management" %}</a></li>
		<li id="submenu-locks"><a href="/gvsigonline/services/lock_list/"><i class="fa fa-lock"></i>{% trans "Locks" %}</a></li>
		<li id="submenu-services"><a href="/gvsigonline/services/service_url_list/"><i class="fa fa-link"></i>{% trans "Services URL" %}</a></li>
		<li id="submenu-sqlviews"><a href="/gvsigonline/services/sqlview_list/"><i class="fa fa-link"></i>{% trans "SQL Views" %}</a></li>
	</ul>
</li>
{% if GVSIGOL_ENABLE_ENUMERATIONS %}
<li id="menu-manage-datatypes" class="treeview"><a href="#"> 
	<i class="fa fa-table" aria-hidden="true"></i><span>{% trans "Datatypes" %}</span> <i class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
		<li id="submenu-enumerations"><a href="/gvsigonline/services/enumeration_list/"><i class="fa fa-list-ol"></i> {% trans "Enumerations" %}</a></li>
	</ul>
</li>
{% endif %}
