{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<form role="form" method="post" action="/gvsigonline/services/enumeration_update/{{eid}}/">	
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
					</div>
				</div>				
			</div>
			<div class="box">
				{% csrf_token %}					
				{% if form.errors %}
				<div id="form-error" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}
						
				{% if message %}
				<div id="form-error" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
				<div class="box-body">				
					<div class="row form-group">
						<div class="col-md-12">
							<label for="enumeration_name">{% trans "Name" %}</label>
							<input readonly name="enumeration_name" id="enumeration_name" type="text" class="form-control" value="{{enumeration.name}}">									
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="enumeration_title">{% trans "Title" %}</label>
							<input name="enumeration_title" id="enumeration_title" type="text" class="form-control"  value="{{enumeration.title}}">								
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">
							<label for="order_type">{% trans "Order type" %}</label>
							<select class="form-control" id="order_type" name="order_type" tabindex="-1" aria-hidden="true">
								{% if enumeration.order_type == MANUAL %}
									<option value="{{ MANUAL }}" selected>{% trans "Manual" %}</option>
								{% else %}
									<option value="{{ MANUAL }}">{% trans "Manual" %}</option>
								{% endif %}
								{% if enumeration.order_type == ALPHABETICAL %}
									<option value="{{ ALPHABETICAL }}" selected>{% trans "Alphabetical" %}</option>
								{% else %}
									<option value="{{ ALPHABETICAL }}">{% trans "Alphabetical" %}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<br>
					<div id="enumeration-items" class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">{% trans "Enumeration items" %}</h3>
								</div>
								<div id="enumeration-items-list" class="box-body">
									<div id="toc" class="toc">
										{% for item in items %}
											{% with counter=forloop.counter %} 
											<div id="item-{{counter}}" data-itemid="{{item.id}}" data-name="{{item.name}}" data-order="{{item.order}}" class="box box-default collapsed-box toc-enumeration-item enumeration-item" style="border-top: none;">
												<div class="box-header">
													<div class="handle">
														<span class="" style="margin-right: 20px;">
															<i class="fa fa-ellipsis-v"></i>
															<i class="fa fa-ellipsis-v"></i>
														</span>
														<span class="text">
															{% if enumeration.order_type == ALPHABETICAL %}
																<input pattern="^[^;]+$" title="{% trans "Enumeration cannot contain point-colon" %}" placeholder="{% trans 'Insert item name' %}" name="item-content-{{item.id}}" id="item-content-{{item.id}}" type="text" class="form-control" style="display: inline-block; width: auto;" value="{{item.name}}">
															{% else %}
																{{item.name}}
															{% endif %}
														</span>
													</div>
													<div class="box-tools box-tools-buttons pull-right">
														<button type="button" data-itemid="{{item.id}}" name="button-delete-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Delete" %}" class="btn btn-danger btn-sm delete-item"><i class="fa fa-times"></i></button>
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
									</div>
								</div>
								<div class="box-footer clearfix">
									<a id="add-item-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
										<i class="fa fa-plus margin-r-5"></i>{% trans "Add item" %}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>				
	</div>
	<input type="hidden" id="toc_value" name="toc_value" value=""/>
</form>
{% endblock %}

{% block extra-scripts %}
<script>
$('#menu-manage-datatypes').addClass("active");
$('#submenu-enumerations').addClass("active");

$(document).ready(function() {
	var itemCount = parseInt("{{count}}");
	var isManualOrder = "{{enumeration.order_type}}" === "{{MANUAL}}";
	
	if (isManualOrder) {
		$(".toc").sortable({
			placeholder: "sort-highlight",
			handle: ".handle",
			forcePlaceholderSize: true,
			zIndex: 999999
		});
	}
	
	$('#order_type').change(function() {
		var selectedOrderType = $(this).val();
		var isManual = selectedOrderType === "{{MANUAL}}";
		
		if (isManual) {
        // Convertir inputs a texto estático
        $('.toc-enumeration-item .text input').each(function() {
            var input = $(this);
            var value = input.val();
            input.replaceWith('<span class="text">' + value + '</span>');
        });
        
        $(".toc").sortable({
            placeholder: "sort-highlight",
            handle: ".handle",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
    } else {
        // Convertir texto estático a inputs
        $('.toc-enumeration-item .text').each(function() {
            var textSpan = $(this);
            var value = textSpan.text().trim();
            var itemId = textSpan.closest('.toc-enumeration-item').data('itemid');
            
            textSpan.html('<input pattern="^[^;]+$" title="' + gettext("Enumeration cannot contain point-colon") + '" placeholder="' + gettext('Insert item name') + '" name="item-content-' + itemId + '" id="item-content-' + itemId + '" type="text" class="form-control" style="display: inline-block; width: auto;" value="' + value + '">');
        });
        
        $(".toc").sortable("destroy");
    }
	});
	
	$(document).on('click', '.delete-item', function(e){
    e.preventDefault();
    e.stopPropagation();
    var itemId = $(this).data('itemid');
    
    var itemElement = $(this).closest('.toc-enumeration-item');
    
    if (itemElement.length > 0) {
        itemElement.remove();
    } else {
        console.log("Element not found for ID:", itemId);
    }
});
	
	$("#add-item-button").on('click', function(e){
		e.preventDefault();
		e.stopPropagation();
		
		var ui = '';
		ui += '<div id="item-' + itemCount + '" data-itemid="' + itemCount + '" class="box box-default collapsed-box toc-enumeration-item enumeration-item" style="border-top: none;">';
		ui += 	'<div class="box-header">';
		ui += 		'<div class="handle">';
		ui += 			'<span class="" style="margin-right: 20px;">';
		ui += 				'<i class="fa fa-ellipsis-v"></i>';
		ui += 				'<i class="fa fa-ellipsis-v"></i>';
		ui += 			'</span>';
		ui += 			'<span class="text">';
		ui += 				'<input pattern="^[^;]+$" title="'+gettext("Enumeration cannot contain point-colon")+'" placeholder="' + gettext('Insert item name') + '" name="item-content-' + itemCount + '" id="item-content-' + itemCount + '" type="text" class="form-control" style="display: inline-block; width: auto;">';
		ui += 			'</span>';
		ui += 		'</div>';
		ui += 		'<div class="box-tools box-tools-buttons pull-right">';
		ui += 			'<button type="button" data-itemid="' + itemCount + '" class="delete-item btn btn-danger btn-sm"><i class="fa fa-times"></i></button>';
		ui += 		'</div>';
		ui += 	'</div>';
		ui += '</div>';
		
		$('#toc').append(ui);
		itemCount++;
	});
	
	$('form').submit(function(e) {
		var selectedOrderType = $('#order_type').val();
		var isManual = selectedOrderType === "{{MANUAL}}";
		
		if (isManual) {
			// Para orden manual: usar el JSON del drag & drop
			var toc = {};
			var root = $('#toc');
			var itemList = root.children();
			
			for (var i = 0; i < itemList.length; i++) {
				var item = $(itemList[i]);
				var itemId = item.data('itemid');
				var itemOrder = i;
				var itemName;
				
				if (item.data('name')) {
					itemName = item.data('name');
				} else {
					itemName = item.find('input[name^="item-content-"]').val() || '';
				}				
								
				var itemData = {
					'id': itemId,
					'name': itemName,
					'order': itemOrder
				};
				toc[itemId] = itemData;
			}
			
			$("#toc_value").val(JSON.stringify(toc));
		} else {
			// Para orden alfabético: limpiar el toc_value y usar item-content-*
			$("#toc_value").val('{}');
		}
	});
});
</script>
{% endblock %}