{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<button id="button-add-externallayer" class="btn btn-block btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add external layer" %}</button>
				</div>
			</div>				
		</div>
		<div class="box">

			<div class="box-body">
				<table class="table" id="externallayers-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "Title" %}</th>
							<th>{% trans "Type" %}</th>
							<th>{% trans "Layer group" %}</th>
							<th>{% trans "Cached" %}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for el in external_layers %}
						<tr>
							<td>{{ el.id }}</td>
							<td>{{ el.title }}</td>
							<td>{{ el.type }}</td>
							<td>{{ el.layer_group.name }} ({{el.layer_group.title }})</td>
							{% if el.cached %}
							<td><input disabled type="checkbox" checked/></td>
							{% else %}
							<td><input disabled type="checkbox"/></td>
							{% endif %}
							
							<td></td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-externallayer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete external layer" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "External layer will be deleted" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-externallayer-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-externallayer-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-externallayers').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#externallayers-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
            "targets": -1,
            "data": null,
            "defaultContent": '<button type="button" name="button-delete-externallayer" data-toggle="modal" data-target="#modal-delete-externallayer" data-placement="bottom" title="' + '{% trans "Remove external layer" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
        },{
	      	"targets": -2,
	       	"data": null,
	        "defaultContent": '<button type="button" name="button-update-externallayer" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update external layer" %}' + '" class="btn btn-success"><i class="fa fa-edit"></i></button>'
	  	}],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
		 
	$('#externallayers-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-externallayer") {
	    	updateExternalLayer(data);
		} else if (this.name == "button-delete-externallayer"){
        	deleteExternalLayer(data, row);   
        }
	});
	
	$('#button-add-externallayer').click( function() {
		location.href = '/gvsigonline/services/external_layer_add/';
	});
	
	function updateExternalLayer(data){			
		location.href = '/gvsigonline/services/external_layer_update/' + data[0] + '/';
	}

	function deleteExternalLayer(data, row){
		$('#button-delete-externallayer-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/services/external_layer_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-externallayer').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	    
});
</script>
{% endblock %}