{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	

{% if redirect_to_layergroup %}
<form id="layer-create-form" role="form" method="post" action="/gvsigonline/services/layer_create/?redirect=layergroup-redirect{% if layergroup_id %}&layergroup_id={{layergroup_id}}{% endif %}{% if project_id %}&project_id={{project_id}}{% endif %}{% if from_redirect %}&from_redirect={{from_redirect}}{% endif %}">
{% else %}
<form id="layer-create-form" role="form" method="post" action="/gvsigonline/services/layer_create/">
{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button id="submit-button" class="btn btn-default btn-sm save-button">{% trans "Save" %}</button>
					</div>
				</div>				
			</div>

			<div class="row" style="padding-left: 30px;">
				{% csrf_token %}					
				{% if form.errors %}
				<div id="form-error" style="color:#ff0000;">
					<ul>
					{% for field in form %}
						{% if field.errors %}
							<li>{{field.label}}. {{ field.errors|striptags }}</li>
						{% endif %}	
					{% endfor %}
					</ul>
				</div>
				{% endif %}
							
				{% if message %}
				<div id="form-error" style="color:#ff0000;">
					<p>* {{ message }}</p>
				</div>
				{% endif %}
			</div>
			
			<ul class="nav nav-tabs">
             	<li class="active"><a href="#tab-layer-general" data-toggle="tab">{% trans "General" %}</a></li>
             	<li><a href="#tab-layer-fields" data-toggle="tab">{% trans "Fields" %}</a></li>
             	<li><a href="#tab-layer-properties" data-toggle="tab">{% trans "Display properties" %}</a></li>             	
				 {% if MANAGE_PERMISSION_UI or user.is_superuser %} <li><a href="#tab-layer-permissions" data-toggle="tab">{% trans "Permissions" %}</a></li> {% endif %}
          		<li><a href="#tab-layer-metadata" data-toggle="tab">{% trans "Metadata" %}</a></li>
          		<li><a href="#tab-layer-detailedinfo" data-toggle="tab">{% trans "Detailed information" %}</a></li>
           	</ul>
           	
           	<div class="tab-content">
             	<div class="tab-pane active" id="tab-layer-general">
             		<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-body">
									<div class="row">
										<div class="col-md-12 form-group">
											<label for="id_datastore">{% trans "Data Store" %}</label>
											{{ form.datastore }}						
										</div>
									</div>					
									<div class="row">
										<div class="col-md-12 form-group">
											<label for="id_name">{% trans "Resource name" %}</label>
											{{ form.name }}						
										</div>
									</div>					
									<div class="row">
										<div class="col-md-12 form-group">
											<label for="id_title">{% trans "Title" %}</label>
											{{ form.title }}						
										</div>
									</div>						
									<div class="row">
										<div class="col-md-6 form-group">
											<label for="id_geom_type">{% trans "Geometry type" %}</label>	
											{{ form.geom_type }}						
										</div>
										<div class="col-md-6 form-group">	
											<label for="id_srs">{% trans "Coordinate reference system" %}</label>	
											{{ form.srs }}							
										</div>
									</div>	
									<div class="row">
										<div class="col-md-12 form-group">
											<label for="id_layer_group">{% trans "Layer group" %}</label>
											{{ form.layer_group }}						
										</div>
									</div>								
				            	</div>
							</div>
						</div>
					</div>
             	</div>
             		
             	<div class="tab-pane" id="tab-layer-fields">
             		<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">{% trans "Field list" %}</h3>
								</div>
								<div class="box-body">
									<div class="table-responsive">
										<table id="field-list-table" class="table no-margin">
											<thead>
												<tr>
													<th>{% trans "Field name" %}</th>
													<th>{% trans "Field type" %}</th>
													<th>{% trans "Calculated" %}</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="field-list-table-body"></tbody>
										</table>
									</div>
								</div>
								<div class="box-footer clearfix">
									<a id="add-field-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
										<i class="fa fa-plus margin-r-5"></i>{% trans "Add field" %}
									</a>
								</div>
								<input type="hidden" name="fields" id="fields" value="{{form.fields.value|default_if_none:''}}" />
							</div>
						</div>
					</div>
             	</div>	
             	
             	<div class="tab-pane" id="tab-layer-properties">
	          		<div class="row">
						<div class="col-md-12">
							<div class="box">
	          					<div class="box-body">
	          						<div class="row">
										<div class="col-md-4 form-group">
											<input type="checkbox" name="visible" id="visible" {% if form.visible.value %}checked{% endif %}/>
											<label for="visible">{% trans "Visible" %}</label>
										</div>
										<div class="col-md-4 form-group">
											<input type="checkbox" name="cached" id="cached" {% if form.cached.value %}checked{% endif %}/>
											<label for="cached">{% trans "Cached" %}</label>	
										</div>
										<div class="col-md-4 form-group">
											<input type="checkbox" name="queryable" id="queryable" {% if form.queryable.value %}checked{% endif %}/>
											<label for="queryable">{% trans "Queryable" %}</label>
										</div>
									</div>				
									<div class="row">
										<div class="col-md-4 form-group">
											<input type="checkbox" name="single_image" id="single_image" {% if form.single_image.value %}checked{% endif %}/>
											<label for="single_image">{% trans "Single image (No tiles)" %}</label>
										</div>
										<div class="col-md-4 form-group" style="padding-bottom:15px">
											<input type="checkbox" name="time_enabled"  id="time_enabled"/>
											<label for="time_enabled">{% trans "time_enabled" %}</label>
										</div>
										<div class="col-md-4 form-group">
											<input type="checkbox" name="allow_download"  id="allow_download" {% if form.allow_download.value %}checked{% endif %}/>
											<label for="allow_download">{% trans "Allow downloads" %}</label>
										</div>
									</div>					
									<div class="box-body time_enabled-check">
										<div class="row">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_enabled_field">{% trans "time_enabled field" %}</label>
												{{ form.time_enabled_field }}
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_enabled_endfield">{% trans "End time_enabled field" %}</label>
												{{ form.time_enabled_endfield }}
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_resolution">{% trans "Time resolution" %}</label>
												{{ form.time_resolution }}
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_presentation">{% trans "Time presentation" %}</label>
												{{ form.time_presentation }}
											</div>
										</div>
										<div class="row time_presentation">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_resolution">{% trans "Time resolution (years, months, weeks, days, hours, minutes and seconds)" %}</label><br />
													{{ form.time_resolution_year }}
													{{ form.time_resolution_month }}
													{{ form.time_resolution_week }}
													{{ form.time_resolution_day }}
													{{ form.time_resolution_hour }}
													{{ form.time_resolution_minute }}
													{{ form.time_resolution_second }}
												<div style="clear:both"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_default_value_mode">{% trans "Default value mode" %}</label>
												{{ form.time_default_value_mode }}
											</div>
										</div>
										<div class="row time_default_value">
											<div class="col-md-12 form-group">
												<label class="active" for="id_time_default_value">{% trans "Default value" %}</label>
												<div class="input-group date col-md-12" id="datetimepicker">
													{{ form.time_default_value }}
													<!--  <input id="id_time_default_value" name="time_default_value" class="form-control"/>-->
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	          	</div>
				<div class="tab-pane" id="tab-layer-permissions">
					{% include "select_layer_permissions.html" %}
				</div>
             	<div class="tab-pane" id="tab-layer-metadata">
	          		<div class="row">
						<div class="col-md-12">
							<div class="box">
	          					<div class="box-body">
	          						<div class="row">
	          							<div class="col-md-12 form-group">
											<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
								        	<textarea class="form-control" name="md-abstract" id="md-abstract" rows="5">{% trans "Some description of the layer" %}</textarea>	     	
								        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
	          	</div>
             	
             	<div class="tab-pane" id="tab-layer-detailedinfo">
	          		<div class="row">
						<div class="col-md-12">
							<div class="box">
	          					<div class="box-body">
	          						<div class="row">
		          						<div class="col-md-6 form-group">
		          							<input type="checkbox" name="detailed_info_enabled" id="detailed_info_enabled" {% if detailed_info_enabled %}checked{% endif %}/>
											<label for="detailed_info_enabled">{% trans "Enable detailed information" %}</label>												
										</div>
									</div>	
		          					<div {% if not detailed_info_enabled %}style="display: none;"{% endif %} class="row" id="detailed_info_button_title-row">
										<div class="col-md-12 form-group">
											<label for="detailed_info_button_title">{% trans "Button title in the TOC" %}</label>
											<input placeholder="{% trans 'Button title' %}" name="detailed_info_button_title" id="detailed_info_button_title" value="{% if detailed_info_button_title %}{{detailed_info_button_title}}{% else %}{% trans "Detailed info" %}{% endif %}" type="text" class="form-control">
										</div>
									</div>	
										
									<div {% if not detailed_info_enabled %}style="display: none;"{% endif %}class="row" id="detailed_info_html-row">
										<div class="col-md-12 form-group">
											<label for="detailed_info_html">{% trans "HTML" %}</label>
											<textarea class="form-control" name="detailed_info_html" id="detailed_info_html" rows="5">{% if detailed_info_html %}{{detailed_info_html}}{% endif %}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	          	</div>
          	
         	</div>		
		</div>				
	</div>
</form>

<!-- Modal -->
<div class="modal fade" id="modal-new-field" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "New field" %}</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript" src="{% static "js/gvsigollibs/layers/newFieldUi.js" %}"></script>
<script type="text/javascript">
	$('#menu-manage-services').addClass("active");
	$('#submenu-layers').addClass("active");
	
	$('.save-button').click( function() {
		$("body").overlay();
	});
	
	function getConfig() {
		var config = {};
		{% if GVSIGOL_ENABLE_ENUMERATIONS %}
		config.enableEnums = true;
		{% else %}
		config.enableEnums = false;
		{% endif %}
		
		{% if 'gvsigol_plugin_form' in INSTALLED_APPS %}
		config.enableForms = true;
		{% else %}
		config.enableForms = false;
		{% endif %}
		
		config.enumerations = [];
		{% for e in enumerations %}
		config.enumerations.push({"id": "{{e.id}}", "title": "{{e.title}}"});
		{% endfor%}
		config.forms = [];
		{% for f in forms %}
		config.forms.push({"name": "{{f.name}}", "title": "{{f.title}}"});
		{% endfor%}		
		config.triggerProcedures = [];
		{% for tp in procedures %}
		config.triggerProcedures.push({"id": "{{tp.signature}}", "label": "{{tp.localized_label}}"});
		{% endfor%}
		return config;
	}
	var config = getConfig();
	var date_fields = new Array();
	var fields = new Array();
	
	function addField(field) {
		
		fields.push(field);
		console.log(field);
		var ui = '';
		ui += '<tr data-rowid="' + field.id + '">';
		ui += 	'<td id="field-name-' + field.id + '">' + field.name + '</td>';
		ui += 	'<td id="field-type-' + field.id + '">' + field.type + '</td>';
		ui += 	'<td id="field-calculation-' + field.id + '">' + field.calculationLabel + '</td>';
		ui += 	'<td><a class="edit-field-' + field.id + '" data-fieldid="' + field.id + '" href="javascript:void(0)"><i class="fa fa-edit text-primary"></i></a></td>';
		ui += 	'<td><a class="delete-field-' + field.id + '" data-fieldid="' + field.id + '" href="javascript:void(0)"><i class="fa fa-times text-danger"></i></a></td>';
		ui += '</tr>';
		
		$('#field-list-table tbody').append(ui);	
		
		$(".edit-field-" + field.id).on('click', function(e){	
			e.preventDefault();
			createModalContent(field.id, 'update', '{% trans "New field" %}', config);
		});
		$(".delete-field-" + field.id).on('click', function(e){	
			e.preventDefault();
			deleteField(field.id);
			
			var data = get_date_fields();
			create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val(), false);
			create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val(), true);
		});
		
		var data = get_date_fields();
		create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val(), false);
		create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val(), true);
		
	};
	
	function get_date_fields() {
		var self = this;
		self.date_fields = [];
		$('#field-list-table tbody').children().each(function(){
			var id = $(this).attr("data-rowid");
			if($("#field-type-"+id).text() == "date"){
				self.date_fields.push($("#field-name-"+id).text());
			}
			if($("#field-type-"+id).text() == "timestamp"){
				self.date_fields.push($("#field-name-"+id).text());
			}
		});
		
		return self.date_fields;
	}
	
	function updateField(field) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == field.id) {
				fields[i] = null;
				fields[i] = field;
			}
		}
		$('#field-name-'+field.id).text(field.name);
		$('#field-type-'+field.id).text(field.type);
		$('#field-default-value-'+field.id).text(field.defaultValue);
		$('#field-calculation-'+field.id).text(field.calculationLabel);

		var data = get_date_fields();
		create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val(), false);
		create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val(), true);
	};
	
	function deleteField(id) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == id) {
				fields.splice(i, 1);
			}
		}
		var tbody = document.getElementById('field-list-table-body');
		for (var i=0; i<tbody.children.length; i++) {
			if(tbody.children[i].dataset.rowid == id) {
				tbody.removeChild(tbody.children[i]);
			}
		}
	};
	
	function getFieldById(id) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == id) {
				return fields[i];
			}
		}
	};
	
	function make_temporal_form(){
		$(".time_presentation").css("display", "none");
		$(".time_default_value").css("display", "none");
		
		var tm_pr = $("#id_time_presentation option:selected").text();
		if(tm_pr == "DISCRETE_INTERVAL"){
			$(".time_presentation").css("display", "block");
		}
		
		var tm_dv = $("#id_time_default_value_mode option:selected").text();
		if(tm_dv == "NEAREST" || tm_dv == "FIXED"){
			$(".time_default_value").css("display", "block");
			$('#datetimepicker').datetimepicker({
				format: 'DD-MM-YYYY HH:mm:ss',
				showClose: true
			});
		}
		
	};
	
	function rebuildSelect(selectObj, placeholderOptionText, placeholderSelected, extraOptions) {
		selectObj.empty().html(' ');
		var attribs = {
			value: '__disabled__',
			text: placeholderOptionText,
			disabled: 'disabled',
			
		};
		if (placeholderSelected) {
			attribs['selected'] = 'selected';
		} 
		selectObj.append($('<option>', attribs));
		if (extraOptions) {
			for (var i=0; i<extraOptions.length; i++) {
				selectObj.append(extraOptions[i]);
			}
		}
	}
	
	function create_date_select(field, data, previousValue, allow_blank){
		var language = $("#select-language").val();
		var name_select = $("#"+field);
		var placeholderSelected = true;
		
		if (data==null || data.length==0) {
			var text = "{% trans 'Resource contains no fields' %}";
			rebuildSelect(name_select, text, true);
			$.overlayout();
			return;
		}
		var options = [];
		if(allow_blank){
			options.push($('<option>'));
		}
		for (var i=0; i<data.length; i++) {
			var attribs = {
				value: data[i].value,
				text: data[i].text
			};
			if (previousValue == data[i].value) {
				attribs['selected']='true';
				placeholderSelected = false;
			}
			options.push($('<option>', attribs));
		}
		var text = '{% trans "Choose field" %}';
		rebuildSelect(name_select, text, placeholderSelected, options);
	};

	
	function temporary_field(field){
		if(field.prop("checked")){
			field.parent().addClass("time_enabled-check");
			$(".box-body.time_enabled-check").css("display", "block");
			$("#select2-id_layer_group-container").parent().each(function(){
				//field.css("width", "100%");
			});
		}else{
			field.parent().removeClass("time_enabled-check");
			$(".box-body.time_enabled-check").css("display", "none");
		}
	};
	
	function updateLayerGroupList(id_datastore) {
		if (id_datastore) {
			$("body").overlay();
			var layergroup_id = {% if layergroup_id %}{{layergroup_id}}{% else %}null{% endif %};
			$.getJSON("{% url 'layergroup_list_editable' %}", {id_datastore: id_datastore, layergroup_id: layergroup_id}, function(data){
				var layer_group_select = $("#id_layer_group");
				var previousValue = layer_group_select.val();
				var placeholderSelected = true;
				
				if (data==null || data.length==0) {
					var text = "{% trans 'No layer groups available' %}";
					rebuildSelect(layer_group_select, text, true);
					$.overlayout();
					return;
				}
				var options = [];
				for (var i=0; i<data.length; i++) {
					var attribs = {
						value: data[i].value,
						text: data[i].text
					};
					if (previousValue == data[i].value) {
						attribs['selected']='true';
						placeholderSelected = false;
					}
					options.push($('<option>', attribs));
				}
				var text = '{% trans "Choose layer group" %}';
				rebuildSelect(layer_group_select, text, placeholderSelected, options);
				$.overlayout();
				
			}).fail(function() {
				var layer_group_select = $("#id_layer_group");
				var text = "{% trans 'No layer groups available' %}";
				rebuildSelect(layer_group_select, text, true);
				$.overlayout();
			});
		}
		else {
			var layer_group_select = $("#id_layer_group");
			var text = "{% trans 'No valid data store selected' %}";
			rebuildSelect(layer_group_select, text, true);
		}
	};
	
	function fileExists(url) {
	    if(url){
	        var req = new XMLHttpRequest();
	        req.open('GET', url, false);
	        req.send();
	        return req.status==200;
	        
	    } else {
	        return false;
	    }
	};
	
	
	$(document).ready(function() {
		var searcheableReadList = new List('read-list-box', {
			valueNames: ['searchable-role-name', 'searchable-roledesc'],
			listClass:'list',
			searchClass: 'search',
			page: 5,
			pagination: false
		});
		$("#submit-button").click(function(e){
			for(var i=0; i<searcheableReadList.items.length; i++){
				var item = searcheableReadList.items[i];
				item.show();
			}
			$(".layer-read-checkbox").prop( "disabled", false)
			$("#layer-create-form").submit();
			return false; 
		});
		var detailedInfoHTML = document.getElementById('detailed_info_html');
		var codemirror = CodeMirror.fromTextArea(detailedInfoHTML, {
			mode: "text/html",
	        extraKeys: {"Ctrl-Space": "autocomplete"},
			theme: "xq-dark",
			lineNumbers: true
		});
		var code = '';
		if (fileExists(HTML_PATH + 'detailed_info.html')) {
			code += '<iframe width="800" height="600" src="'+ HTML_PATH +'detailed_info.html" frameborder="0"></iframe>';
			
		} else {
			code += '<div class="col-md-12"> \n';
			code += '\t <h2>{% trans "Layer title" %}</h2> \n';
			code += '\t <p>{% trans "Layer description" %}</p> \n';
			code += '</div> \n';
		}
		$('a[data-toggle="tab"][href="#tab-layer-detailedinfo"]').on('shown.bs.tab', function (e) {
			codemirror.refresh();
		});
		$('#detailed_info_enabled').click(function(){
			if ($('#detailed_info_enabled').is(":checked")) {
				$('#detailed_info_button_title-row').css('display', 'block');
				$('#detailed_info_html-row').css('display', 'block');
				codemirror.setValue(code);
				codemirror.refresh();
				
			} else {
				$('#detailed_info_button_title-row').css('display', 'none');
				$('#detailed_info_html-row').css('display', 'none');
			}
		});
		
		updateLayerGroupList($("#id_datastore").val());
		
		$("#id_datastore").change(function() {
			var id_datastore = $('option:selected', $(this)).val();
			updateLayerGroupList(id_datastore);
		});
		
		// translate default layer group
		var opts = $("#id_layer_group > option");
		for(var i=0; i<opts.length; i++){
			if(opts[i].text =="__default__") {
				opts[i].text ='{% trans "Default" %}';
			}
		}
		
		$('#id_layer_group').select2();
		
		
		var lgs = $("#id_layer_group");
		var lg_options = $(".select2-results__option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).text('{% trans "Default" %}');
			}
		}
		
		$("#select2-id_layer_group-container").on('change',function() {
			var text = $(this).text();
			if (text=="__default__") {
				$(this).text('{% trans "Default" %}');
			}
		});
		
		$("#add-field-button").on('click', function(e){
			createModalContent(null, 'create', '{% trans "New field" %}', config);
		});
		
		$("form").submit(function(event) {
			var fieldsAsStr;
			if (fields.length > 0) {
				fieldsAsStr = JSON.stringify(fields);
				
			} else {
				$("#form-error").html("<p>{% trans 'At least one field must be defined' %}</p>").show();
			}
			
			$("#fields").val(fieldsAsStr);
		});
		
		$('#time_enabled').click(function(){
			temporary_field($(this));
		});
		
		temporary_field($('#time_enabled'));

		$("#id_time_presentation").change(function(){
			make_temporal_form();
		});
		
		$("#id_time_default_value_mode").change(function(){
			make_temporal_form();
		})
		
		make_temporal_form();
		
		var layergroup_id = "{{layergroup_id}}";
		if(layergroup_id != "None"){
			$("#id_layer_group").val(layergroup_id).trigger('change');
		}
		handleIsPublicResourceCheckbox(searcheableReadList);
	});
</script>
{% endblock %}
