{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<button id="button-create-layer" class="btn btn-sm btn-default"><i class="fa fa-database margin-r-5"></i> {% trans "Create empty layer" %}</button>
					<button id="button-import-layer" class="btn btn-sm btn-default"><i class="fa fa-cloud-upload margin-r-5"></i> {% trans "Publish layer" %}</button>
				</div>
			</div>
		</div>

		<div class="box">
			<div id="form-error" style="color:#ff0000;">
			</div>
			<div class="box-body">
				<table class="table" id="layers-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "Preview" %}</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Title" %}</th>
							<th>{% trans "Datastore" %}</th>
							<th>{% trans "Layer group" %}</th>
							<th>{% trans "Projects" %}</th>
							<th style="display:none">{% trans "Datastore type" %}</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for layer in layers %}
						<tr>
							<td>{{ layer.id }}</td>
							<td><img style="cursor: pointer;" id="layerpreview-{{ layer.id }}" data-origin="{{ layer.type }}" src="{{ layer.thumbnail_url }}" height="60" width="84"></td>
							<td>{{ layer.name }}</td>
							<td>{{ layer.title }}</td>
							<td>{{ layer.datastore_name }}</td>
							<td>{{ layer.lg_name }} ({{layer.lg_title }})</td>
							<td>{{ layer.projects }}</td>
							<td style="display:none">{{ layer.type }}</td>
							<td></td>
							<td></td>
							<td></td>
							<th></th>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-delete-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete layer" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The layer will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-layer-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-layer-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-edit-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<h4>{% trans "Raster layers are not configurable" %}</h4>
			</div>
			<div class="modal-footer">
				<button id="button-delete-layer-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-force-delete-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<h4>{% trans "This layer can't be remove from GeoServer, but it was delete from the list anyway" %}</h4>
			</div>
			<div class="modal-footer">
				<button id="button-force-delete-accept" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-services').addClass("active");
	$('#submenu-layers').addClass("active");
</script>
<script>
$(document).ready(function() {
	var projects = {{ projects|safe }};
	
	var table = $('#layers-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-layer" data-toggle="modal" data-target="#modal-delete-layer" data-placement="bottom" title="' + '{% trans "Delete layer" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
	    },{
	      	"targets": -2,
	       	"data": null,
	       	"render": function ( data, type, row ) {
	       		if (data[7] && data[7] == "v_PostGIS") {
            		return '<a title="' + '{% trans "Configure layer" %}" ' + '" href="/gvsigonline/services/layer_config/' + data[0] + '/" data-toggle="tooltip" data-placement="bottom" class="btn bg-purple"><i class="fa fa-cogs"></i></a>';
	       		}
	       		else {
	       			return '<button type="button" name="button-config-layer" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Configure layer" %}' + '" class="btn bg-purple"><i class="fa fa-cogs"></i></button>'
	       		}
            }
	  	},
	  	{
	      	"targets": -5,
	       	"data": null,
	       	"render": function ( data, type, row ) {
            	return '<a title="' + '{% trans "Update layer" %}" ' + '" href="/gvsigonline/services/layer_update/' + data[0] + '/" data-toggle="tooltip" data-placement="bottom" class="btn btn-success"><i class="fa fa-edit"></i></a>';
            }
	  	},{
	      	"targets": -3,
	       	"data": null,
	        "defaultContent": '<button type="button" name="button-refresh-extent" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Refresh extent and layer definition" %}' + '" class="btn btn-info"><i class="fa fa-arrows-alt"></i></button>'
	  	},{
	      	"targets": -4,
	       	"data": null,
	        "defaultContent": '<button type="button" name="button-update-thumbnail" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update thumbnail" %}' + '" class="btn btn-primary"><i class="fa fa-file-image-o"></i></button>'
	  	}],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});

	$('#layers-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();
	    if (this.name == "button-config-layer"){
	    	$('#modal-edit-layer').modal('show');
		} else if (this.name == "button-update-thumbnail"){
			updateThumbnail(data, row);

		} else if (this.name == "button-clear-cache"){
			clearCache(data, row);

		} else if (this.name == "button-delete-layer"){
	        deleteLayer(data, row);
	        
	    } else if (this.name == "button-refresh-extent"){
	        refreshExtent(data, row, $(this));
	    }
	});

	$('#button-import-layer').click( function() {
		location.href = '/gvsigonline/services/layer_add/';
	});
	$('#button-create-layer').click( function() {
		location.href = "{% url 'layer_create'%}";
	});
	
	var clearButton = '';
	clearButton += '<button id="button-clean-filter" style="padding: 7px; margin: 0px; margin-left: 5px;" class="btn btn-sm btn-default"><i class="fa fa-eye margin-r-5"></i>' + gettext('Show all layers') + '</button>';
	$('#layers-table_wrapper').prepend(clearButton);
	
	var selectHtml = '';
	selectHtml += '<select id="select-project" style="float: left; width: 200px;" name="select-project" class="form-control">';
	selectHtml += 	'<option value="__none__">' + gettext('Filter by project') + ' ...</option>';
	selectHtml += '</select>';
	$('#layers-table_wrapper').prepend(selectHtml);
	for (var i=0; i<projects.length; i++) {
		$('#select-project').append($('<option>', {value: projects[i].title, text: projects[i].title}));
	}

	$('#select-project').on('change', function() {
		var project = $(this).val();
		var dataTable = $('#layers-table').DataTable();
		var regex = ";" + project + "(?<=;)a[^;]+(?=;)";
		dataTable.columns(6).search(project, "(?<=;)a[^;]+(?=;)", true, false).draw();
	});
	
	$('#button-clean-filter').on('click', function() {
		var dataTable = $('#layers-table').DataTable();
		dataTable.columns(6).search('', true, false).draw();
		$('#select-project option[value=__none__]').attr('selected','selected');
	});
	
	function updateThumbnail(data){
		var _this = this;
		var layerId = data[0];

		$("#layerpreview-" + layerId).overlay();
		$.ajax({
			type: 'POST',
			async: false,
			url: '/gvsigonline/services/update_thumbnail/' + layerId + '/',
			beforeSend:function(xhr){
			    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			success	:function(response){
				if (response.success) {
					document.getElementById("layerpreview-" + layerId).src = response.updated_thumbnail;
				}
				$("#layerpreview-" + layerId).overlayout();
			},
			error: function(){
				$("#layerpreview-" + layerId).overlayout();
			}
		});
	}

	function refreshExtent(data, row, button){
		var _this = this;
		var layerId = data[0];
		button.find("i").addClass('fa-spin');
		
		$.ajax({
			type: 'POST',
			async: false,
			url: '/gvsigonline/services/layer_refresh_extent/' + layerId + '/',
			beforeSend:function(xhr){
			    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			success	:function(response){
				button.find("i").removeClass('fa-spin');
				messageBox.show("success", gettext("The layer definition was refreshed"));
			},
			error: function(){
				button.find("i").removeClass('fa-spin');
				messageBox.show("error", gettext("The layer refresh failed"));
			}
		});
	}

	function clearCache(data){
		location.href = '/gvsigonline/services/cache_clear/' + data[0] + '/';
	}

	function deleteLayer(data, row){
		$('#button-delete-layer-accept').click( function() {
			$("body").overlay();
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/services/layer_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
				},
				success	:function(response){
					try{
						var json_response = JSON.parse(response);
						if( json_response.hasOwnProperty("status") && json_response["status"] == "ERROR"){
							if(json_response["status_code"] == 500){
								$('#modal-force-delete-layer').modal('show');
								$('#button-force-delete-accept').click(function(){
									$('#modal-force-delete-layer').modal('hide');
									$.overlayout();
									location.reload();
								})
							}else{
								$("#form-error").html("<br /><span style=\"margin: 25px\">" + json_response["message"] + "</span>");
							}
						}
						$('#modal-delete-layer').modal('hide');
						$.overlayout();

					}catch(e){
						$('#modal-delete-layer').modal('hide');
						$.overlayout();
						location.reload();
					}
				},
				error: function(){
					$('#modal-delete-layer').modal('hide');
					$.overlayout();
					location.reload();
				}
			});
		});
	}

});
</script>
{% endblock %}