{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load key %}

{% block content %}

{% if redirect_to_layergroup %}
<form role="form" method="post" action="/gvsigonline/services/layer_config/{{layer_id}}/?redirect=layergroup-redirect{% if layergroup_id %}&layergroup_id={{layergroup_id}}{% endif %}{% if project_id %}&project_id={{project_id}}{% endif %}{% if from_redirect %}&from_redirect={{from_redirect}}{% endif %}">
{% else %}
<form role="form" method="post" action="/gvsigonline/services/layer_config/{{layer_id}}/">
{% endif %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<a href="javascript:window.history.back();" class="btn btn-default btn-sm"><i class="fa fa-chevron-left margin-r-5"></i> {% trans "Back" %}</a>
					<button type="submit" class="btn btn-default btn-sm  save-button"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>
				</div>
			</div>
		</div>
		<div class="">
			{% csrf_token %}
			{% if form.errors %}
			<div id="form-error" style="color:#ff0000;">
				<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>{{field.label}}. {{ field.errors|striptags }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if message %}
			<div id="form-error" style="color:#ff0000;">
				<p>* {{ message }}</p>
			</div>
			{% endif %}
		</div>
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#tab-layer-config" data-toggle="tab">{% trans "Field management" %}</a></li>
			<li role="presentation"><a href="#tab-layer-field-trans" data-toggle="tab">{% trans "Field titles" %}</a></li>
			<li role="presentation" class="tab-li-layer-fieldgroups"><a href="#tab-layer-fieldgroups" data-toggle="tab">{% trans "Field groups" %}</a></li>
			<li role="presentation" class="tab-li-layer-fieldgroup-trans"><a href="#tab-layer-fieldgroup-trans" data-toggle="tab">{% trans "Group titles" %}</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-layer-config">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-body">
								<div id="layer-fields" class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table id="field-list-table" class="table no-margin">
												<thead>
													<tr>
														<th>{% trans "Field name" %}</th>
														<th>{% trans "Type" %}</th>
														<th>{% trans "Calculated" %}</th>
														<th>{% trans "Nullable" %}</th>
														<th>{% trans "mandatory" %}</th>
														<th>{% trans "Is visible?" %}</th>
														<th>{% trans "Is editable?" %}</th>
														<th>{% trans "Is shown in getFeatureInfo?" %}</th>
														<th>{% trans "gvsigOL type" %}</th>
														<th>{% trans "Actions" %}</th>
													</tr>
												</thead>
												<tbody id="field-list-table-body">
													{% for f in fields %}
														{% with counter=forloop.counter %}
																<tr data-fieldname="{{f.name}}">
																	<td><input readonly name="field-name-{{counter}}" type="text" class="form-control" value="{{f.name}}"></td>
																	<td><input readonly name="field-type-{{counter}}" type="text" class="form-control" value="{% if f.gvsigol_type == 'link' %}link{% else %}{{f.type}}{% endif %}"></td>
																	<td><input readonly name="field-calculation-{{counter}}" type="text" class="form-control" value="{{f.calculationLabel}}"></td>
																	{% if f.nullable %}
																	<td><input title="{% trans 'Set at database level' %}" type="checkbox" data-counter="{{counter}}" name="field-nullable-{{counter}}" checked/></td>
																	{% else %}
																	<td><input title="{% trans 'Set at database level' %}" id="nullable-check-{{counter}}"  data-counter="{{counter}}" data-type="nullable" data-fieldname="{{f.name}}" type="checkbox" name="field-nullable-{{counter}}"/></td>
																	{% endif %}
																	{% if f.mandatory %}
																	<td><input title="{% trans 'Required in editing forms' %}" id="field-mandatory-{{counter}}" type="checkbox" name="field-mandatory-{{counter}}" {% if not f.nullable %}disabled{% endif %} checked /></td>
																	{% else %}
																	<td><input title="{% trans 'Required in editing forms' %}" id="field-mandatory-{{counter}}" data-type="mandatory" data-fieldname="{{f.name}}" type="checkbox" name="field-mandatory-{{counter}}"/></td>
																	{% endif %}
																	{% if f.visible %}
																	<td><input type="checkbox" name="field-visible-{{counter}}" checked/></td>
																	{% else %}
																	<td><input type="checkbox" name="field-visible-{{counter}}"/></td>
																	{% endif %}
																	{% if f.editable %}
																	<td><input type="checkbox" name="field-editable-{{counter}}" checked/></td>
																	{% else %}
																		{% if f.editableactive %}
																		<td><input type="checkbox" name="field-editable-{{counter}}"/></td>
																		{% else %}
																		<td><input type="checkbox" disabled name="field-editable-{{counter}}"/></td>
																		{% endif %}
																	{% endif %}
																	{% if f.infovisible %}
																	<td><input type="checkbox" name="field-infovisible-{{counter}}" checked/></td>
																	{% else %}
																	<td><input type="checkbox" name="field-infovisible-{{counter}}"/></td>
																	{% endif %}
																	<td><input readonly type="text" name="field-gvsigol-type-{{counter}}" class="form-control" value="{{f.gvsigol_type|default:''}}" placeholder="{{f.gvsigol_type}}"></td>
																	<td>
																	{% if f.editableactive or f.calculationLabel %}
																		{% if counter > 3 %}
																		<div class="btn-group dropup">
																		{% else %}
																		<div class="btn-group">
																		{% endif %}
																			{% if is_view %}
																			<button type="button" class="btn btn-box-tool dropdown-toggle" title="{% trans 'SQL views can\'t be edited.' %}" disabled>
																				<i class="fa fa-wrench"></i>
																			</button>
																			{% else %}
																			<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																				<i class="fa fa-wrench"></i>
																			</button>
																			<ul class="dropdown-menu dropdown-menu-right" role="menu">
																				<li><a href="#" class="actions-menu-entry rename-field"><i class="fa fa-edit" style="color: #3c8dbc;"></i> {% trans "Rename" %}</a></li>
																				<!--  <li><a href="#" class="actions-menu-entry change-field-type"><i class="fa fa-tag" style="color: #3c8dbc;"></i> {% trans "Change type" %}</a></li> -->
																				{% if not f.calculationLabel %}
																				<li id="li-convert-to-enumerate"><a href="#" class="actions-menu-entry convert-to-enumerate"><i class="fa fa-list-alt" style="color: #3c8dbc;"></i> {% trans "Convert to enumerate" %}</a></li>
																				{% endif %}
																				<li><a href="#" class="actions-menu-entry delete-field"><i class="fa fa-times" style="color: #f56954;"></i> {% trans "Delete field" %}</a></li>
																			</ul>
																			{% endif %}
																		</div>
																	{% else %}
																		<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" disabled aria-expanded="false" title="{% trans "Reserved field" %}">
																			<i class="fa fa-wrench"></i>
																		</button>
																	{% endif %}
																	</td>
																</tr>
																{% if forloop.last %}
																<input type="hidden" name="counter" value="{{counter}}" />
																{% endif %}
														{% endwith %}
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer clearfix">
								{% if is_view %}
								<button type="button" class="btn btn-box-tool pull-left margin-r-5" title="{% trans 'SQL views can\'t be edited.' %}" disabled>
									<i class="fa fa-plus margin-r-5"></i>{% trans "Add field" %}
								</button>
								{% else %}
								<a id="add-field-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
									<i class="fa fa-plus margin-r-5"></i>{% trans "Add field" %}
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab-layer-field-trans">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table id="field-list-table" class="table no-margin">
												<thead>
													<tr>
														<th>{% trans "Field name" %}</th>
														{% for id, language in available_languages %}
														<th>{% trans "Field title" %}&nbsp;({{ language }})</th>
														{% endfor %}
													</tr>
												</thead>
												<tbody id="field-list-table-body">
													{% for f in fields %}
														{% with counter=forloop.counter %}
																<tr>
																	<td><input readonly name="field-name-{{counter}}" type="text" class="form-control field-name" value="{{f.name}}"></td>
																	{% for id, language in available_languages %}
																	<td><input name="field-title-{{id}}-{{counter}}" type="text" class="form-control" placeHolder="{{f.name}}" value=""></td>
																	{% endfor %}
																</tr>
																{% if forloop.last %}
																<input type="hidden" name="counter" value="{{counter}}" />
															{% endif %}
														{% endwith %}
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab-layer-fieldgroups">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-body">
								<div id="field-groups-order">
									{% for g in form_groups %}
									{% with counter=forloop.counter %}
									<div class="box box-default collapsed-box sortable-fieldgroup" data-groupid="{{counter}}" style="border-top: none;">
										<div class="box-header">
											<div class="handle form-inline">
												<span class="" style="margin-right: 20px;">
													<i class="fa fa-ellipsis-v"></i>
													<i class="fa fa-ellipsis-v"></i>
												</span>
												<input type="text" class="form-control" value="{{g.name}}">
												&nbsp;<span class="text-danger group-name-error"></span>
											</div>
											<div class="box-tools box-tools-buttons pull-right">
												<button type="button" class="button-delete-group" name="button-delete-group" title="{% trans 'Delete group' %}" class="btn btn-danger"><i class="fa fa-times"></i></button>
											</div>
										</div>
									</div>
									{% for f in g.fields %}
									<div data-name="{{f}}"  class="box box-default collapsed-box sortable-fieldgroup-field" style="padding-left: 45px; border-top: none;">
										<div class="box-header">
											<div class="handle">
												<span class="" style="margin-right: 20px;">
													<i class="fa fa-ellipsis-v"></i>
													<i class="fa fa-ellipsis-v"></i>
												</span>
												<span class="text">{{f}}</span>
											</div>
										</div>
									</div>
									{% endfor %}
									{% if forloop.last %}
									<input class="hide" id="fieldgroup-total-counter" value="{{counter}}" type="text">
									{% endif %}
									{% endwith %}
									{% endfor %}
								</div>
							</div>
							<div class="box-footer clearfix">
								<a id="add-field-group-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
									<i class="fa fa-plus margin-r-5"></i>{% trans "Add field group" %}
								</a>
								<input class="hide form-control" id="form_groups" name="form_groups" type="text" />
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab-layer-fieldgroup-trans">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table id="fieldgroup-trans-table" class="table no-margin">
												<thead>
													<tr>
														<th>{% trans "Group name" %}</th>
														{% for id, language in available_languages %}
														<th>{% trans "Group title" %}&nbsp;({{ language }})</th>
														{% endfor %}
													</tr>
												</thead>
												<tbody id="fieldgroup-trans-table-body">
													{% for g in form_groups %}
														{% with counter=forloop.counter %}
															<tr class="fieldgroup-trans-row" data-groupid="{{counter}}">
																<td><input readonly name="fieldgroup-name-{{counter}}" type="text" class="form-control" value="{{g.name}}"></td>
																{% for id, language in available_languages %}
																{% with thelangtitleid="title-"|add:id %}
																<td><input name="fieldgroup-title-{{id}}-{{counter}}" type="text" data-langid="{{id}}" data-title="{{thelangtitleid}}" class="form-control fieldgroup-trans" placeHolder="{{g.name}}" value="{{g|key:thelangtitleid}}"></td>
																{% endwith %}
																{% endfor %}
															</tr>
														{% endwith %}
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

<div class="modal fade" id="my-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 id="modalTitle" class="modal-title"></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra-scripts %}
<script type="text/javascript" src="{% static "js/gvsigollibs/layers/newFieldUi.js" %}"></script>
<script type="text/javascript">

	$('#menu-manage-services').addClass("active");
	$('#submenu-layers').addClass("active");

	$(document).ready(function() {
		$('.save-button').click( function() {
			$("body").overlay();
		});

		var fields = {{ fields_json|safe }};
		var available_languages = {{ available_languages_array|safe }};

		for(var i=0; i<fields.length; i++){
			var field = fields[i];
			for(var j=0; j<available_languages.length; j++){
				var lang = available_languages[j];
				$("input[name=\"field-title-"+lang+"-"+(i+1)+"\"]").val(field["title-"+lang]);

			}
		}
	});

	$('input[type="checkbox"]'). click(function(evt){
		if (evt.target.id.startsWith('nullable-check')){
			if(!$(this).is(":checked")) {
				var obj = document.getElementById(evt.target.id);
				var field_name = obj.getAttribute('data-fieldname');
				var counter = obj.getAttribute('data-counter');
				data = {
					"layer_id" : "{{layer_id}}",
					"field_name": field_name,
				}
				$.ajax({
					type: 'POST',
					async: false,
					data: data,
					url: '/gvsigonline/services/nullable_check/',
					beforeSend:function(xhr){
						xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
					},
					success	:function(response) {
						document.getElementById("field-mandatory-"+counter).disabled = true;
						document.getElementById("field-mandatory-"+counter).checked = true;
					},
					error: function() {
						obj.checked = true;
						document.getElementById("field-mandatory-"+counter).disabled = false;
						messageBox.show('error', gettext('The field can not be set as mandatory at database level because some records contain NULL values in this column. Delete the NULL values and try again.'));
					}
				});
			}
			else {
				var obj = document.getElementById(evt.target.id);
				var counter = obj.getAttribute('data-counter');
				document.getElementById("field-mandatory-"+counter).disabled = false;
			}
		}
		else if (evt.target.name.startsWith('field-nullable-')){
			var obj = evt.target;
			var counter = obj.getAttribute('data-counter');
			if(!$(this).is(":checked")) {
				document.getElementById("field-mandatory-"+counter).disabled = true;
				document.getElementById("field-mandatory-"+counter).checked = true;
			}
			else {
				document.getElementById("field-mandatory-"+counter).disabled = false;
			}
		}
	});

	$('.convert-to-enumerate').on('click', function (evt){
		var fieldName = $(this).closest('tr')[0].getAttribute('data-fieldname');
		converToEnumModal(fieldName);
	});
	$('.delete-field').on('click', function (evt){
		var fieldName = $(this).closest('tr')[0].getAttribute('data-fieldname');
		deleteFieldModal(fieldName);
	});
	$('.change-field-type').on('click', function (evt){
		var fieldName = $(this).closest('tr')[0].getAttribute('data-fieldname');
		//deleteFieldModal(fieldName);
	});
	$('.rename-field').on('click', function (evt){
		var fieldName = $(this).closest('tr')[0].getAttribute('data-fieldname');
		renameFieldModal(fieldName);
	});

	function converToEnumModal(fieldName){
		$('#my-modal-dialog .modal-body').empty();
		$('#my-modal-dialog .modal-title').text(gettext("Convert to enum"));

		var ui = '';
		ui += '<div id="div-name" class="row">';

		ui += '<div class="col-md-12 form-group">';
		ui += 	'<label>' + gettext('Select enumeration') + '</label>';
		ui += 	'<select id="enumeration-list" class="form-control">';
				'{% for enum in enumerations %}'
					ui += '<option value="{{enum.id}}">{{enum.title}}</option>';
				'{% endfor%}'
		ui += 	'</select>';
		ui += '</div>';

		ui += '</div>';
		$('#my-modal-dialog .modal-body').append(ui);
		var buttons = '';
		buttons += '<button id="enum-convert-cancel" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Cancel') + '</button>';
		buttons += '<button id="convert" type="button" class="btn btn-default">' + gettext('Convert') + '</button>';
		buttons += '<button id="autogen" type="button" class="btn btn-default">' + gettext('Autogen') + '</button>';
		$('#my-modal-dialog .modal-footer').empty();
		$('#my-modal-dialog .modal-footer').append(buttons);

		$('#convert').on('click', function () {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/services/convert_to_enumerate/',
				beforeSend:function(xhr){
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
			  	data:{
			  		'field': fieldName,
			  		'enum_id': $('#enumeration-list').val(),
			  		'layer_id': "{{layer_id}}",
			  		'layer_name': "{{layer}}",
			  		'autogen': 'False'
			  	},
				success	:function(response) {
					messageBox.show('Info', gettext('Convert ok'));
					$('#my-modal-dialog').modal('hide');
				},
				error: function() {
					messageBox.show('error', files.responseText);
					$('#my-modal-dialog').modal('hide');
				}
			});
		});

		$('#autogen').on('click', function () {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/services/convert_to_enumerate/',
				beforeSend:function(xhr){
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
			  	data:{
			  		'field': fieldName,
			  		'enum_id': $('#enumeration-list').val(),
			  		'layer_id': "{{layer_id}}",
			  		'layer_name': "{{layer}}",
			  		'autogen': 'True'
			  	},
				success	:function(response) {
					messageBox.show('Info', gettext('Autogen ok'));
					$('#my-modal-dialog').modal('hide');
				},
				error: function(jqXHR, status, errMsg) {
					messageBox.show('error', jqXHR.responseText);
					$('#my-modal-dialog').modal('hide');
				}
			});
		});

		$('#my-modal-dialog').modal('show');
	}

	function deleteFieldModal(fieldName){
		$('#my-modal-dialog .modal-body').empty();
		$('#my-modal-dialog .modal-title').text(gettext("Delete field"));
		var ui = '';
		ui += '<div id="div-name" class="row">';
		ui += '<div class="col-md-12 form-group">';
		ui += '<div class="bg-warning" style="padding: 10px; margin-bottom: 5px">';
		ui += gettext("Warning: the field will be deleted from the database. This operation cannot be undone. Type the name of the field to confirm the deletion:");
		ui += '<code>' + fieldName + '</code>';
		ui += '</div>';
		ui += '</div>';
		ui += '<div class="col-md-12 form-group">';
		ui += 	'<label for="deleted-field-name">' + gettext('Field to delete') + '</label>';
		ui += 	'<input placeholder="' + gettext('Field name') + '" name="deleted-field-name" id="deleted-field-name" type="text" class="form-control">';
		ui += '</div>';
		ui += '</div>';
		$('#my-modal-dialog .modal-body').append(ui);
		var buttons = '';
		buttons += '<button id="cancel-delete" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Cancel') + '</button>';
		buttons += '<button id="confirm-delete" type="button" class="btn btn-warning" disabled>' + gettext('Delete') + '</button>';
		$('#my-modal-dialog .modal-footer').empty();
		$('#my-modal-dialog .modal-footer').append(buttons);
		$('#deleted-field-name').change(function(evt) {
			if ($(this).val() == fieldName) {
				document.getElementById('confirm-delete').disabled = false;
			}
			else {
				document.getElementById('confirm-delete').disabled = true;
			}
		});
		$('#deleted-field-name').keyup(function(evt) {
			if ($(this).val() == fieldName) {
				document.getElementById('confirm-delete').disabled = false;
			}
			else {
				document.getElementById('confirm-delete').disabled = true;
			}
		});

		$('#confirm-delete').on('click', function () {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/services/db_field_delete/',
				beforeSend:function(xhr){
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
			  	data:{
			  		'field': fieldName,
			  		'layer_id': "{{layer_id}}"
			  	},
				success	:function(response) {
					$('#my-modal-dialog').modal('hide');
					messageBox.show('Info', gettext('Field was deleted'));
					$('tr[data-fieldname="' + fieldName + '"]').remove();
					$('.sortable-fieldgroup-field').filter(function(){
						return $(this).find('span.text').text()==fieldName
					}).remove();
					$('#field-list-table-body tr').filter(function(){
						return $(this).find('input.field-name').text()==fieldName
					}).remove();
				},
				error: function(jqXHR) {
					messageBox.show('error', jqXHR.responseText);
					$('#my-modal-dialog').modal('hide');
				}
			});
		});
		$('#my-modal-dialog').modal('show');
	}

	function renameFieldModal(fieldName){
		$('#my-modal-dialog .modal-body').empty();
		$('#my-modal-dialog .modal-title').text(gettext("Rename field"));
		var ui = '';
		ui += '<div id="div-name" class="row">';
		ui += '<div id="field-errors" class="col-md-12 form-group">';
		ui += '</div>';
		ui += '<div class="col-md-12 form-group">';
		ui += '<div class="bg-warning" style="padding: 10px; margin-bottom: 5px">';
		ui += gettext("Warning: renaming a field may have side effects, such as breaking a field-based legend.");
		ui += '</div>';
		ui += '</div>';
		ui += '<div class="col-md-12 form-group">';
		ui += 	'<label for="old-field-name">' + gettext('Old name') + '</label>';
		ui += 	'<input name="old-field-name" id="old-field-name" type="text" class="form-control" value="' + fieldName + '" disabled>';
		ui += '</div>';
		ui += '<div class="col-md-12 form-group">';
		ui += 	'<label for="new-field-name">' + gettext('New name') + '</label>';
		ui += 	'<input placeholder="' + gettext('Field name') + '" name="new-field-name" id="new-field-name" type="text" class="form-control">';
		ui += '</div>';
		ui += '</div>';
		$('#my-modal-dialog .modal-body').append(ui);
		var buttons = '';
		buttons += '<button id="cancel-rename" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Cancel') + '</button>';
		buttons += '<button id="confirm-rename" type="button" class="btn btn-warning">' + gettext('Rename') + '</button>';
		$('#my-modal-dialog .modal-footer').empty();
		$('#my-modal-dialog .modal-footer').append(buttons);

		$('#confirm-rename').on('click', function () {
			var new_name = document.getElementById('new-field-name').value;
			if (validateRegex(new_name)) {
				$.ajax({
					type: 'POST',
					async: false,
					url: '/gvsigonline/services/db_field_rename/',
					beforeSend:function(xhr){
						xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
					},
				  	data:{
				  		'field': fieldName,
				  		'new_field_name': new_name,
				  		'layer_id': "{{layer_id}}"
				  	},
					success	:function(response) {
						$('#my-modal-dialog').modal('hide');
						messageBox.show('Info', gettext('Field was renamed'));
						$('tr[data-fieldname="' + fieldName + '"] input')[0].value = new_name;
						$('tr[data-fieldname="' + fieldName + '"]')[0].setAttribute('data-fieldname', new_name);
						$('.sortable-fieldgroup-field span.text').filter(function(){
							return $(this).text()==fieldName
						}).text(new_name);
						$('#field-list-table-body input.field-name').filter(function(){
							return $(this).val()==fieldName
						}).val(new_name);
					},
					error: function(jqXHR) {
						messageBox.show('error', jqXHR.responseText);
						$('#my-modal-dialog').modal('hide');
					}
				});
			} else {
				var error = '<p class="text-muted" style="color: #ff0000; padding: 10px;">* ' + gettext('Invalid name: Identifiers must begin with a letter or an underscore (_). Subsequent characters can be letters, underscores or numbers') + '.</p>';
				$('#field-errors').empty();
				$('#field-errors').append(error);
			}
		});
		$('#my-modal-dialog').modal('show');
	}

	function getEnumerations() {
		var enumerations = [];
		{% for e in enumerations %}
		enumerations.push({"name": "{{e.name}}", "title": "{{e.title}}"});
		{% endfor%}
		return enumerations;
	}

	function getForms() {
		var forms = [];
		{% for f in forms %}
		forms.push({"name": "{{f.name}}", "title": "{{f.title}}"});
		{% endfor%}
		return forms;
	}

	function addField(field) {
		$.ajax({
			type: 'POST',
			async: false,
			url: '/gvsigonline/services/db_field_add/',
			beforeSend:function(xhr){
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
		  	data:{
		  		'field': field.name,
		  		'type': field.type,
		  		'enumkey': field.enumkey,
		  		'layer_id': "{{layer_id}}",
		  		'calculation': field.calculation,
		  		'gvsigol_type': field.gvsigol_type || '',
		  		'type_params': JSON.stringify(field.type_params || {})
		  	},
			success	:function(response) {
				messageBox.show('Info', gettext('Field was added'));
				$('#modal-error').on('hidden.bs.modal', function (e) {
					// reload page to get the updated list of fields
					window.location = window.location.toString().split("#", 1)[0];
				});
			},
			error: function(jqXHR) {
				messageBox.show('error', jqXHR.responseText);
				$('#my-modal-dialog').modal('hide');
			}
		});
	}

	function getAddFieldConfig() {
		var config = {};
		{% if GVSIGOL_ENABLE_ENUMERATIONS %}
		config.enableEnums = true;
		{% else %}
		config.enableEnums = false;
		{% endif %}

		{% if 'gvsigol_plugin_form' in INSTALLED_APPS %}
		config.enableForms = true;
		{% else %}
		config.enableForms = false;
		{% endif %}

		config.enumerations = [];
		{% for e in enumerations %}
		config.enumerations.push({"id": "{{e.id}}", "title": "{{e.title}}"});
		{% endfor%}
		config.forms = [];
		{% for f in forms %}
		config.forms.push({"name": "{{f.name}}", "title": "{{f.title}}"});
		{% endfor%}
		config.triggerProcedures = [];
		{% for tp in procedures %}
		config.triggerProcedures.push({"id": "{{tp.signature}}", "label": "{{tp.localized_label}}"});
		{% endfor%}
		config.modalSelector = '#my-modal-dialog';
		return config;
	}
	var addFieldConfig = getAddFieldConfig();

	$("#add-field-button").on('click', function(e) {
    var fieldNames = [];
    var seenNames = {};  // Track seen names
    
    $('#field-list-table-body tr').each(function() {
        var name = $(this).find('input[name^="field-name-"]').val();
        if (name && !seenNames[name]) {
            seenNames[name] = true;
            fieldNames.push(name);
        }
    });
    
    createModalContent(null, 'create', gettext("New field"), addFieldConfig, fieldNames);
});
	var createFieldGroupTrans = function(groupId, groupName){
		var clonedRow = $('.fieldgroup-trans-row').first().clone()[0];
		clonedRow.dataset['groupid'] = groupId;
		var tdName = $(clonedRow).find('input').first()[0];
		tdName.name = "fieldgroup-name-" + groupId;
		tdName.value = groupName;
		$(clonedRow).find('input.fieldgroup-trans').each(function(idx, elem) {
			elem.name = "fieldgroup-title-" + elem.dataset["langid"] + "-" + groupId;
			elem.value = '';
			elem.placeholder = groupName;
		});
		$(clonedRow).appendTo('#fieldgroup-trans-table-body');
	}
	var createFieldGroup = function(){
		var i = 1;
		var groupName = "group1";
		var nameExists;
		do {
			nameExists = false;
			$('.sortable-fieldgroup input').each(function(idx, elem){
				if (elem.value == groupName) {
					nameExists = true;
					return false;
				}
			});
			if (nameExists) {
				i = i + 1;
				groupName = 'group' + i;
			}
		} while (nameExists);
		var groupId = parseInt($('#fieldgroup-total-counter').val()) + 1;
		$('#fieldgroup-total-counter').val(groupId);

		var ui = '<div data-groupid="'+ groupId + '" class="box box-default collapsed-box sortable-fieldgroup" style="border-top: none;">';
		ui += '<div class="box-header"><div class="handle form-inline">';
		ui += '<span class="" style="margin-right: 20px;">';
		ui += '<i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i>';
		ui += '</span>';
		ui += '<input type="text" class="form-control" value="' + groupName + '">';
		ui += '&nbsp;<span class="text-danger group-name-error"></span>';
		ui += '</div>';
		ui += '<div class="box-tools box-tools-buttons pull-right">';
		ui += '<button type="button" class="button-delete-group" name="button-delete-group" title="{% blocktrans %}Delete group{% endblocktrans %}" class="btn btn-danger"><i class="fa fa-times"></i></button>';
		ui += '</div>';
		ui += '</div>';
		ui += '</div>';
		$('#field-groups-order').append(ui);

		createFieldGroupTrans(groupId, groupName);
		return groupName;
	}
	var checkUniqueGroupNames = function() {
		var groupNames = {};
		var unique = true;
		$(".sortable-fieldgroup input").each(function(idx, elem) {
			if (groupNames[elem.value]) {
				$(elem).next('span.group-name-error').text(gettext('Group names must be unique'));
				unique = false;
			}
			else {
				groupNames[elem.value] = true;
			}
		});
		return unique;
	}
	var installEvents = function() {
		$('.button-delete-group').off('click').on('click', function(e) {
			// move children fields of the deleted group to the first group
			var selected = $(this).parents('.sortable-fieldgroup');
			if ($('.sortable-fieldgroup').length > 0 &&
					selected.length > 0) {
				var first = $('.sortable-fieldgroup').first();
				if ($('.sortable-fieldgroup').length == 1) {
					// we must have at least a group, so just rename it using default name
					first.find('input')[0].value = "group1";
				}
				else {
					var nextGroup = selected.nextAll('.sortable-fieldgroup').first();
					var groupChildrenFields = selected.nextUntil(nextGroup);
					if (first[0]==selected[0]){
						// first will be removed, consider the new first
						first = first.nextAll('.sortable-fieldgroup').first();
					}
					var second = first.nextAll('.sortable-fieldgroup').first();
					if (second.length == 1) { // insert under next group
						groupChildrenFields.insertBefore(second);
					}
					else { // there is no next group, insert at the end
						groupChildrenFields.insertAfter($('.sortable-fieldgroup-field').last());
					}
					selected.remove();
				}
			}
			// delete group translations
			var groupId = selected[0].dataset['groupid'];
			$('.fieldgroup-trans-row').filter(function(){
				return $(this).data("groupid") == groupId;
			}).remove();
		});
		$("#field-groups-order").sortable({
			placeholder: "sort-highlight",
			handle: ".handle",
			forcePlaceholderSize: true,
			zIndex: 999999,
			stop: function(event, ui) {
				// ensure the first group is above any field
				if (ui.item.hasClass('sortable-fieldgroup-field') &&
						!ui.item.prev().hasClass('sortable-fieldgroup')) {
					$('.sortable-fieldgroup').first().prependTo('#field-groups-order');
				}
			}
		});
		$(".sortable-fieldgroup input").off("input change").on("input change", function(){
			var newGroupName = $(this).val();
			var groupId = $(this).closest('.sortable-fieldgroup')[0].dataset['groupid'];
			$('.fieldgroup-trans-row').filter(function(){
				return $(this).data("groupid") == groupId;
			}).find('input').first().val(newGroupName);
			checkUniqueGroupNames();
		});
	};
	$("#add-field-group-button").on('click', function(e){
		createFieldGroup();
		installEvents();
	});
	installEvents();
	$('form').submit(function(e) {
			$("body").overlay();
			if (!checkUniqueGroupNames()) {
				e.preventDefault();
				$("body").overlayout();
				return;
			}
						
			$('#field-list-table-body tr').each(function() {
				var counter = $(this).find('input[name^="field-name-"]').attr('name').split('-').pop();
				var gvsigolTypeInput = $('input[name="field-gvsigol-type-' + counter + '"]');
			});
			
			var jsonGroups = [];
			var lastGroup;
			$('#field-groups-order').children().each(function(idx, elem) {
				var jqElem = $(elem);
				if(jqElem.hasClass('sortable-fieldgroup')) {
					var groupId = jqElem.data('groupid');
					var groupName = jqElem.find('input')[0].value;
					lastGroup = {
						"name": groupName,
						"fields": []
					};
					$('.fieldgroup-trans-row').filter(function(){
						return $(this).data("groupid") == groupId;
					}).find("input.fieldgroup-trans").each(function(idx, elem) {
						var lang = elem.dataset['title'];
						var trans = elem.value;
						lastGroup[lang] = trans;
					});
					jsonGroups.push(lastGroup);
				}
				else if (jqElem.hasClass('sortable-fieldgroup-field')) {
					var fieldName = jqElem.find('span.text').text();
					lastGroup.fields.push(fieldName);
				}
			});
			$('#form_groups').val(JSON.stringify(jsonGroups));
		});
</script>
{% endblock %}