{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<a href="/gvsigonline/core/project_add/" class="btn btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add project" %}</a>
				</div>
			</div>
		</div>	
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Projects list" %}</h3>
			</div>		
			<div class="box-body">
				<table class="table" id="projects-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Title" %}</th>
							<th>{% trans "Description" %}</th>
							<th>{% trans "Is public?" %}</th>
							<th>{% trans "Preview" %}</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
						<tr>
							<td>{{ project.id }}</td>
							<td>{{ project.name }}</td>
							<td>{{ project.title }}</td>
							<td>{{ project.description }}</td>
							{% if project.is_public %}
							<td><input disabled type="checkbox" checked/></td>
							{% else %}
							<td><input disabled type="checkbox"/></td>
							{% endif %}
							<td>
								{% if USE_SPA_PROJECT_LINKS %}
								<a title="SPA" target="_blank" href="{{frontend_base_url}}/viewer/{{project.id}}/" data-toggle="tooltip" data-placement="bottom" class="btn"><i class="fa fa-television" style="color: green"></i></a>
								{% endif %}
								<a title="JQuery" target="_blank" href="/gvsigonline/core/load/{{project.name}}/" data-toggle="tooltip" data-placement="bottom" class="btn"><i class="fa fa-television" style="color: brown"></i></a>
							</td>
							<td></td>
							<td></td>
							<th></th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete project" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The project will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-project-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-project-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-clone-project" tabindex="-1" role="dialog" aria-labelledby="cloneProjectLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="cloneProjectLabel">{% trans "Clone project" %}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 form-group has-error">
						<ul class="errorlist help-block">
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="project_name">{% trans "Name" %}</label>
						<input placeholder="{% trans 'New project name' %}" name="project_name" id="project_name" type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="target_workspace">{% trans "Workspace" %}</label>
						<input placeholder="{% trans 'Target workspace name' %}" name="target_workspace" id="target_workspace" type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="target_datastore">{% trans "Datastore" %}</label>
						<input placeholder="{% trans 'Target datastore and database schema name' %}" name="target_datastore" id="target_datastore" type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="target_server">{% trans "Server" %}</label>
						<input placeholder="{% trans 'Target server' %}" name="target_server" id="target_server" type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="button-clone-project-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-clone-project-accept" type="button" class="btn btn-default">{% trans "Clone" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-projects').addClass("active");
	$('#submenu-projects').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#projects-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-project" data-toggle="modal" data-target="#modal-delete-project" data-placement="bottom" title="' + '{% trans "Delete project" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
		},{
	        "targets": -2,
	        "data": null,
            "render": function ( data, type, row ) {
                return '<a title="' + '{% trans "Clone project" %}" ' + '" href="/gvsigonline/core/project_clone/' + data[0] + '/" data-toggle="tooltip" data-placement="bottom" class="btn btn-primary"><i class="fa fa-clone"></i></a>';
            }
	    },{
	        "targets": -3,
	        "data": null,
            "render": function ( data, type, row ) {
            	return '<a title="' + '{% trans "Update project" %}" ' + '" href="/gvsigonline/core/project_update/' + data[0] + '/" data-toggle="tooltip" data-placement="bottom" class="btn btn-success"><i class="fa fa-edit"></i></a>';
            }
	    }],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
	
	
	$('#projects-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();
	    if (this.name == "button-clone-project"){
	        cloneProject(data);
	        
	    } else if (this.name == "button-delete-project"){
	        deleteProject(data, row);   
	    }
	});

	$('#project_name').change(function(event) {
		console.log($('#project_name').val());
		var normalizedVal = $('#project_name').val().toLowerCase().replace(/[^a-z0-9_]/gm, '');
		$('#project_name').val(normalizedVal);
		if ($('#target_workspace').val() == '') {
			$('#target_workspace').val(normalizedVal);
		}
		if ($('#target_datastore').val() == '') {
			$('#target_datastore').val('wds_' + normalizedVal);
		}
	});

	
	function cloneProject(data){
		$('#button-clone-project-accept').click(function(event) {
			console.log('/gvsigonline/core/project_clone/' + data[0] + '/');
			console.log($('#modal-clone-project input').serialize());
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/core/project_clone/' + data[0] + '/',
				data: $('#modal-clone-project input').serialize(),
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-clone-project').modal('hide');
					location.reload();
				},
				error: function(err){
					var html = '';
					for (var field in err.responseJSON.error) {
						var label;
						if (field == 'project_name') {
							label = gettext("Name");
						}
						else if (field == 'target_workspace') {
							label = gettext("Workspace");
						}
						else if (field == 'target_datastore') {
							label = gettext("Datastore");
						}
						else {
							label = field;
						}
						html += '<li>' + label + ": " + err.responseJSON.error[field] + '</li>';
					}
					$('#modal-clone-project .errorlist').html(html);
				}
			});
		});
	}

	function deleteProject(data, row){
		$('#button-delete-project-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/core/project_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-project').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	    
});
</script>
{% endblock %}