{% load i18n %}
{% load static from staticfiles %}
				<div class="row">
					<div class="col-md-12">
						<div id="datastore-permissions-box" class="box searchable-list-box">
							<div class="box-header">
								<h3 class="col-md-6 box-title" style="vertical-align: middle">{% trans "Select datastore permissions" %}</h3>
								<div class="col-md-6"><input type="text" class="search form-control" placeHolder="{% trans 'Search user role...' %}" id="ds-role-search" />
								</div>
								<div class="col-md-12" style="margin-top: 10px;">
									<div class="checkbox" style="display: inline-block; margin-right: 20px;">
										<label title="{% trans 'All staff users can use this datastore to create layers' %}">
											<input type="checkbox" name="allow_all" id="allow_all" {% if datastore and datastore.allow_all %}checked {% endif %}/>
											<span>{% trans "Allow all - Use" %}</span>
										</label>
									</div>
									<div class="checkbox" style="display: inline-block; margin-right: 20px;">
										<label title="{% trans 'All staff users can manage (edit) this datastore' %}">
											<input type="checkbox" name="allow_all_manage" id="allow_all_manage" {% if datastore and datastore.allow_all_manage %}checked {% endif %}/>
											<span>{% trans "Allow all - Management" %}</span>
										</label>
									</div>
								</div>
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box list">
									{% for role in roles %}
									<li class="item">
										<div class="product-img">
											<img src="{% static 'img/users.png' %}" alt="{% trans 'User role image' %}">
										</div>
										<div class="product-info">
											<span class="product-title"><span class="searchable-rolename">{{role.name}}</span>
												<div class="pull-right checkbox form-inline">
													<label>
														<input type="checkbox" name="role_use_{{role.name}}" id="role_use_{{role.name}}" {% if role.use_checked %}checked {% endif %}/>
														<span>{% trans "Can use" %}</span>
													</label>
													<label style="margin-left:10px">
														<input type="checkbox" name="role_manage_{{role.name}}" id="role_manage_{{role.name}}" {% if role.manage_checked %}checked {% endif %}/>
														<span>{% trans "Management" %}</span>
													</label>
												</div>
											</span> 
											<span class="product-description searchable-roledesc">{{role.description}}</span>
										</div>
									</li> 
									{% endfor %}
								</ul>
								<ul class="pagination"></ul>
							</div>
						</div>
					</div>
				</div>
<script type="text/javascript">
$(document).ready(function() {
	// Búsqueda de roles
	var searcheableRoleList = new List('datastore-permissions-box', {
		valueNames: ['searchable-rolename', 'searchable-roledesc'],
		page: 10,
		pagination: true
	});
	
	$('#ds-role-search').on('keyup', function() {
		searcheableRoleList.search($(this).val());
	});
});
</script>

