{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="box-tools pull-right">
					<button id="save-symbol" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>				
		</div>
		<div class="box">
			<div class="box-body">
				{% csrf_token %}					
				<div class="row">
					<div class="col-md-12">
						<div id="form-error" style="color:#ff0000;"></div>
						<div class="form-group">
							<label>{% trans "Name" %}</label>
							<input placeholder="{% trans 'Symbol name' %}" name="symbol-name" id="symbol-name" type="text" class="form-control">
						</div>	
						<div class="form-group">
							<label>{% trans "Title" %}</label>
				    		<input placeholder="{% trans 'Symbol title' %}" name="symbol-title" id="symbol-title" type="text" class="form-control">
						</div>
						<div class="form-group">
							<p class="text-muted">* {% trans "Specifies a title for the rule. The title is used in display lists and legends" %}.</p>
						</div>
					</div>
					
				</div>
				
				<div id="rules" class="row">
				</div>
											
           	</div>

		</div>
	</div>				
</div>
	
<!-- Modal -->
<div class="modal fade" id="modal-symbolizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Edit symbolizer" %}</h4>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-custom">
	            	<ul id="tab-menu" class="nav nav-tabs">				                        
	            	</ul>
	            	<div id="tab-content" class="tab-content">
	            	</div>
       			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-libraries').addClass("active");
</script>
<script>
$(document).ready(function() {
	
	var previewPointUrl = "{{preview_point_url}}";
	var previewLineUrl = "{{preview_line_url}}";
	var previewPolygonUrl = "{{preview_polygon_url}}";
	
	var previewUrl = null;
	var featureType = null;
	if ("{{symbol_type}}" == "MarkSymbolizer") {
		featureType = 'PointSymbolizer';
		previewUrl = previewPointUrl;
		
	} else if ("{{symbol_type}}" == "LineSymbolizer") {
		featureType = 'LineSymbolizer';
		previewUrl = previewLineUrl;
		
	} else if ("{{symbol_type}}" == "PolygonSymbolizer") {
		featureType = 'PolygonSymbolizer';
		previewUrl = previewPolygonUrl;
		
	}
	
	var symbologyUtils = new SymbologyUtils(null, null, null, featureType, previewUrl, [],[]);
	var librarySymbol = new LibrarySymbol(previewPointUrl, previewLineUrl, previewPolygonUrl, symbologyUtils);
	
	librarySymbol.addDefault();
	
	$("#save-symbol").on('click', function(e){
		$("#form-error").empty();
		var name = $("#symbol-name").val();
		var title = $("#symbol-title").val();
		var filter = "";
		
		if (name != '') {
			librarySymbol.save("{{library_id}}", name, title, filter);
		} else {
			$("#form-error").append('<p>*{% trans "Field name is required" %}</p>');
		}
		
	});

});
</script>
{% endblock %}