{% extends "base_symbology.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	  	  
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
		
			<div class="box-header with-border step-2">
				<h3 class="box-title">{% trans "Update style" %}</h3>
				<div class="box-tools pull-right">
					<button id="refresh-preview" class="btn btn-sm btn-warning refresh-preview"><i class="fa fa-refresh margin-r-5"></i> {% trans "Update preview" %}</button>
					<button id="save-legend" class="btn btn-sm btn-success save-legend"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
				</div>
			</div>

			<div class="box-body">
			
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Name" %}</label>
								<input disabled placeholder="{% trans 'Style name' %}" name="style-name" id="style-name" type="text" value="{{style.name}}" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label>{% trans "Title" %}</label>
								<input placeholder="{% trans 'Style title' %}" name="style-title" id="style-title" type="text" value="{{style.title}}" class="form-control">	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>{% trans "Min. scale" %}</label>
					    		<input placeholder="{% trans 'Minimum scale denominator' %}" name="symbol-minscale" id="symbol-minscale" type="number" step="any" value="{{minscale}}" class="form-control">
							</div>
							<div class="col-md-6 form-group">
								<label>{% trans "Max. scale" %}</label>
					    		<input placeholder="{% trans 'Maximum scale denominator' %}" name="symbol-maxscale" id="symbol-maxscale" type="number" step="any" value="{{maxscale}}" class="form-control">
							</div>
							<div class="col-md-12 form-group">
								<p class="text-muted">* {% trans "Specifies the minimum and maximum scale denominator (inclusive) for the scale range in which this rule applies" %}.</p>
							</div>
						</div>
						<div class="row">
							<div class="checkbox col-md-12">								
								<label>
									{% if style.is_default %}
									<input type="checkbox" name="style-is-default" id="style-is-default" checked/>{% trans "Set as default style" %}
									{% else %}
									<input type="checkbox" name="style-is-default" id="style-is-default"/>{% trans "Set as default style" %}
									{% endif %}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="map" class="preview-map"></div>
					</div>						
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{% trans "Symbol elements" %}</h3>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table id="table-symbolizers" class="table no-margin">
										<thead>
											<tr>
												<th></th>
												<th>{% trans "Name" %}</th>
												<th>{% trans "Preview" %}</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="table-symbolizers-body">
										</tbody>
									</table>
								</div>
							</div>

							<div class="box-footer clearfix">
								<a id="append-label-button" href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right margin-r-5"><i class="fa fa-tags margin-r-5"></i>{% trans "Append label" %}</a>
								<a id="append-symbol-button" href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right margin-r-5"><i class="fa fa-star-o margin-r-5"></i>{% trans "Append" %}</a>
								<a id="import-symbol-button" data-toggle="modal" data-target="#modal-import-symbol" href="" class="btn btn-sm btn-default btn-flat pull-right margin-r-5"><i class="fa fa-download margin-r-5"></i>{% trans "Import" %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-import-symbol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Import symbol" %}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 form-group">
						<label>{% trans "Select library" %}</label>
						<select id="select-library" class="form-control">
							<option disabled selected value> -- {% trans "Select symbol library" %} -- </option>
							{% for library in libraries %}
							<option value="{{library.id}}">{{library.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-body no-padding" style="max-height: 300px; overflow: auto;">
								<ul class="users-list clearfix">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="button-import-symbol-close" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>    	

<!-- Modal -->
<div class="modal fade" id="modal-symbolizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "Edit symbolizer" %}</h4>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-custom">
	            	<ul id="tab-menu" class="nav nav-tabs">				                        
	            	</ul>
	            	<div id="tab-content" class="tab-content">
	            	</div>
       			</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-symbology').addClass("active");
	$('#submenu-styles').addClass("active");
</script>
<script>
$(document).ready(function() {
	
	var layerId = "{{layer_id}}";
	var layerUrl = "{{layer_url}}";
	var wfsUrl = "{{layer_wfs_url}}";
	var layerName = "{{layer_name}}";
	var styleId = "{{style.id}}";
	var featureType = "{{featureType}}";
	var fields = {{fields|safe}};
	var alphanumericFields = {{alphanumeric_fields|safe}};
	var sldFilterValues = {{sldFilterValues|safe}};
	var fonts = {{ fonts|safe }};
	var rule_opts = {{ rule|safe }};
	var previewPointUrl = "{{preview_point_url}}";
	var previewLineUrl = "{{preview_line_url}}";
	var previewPolygonUrl = "{{preview_polygon_url}}";
	var supported_crs = {{supported_crs|safe}};
	
	for (var crs in supported_crs) {
		proj4.defs(supported_crs[crs].code, supported_crs[crs].definition);	
	}
	
	var map = new ol.Map({
		layers: [
		    new ol.layer.Tile({
            	source: new ol.source.MapQuest({layer: 'osm'})
          	})
		],
		target: "map",
		view: new ol.View({
		    center:[0,0],
		    zoom: '2'
		})
	});
	var wmsSource = new ol.source.ImageWMS({
		url: layerUrl,
		visible: true,
		params: {'LAYERS': layerName, 'FORMAT': 'image/png', 'VERSION': '1.1.1'},
		serverType: 'geoserver'
	});
	wmsLayer = new ol.layer.Image({
		id: 'preview-layer',
		source: wmsSource,
		visible: true
	});
	map.addLayer(wmsLayer);
	
	var symbologyUtils = new SymbologyUtils(map, wmsLayer, fonts, alphanumericFields);
	var uniqueSymbol = new UniqueSymbol(featureType, layerName, symbologyUtils, rule_opts, previewPointUrl, previewLineUrl, previewPolygonUrl);
	
	symbologyUtils.centerMap(layerName, wfsUrl);
	uniqueSymbol.refreshMap();
	
	if (uniqueSymbol.getRule().getNextLabelId() >= 1) {
		$('#append-label-button').css('display', 'none');
	}
	
	$("#style-title").on('change', function(e){
		var rule = uniqueSymbol.getRule();
		rule.title = this.value;
		$("#rule-title").text(this.value);
	});
	
	$("#symbol-minscale").on('change', function(e){
		var rule = uniqueSymbol.getRule();
		rule.minscale = this.value;
	});
	
	$("#style-maxscale").on('change', function(e){
		var rule = uniqueSymbol.getRule();
		rule.maxscale = this.value;
	});
	
	$("#append-symbol-button").on('click', function(e){
		uniqueSymbol.appendSymbolizer();
	});
	
	$("#append-label-button").on('click', function(e){
		uniqueSymbol.appendLabel();
	});

	$("#save-legend").on('click', function(e){
		uniqueSymbol.update(layerId, styleId);
	});
	
	$("#refresh-preview").on('click', function(e){
		uniqueSymbol.refreshMap();
	});
	
	var rules = null;
	$("#select-library").on('change', function(e) {
		$(".users-list").empty();
		$.ajax({
			type: "POST",
			async: false,
			url: "/gvsigonline/symbology/get_symbols_from_library/",
			beforeSend:function(xhr){
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
			},
			data: {
				library_id: this.value
			},
			success: function(response){
				rules = response.rules;
				
				for (var i=0; i<response.rules.length; i++) {
					var symbolizers = response.rules[i].symbolizers;
					var symbol = '';				
					if (response.rules[i].type == 'ExternalGraphicSymbolizer') {
						var graphic = JSON.parse(symbolizers[0].json);
						symbol += '<li>';
						symbol += 	'<img style="height: ' + graphic.size + 'px; width: auto;" src="' + graphic.online_resource + '" class="preview-eg"></img>';
						symbol += 	'<a class="users-list-name" data-rid="' + response.rules[i].id + '" href="">' + response.rules[i].name + '</a>';
						symbol += '</li>';
						$(".users-list").append(symbol);
						
					} else {
						symbol += '<li>';
						symbol += 	'<div id="library-symbol-preview-div-' + response.rules[i].id + '"></div>';
						symbol += 	'<a class="users-list-name" data-rid="' + response.rules[i].id + '" href="">' + response.rules[i].name + '</a>';
						symbol += '</li>';
						$(".users-list").append(symbol);
					}
					$(".users-list-name").on('click', function(e){
						e.preventDefault();
						for (var j=0; j<rules.length; j++) {
							if (rules[j].id == this.dataset.rid) {
								if (rules[j].type == featureType || (rules[j].type == 'ExternalGraphicSymbolizer' && featureType == 'PointSymbolizer')) {
									uniqueSymbol.loadSymbols(rules[j].symbolizers);
								} else {
									messageBox.show('warning', gettext('Selected symbol is not compatible with the layer'));
								}						
							}
						}	
						$('#modal-import-symbol').modal('hide');
					});
					if (response.rules[i].type != 'ExternalGraphicSymbolizer'){
						uniqueSymbol.libraryPreview(response.rules[i].id, symbolizers);
					}
				}
			},
		    error: function(){}
		});
	});

});
</script>
{% endblock %}