{% load staticfiles %}
{% load i18n %}
<li id="menu-manage-services" class="treeview"><a href="#"> 
	<i class="fa fa-globe"></i><span>{% trans "Services" %}</span> <i class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
		{% if user.is_superuser %}
		<li id="submenu-workspaces"><a href="/gvsigonline/services/workspace_list/"><i class="fa fa-folder"></i>{% trans "Workspaces" %}</a></li>
		{% endif %}	
		<li id="submenu-datastores"><a href="/gvsigonline/services/datastore_list/"><i class="fa fa-database"></i>{% trans "Datastores" %}</a></li>
		<li id="submenu-layergroups"><a href="/gvsigonline/services/layergroup_list/"><i class="fa fa-object-group"></i>{% trans "Layer groups" %}</a></li>
		<li id="submenu-enumerations"><a href="/gvsigonline/services/enumeration_list/"><i class="fa fa-list-ol"></i> {% trans "Enumerations" %}</a></li>
		<li id="submenu-layers"><a href="/gvsigonline/services/layer_list/"><i class="icon-layers"></i> {% trans "Layers" %}</a></li>
	</ul>
</li>