{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<div class="row">
	<div class="col-md-12">
		<div class="box">

			<form role="form" method="post" action="/gvsigonline/services/layer_create/">
				<div class="box-header with-border">
					<h3 class="box-title">{% trans "Create empty layer" %}</h3>
					<div class="box-tools pull-right">
						<button type="submit" class="btn btn-default btn-sm save-button">{% trans "Next" %} <i class="fa fa-angle-right margin-l-5"></i></button>					
					</div>
				</div>
			
				<div class="box-body">
				{% csrf_token %}					
					{% if form.errors %}
					<div id="form-error" style="color:#ff0000;">
						<ul>
						{% for field in form %}
							{% if field.errors %}
								<li>{{field.label}}. {{ field.errors|striptags }}</li>
							{% endif %}	
						{% endfor %}
						</ul>
					</div>
					{% endif %}
							
					{% if message %}
					<div id="form-error" style="color:#ff0000;">
						<p>* {{ message }}</p>
					</div>
					{% endif %}
									
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_datastore">{% trans "Data Store" %}</label>
							{{ form.datastore }}						
						</div>
					</div>
									
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_name">{% trans "Resource name" %}</label>
							{{ form.name }}						
						</div>
					</div>		
					
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_title">{% trans "Title" %}</label>
							{{ form.title }}						
						</div>
					</div>		
					
					<div class="row">
						<div class="col-md-6 form-group">
							<label for="id_geom_type">{% trans "Geometry type" %}</label>	
							{{ form.geom_type }}						
						</div>
						<div class="col-md-6 form-group">	
							<label for="id_srs">{% trans "Coordinate reference system" %}</label>	
							{{ form.srs }}							
						</div>
					</div>	
					
					<div id="layer-fields" class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">{% trans "Field list" %}</h3>
								</div>
								<div class="box-body">
									<div class="table-responsive">
										<table id="field-list-table" class="table no-margin">
											<thead>
												<tr>
													<th>{% trans "Field name" %}</th>
													<th>{% trans "Field type" %}</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="field-list-table-body"></tbody>
										</table>
									</div>
								</div>
								<div class="box-footer clearfix">
									<a id="add-field-button" href="javascript:void(0)" class="btn btn-box-tool pull-left margin-r-5">
										<i class="fa fa-plus margin-r-5"></i>{% trans "Add field" %}
									</a>
								</div>
								<input type="hidden" name="fields" id="fields" value="{{form.fields.value|default_if_none:''}}" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_layer_group">{% trans "Layer group" %}</label>
							{{ form.layer_group }}						
						</div>
					</div>	
					
					<div class="row">
						<div class="col-md-12 form-group">
							<span>{% trans "Layer properties in the viewer" %}.</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-group">
							<input type="checkbox" name="visible" id="visible"/>
							<label for="visible">{% trans "Visible" %}</label>														
						</div>
						<div class="col-md-4 form-group">
							<input type="checkbox" name="cached" id="cached" checked/>
							<label for="cached">{% trans "Cached" %}</label>	
						</div>
						<div class="col-md-4 form-group">
							<input type="checkbox" name="queryable" id="queryable" checked/>
							<label for="queryable">{% trans "Queryable" %}</label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 form-group">
							<input type="checkbox" name="single_image" id="single_image" />	
							<label for="single_image">{% trans "Single image (No tiles)" %}</label>											
						</div>
						<div class="col-md-4 form-group" style="padding-bottom:15px">
							<input type="checkbox" name="time_enabled"  id="time_enabled"/>
							<label for="visible">{% trans "time_enabled" %}</label>
						</div>
					</div>
					
					<div class="box-body time_enabled-check">
					<div class="row">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_enabled_field">{% trans "time_enabled field" %}</label>
								{{ form.time_enabled_field }}
							</div>
					</div>
					
					<div class="row">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_enabled_endfield">{% trans "End time_enabled field" %}</label>
								{{ form.time_enabled_endfield }}
							</div>
					</div>
					
					<div class="row">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_presentation">{% trans "Time presentation" %}</label>
								{{ form.time_presentation }}
							</div>
					</div>
					
					<div class="row time_presentation">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_resolution">{% trans "Time resolution (years, months, weeks, days, hours, minutes and seconds)" %}</label><br />
								
								{{ form.time_resolution_year }}
								{{ form.time_resolution_month }}
								{{ form.time_resolution_week }}
								{{ form.time_resolution_day }}
								{{ form.time_resolution_hour }}
								{{ form.time_resolution_minute }}
								{{ form.time_resolution_second }}
								
								<div style="clear:both"></div>
							</div>
					</div>
					
					
					<div class="row">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_default_value_mode">{% trans "Default value mode" %}</label>
								{{ form.time_default_value_mode }}
							</div>
					</div>
					
					<div class="row time_default_value">
							<div class="col-md-12 form-group">
								<label class="active" for="id_time_default_value">{% trans "Default value" %}</label>
								<div class="input-group date col-md-12" id="datetimepicker">
									{{ form.time_default_value }}
									<!--  <input id="id_time_default_value" name="time_default_value" class="form-control"/>-->
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
					</div>
					</div>
					
					<br/>
			
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="md-abstract">{% trans "Metadata: Abstract" %}</label>
				        	<textarea class="form-control" name="md-abstract" id="md-abstract" rows="5">{% trans "Some description of the layer" %}</textarea>	     	
				        </div>
					</div>					
            	</div>
			</form>		
		</div>
	</div>				
</div>

<!-- Modal -->
<div class="modal fade" id="modal-new-layer-field" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{% trans "New field" %}</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	$('#menu-manage-services').addClass("active");
	$('#submenu-layers').addClass("active");
	
	$('.save-button').click( function() {
		$("body").overlay();
	});
	
	var date_fields = new Array();
	var fields = new Array();
	var fieldTypes = [{
		key: 'boolean',
		value: 'Boolean'
	},{
		key: 'character_varying',
		value: 'Text'
	},{
		key: 'integer',
		value: 'Integer'
	},{
		key: 'double',
		value: 'Double'
	},{
		key: 'date',
		value: 'Date'
	},{
		key: 'time',
		value: 'Time'
	},{
		key: 'timestamp',
		value: 'Timestamp'
	}];
	
	{% if GVSIGOL_ENABLE_ENUMERATIONS %}
	fieldTypes.push({
		key: 'enumeration',
		value: 'Enumeration'
	});
	
	fieldTypes.push({
		key: 'multiple_enumeration',
		value: 'Multiple enumeration '
	});
	{% endif %}
	
	{% if 'gvsigol_plugin_form' in INSTALLED_APPS %}
	fieldTypes.push({
		key: 'form',
		value: 'Form'
	});
	{% endif %}
	
	function addField(field) {
		
		fields.push(field);
		
		var ui = '';
		ui += '<tr data-rowid="' + field.id + '">';
		ui += 	'<td id="field-name-' + field.id + '">' + field.name + '</td>';
		ui += 	'<td id="field-type-' + field.id + '">' + field.type + '</td>';
		ui += 	'<td><a class="edit-field-' + field.id + '" data-fieldid="' + field.id + '" href="javascript:void(0)"><i class="fa fa-edit text-primary"></i></a></td>';
		ui += 	'<td><a class="delete-field-' + field.id + '" data-fieldid="' + field.id + '" href="javascript:void(0)"><i class="fa fa-times text-danger"></i></a></td>';
		ui += '</tr>';
		
		$('#field-list-table tbody').append(ui);	
		
		$(".edit-field-" + field.id).on('click', function(e){	
			e.preventDefault();
			createModalContent(field.id, 'update');
		});
		
		$(".delete-field-" + field.id).on('click', function(e){	
			e.preventDefault();
			deleteField(field.id);
			
			var data = get_date_fields();
			create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val());
			create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val());
		});
		
		var data = get_date_fields();
		create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val());
		create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val());
		
	};
	
	function get_date_fields() {
		var self = this;
		self.date_fields = [];
		$('#field-list-table tbody').children().each(function(){
			var id = $(this).attr("data-rowid");
			if($("#field-type-"+id).text() == "date"){
				self.date_fields.push($("#field-name-"+id).text());
			}
		});
		
		return self.date_fields;
	}
	
	function updateField(field) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == field.id) {
				fields[i] = null;
				fields[i] = field;
			}
		}
		$('#field-name-'+field.id).text(field.name);
		$('#field-type-'+field.id).text(field.type);
		$('#field-default-value-'+field.id).text(field.defaultValue);
		

		var data = get_date_fields();
		create_date_select("id_time_enabled_field", data, $("#id_time_enabled_field option:selected").val());
		create_date_select("id_time_enabled_endfield", data, $("#id_time_enabled_endfield option:selected").val());
	};
	
	function deleteField(id) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == id) {
				fields.splice(i, 1);
			}
		}
		var tbody = document.getElementById('field-list-table-body');
		for (var i=0; i<tbody.children.length; i++) {
			if(tbody.children[i].dataset.rowid == id) {
				tbody.removeChild(tbody.children[i]);
			}
		}
	};
	
	function getFieldById(id) {
		for (var i=0; i < fields.length; i++) {
			if (fields[i].id == id) {
				return fields[i];
			}
		}
	};
	
	function validateRegex(pattern) {
		return /^[a-zA-Z_@][a-zA-Z0-9_@]*$/.test(pattern);
	};
	
	function createModalContent(fid, mode){
		$('#modal-new-layer-field .modal-body').empty();
		
		var id = Math.random().toString(36).slice(2);
		var ui = '';
		
		var field = null;
		if (mode == 'update') {
			field = getFieldById(fid);
		}
		
		ui += '<div id="field-errors" class="row">';
		ui += '</div>';
		
		ui += '<div class="row">';
		ui += 	'<div class="col-md-12 form-group">';
		ui += 		'<label>' + gettext('Select type') + '</label>';
		ui += 		'<select id="field-db-type" class="form-control">';
		if (mode == 'create') {
			ui += 		'<option disabled selected value> -- ' + gettext('Select type') + ' -- </option>';
			for (var i=0; i<fieldTypes.length; i++) {
				ui += 	'<option value="' + fieldTypes[i].key + '">' + fieldTypes[i].value + '</option>';
			}
		} else if (mode == 'update') {
			for (var i=0; i<fieldTypes.length; i++) {
				if (fieldTypes[i].key == field.type) {
					ui += 	'<option selected value="' + fieldTypes[i].key + '">' + fieldTypes[i].value + '</option>';
				} else {
					ui += 	'<option value="' + fieldTypes[i].key + '">' + fieldTypes[i].value + '</option>';	
				}
			}
		}
		ui += 		'</select>';
		ui += 	'</div>';
		ui += '</div>';	
		
		if (mode == 'create') {
			ui += '<div id="div-name" class="row">';
			ui += '</div>';
			
		} else if (mode == 'update') {
			
			ui += '<div id="div-name" class="row">';
			if ( field.type == 'enumeration') {
				ui += '<div class="col-md-12 form-group">';
				ui += 	'<label>' + gettext('Select enumeration') + '</label>';
				ui += 	'<select id="field-default-value-'+id+'" class="form-control">';
						'{% for enum in enumerations %}'
							if ( '{{enum.name}}' == field.defaultValue) {
								ui += '<option selected value="{{enum.name}}">{{enum.title}}</option>';
							} else {
								ui += '<option value="{{enum.name}}">{{enum.title}}</option>';
							}
						'{% endfor%}'
				ui += 	'</select>';
				ui += '</div>';
				
			} else if ( field.type == 'multiple_enumeration') {
				ui += '<div class="col-md-12 form-group">';
				ui += 	'<label>' + gettext('Select multiple enumeration') + '</label>';
				ui += 	'<select id="field-default-value-'+id+'" class="form-control">';
						'{% for enum in enumerations %}'
							if ( '{{enum.name}}' == field.defaultValue) {
								ui += '<option selected value="{{enum.name}}">{{enum.title}}</option>';
							} else {
								ui += '<option value="{{enum.name}}">{{enum.title}}</option>';
							}
						'{% endfor%}'
				ui += 	'</select>';
				ui += '</div>';
			}else if ( field.type == 'form') {
				ui += '<div class="col-md-12 form-group">';
				ui += 	'<label>' + gettext('Select form') + '</label>';
				ui += 	'<select id="field-default-value-'+id+'" class="form-control">';
						'{% for frm in forms %}'
							if ( '{{frm.name}}' == field.defaultValue) {
								ui += '<option selected value="{{frm.name}}">{{frm.title}}</option>';
							} else {
								ui += '<option value="{{frm.name}}">{{frm.title}}</option>';
							}
						'{% endfor%}'
				ui += 	'</select>';
				ui += '</div>';
			} else{
				ui += '<div class="row">';
				ui += 	'<div class="col-md-12 form-group">';
				ui += 		'<label>' + gettext('Field name') + '</label>';
				if (mode == 'create') {
					ui += 		'<input type="text" id="field-name-'+id+'" name="field-name-'+id+'" class="form-control">';
				} else if (mode == 'update') {
					ui += 		'<input type="text" id="field-name-'+id+'" name="field-name-'+id+'" class="form-control" value="' + field.name + '">';
				}
				ui += 	'</div>';
				ui += '</div>';
			}
			ui += '</div>';
		}
		
		$('#modal-new-layer-field .modal-body').append(ui);
		
		var buttons = '';
		buttons += '<button id="add-field-cancel" type="button" class="btn btn-default" data-dismiss="modal">' + gettext('Cancel') + '</button>';
		if (mode == 'create') {
			buttons += '<button id="add-field-accept" type="button" class="btn btn-default">' + gettext('Save field') + '</button>';
			
		} else if (mode == 'update') {
			buttons += '<button id="update-field-accept" data-fieldid="'+field.id+'" type="button" class="btn btn-default">' + gettext('Edit field') + '</button>';
		}
		
		
		$('#modal-new-layer-field .modal-footer').empty();
		$('#modal-new-layer-field .modal-footer').append(buttons);
		
		$('#field-db-type').on('change', function(e) {
			
			var dv = '';
			
			if ( $('#field-db-type').val() == 'enumeration') {
				dv += '<div class="col-md-12 form-group">';
				dv += 	'<label>' + gettext('Select enumeration') + '</label>';
				dv += 	'<select id="field-name-'+id+'" class="form-control">';
						'{% for enum in enumerations %}'
				dv += 	'<option value="{{enum.name}}">{{enum.title}}</option>';
						'{% endfor%}'
				dv += 	'</select>';
				dv += '</div>';
				
			} else if ( $('#field-db-type').val() == 'multiple_enumeration') {
				dv += '<div class="col-md-12 form-group">';
				dv += 	'<label>' + gettext('Select multiple enumeration') + '</label>';
				dv += 	'<select id="field-name-'+id+'" class="form-control">';
						'{% for enum in enumerations %}'
				dv += 	'<option value="{{enum.name}}">{{enum.title}}</option>';
						'{% endfor%}'
				dv += 	'</select>';
				dv += '</div>';
				
			} else if ( $('#field-db-type').val() == 'form') {
				dv += '<div class="col-md-12 form-group">';
				dv += 	'<label>' + gettext('Select form') + '</label>';
				dv += 	'<select id="field-name-'+id+'" class="form-control">';
						'{% for frm in forms %}'
				dv += 	'<option value="{{frm.name}}">{{frm.title}}</option>';
						'{% endfor%}'
				dv += 	'</select>';
				dv += '</div>';
				
			} else {
				dv += '<div class="col-md-12 form-group">';
				dv += 	'<label>' + gettext('Field name') + '</label>';
				dv += 	'<input type="text" id="field-name-'+id+'" name="field-name-'+id+'" class="form-control">';
				dv += '</div>';
			}
			
			$('#div-name').empty();
			$('#div-name').append(dv);
		});
		
		$('#add-field-accept').on('click', function () {
			var name = $('#field-name-'+id).val();
			var type = $('#field-db-type').val();
			
			if (validateRegex(name)) {
				var field = {
					id: id,
					name: name,
					type: type
				};
				
				addField(field);
				
				$('#modal-new-layer-field').modal('hide');
				
			} else {
				var error = '<p class="text-muted" style="color: #ff0000; padding: 10px;">* ' + gettext('Invalid name: Identifiers must begin with a letter or an underscore (_). Subsequent characters can be letters, underscores or numbers') + '.</p>';
				$('#field-errors').empty();
 				$('#field-errors').append(error);
			}
			
		});
		
		$('#update-field-accept').on('click', function () {
			var name = $('#field-name-'+id).val();
			var type = $('#field-db-type').val();
			
			if (validateRegex(name)) {
				var field = {
					id: this.dataset.fieldid,
					name: name,
					type: type
				};
				
				updateField(field);
				
				$('#modal-new-layer-field').modal('hide');
				
			} else {
				var error = '<p class="text-muted" style="color: #ff0000; padding: 10px;">* ' + gettext('Invalid name: Identifiers must begin with a letter or an underscore (_). Subsequent characters can be letters, underscores or numbers') + '.</p>';
				$('#field-errors').empty();
 				$('#field-errors').append(error);
			}
			
		});
		
		$('#modal-new-layer-field').modal('show');
	};
	
	
	function make_temporal_form(){
		$(".time_presentation").css("display", "none");
		$(".time_default_value").css("display", "none");
		
		var tm_pr = $("#id_time_presentation option:selected").text();
		if(tm_pr == "interval and resolution"){
			$(".time_presentation").css("display", "block");
		}
		
		var tm_dv = $("#id_time_default_value_mode option:selected").text();
		if(tm_dv == "nearest to the reference value" || tm_dv == "reference value"){
			$(".time_default_value").css("display", "block");
			$('#datetimepicker').datetimepicker({
				format: 'DD-MM-YYYY HH:mm:ss',
				showClose: true
			});
		}
		
	};
	
	function rebuildSelect(selectObj, placeholderOptionText, placeholderSelected, extraOptions) {
		selectObj.empty().html(' ');
		var attribs = {
			value: '__disabled__',
			text: placeholderOptionText,
			disabled: 'disabled',
			
		};
		if (placeholderSelected) {
			attribs['selected'] = 'selected';
		} 
		selectObj.append($('<option>', attribs));
		if (extraOptions) {
			for (var i=0; i<extraOptions.length; i++) {
				selectObj.append(extraOptions[i]);
			}
		}
	}
	
	function create_date_select(field, data, previousValue){
		var language = $("#select-language").val();
		var name_select = $("#"+field);
		var placeholderSelected = true;
		
		if (data==null || data.length==0) {
			var text = "{% trans 'Resource contains no fields' %}";
			rebuildSelect(name_select, text, true);
			$.overlayout();
			return;
		}
		var options = [];
		options.push($('<option>'));
		for (var i=0; i<data.length; i++) {
			var attribs = {
				value: data[i],
				text: data[i]
			};
			if (previousValue == data[i]) {
				attribs['selected']='true';
				placeholderSelected = false;
			}
			options.push($('<option>', attribs));
		}
		var text = '{% trans "Choose field" %}';
		rebuildSelect(name_select, text, placeholderSelected, options);
	};

	
	function temporary_field(field){
		if(field.prop("checked")){
			field.parent().addClass("time_enabled-check");
			$(".box-body.time_enabled-check").css("display", "block");
			$("#select2-id_layer_group-container").parent().each(function(){
				//field.css("width", "100%");
			});
		}else{
			field.parent().removeClass("time_enabled-check");
			$(".box-body.time_enabled-check").css("display", "none");
		}
	};
	
	
	$(document).ready(function() {
		// translate default layer group
		var opts = $("#id_layer_group > option");
		for(var i=0; i<opts.length; i++){
			if(opts[i].text =="__default__") {
				opts[i].text ='{% trans "Default" %}';
			}
		}
		
		$('#id_layer_group').select2();
		
		
		var lgs = $("#id_layer_group");
		var lg_options = $(".select2-results__option");
		for (var i=0; i<lg_options.length; i++) {
			text = $(lg_options[i]).text();
			if (text=="__default__") {
				$(lg_options[i]).text('{% trans "Default" %}');
			}
		}
		
		$("#select2-id_layer_group-container").on('change',function() {
			var text = $(this).text();
			if (text=="__default__") {
				$(this).text('{% trans "Default" %}');
			}
		});
		
		$("#add-field-button").on('click', function(e){
			createModalContent(null, 'create');
		});
		
		$("form").submit(function(event) {
			var fieldsAsStr;
			if (fields.length > 0) {
				fieldsAsStr = JSON.stringify(fields);
				
			} else {
				$("#form-error").html("<p>{% trans 'At least one field must be defined' %}</p>").show();
			}
			
			$("#fields").val(fieldsAsStr);
		});
		
		$('#time_enabled').click(function(){
			temporary_field($(this));
		});
		
		temporary_field($('#time_enabled'));

		$("#id_time_presentation").change(function(){
			make_temporal_form();
		});
		
		$("#id_time_default_value_mode").change(function(){
			make_temporal_form();
		})
		
		make_temporal_form();
	});
</script>
{% endblock %}