{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
	<div class="row">
		<div class="col-md-12">
			<div class="box padding-20">
				<form role="form" method="post" action="/gvsigonline/ww_provider_add/">
					{% csrf_token %}
					<div class="box-header with-border">
						<h3 class="box-title">{% trans "Add WorldWind Provider" %}</h3>
						<div class="box-tools pull-right">
							<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-floppy-o margin-r-5"></i> {% trans "Save" %}</button>					
						</div>
					</div>	
					<div class="box-body">
						{% if form.errors %}
						<div id="form-error" style="color:#ff0000;">
							<ul>
							{% for field in form %}
								{% if field.errors %}
									<li>{{field.label}}. {{ field.errors|striptags }}</li>
								{% endif %}	
							{% endfor %}
							{% for field, msg in form.errors.iteritems %}
								<li>{{ msg|striptags }}</li>
							{% endfor %}
							</ul>
						</div>
						{% endif %}
						<!-- <div class="row">
							<div class="col-md-7 form-group">	
								<label for="id_provider">{% trans "Name" %}</label>
								{{ form.name }}									
							</div>
						</div>	 -->
						<div class="row">
							<div class="col-md-7 form-group">	
								<label for="id_project">{% trans "Project" %}</label>
								{{ form.projects }}									
							</div>
						</div>
						<div class="row">
							<div class="col-md-7 form-group">	
								<label for="id_type">{% trans "Type" %}</label>
									{{ form.type }}	
							</div>
						</div>					
						<div class="row" id="select-dir-row" style="display: block;">
							<div class="col-md-7 form-group">							
								<label for="id_directory">{% trans "Directory" %}</label><br>
									<a href="#" id="select-dir-button" style="margin-bottom: 10px;" class="btn btn-default btn-sm"><i class="fa fa-folder-open margin-r-5"></i>{% trans "Select directory" %}</a>					
									{{ form.directory_path }}		
							</div>
						</div>
						<div class="row" id="height-url-row">
							<div class="col-md-7 form-group">	
								<label for="id_heightUrl">{% trans "Height URL" %}</label>
								{{ form.heightUrl }}									
							</div>
						</div>								
						<div class="row" id="layers-row">
							<div class="col-md-7 form-group">	
								<label for="id_layers">{% trans "Layers" %}</label>
								{{ form.layers }}									
							</div>
						</div>								
	
					</div>
                </form>	
			</div>
		</div>				
	</div>


{% endblock %}
{% block extra-scripts %}

	<script>
	$('#menu-manage-plugins').addClass("active");
	$('#submenu-worldwind').addClass("active");
	
	$('#select-dir-button').click(function (e) {
		window.open("/gvsigonline/filemanager/?popup=1","Ratting","width=640, height=480,left=150,top=200,toolbar=0,status=0,scrollbars=1");
	});
	
	window.filemanagerCallback = function(url) {
		document.querySelector("input[id=id_directory]").value = "{{fm_directory}}" + url;
	};
	</script>

{% endblock %}