/* Widget: Layer Tree */
.layer-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
.layer-tree > li {
  /*border-radius: 2px;
  background: #ffffff;
  margin-bottom: 2px;
  border-left: 1px solid #e6e7e8;
  color: #444;*/
}
.layer-tree > li:last-of-type {
  margin-bottom: 0;
}
.layer-tree > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.layer-tree > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
  vertical-align: super;
}
.layer-tree > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.layer-tree > li .tools {
  display: inline-block;
  float: right;
  color: #97a0b3;
}
.layer-tree > li .tools > .fa,
.layer-tree > li .tools > .glyphicon,
.layer-tree > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.layer-tree > li:hover .tools {
  display: inline-block;
}
.layer-tree > li.done {
  color: #999;
}
.layer-tree > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.layer-tree > li.done .label {
  background: #d2d6de !important;
}
.layer-tree .danger {
  border-left-color: #dd4b39;
}
.layer-tree .warning {
  border-left-color: #f39c12;
}
.layer-tree .info {
  border-left-color: #00c0ef;
}
.layer-tree .success {
  border-left-color: #00a65a;
}
.layer-tree .primary {
  border-left-color: #3c8dbc;
}
.layer-tree .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
  /*vertical-align: super;*/
}

.layer-box {
	margin-left: 10px;
	border-top: 0px;
	font-size: 12px;
}

.btn-custom-tool {
	color: #2b2b2b;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
    font-weight: 300;
}

.btn-custom-tool:hover {
	color: #2b2b2b;
    background-color: #eeeeee;
    border-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
    font-weight: 300;
}

.download-btn {
	text-align: center;
}

.download-btn > .fa {
	color: #333;
}

.layer-icon {
	margin-right: -2px;
	margin-top: -8px;
}