{% extends "filemanager_base.html" %}
{% load i18n %}

{% block content %}

	{% include "filemanager_breadcrumbs.html" %}
	
	<form method="post" action="{% url 'filemanager:create-directory' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}">
		{% csrf_token %}
	  	<input type="hidden" name="path" value="{{path}}">
	  	{{form.as_p}}
	  	<p>
	    	<input type="submit" class="btn btn-default" value="{% trans "Create directory" %}">
	  	</p>
	</form>
	
{% endblock %}

{% block extra-scripts %}
	<script>
	$('#menu-manage-files').addClass("active");
	</script>
{% endblock %}