{% load staticfiles %}

<!-- WW DIV -->
<div id="divWW" style="position: absolute; top: 0px; left: 0px; height:100%; width:100%; ">
	<div id="toolbar3d" class="ol-toolbar ol-unselectable ol-control" style="background-color: transparent; display: none;">
		<!--  <button id="measure-length-3d" class="ol-btn-round" title="Medir longitud" >
			<i class="icon-measure-length"></i>
		</button>  
		<button id="measure-area-3d" class="ol-btn-round" title="Medir área" >
			<i class="icon-measure-area"></i>
		</button>
		<button id="clean-map-3d" class="ol-btn-round" title="Limpiar mapa" >
			<i class="fa fa-eraser"></i>  -->
		</button>
	</div>
    <!-- Create a canvas for Web World Wind. -->
    <canvas id="canvasWW" style="width: 100%; height: 100%; display:none;">
        Your browser does not support HTML5 Canvas.
    </canvas>
</div>

<!-- WW DIV must be inside OLMap DIV -->
<script>$("#divWW").detach().prependTo("#map");</script>

<!-- WW library	-->
<script type="text/javascript" src="{% static "js/vendors/worldwind-0.9.0/worldwind.min.js" %}"></script> 	
 
<!-- WW control -->
<script type="text/javascript" src="{% static "js/lib/measureArea3D.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/measureLength3D.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/measureAngle3D.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/ChangeToWWControl.js" %}"></script>

<!-- Get configuration from a project  -->	
<script type="text/javascript">
if (viewer.core.ifToolInConf('gvsigol_plugin_worldwind')) {	
	
	var button = '<li role="presentation"><a id="change-to-3d-view" role="menuitem" tabindex="-1" href="#"><i style="margin-right: 10px;" class="icon-3d"></i>'+gettext("3D View")+'</a></li>';
	$('#gvsigol-navbar-views-menu').append(button);
	
	$.ajax({
		type : 'POST',
		async : false,
		url : '/gvsigonline/ww_provider_conf/{{pid}}/',
		beforeSend : function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		},
		success : function(response) {
			var map = viewer.core.getMap();
			var tool = new ChangeToWWControl(map, response);
			viewer.core.loadTool(tool);			
		},
		error : function() {
			alert("Error loading WorldWind");
		}
	});
}
</script>
