{% load staticfiles %}
{% load i18n %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/tools/staticDownloads.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_staticdownloads')) {
		
		var button = '<li role="presentation"><a id="staticdownloads" role="menuitem" tabindex="-1" href="#"><i class="fa fa-download m-r-5"></i>'+gettext("Downloads")+'</a></li>';
		$('#gvsigol-navbar-file-menu').append(button);
		
		$.ajax({
			type : 'POST',
			async : false,
			url : '/gvsigonline/staticdownloads/get_conf/',
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
			},
			success : function(response) {
				var url = response.downloads_url;
				
				var tool = new StaticDownloads(url, conf, map);
				viewer.core.loadTool(tool);
				
				
			},
			error : function() {
				messageBox.show('error', gettext('Error loading staticdownloads plugin'));
			}
		});
	}
	
	
</script>