{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
{% if user.is_staff %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="box-tools pull-right">
						<button id="button-new-empty-canvas" class="btn btn-block btn-default btn-sm"><i class="fa fa-file-o margin-r-5"></i> {% trans "New" %}</button>
					</div>
					<div class="box-tools pull-right">
						<button id="button-upload-workspace-etl" class="btn btn-block btn-default btn-sm"><i class="fa fa-upload margin-r-5"></i>{% trans "Upload" %}</button>
					</div>
					<div class="box-tools pull-right">
						<button id="button-back-canvas" class="btn btn-block btn-default btn-sm"><i class="fa fa-reply margin-r-5"></i> {% trans "Back" %}</button>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-body">
					<table class="table" id="etl-table">
						<thead>
							<tr>
								<th>{% trans "ID" %}</th>
								<th></th>
								<th>{% trans "Status" %}</th>
								<th>{% trans "Name" %}</th>
								<th>{% trans "Description" %}</th>
								<th>{% trans "Periodicity" %}</th>
								<th>{% trans "User" %}</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for workspace in workspaces %}
								<tr>
									<td> {{ workspace.id }} </td>
									<td></td>
									
										<td>
											<i id ="icon-success-{{ workspace.id }}" class="fa fa-check" style="color:green; display:none" aria-hidden="true"></i> 
											<i id = "icon-running-{{ workspace.id }}" class="fa fa-spinner fa-spin" style=" display:none"></i> 
											<i id ="icon-error-{{ workspace.id }}" class="fa fa-times" style="color:red; display:none" aria-hidden="true" ></i>
										</td>


									<td>{{ workspace.name }}</td>
									<td>{{ workspace.description }}</td>
									{% if workspace.every %}
										<td>{{ workspace.every }} {{ workspace.period }}</td>
									{% elif workspace.day_of_week%}
										<td>{{ workspace.day_of_week }} {{ workspace.hour }}:{{ workspace.minute }}</td>
									{% else %}
										<td></td>
									{% endif %}
									<td> {{ workspace.username }} </td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>      

	<!-- Modals -->
	<div class="modal fade" id="modal-delete-workspace-etl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Delete workspace" %}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 form-group">
							<p style="font-weight: 600;">{% trans "The ETL workspace and its parameters will be deleted" %}</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="button-delete-workspace-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					<button id="button-delete-workspace-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
				</div>
			</div>
		</div>
	</div>

<!-- MODALS-->
<!-- Modal to update a workspace-->
	<div id="modal-update-workspace-etl" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans "Update ETL Workspace" %}</h4>
				</div>

				<div class="modal-body">
					<form id="layer-group-form" role="form">

						<div class="row">
							<div class="col-md-12">
								<label for="etl_id">ID</label>
								<input placeholder = "{% trans 'ETL Workspace ID' %}" name="etl_id" id="etl_id" type="text" class="form-control">
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="etl_name">{% trans "Name" %}</label>
								<input placeholder="{% trans 'ETL Workspace name' %}" name="etl_name" id="etl_name" type="text" class="form-control">							
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="etl_desc">{% trans "Description" %}</label>
								<input placeholder="{% trans 'ETL Workspace description' %}" name="etl_desc" id="etl_desc" type="text" class="form-control">								
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<input type="checkbox" name="repeat_periodically" id="repeat_periodically"/>	
								<label for="repeat_periodically">{% trans "Run periodically?" %}</label>&nbsp;&nbsp;										
							</div>
							
							<div class="col-md-6 repeat_periodically_time" >
								<select class="form-control" style="width: 100%;" id="ws-program-day" name="ws-program-day">
									<option value="all">{% trans 'All days' %}</option>
									<option value="monday">{% trans 'Monday' %}</option>
									<option value="tuesday">{% trans 'Tuesday' %}</option>
									<option value="wednesday">{% trans 'Wednesday' %}</option>
									<option value="thursday">{% trans 'Thursday' %}</option>
									<option value="friday">{% trans 'Friday' %}</option>
									<option value="saturday">{% trans 'Saturday' %}</option>
									<option value="sunday">{% trans 'Sunday' %}</option>
									<option value="every">{% trans 'Every' %} ...</option>
								</select> 	
							</div>
							<div class="more-hour-options">
								<div class="col-md-6 repeat_periodically_time">
									<div class="form-group">
										<div class='input-group date'>
											<input type='text' class="form-control" id='ws-program-time' name='ws-program-time' placeHolder="HH:mm:ss"/>
											<span class="input-group-addon">
											</span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="more-options">
								<div class="col-md-12 repeat_periodically_time">
									<label>{% trans "Run workspace every..." %}</label>
								</div>
							
								<div class="col-md-6 repeat_periodically_time">
									<input placeholder="{% trans 'Select number of...' %}" name="ws-program-interval" id="ws-program-interval" type="number" value=1 class="form-control">
								</div>
								
								<div class="col-md-6 repeat_periodically_time">
									<select class="form-control" style="width: 100%;" id="ws-program-unit" name="ws-program-unit">
										<option value="empty">{% trans '... time measure' %}</option>
										<option value="minutes">{% trans 'minutes' %}</option>
										<option value="hours">{% trans 'hours' %}</option>
										<option value="days">{% trans 'days' %}</option>
									</select>
								</div>
							</div>
						</div>
						{% if user.is_superuser %}
							<div class="row">
								<div class="col-md-12">
									<input type="checkbox" name="change_superuser" id="change_superuser"/>
									<label for="change_superuser">{% trans 'Change to superuser?' %}</label>											
								</div>
							</div>
						{% endif %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Close" %}</button>
					<button type="button" class="btn btn-default btn-sm" id="update-etl-workspace">{% trans "Update" %}</button>
				</div>
			</div>
		</div>
	</div>

    <!-- Modal name and user is already in database-->
    <div class="modal fade" id="modal-ws-exists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Not allowed' %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <p style="font-weight: 600;">{% trans 'In database already exists a workspace with the same name and the same user' %}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button-ws-exists-accept" type="button" class="btn btn-default">{% trans 'Accept' %}</button>
                </div>
            </div>
        </div>
    </div>

	<div id="modal-upload-workspace-etl" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans "Upload ETL Workspace" %}</h4>
				</div>

				<div class="modal-body">
					<form id="layer-group-form" role="form">

						<div class="row">
							<div class="col-md-12">
								<label for="etl_name">{% trans "Name" %}</label>
								<input placeholder="{% trans 'ETL Workspace name' %}" name="etl_name" id="etl_name_upload" type="text" class="form-control">							
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="etl_desc">{% trans "Description" %}</label>
								<input placeholder="{% trans 'ETL Workspace description' %}" name="etl_desc_upload" id="etl_desc_upload" type="text" class="form-control">								
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="etl_json">{% trans "ETL Workspace JSON" %}</label>
								<div>
									<a href="#" id="select-file-button-0" style="float: left" class="btn btn-default btn-sm"><i class="fa fa-folder-open margin-r-5"></i>Select file</a>
									<div style="overflow: hidden; padding-right: .5em;">
										<input  placeholder = "{% trans 'ETL Workspace JSON' %}" name="etl_json" id="etl_json_upload" type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Close" %}</button>
					<button type="button" class="btn btn-default btn-sm" id="upload-etl-workspace">{% trans "Upload" %}</button>
				</div>
			</div>
		</div>
	</div>

{% endif %}

{% endblock %}

{% block extra-scripts %}

<script>
	$('#menu-manage-plugins').addClass("active");
	$('#submenu-etl').addClass("active");

	username = '{{ user.username }}'

	$(document).ready(function() {
		var table = $('#etl-table').DataTable({
			responsive: true,
			language: {
				processing		: '{% trans "Processing request..." %}',
				search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
				lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
				info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
				infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
				infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
				infoPostFix		: "",
				loadingRecords	: '{% trans "Loading..." %}',
				zeroRecords		: '{% trans "No records available" %}',
				emptyTable		: '{% trans "No records available" %}',
				paginate: {
					first		: '{% trans "First" %}',
					previous	: '{% trans "Previous" %}',
					next		: '{% trans "Next" %}',
					last		: '{% trans "Last" %}'
				},
				aria: {
					sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
					sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
				}
			},
			"columnDefs": [{
				"targets": -2,
				"data": null,
				"defaultContent": '<button type="button" name="button-delete-workspace-etl" data-toggle="modal" data-toggle-second="tooltip" data-target="#modal-delete-workspace-etl" data-placement="bottom" title="' + '{% trans "Delete workspace" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
			},{
				"targets": -3,
				"data": null,
				"defaultContent": '<button type="button" name="button-update-workspace-etl" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update workspace" %}' + '" class="btn btn-warning"><i class="fa fa-edit"></i></button>'
				
			},{
				"targets": -4,
				"data": null,
				"defaultContent": '<button type="button" name="button-open-workspace-etl" data-toggle="tooltip"  data-placement="bottom" title="' + '{% trans "Open workspace" %}' + '" class="btn btn-success"><i class="fa fa-folder-open"></i></button>'
			},{
				"targets": -1,
				"data": null,
				"defaultContent": '<button type="button" name="button-download-workspace-etl" data-toggle="tooltip"  data-placement="bottom" title="' + '{% trans "Download workspace" %}' + '" class="btn btn-primary"><i class="fa fa-download"></i></button>'
			},{
				"targets": 1,
				"data": null,
				"defaultContent": '<button type="button" name="button-run-workspace-etl" data-toggle="tooltip"  data-placement="bottom" title="' + '{% trans "Run workspace" %}' + '" class="btn btn-light"><i class="fa fa-play"></i></button>'
			}],
			"dom": 'T<"clear">lfrtip',
			"bLengthChange": false
		});


		$('[data-toggle-second="tooltip"]').tooltip();

		$('#button-back-canvas').on('click', function (){
			window.history.back();
		});

		$('#button-new-empty-canvas').on('click', function (){
			location.href = '/gvsigonline/etl/etl_canvas/';
		});

		upload = false

		$('#button-upload-workspace-etl').on('click', function (){
		$('#modal-upload-workspace-etl').modal('show')
				fm_directory = '{{ fm_directory }}'
				getPathFile('json', '0')
		})

		$("#upload-etl-workspace").on('click', function(){

			$.ajax({
					type: 'POST',
					async: false,
					data: {
						"name": $("#etl_name_upload").val(),
						"description": $("#etl_desc_upload").val(),
						"file": $("#etl_json_upload").val(),
						"username": username
					},
					url: '/gvsigonline/etl/etl_workspace_upload/',
					beforeSend:function(xhr){
						xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
					},
					success	:function(response){
						$('#modal-upload-workspace-etl').modal('hide');
						$("#etl_name_upload").val("")
						$("#etl_desc_upload").val("")
						$("#etl_json_upload").val("")

						if(response['exists']=="true"){
							upload = true
							$('#modal-ws-exists').modal('show')
							
						}else{
							location.reload();
						}
					},
					error: function(){}
				});

		})
		

		$('#etl-table tbody').on('click', 'button', function (){
			var row = table.row($(this).parents('tr'));
			var data = row.data();
			if (this.name == "button-update-workspace-etl") {
				
				$(".modal-body #etl_id").val( data[0] );
				$(".modal-body #etl_name").val( data[3] );
				$(".modal-body #etl_desc").val( data[4] );

				if(data[4]!=''){
					$("#repeat_periodically").prop('checked', true)
					$(".repeat_periodically_time").slideDown("slow");

					if(data[4].includes(':')){

						$(".more-options").slideUp("slow"); 
						$(".more-hour-options").slideDown("slow");
						
						$(".modal-body #ws-program-day").val(data[4].split(' ')[0])
						$(".modal-body #ws-program-time").val(data[4].split(' ')[1]+':00')

					}else{

						$(".more-options").slideDown("slow");  // checked
						$(".more-hour-options").slideUp("slow");

						$(".modal-body #ws-program-day").val('every')
						$(".modal-body #ws-program-interval").val(data[4].split(' ')[0])
						$(".modal-body #ws-program-unit").val(data[4].split(' ')[1])

					}
				
				}else{
					$("#repeat_periodically").prop('checked', false)
					$(".repeat_periodically_time").slideUp("slow");
				}
				

				$('#modal-update-workspace-etl').modal('show')
				
				updateWorkspace(data)
				
				
			} else if (this.name == "button-delete-workspace-etl"){
				deleteWorkspace(data);   
			}

			else if (this.name == "button-open-workspace-etl"){
				openWorkspace(data);  
			}

			else if (this.name == "button-download-workspace-etl"){
				location.href = '/gvsigonline/etl/etl_workspace_download/?lgid=' + data[0]
			}

			else if (this.name == "button-run-workspace-etl"){
				runWorkspace(data);  
			}

		});

		function runWorkspace(data){

			$.ajax({
				type: 'POST',
				async: false,
				data: {
					"id_ws": data[0],
					'jsonCanvas': false
				},
				url: '/gvsigonline/etl/etl_read_canvas/',
				beforeSend:function(xhr){
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(){},
				error: function(){}
			});

		}
			
		function openWorkspace(data){	
				
			location.href = '/gvsigonline/etl/etl_canvas/?lgid=' + data[0];
			
		}

		function deleteWorkspace(data){
			$('#button-delete-workspace-accept').click( function() {
				$.ajax({
					type: 'POST',
					async: false,
					data: {
						"lgid": data[0]
					},
					url: '/gvsigonline/etl/etl_workspace_delete/',
					beforeSend:function(xhr){
						xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
					},
					success	:function(response){
						$('#modal-delete-workspace-etl').modal('hide');
						location.reload();
					},
					error: function(){}
				});
			});
		};

		function updateWorkspace(data){
			
			$('#update-etl-workspace').click( function() {

				updateData = {"id": data[0], 
							"name": $(".modal-body #etl_name").val(), 
							"description": $(".modal-body #etl_desc").val(), 
							"workspace": data[3],
							"day": $(".modal-body #ws-program-day").val(),
							"time": $(".modal-body #ws-program-time").val(),
							"interval": $(".modal-body #ws-program-interval").val(),
							"unit": $(".modal-body #ws-program-unit").val(),
							"username": username
						}
				
				if($("#repeat_periodically").is(':checked')){
					updateData["checked"] = true
				} else {
					updateData["checked"] = false
				}

				if($("#change_superuser").is(':checked')){
					updateData["superuser"] = true
				} else {
					updateData["superuser"] = true
				}

				$.ajax({
					type: 'POST',
					async: false,
					data: updateData,
					url: '/gvsigonline/etl/etl_workspace_update/',
					beforeSend:function(xhr){
						xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
					},
					success	:function(response){
						
						$('#modal-update-workspace-etl').modal('hide');
						if(response['exists']=="true"){
							$('#modal-ws-exists').modal('show')
						}else{
							location.reload();
						}
					},
					error: function(){}
				});
			});
		};
	});

    $('#button-ws-exists-accept').on('click', function(){
        $('#modal-ws-exists').modal('hide')
		if (upload == true){
			$('#modal-upload-workspace-etl').modal('show')
			upload = false
		}else{
			$('#modal-update-workspace-etl').modal('show')
		}
        

    })	


	$(".more-hour-options").slideUp("slow")
	
	$('#repeat_periodically').click(function() {

		if($("#repeat_periodically").is(':checked'))
			$(".repeat_periodically_time").slideDown("slow");  // checked
		else
			$(".repeat_periodically_time").slideUp("slow"); 
	});

	function edit_progamming_form(value){
		 if(value == "every"){
			 $(".more-options").slideDown("slow");  // checked
			 $(".more-hour-options").slideUp("slow"); 
		 }else{
			$(".more-options").slideUp("slow"); 
			$(".more-hour-options").slideDown("slow"); 
		 }
	}

	$('#ws-program-time').datetimepicker({
		format: 'HH:mm:ss' 
	});
	
	$('#ws-program-day').on('change', function() {
		edit_progamming_form($(this).val());
	});

    function actualizarInfoPanel(data){

		for(var i=0;i<data["workspaces"].length; i++){

			var workspace = data["workspaces"][i];
			var id = workspace["id_ws"];
			var msg = workspace["message"];
			var status = workspace['status'];

			if(status == ''){

				$("#icon-success-"+id).css("display", "none");
				$("#icon-running-"+id).css("display", "none");
				$("#icon-error-"+id).css("display", "none");

			}

			if(status == 'Running'){

				
				$("#icon-success-"+id).css("display", "none");
				$("#icon-running-"+id).css("display", "inline-block");
				$("#icon-running-"+id).attr("title", msg);
				$("#icon-error-"+id).css("display", "none");
				
			}
			if(status == 'Success'){

				$("#icon-success-"+id).css("display", "inline");
				$("#icon-success-"+id).attr("title", msg);
				$("#icon-running-"+id).css("display", "none");
				$("#icon-error-"+id).css("display", "none");

			}
			if(status == 'Error'){

				$("#icon-success-"+id).css("display", "none");
				$("#icon-running-"+id).css("display", "none");
				$("#icon-error-"+id).css("display", "inline");
				$("#icon-error-"+id).attr("title", msg);

			}
		}

    }

    function getCurrentCanvasStatus(){
		$.ajax({
			//type: 'GET',
        	type: 'POST',
			async: true,
		  	url: '/gvsigonline/etl/etl_list_canvas_status/',
		  	beforeSend:function(xhr){
		    	xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
		  	},
		  	success	:function(response){
		  		actualizarInfoPanel(response);  		
			},
		  	error: function(response){
				actualizarInfoPanel(response);	
		  	}
		});
		return false;
    }

	function startCurrentCanvasStatus(){
		interval = setInterval(function(){ 
			getCurrentCanvasStatus();
		}, 3000);
	}

    startCurrentCanvasStatus();
    getCurrentCanvasStatus()

</script>
<script type="text/javascript" src="{% static "js/lib/draw2d.js" %}"></script>
<script type="text/javascript" src="{% static "js/TableShape.js" %}"></script>

{% endblock %}