{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 form-group">
					<div id=toolbar-etl class="box-tools pull-right"> </div>
			</div>
		</div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "ETL - Extract, Transform & Load" %}</h3>
                <div class="box-tools pull-right">        
                    <div class="btn-group" >
                        <button class="btn btn-success" type="button" id="button-inputs" data-toggle="dropdown" data-toggle-second="tooltip" data-placement="top"  title='{% trans "Inputs" %}'> <i class="fa fa-sign-in"></i> </button>
                        <div class="dropdown-menu">
                            <li><a data-shape="input_Csv" class="palette_node_element draw2d_droppable dropdown-item">CSV</a></li>
                            <li><a data-shape="input_Excel" class="palette_node_element draw2d_droppable dropdown-item">Excel</a></li>
                            <li><a data-shape="input_Shp" class="palette_node_element draw2d_droppable dropdown-item">Shapefile</a></li>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" role="button" id="button-tasks" data-toggle="dropdown" data-toggle-second="tooltip" data-placement="top" title='{% trans "Transformers" %}'> <i class="fa fa-cogs"></i>  </button>
                        <div class="dropdown-menu">
                            <li><a data-shape="trans_CadastralGeom" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Cadastral Geometry" %}</a></li>
                            <li><a data-shape="trans_Calculator" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Calculator" %}</a></li>
                            <li><a data-shape="trans_Counter" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Counter" %}</a></li>
                            <li><a data-shape="trans_CreateAttr" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Create Attribute" %}</a></li>
                            <li><a data-shape="trans_Filter" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Filter" %}</a></li>
                            <li><a data-shape="trans_Join" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Join" %}</a></li>
                            <li><a data-shape="trans_KeepAttr" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Keep Attribute"%}</a></li>
                            <li><a data-shape="trans_ModifyValue" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Modify Value" %}</a></li>
                            <li><a data-shape="trans_RemoveAttr" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Remove Attribute" %}</a></li>
                            <li><a data-shape="trans_RenameAttr" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Rename Attribute" %}</a></li>
                            <li><a data-shape="trans_Reproject" class="palette_node_element draw2d_droppable dropdown-item">{% trans "Reproject" %}</a></li>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-warning" role="button" id="button-outputs" data-toggle="dropdown" data-toggle-second="tooltip" data-placement="top" title='{% trans "Outputs" %}'> <i class="fa fa-sign-out"></i> </button>
                        <div class="dropdown-menu">
                            <li><a  data-shape="output_Postgis" class="palette_node_element draw2d_droppable dropdown-item">PostGIS</a></li>
                            <li><a data-shape="output_Postgresql" class="palette_node_element draw2d_droppable dropdown-item">PostgreSQL</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="canvas-parent">
            <div id="canvas-etl"></div>
        </div>
        <div id="jsonCanvas"></div>
    </div>    
</div>
 
{% endblock %}

{% block extra-scripts %}
<script>
    
    $('#menu-manage-plugins').addClass("active");
    $('#submenu-etl').addClass("active");

    lgid = '{{ id }}'
    name_ws = '{{ name }}'
    description_ws = '{{ description }}'
    workspace = '{{ workspace }}'
    fm_directory = '{{ fm_directory }}'
    

    if('{{day_of_week}}'){
        dataPeriodic = '{{day_of_week}}'+' '+'{{hour}}'+':'+'{{minute}}'
    }else if('{{every}}'){
        dataPeriodic = '{{every}}'+' '+'{{period}}'
    }else{
        dataPeriodic = ''
    }

    function htmlDecode(input){
        var e = document.createElement('textarea');
        e.innerHTML = input;
        // handle case of empty input
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    };

    if(workspace){
        var cnv = JSON.parse(htmlDecode(workspace))
    };

    srs = JSON.parse(htmlDecode('{{ srs }}').replaceAll("'", '"'))

    function actualizarInfoPanel(data){
        if(data.status == ''){

            $("#icon-success").css("display", "none");
            $("#icon-running").css("display", "none");
            $("#icon-error").css("display", "none");

        }

        if(data.status == 'Running'){

            $("#button-run").attr("title", data.message);
            $("#icon-success").css("display", "none");
            $("#icon-running").css("display", "inline-block");
            $("#icon-error").css("display", "none");
			
        }
        if(data.status == 'Success'){

            $("#button-run").attr("title", data.message);
            $("#icon-success").css("display", "inline");
            $("#icon-running").css("display", "none");
            $("#icon-error").css("display", "none");

        }
        if(data.status == 'Error'){

            $("#button-run").attr("title", data.message);
            $("#icon-success").css("display", "none");
            $("#icon-running").css("display", "none");
            $("#icon-error").css("display", "inline");

        }

    }

    function getCurrentCanvasStatus(){
		$.ajax({
			//type: 'GET',
        	type: 'POST',
			async: true,
		  	url: '/gvsigonline/etl/etl_current_canvas_status/',
		  	beforeSend:function(xhr){
		    	xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
		  	},
		  	success	:function(response){
		  		actualizarInfoPanel(response);  		
			},
		  	error: function(response){
				actualizarInfoPanel(response);	
		  	}
		});
		return false;
    }

	function startCurrentCanvasStatus(){
		interval = setInterval(function(){ 
			getCurrentCanvasStatus();
		}, 5000);
	}

    startCurrentCanvasStatus();
    getCurrentCanvasStatus()

</script>

<link type="text/css" rel="stylesheet" href="{% static "css/style_etl.css" %}">

<script type="text/javascript" src="{% static "js/lib/draw2d.js" %}"></script>

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript" src="{% static "js/Application.js" %}"></script>
<script type="text/javascript" src="{% static "js/View.js" %}"></script>
<script type="text/javascript" src="{% static "js/Toolbar.js" %}"></script>
<script type="text/javascript" src="{% static "js/TableShape.js" %}"></script>
<script type="text/javascript" src="{% static "js/SchemaCanvas.js" %}"></script>



{% endblock %}