* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.draw2d_InputPort{
	fill:#F7F7F7;
	stroke:#d7d7d7;
 }
 .draw2d_OutputPort{
	fill:#F7F7F7;
	stroke:#d7d7d7;
 }

#canvas-parent {
	height: 78vh;
	border: 4px;
	position: relative;
	overflow: scroll;
	background-color: #fff;
}

#canvas-etl{
	width: 6000px;
	height: 6000px;
}

#schema-calculator{
	list-style-type: none;
	width: 31%;
	background-color: #f1f1f1;
	position: fixed;
	height: 29%;
	overflow: auto;
	cursor: pointer;
}
#functions-calculator{
	list-style-type: none;
	width: 31%;
	background-color: #f1f1f1;
	position: fixed;
	height: 29%;
	overflow: auto;
	cursor: pointer;
}

#icon-success{
	color: green
}

#icon-error{
	color: red
}

.palette_node_element {
	
	cursor: move;
	padding-left: 10px;

}

.column20
{
    float: left;
    width: 20%;
}

.column30
{
    float: left;
    width: 30%;
}


.column33
{
    float: left;
    width: 33%;
}

.column40
{
    float: left;
    width: 40%;
}
.column50
{
    float: left;
    width: 50%;
}

.column60
{
    float: left;
    width: 60%;
}

.column66
{
    float: left;
    width: 66%;
}

.column80
{
    float: left;
    width: 80%;
}

