{% extends "base.html" %} 
{% load staticfiles %} 
{% load i18n %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box">
		
			<div class="box-header with-border">
				<h3 class="box-title">{% trans "Providers list" %}</h3>
				{% if user.is_superuser %}
				<div class="box-tools pull-right">
					<button id="button-add-provider" class="btn btn-block btn-default btn-sm"><i class="fa fa-plus margin-r-5"></i> {% trans "Add provider" %}</button>
				</div>
				{% endif %}
			</div>
			
			<div class="box-body">
				<table class="table" id="providers-table">
					<thead>
						<tr>
							<th>ID</th>	
							<th>{% trans "Project" %}</th>
							<th>{% trans "Type" %}</th>
							<th>{% trans "Height URL" %}</th>
							<th>{% trans "Directory Path" %}</th>
							<th>{% trans "Layers" %}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for provider in providers %}
						<tr>
							<td>{{ provider.id }}</td>
							<td>{{ provider.project.name }}</td>
							<td>{{ provider.type }}</td>
							<td>{{ provider.heightUrl }}</td>
							<td>{{ provider.directory_path }}</td>
							<td>{{ provider.layers }}</td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>      

<!-- Modal -->
<div class="modal fade" id="modal-delete-provider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Delete provider" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "The provider will be removed, Do you want continue?" %}</p>
			</div>
			<div class="modal-footer">
				<button id="button-delete-provider-cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button id="button-delete-provider-accept" type="button" class="btn btn-default">{% trans "Accept" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
	$('#menu-manage-plugins').addClass("active");
	$('#submenu-worldwind').addClass("active");
</script>
<script>
$(document).ready(function() {
	var table = $('#providers-table').DataTable({
		responsive: true,
	    language: {
	    	processing		: '{% trans "Processing request..." %}',
		    search			: '{% blocktrans with sep="&nbsp;:" %}Search{{sep}}{% endblocktrans %}',
		    lengthMenu		: '{% blocktrans with numrecords="_MENU_" %}Showing {{numrecords}} records{% endblocktrans %}',
		    info			: '{% blocktrans with start="_START_" end="_END_" numrecords="_TOTAL_" %}Showing from {{start}} to {{end}} of {{numrecords}} records{% endblocktrans %}',
		    infoEmpty		: '{% trans "Showing from 0 to 0 of 0 records" %}',
		    infoFiltered	: '{% blocktrans with max="_MAX_" %}Filtering {{max}} records{% endblocktrans %}',
		    infoPostFix		: "",
		    loadingRecords	: '{% trans "Loading..." %}',
		    zeroRecords		: '{% trans "No records available" %}',
		    emptyTable		: '{% trans "No records available" %}',
		    paginate: {
		    	first		: '{% trans "First" %}',
		        previous	: '{% trans "Previous" %}',
		        next		: '{% trans "Next" %}',
		        last		: '{% trans "Last" %}'
		    },
		    aria: {
		        sortAscending: '{% blocktrans with sep=": " %}{{sep}}Sort ascending{% endblocktrans %}',
		        sortDescending: '{% blocktrans with sep=": " %}{{sep}}Sort descending{% endblocktrans %}'
		    }
		},
		"columnDefs": [{
	        "targets": -1,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-delete-provider" data-toggle="modal" data-target="#modal-delete-provider" data-placement="bottom" title="' + '{% trans "Delete provider" %}' + '" class="btn btn-danger"><i class="fa fa-times"></i></button>'
	    }/*,{
	        "targets": -2,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-update-toc" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "TOC order" %}' + '" class="btn btn-warning"><i class="fa fa-sort-numeric-asc"></i></button>'
	    },{
	        "targets": -3,
	        "data": null,
	        "defaultContent": '<button type="button" name="button-update-provider" data-toggle="tooltip" data-placement="bottom" title="' + '{% trans "Update provider" %}' + '" class="btn btn-success"><i class="fa fa-edit"></i></button>'
	    }*/],
	    "dom": 'T<"clear">lfrtip',
		"bLengthChange": false
	});
		 
	$('#providers-table tbody').on('click', 'button', function (){
		var row = table.row($(this).parents('tr'));
	    var data = row.data();     
	    if (this.name == "button-update-provider") {
	    	updateProvider(data);
	    	
	    } else if (this.name == "button-delete-provider"){
	        deleteProvider(data, row);   
	    }
	});
	
	$('#button-add-provider').click( function() {
		location.href = '/gvsigonline/ww_provider_add/';
	});

	function updateProvider(data){			
		location.href = '/gvsigonline/ww/provider_update/' + data[0] + '/';
	}
	
	/*function updateToc(data){			
		location.href = '/gvsigonline/ww/toc_update/' + data[0] + '/';
	}*/

	function deleteProvider(data, row){
		$('#button-delete-provider-accept').click( function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/gvsigonline/ww_provider_delete/' + data[0] + '/',
				beforeSend:function(xhr){
				    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success	:function(response){
					$('#modal-delete-provider').modal('hide');
					location.reload();
				},
				error: function(){}
			});
		});
	}
	    
});
</script>
{% endblock %}