<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load include_if_exists %}
<html>
<head>
	
	<title>{{GVSIGOL_NAME}}</title>
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="stylesheet" href="{% static "js/vendors/bootstrap-3.3.7/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/fontcustom2/fontcustom.css" %}">
	<link rel="stylesheet" href="{% static "js/vendors/ol-4.0.1/ol.css" %}">
	<link rel="stylesheet" href="{% static "css/googlefonts.css" %}">
	<link rel="stylesheet" href="{% static "css/gvsigOL.css" %}">
	<link rel="stylesheet" href="{% static "css/skins/_all-skins.min.css" %}">
    
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body class="hold-transition layout-top-nav">

	<div class="wrapper">

		<header class="main-header">
			<nav class="navbar navbar-static-top background-grey">
				<div class="container">
					<div class="navbar-header index">
        				<img src="{% static "img/logo_small.png"%}">
					</div>
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<li>
								<img id="logo-ue" style="max-height: 60px; margin-right: 10px;" src="{% static "img/logo_ue.png"%}">
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="content-wrapper background-grey">
			<div class="container">
				<section class="content background-grey">
				
					<ul class="nav nav-tabs">
			          	<li class="active"><a href="#tab-wms" data-toggle="tab">{% trans "WMS Services" %}</a></li>
			          	<li><a href="#tab-wmts" data-toggle="tab">{% trans "WMTS Services" %}</a></li>
			          	<li><a href="#tab-wfs" data-toggle="tab">{% trans "WFS Services" %}</a></li>
			          	<li><a href="#tab-csw" data-toggle="tab">{% trans "CSW Services" %}</a></li>
			        </ul>
			        
			        <div class="tab-content">
			        
			        	<div class="tab-pane active" id="tab-wms">
			        		<div class="box">
								<div class="box-body">
					          		<table style="width: 100%;">
				          				<tr>
											<th>{% trans "Title" %}</th>
										    <th>{% trans "URL" %}</th>
										</tr>
					          			{% for s in wms %}			
										<tr>
											<td style="width: 30%;">{{ s.title }}</td>
											<td style="width: 70%;"><a style="color: #009ABB;text-decoration: none;" href="{{ s.url_path }}?service=WMS&request=getCapabilities" target="_blank">{{ s.url_path }}</td>	
<!-- 									    	<td style="width: 70%;"><a style="color: #009ABB;text-decoration: none;" class="wms-capabilities-link" data-url="{{ s.url_path }}" href="#">{{ s.url_path }}</td>										 -->
									    </tr>
										{% endfor %}
									</table>
								</div>
							</div>
			          	</div>
			          	
			          	<div class="tab-pane" id="tab-wmts">
			          		<div class="box">
								<div class="box-body">
					          		<table style="width: 100%;">
				          				<tr>
											<th>{% trans "Title" %}</th>
										    <th>{% trans "URL" %}</th>
										</tr>
					          			{% for s in wmts %}			
										<tr>
											<td style="width: 30%;">{{ s.title }}</td>
											<td style="width: 70%;"><a style="color: #009ABB;text-decoration: none;" href="{{ s.url_path }}?service=WMTS&request=getCapabilities" target="_blank">{{ s.url_path }}</td>	
									    </tr>
										{% endfor %}
									</table>
								</div>
							</div>
			          	</div>
			          	
			          	<div class="tab-pane" id="tab-wfs">
			          		<div class="box">
								<div class="box-body">
					          		<table style="width: 100%;">
				          				<tr>
											<th>{% trans "Title" %}</th>
										    <th>{% trans "URL" %}</th>
										</tr>
					          			{% for s in wfs %}			
										<tr>
											<td style="width: 30%;">{{ s.title }}</td>
											<td style="width: 70%;"><a style="color: #009ABB;text-decoration: none;" href="{{ s.url_path }}?service=WFS&request=getCapabilities" target="_blank">{{ s.url_path }}</td>	
									    </tr>
										{% endfor %}
									</table>
								</div>
							</div>
			          	</div>
			          	
			          	<div class="tab-pane" id="tab-csw">
			          		<div class="box">
								<div class="box-body">
					          		<table style="width: 100%;">
				          				<tr>
											<th>{% trans "Title" %}</th>
										    <th>{% trans "URL" %}</th>
										</tr>
					          			{% for s in csw %}			
										<tr>
											<td style="width: 30%;">{{ s.title }}</td>
											<td style="width: 70%;"><a style="color: #009ABB;text-decoration: none;" href="{{ s.url_path }}?service=CSW&request=getCapabilities" target="_blank">{{ s.url_path }}</td>	
									    </tr>
										{% endfor %}
									</table>
								</div>
							</div>
			          	</div>
			          	
			        </div>

				</section>
			</div>
		</div>

		<footer class="main-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 center">
						<img class="custom-footer-img" style="width: 100%;">
					</div>
				</div>
			</div>
		</footer>

		
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modal-capabilities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans "Service capabilities" %}</h4>
				</div>
				<div class="modal-body ativa-scroll">
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery-3.6.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jscookie/jscookie-2.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQueryUI/jquery-ui.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/jQuery/jquery.easy-overlay.js" %}"></script>
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<script type="text/javascript" src="{% static "js/vendors/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/slimScroll/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/fastclick/fastclick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/proj4js/proj4.js" %}"></script>
	<script type="text/javascript" src="{% static "js/vendors/ol-4.0.1/ol.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/gvsigOL.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/widgets/messageBox.js" %}"></script>
	<script>
		var messageBox = new messageBox();
	</script>
	
	<script type="text/javascript">
	  $(document).ready(ajustamodal);
	  $(window).resize(ajustamodal);
	  function ajustamodal() {
	    var altura = $(window).height() - 155; //value corresponding to the modal heading + footer
	    $(".ativa-scroll").css({"height":altura,"overflow-y":"auto"});
	  }
	</script>
	
	<script type="text/javascript">
	
	$().ready(function() {
		$('.wms-capabilities-link').on('click', function(){
			var capabilitiesUrl = this.dataset.url + '?service=WMS&request=getCapabilities';
			getWmsCapabilities(capabilitiesUrl);
		});
		
		$('a[href="wms-capabilities-link"]').click(function(){
		      alert('Sign new href executed.'); 
		   });
		
		$('.wfs-capabilities-link').on('click', function(){
			var capabilitiesUrl = this.dataset.url + '?service=WFS&request=getCapabilities';
			getWfsCapabilities(capabilitiesUrl);
		});
		
		function getWmsCapabilities(url){
			var parser = new ol.format.WMSCapabilities();

		  	fetch(url).then(function(response) {
		   		return response.text();
		   		
		  	}).then(function(text) {
		   		var jsonCapabilities = parser.read(text);
		   		$('#modal-capabilities .modal-body').empty();
		   		$('#modal-capabilities .modal-body').append(wmsCapabilitiesToHtml(jsonCapabilities));
				$('#modal-capabilities').modal('show');
				
		   	});
		}
		
		function getWfsCapabilities(url){
			console.log('Get WFS Capabilities');
		}
		
		function wmsCapabilitiesToHtml(jsonCapabilities){
			var html = '';
			html += '<section class="invoice">';
			html += 	'<div class="row">';
			html += 		'<div class="col-xs-12">';
			html += 			'<h2 class="page-header">';
			html += 				'<i class="fa fa-globe"></i> WMS Capabilities';
			html += 				'<small class="pull-right">' + gettext('Version') + ': ' + jsonCapabilities.version + '</small>';
			html += 			'</h2>';
			html += 		'</div>';
			html += 	'</div>';
			html += 	'<div class="nav-tabs-custom">';
			html += 		'<ul class="nav nav-tabs">';
			html += 			'<li class="active"><a href="#tab_summary" data-toggle="tab">' + gettext('Summary') + '</a></li>';
			html += 			'<li><a href="#tab_requests" data-toggle="tab">' + gettext('Requests') + '</a></li>';
			html += 			'<li><a href="#tab_supported_crs" data-toggle="tab">' + gettext('Supported CRS') + '</a></li>';
			html += 			'<li><a href="#tab_layers" data-toggle="tab">' + gettext('Layers') + '</a></li>';
			html += 		'</ul>';
			html += 		'<div class="tab-content">';
			html += 			'<div class="tab-pane active" id="tab_summary">' + getWmsSummary(jsonCapabilities) + '</div>';
			html += 			'<div class="tab-pane" id="tab_requests">' + getWmsRequests(jsonCapabilities) + '</div>';
			html += 			'<div class="tab-pane" id="tab_supported_crs">' + getWmsSupportedCrs(jsonCapabilities) + '</div>';
			html += 			'<div class="tab-pane" id="tab_layers">' + getWmsLayers(jsonCapabilities) + '</div>';
			html += 		'</div>';
			html += 	'</div>';
			html += '</section>';
			
			return html;
		}
		
		function getWmsSummary(jsonCapabilities){
			var html = '';
			
			html += 	'<div class="row invoice-info">';
			html += 		'<div class="col-sm-12 invoice-col">';
			html += 			'<address>';
			html += 				'<strong>Title</strong>: ' + jsonCapabilities.Service.Title  + '<br>';
			html += 				'<strong>Abstract</strong>: ' + jsonCapabilities.Service.Abstract;
			html += 			'</address>';
			html += 		'</div>';
			html += 		'<div class="col-sm-12 invoice-col">';
			html += 			'<address>';
			html += 				'<strong>' + gettext('Organization') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactPersonPrimary.ContactOrganization + '<br>';
			html += 				'<strong>' + gettext('Contact person') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactPersonPrimary.ContactPerson + '<br>';
			//html += 				'<strong>' + gettext('Address') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactAddress.Address + '<br>';
			html += 				'<strong>' + gettext('City') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactAddress.City + '<br>';
			html += 				'<strong>' + gettext('Country') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactAddress.Country + '<br>';
			html += 				'<strong>' + gettext('Email') + '</strong>: ' + jsonCapabilities.Service.ContactInformation.ContactElectronicMailAddress + '<br>';
			html += 			'</address>';
			html += 		'</div>';
			html += 	'</div>';
			
			return html;
		}
		
		function getWmsRequests(jsonCapabilities){
			var html = '';
			
			for (key in jsonCapabilities.Capability.Request) {
				html += '<div class="box box-solid">';
				html += 	'<div class="box-header with-border">';
				//html += 		'<i class="fa fa-check"></i>';
				html += 		'<h3 class="box-title">' + key + '</h3>';
				html += 	'</div>';
				html += 	'<div class="box-body">';
				html += 		'<ul>';
				for (var i=0; i<jsonCapabilities.Capability.Request[key].Format.length; i++) {
					html += 		'<li>' + jsonCapabilities.Capability.Request[key].Format[i] + '</li>';	
				}
				html += 		'</ul>';
				html += 	'</div>';
				html += '</div>';
			}
			
			return html;
		}
		
		function getWmsSupportedCrs(jsonCapabilities){
			var html = '';
			
			html += '<div class="box box-solid">';
			html += 	'<div class="box-header with-border">';
			//html += 		'<i class="fa fa-check"></i>';
			html += 		'<h3 class="box-title">' + gettext('Supported CRS') + '</h3>';
			html += 	'</div>';
			html += 	'<div class="box-body">';
			html += 		'<ul>';
			for (var i=0; i<jsonCapabilities.Capability.Layer.CRS.length; i++) {
				html += 		'<li>' + jsonCapabilities.Capability.Layer.CRS[i] + '</li>';	
			}
			html += 		'</ul>';
			html += 	'</div>';
			html += '</div>';
			
			return html;
		}
		
		function getWmsLayers(jsonCapabilities){
			var html = '';
          
			if (jsonCapabilities.Capability.Layer.Layer) {
				var layers = jsonCapabilities.Capability.Layer.Layer;
				for (var i=0; i<layers.length; i++) {
					var bbox = layers[i].BoundingBox[0].extent[0] + ' ' + layers[i].BoundingBox[0].extent[1] + ' ' + layers[i].BoundingBox[0].extent[2] + ' ' + layers[i].BoundingBox[0].extent[3]
					var gbbox = layers[i].EX_GeographicBoundingBox[0] + ' ' + layers[i].EX_GeographicBoundingBox[1] + ' ' + layers[i].EX_GeographicBoundingBox[2] + ' ' + layers[i].EX_GeographicBoundingBox[3]
					if (i==0) {
						html += '<div class="box">';
					} else {
						html += '<div class="box collapsed-box">';
					}
					html += 	'<div class="box-header with-border">';
					html += 		'<h3 class="box-title">' + layers[i].Title + '</h3>';
					html += 		'<div class="box-tools pull-right">';
					if (i==0) {
						html += 		'<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>';
					} else {
						html += 		'<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>';
					}
					html += 		'</div>';
					html += 	'</div>';
					html += 	'<div class="box-body">';
					html += 		'<div>';
					html += 			'<strong>' + gettext('Name') + '</strong>: ' + layers[i].Name + '<br>';
					html += 			'<strong>' + gettext('Title') + '</strong>: ' + layers[i].Title + '<br>';
					html += 			'<strong>' + gettext('Abstract') + '</strong>: ' + layers[i].Abstract + '<br>';
					html += 			'<strong>' + gettext('Queryable') + '</strong>: ' + layers[i].queryable + '<br>';
					html += 			'<strong>' + gettext('MaxScaleDenominator') + '</strong>: ' + layers[i].MaxScaleDenominator + '<br>';
					html += 			'<strong>' + gettext('MinScaleDenominator') + '</strong>: ' + layers[i].MinScaleDenominator + '<br>';
					html += 			'<strong>' + gettext('Default CRS') + '</strong>: ' + layers[i].BoundingBox[0].crs + '<br>';
					html += 			'<strong>' + gettext('BoundingBox') + '</strong>: ' + bbox + '<br>';
					html += 			'<strong>' + gettext('GeographicBoundingBox') + '</strong>: ' + gbbox + '<br>';
					html += 		'</div>';
					html += 	'</div>';
					html += '</div>';
				}
			}
			
			return html;
		}
	});
	
</script>

	{% for app in INSTALLED_APPS %}												  
		{% if 'gvsigol_app_' in app %}	
			{% with "load_js_"|add:app|cut:"gvsigol_app_"|add:".html" as aux %}	   			 	
				{% include_if_exists aux %}
			{% endwith %}
		{% endif %}		    					
	{% endfor %}
	
</body>
</html>