.catastro-search-button{
	border: 1px solid rgba(0, 0, 0, 0.2);
	float: right;
	padding: 2px 5px;
	border-radius: 3px;
}

.catastro-clear-button{
	border: 1px solid rgba(0, 0, 0, 0.2);
	float: right;
	padding: 2px 5px;
	border-radius: 3px;
	display:none;
}

.catastro-search-button:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.select2-drop.select2-drop-active{
	margin-top:-15px;
}

.form-sel.form-control.select2-container{
	border-width: 0px;
	padding: 0px;
}


#popup-show-more-info{
	cursor: pointer
}

#popup-show-more-info:hover{
	background-color: #eee;
}