{% load staticfiles %}
<script type="text/javascript">	
// Definir variables
var main_logo = '{% static "img/logo_custom.png"%}';
var logo_icon = '{% static "img/logo_custom_icon.png"%}';
//var logo_principal = '{% static "img/logo_custom_principal.png"%}';

// Logo princiapl
//$(".navbar-header img").attr("src", logo_principal).attr("height", '50');

// Main logo
$(".login-logo img").attr("src", main_logo).attr("height", '52');
$(".navbar-header.index img").attr("src", main_logo).attr("height", '50');

// Icon logo
$(".user-panel .pull-left.image img").attr("src", logo_icon).attr("height", '45');

// Ocultar ayuda
//$("#help").css("display", 'none');
</script>