{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
	var LOADED_IMG_PATH = "{{ MEDIA_URL }}";
</script>
<link href="{% static "css/ol3-contextmenu.min.css" %}" rel="stylesheet">
<script type="text/javascript" src="{% static "js/vendors/geocoding/jquery.autocomplete.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendors/geocoding/ol3-contextmenu.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/widgets/search.js" %}"></script>

<script type="text/javascript">
if (viewer.core.ifToolInConf('gvsigol_plugin_geocoding')) {
	var is_portable = false;
	var is_enabled = false;
	var is_external = false;
	if(typeof viewer !== 'undefined' && 'widget_conf' in viewer.core){
		is_portable = true;
		if('Geocoding' in viewer.core['widget_conf']){
			var geo_conf = viewer.core['widget_conf']['Geocoding'];
			if('active' in geo_conf){
				is_enabled = geo_conf["active"];
				is_external = geo_conf["params"]["is_external"];
			}else{
				is_enabled = false;
			}
		}else{
			is_enabled = false;
		}
	}
	if(!is_portable || (is_enabled && !is_external)){

			$.ajax({
				type : 'POST',
				async : false,
				url : '/gvsigonline/geocoding/get_conf/',
				beforeSend : function(xhr) {
					xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
				},
				success : function(response) {
					if(response['has_providers']){
						var map = viewer.core.getMap();
						var ui = '';
						ui += '<div class="viewer-search-form">';
						ui += 	'<div id="viewer-search-form-input" class="input-group">';
						ui += 		'<input type="text" name="search-widget-input" id="autocomplete" class="form-control" placeholder="' + gettext("Search") + '...">';
						ui += 	'</div>';
						ui += 	'</div>';
						ui += '</div>';
						
						$('#viewer-navbar').append(ui);
						new search(map, response);
					}
				},
				error : function() {
					alert("Error loading geocoder");
				}
			});	
		
	}

	else{
		if(is_enabled && is_external){
			jQuery.getScript("{% static 'js/lib/widgets/portable_search.js' %}")
			.done(function() {
				parent.$(parent.document).bind('set-geocoding', function(evt, coordinates){
					$.ajax({
						type : 'POST',
						async : false,
						url : '/gvsigonline/geocoding/get_conf/',
						beforeSend : function(xhr) {
							xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
						},
						success : function(response) {
							if(response['has_providers']){
								var map = viewer.core.getMap();
								new search(map, response);
							}
						},
						error : function() {
							alert("Error loading geocoder");
						}
					});
				});
			})
			.fail(function() {
				alert("Error loading geocoding libraries")
			});
		}
	}
}	
</script>