{% load staticfiles %}
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/widgets/editionBar.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_edition')) {
		if (conf.user) {
			var layers = map.getLayers();
			var is_enabled = true;
			var is_portable = false;
			var portable_write_groups =[]
			if('widget_conf' in viewer.core){
				is_portable = true;
				if('Editing' in viewer.core['widget_conf']){
					var geo_conf = viewer.core['widget_conf']['Editing'];
					if('active' in geo_conf){
						is_enabled = geo_conf["active"];
						if(geo_conf["group_names"] != null){
							portable_write_groups = geo_conf["group_names"];
						}
					}
				}
			}
			if(!is_portable){
				layers.forEach(function(layer){
					if (layer.baselayer == false) {
						if (layer.is_vector) {
					    	if (layer.write_roles.length >= 1) {
					    		if (userCanWrite(layer, conf.user.permissions.roles)) {
					    			var ui = '';
					    			ui += '	<a id="start-edition-' + layer.get('id') + '" href="#" class="btn btn-block btn-social btn-custom-tool start-edition-link">';
					    			ui += '		<i class="fa fa-edit"></i> ' + gettext('Edit layer');
					    			ui += '	</a>';
					    			$('#layer-box-' + layer.get('id') + ' .box-body').prepend(ui);
					    		}
					    	}
					    }				
					}
				}, this);
			}else{
				if(is_enabled){
					layers.forEach(function(layer){
						if (layer.baselayer == false) {
							if (layer.is_vector) {
						    	if (layer.write_roles.length >= 1) {
						    		if (userCanWrite(layer, portable_write_groups)) {
						    			var ui = '';
						    			ui += '	<a id="start-edition-' + layer.get('id') + '" href="#" class="btn btn-block btn-social btn-custom-tool edition-tool-toc-button start-edition-link">';
						    			ui += '		<i class="fa fa-edit"></i>';
						    			ui += '	</a>';
						    			var selector = '#layer-box-' + layer.get('id') + ' .box-header';
						    			$(selector).append(ui);
						    		}
						    	}
						    }				
						}
					}, this);
				}
			}	
		}
		
		$(".start-edition-link").on('click', function(e) {
			if (viewer.core.getLayerTree().getEditionBar() == null) {
				var selectedLayer = null;
				var id = this.id.split("start-edition-")[1];
				var layers = map.getLayers();
				layers.forEach(function(layer){
					if (layer.baselayer == false) {
						if (id==layer.get('id')) {
							selectedLayer = layer;
						}
					}						
				}, this);
				var dataTable = viewer.core.getTool('data-table')
				if(dataTable) {
					dataTable.clearSource()
				}
				startEdition(selectedLayer);
			} else {
				messageBox.show('warning', gettext('You are editing the layer') + ': ' + viewer.core.getLayerTree().getEditionBar().getSelectedLayer().title);
			}
		});
		
		function userCanWrite (layer, permission_groups) {
			var canWrite = false;
			for (var i=0; i<layer.write_roles.length; i++) {
				for (var k=0; k< permission_groups.length; k++) {
					if (layer.write_roles[i] == permission_groups[k]) {
						canWrite = true;
					}
				}
			}
			return canWrite;
		}
			
		/**
		 * Tries to add a layer lock and starts edition on success
		 */
		function startEdition(layer) {
			var layerTree = viewer.core.getLayerTree();
	  		var featureType = describeFeatureType(layer);
	  		var editionBar = new EditionBar(layerTree, map, featureType, layer);
	  		layerTree.setEditionBar(editionBar);
		};
		
		/**
		 * TODO
		 */
		function describeFeatureType(layer) {
			
			var featureType = new Array();
			
			$.ajax({
				type: 'POST',
				async: false,
			  	url: '/gvsigonline/services/describeFeatureType/',
			  	data: {
			  		'layer': layer.layer_name,
					'workspace': layer.workspace
				},
			  	success	:function(response){
			  		if("fields" in response){
			  			featureType = response['fields'];
			  		}
				},
			  	error: function(){}
			});
			
			return featureType;
		};	
	}
	
</script>
