{% load static %}
{% load i18n %}
{% trans "Cannot edit this layer because it comes from a view" as edition_view_reason %}
<script type="text/javascript">
	window.gvsigolEditionViewReason = "{{ edition_view_reason|escapejs }}";
</script>
<script>
	var IMG_PATH = '{% static "img/" %}';
</script>
<script type="text/javascript" src="{% static "js/lib/widgets/editionBar.js" %}"></script>
<script type="text/javascript">
	var map = viewer.core.getMap();
	var conf = viewer.core.getConf();
	
	if (viewer.core.ifToolInConf('gvsigol_plugin_edition')) {
		if (conf.user) {
			var layers = map.getLayers();
			var is_enabled = true;
			var is_portable = false;
			var portable_write_groups =[]
			if('widget_conf' in viewer.core){
				is_portable = true;
				if('Editing' in viewer.core['widget_conf']){
					var geo_conf = viewer.core['widget_conf']['Editing'];
					if('active' in geo_conf){
						is_enabled = geo_conf["active"];
						if(geo_conf["group_names"] != null){
							portable_write_groups = geo_conf["group_names"];
						}
					}
				}
			}
			var editionViewReason = window.gvsigolEditionViewReason || gettext('Cannot edit this layer because it comes from a view');
			if(!is_portable){
				layers.forEach(function(layer){
					if (layer.baselayer !== false) return;
					if (!layer.is_vector || layer.write_roles.length < 1) return;
					if (!userCanWrite(layer, conf.user.permissions.roles)) return;
					var $boxBody = $('#layer-box-' + layer.get('id') + ' .box-body');
					if (layer.is_view) {
						var $disabled = $('<span class="btn btn-block btn-social btn-custom-tool"></span>')
							.attr('title', editionViewReason)
							.css({opacity: 0.65, cursor: 'not-allowed'})
							.append($('<i class="fa fa-edit"></i>'))
							.append(document.createTextNode(' ' + gettext('Edit layer')));
						$boxBody.prepend($disabled);
					} else {
						var $link = $('<a id="start-edition-' + layer.get('id') + '" href="#" class="btn btn-block btn-social btn-custom-tool start-edition-link"></a>')
							.append($('<i class="fa fa-edit"></i>'))
							.append(document.createTextNode(' ' + gettext('Edit layer')));
						$boxBody.prepend($link);
					}
				}, this);
			}else{
				if(is_enabled){
					layers.forEach(function(layer){
						if (layer.baselayer !== false) return;
						if (!layer.is_vector || layer.write_roles.length < 1) return;
						if (!userCanWrite(layer, portable_write_groups)) return;
						var $header = $('#layer-box-' + layer.get('id') + ' .box-header');
						if (layer.is_view) {
							var $disabledIcon = $('<span class="btn btn-social btn-custom-tool edition-tool-toc-button"></span>')
								.attr('title', editionViewReason)
								.css({opacity: 0.65, cursor: 'not-allowed'})
								.append($('<i class="fa fa-edit"></i>'));
							$header.append($disabledIcon);
						} else {
							var $link = $('<a id="start-edition-' + layer.get('id') + '" href="#" class="btn btn-social btn-custom-tool edition-tool-toc-button start-edition-link"></a>')
								.append($('<i class="fa fa-edit"></i>'));
							$header.append($link);
						}
					}, this);
				}
			}	
		}
		
		$(".start-edition-link").on('click', function(e) {
			if (viewer.core.getLayerTree().getEditionBar() == null) {
				var selectedLayer = null;
				var id = this.id.split("start-edition-")[1];
				var layers = map.getLayers();
				layers.forEach(function(layer){
					if (layer.baselayer == false) {
						if (id==layer.get('id')) {
							selectedLayer = layer;
						}
					}						
				}, this);
				var dataTable = viewer.core.getTool('data-table')
				if(dataTable) {
					dataTable.clearSource()
				}
				startEdition(selectedLayer);
			} else {
				messageBox.show('warning', gettext('You are editing the layer') + ': ' + viewer.core.getLayerTree().getEditionBar().getSelectedLayer().title);
			}
		});
		
		function userCanWrite (layer, permission_groups) {
			var canWrite = false;
			for (var i=0; i<layer.write_roles.length; i++) {
				for (var k=0; k< permission_groups.length; k++) {
					if (layer.write_roles[i] == permission_groups[k]) {
						canWrite = true;
					}
				}
			}
			return canWrite;
		}
			
		/**
		 * Tries to add a layer lock and starts edition on success
		 */
		function startEdition(layer) {
			if (layer.is_view) {
				messageBox.show('warning', window.gvsigolEditionViewReason || gettext('Cannot edit this layer because it comes from a view'));
				return;
			}
			var layerTree = viewer.core.getLayerTree();
	  		var featureType = describeFeatureType(layer);
	  		var editionBar = new EditionBar(layerTree, map, featureType, layer);
	  		if (editionBar._aborted) {
	  			return;
	  		}
	  		layerTree.setEditionBar(editionBar);
		};
		
		/**
		 * TODO
		 */
		function describeFeatureType(layer) {
			
			var featureType = new Array();
			
			$.ajax({
				type: 'POST',
				async: false,
			  	url: '/gvsigonline/services/describeFeatureType/',
			  	data: {
			  		'layer': layer.layer_name,
					'workspace': layer.workspace
				},
			  	success	:function(response){
			  		if("fields" in response){
			  			featureType = response['fields'];
			  		}
				},
			  	error: function(){}
			});
			
			return featureType;
		};	
	}
	
</script>
