{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}	
<h1> Hola mundo!</h1><span id="lonlat"></span>
 <iframe id="my-frame" width=100% height=700 src="http://localhost/gvsigonline/core/project_load/proyecto_pruebas/"></iframe> 

{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
	$("body").on('foo',function(evt, lonlat){
		var response = JSON.parse(lonlat);
	    $("#lonlat").html("Has pinchado en el mapa en lon: " + response[0] + ", lat: "  + response[1] + " [EPSG:3857]");
	});	
</script>
{% endblock %}